body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:488px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:803px;
}
#u2213 {
  position:absolute;
  left:100px;
  top:0px;
  width:388px;
  height:803px;
}
#u2214 {
  position:absolute;
  left:2px;
  top:394px;
  width:384px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:570px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2215 {
  position:absolute;
  left:135px;
  top:118px;
  width:321px;
  height:570px;
}
#u2216 {
  position:absolute;
  left:2px;
  top:277px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:11px;
}
#u2217 {
  position:absolute;
  left:414px;
  top:124px;
  width:33px;
  height:11px;
}
#u2218 {
  position:absolute;
  left:2px;
  top:-2px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2219 {
  position:absolute;
  left:143px;
  top:124px;
  width:55px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2220 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u2221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:47px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2221 {
  position:absolute;
  left:134px;
  top:146px;
  width:322px;
  height:47px;
}
#u2222 {
  position:absolute;
  left:2px;
  top:16px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:23px;
}
#u2223 {
  position:absolute;
  left:156px;
  top:158px;
  width:12px;
  height:23px;
}
#u2224 {
  position:absolute;
  left:2px;
  top:4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2225 {
  position:absolute;
  left:178px;
  top:160px;
  width:203px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2226 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
#u2227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:140px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2227 {
  position:absolute;
  left:134px;
  top:207px;
  width:322px;
  height:140px;
}
#u2228 {
  position:absolute;
  left:2px;
  top:62px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2229 {
  position:absolute;
  left:162px;
  top:223px;
  width:205px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2230 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
