<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shanbang.dao.ezs_userMapper" >
  <resultMap id="BaseResultMap" type="com.sanbang.bean.ezs_user" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="addTime" property="addTime" jdbcType="TIMESTAMP" />
    <result column="deleteStatus" property="deleteStatus" jdbcType="BIT" />
    <result column="lastLoginDate" property="lastLoginDate" jdbcType="TIMESTAMP" />
    <result column="lastLoginIp" property="lastLoginIp" jdbcType="VARCHAR" />
    <result column="loginCount" property="loginCount" jdbcType="INTEGER" />
    <result column="loginDate" property="loginDate" jdbcType="TIMESTAMP" />
    <result column="loginIp" property="loginIp" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="trueName" property="trueName" jdbcType="VARCHAR" />
    <result column="userRole" property="userRole" jdbcType="VARCHAR" />
    <result column="parent_id" property="parent_id" jdbcType="BIGINT" />
    <result column="store_id" property="store_id" jdbcType="BIGINT" />
    <result column="userInfo_id" property="userInfo_id" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, addTime, deleteStatus, lastLoginDate, lastLoginIp, loginCount, loginDate, loginIp, 
    name, password, trueName, userRole, parent_id, store_id, userInfo_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ezs_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ezs_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sanbang.bean.ezs_user" >
    insert into ezs_user (id, addTime, deleteStatus, 
      lastLoginDate, lastLoginIp, loginCount, 
      loginDate, loginIp, name, 
      password, trueName, userRole, 
      parent_id, store_id, userInfo_id
      )
    values (#{id,jdbcType=BIGINT}, #{addTime,jdbcType=TIMESTAMP}, #{deleteStatus,jdbcType=BIT}, 
      #{lastLoginDate,jdbcType=TIMESTAMP}, #{lastLoginIp,jdbcType=VARCHAR}, #{loginCount,jdbcType=INTEGER}, 
      #{loginDate,jdbcType=TIMESTAMP}, #{loginIp,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{trueName,jdbcType=VARCHAR}, #{userRole,jdbcType=VARCHAR}, 
      #{parent_id,jdbcType=BIGINT}, #{store_id,jdbcType=BIGINT}, #{userInfo_id,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sanbang.bean.ezs_user" >
    insert into ezs_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="addTime != null" >
        addTime,
      </if>
      <if test="deleteStatus != null" >
        deleteStatus,
      </if>
      <if test="lastLoginDate != null" >
        lastLoginDate,
      </if>
      <if test="lastLoginIp != null" >
        lastLoginIp,
      </if>
      <if test="loginCount != null" >
        loginCount,
      </if>
      <if test="loginDate != null" >
        loginDate,
      </if>
      <if test="loginIp != null" >
        loginIp,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="trueName != null" >
        trueName,
      </if>
      <if test="userRole != null" >
        userRole,
      </if>
      <if test="parent_id != null" >
        parent_id,
      </if>
      <if test="store_id != null" >
        store_id,
      </if>
      <if test="userInfo_id != null" >
        userInfo_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null" >
        #{deleteStatus,jdbcType=BIT},
      </if>
      <if test="lastLoginDate != null" >
        #{lastLoginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginIp != null" >
        #{lastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="loginCount != null" >
        #{loginCount,jdbcType=INTEGER},
      </if>
      <if test="loginDate != null" >
        #{loginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="loginIp != null" >
        #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="trueName != null" >
        #{trueName,jdbcType=VARCHAR},
      </if>
      <if test="userRole != null" >
        #{userRole,jdbcType=VARCHAR},
      </if>
      <if test="parent_id != null" >
        #{parent_id,jdbcType=BIGINT},
      </if>
      <if test="store_id != null" >
        #{store_id,jdbcType=BIGINT},
      </if>
      <if test="userInfo_id != null" >
        #{userInfo_id,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sanbang.bean.ezs_user" >
    update ezs_user
    <set >
      <if test="addTime != null" >
        addTime = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null" >
        deleteStatus = #{deleteStatus,jdbcType=BIT},
      </if>
      <if test="lastLoginDate != null" >
        lastLoginDate = #{lastLoginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginIp != null" >
        lastLoginIp = #{lastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="loginCount != null" >
        loginCount = #{loginCount,jdbcType=INTEGER},
      </if>
      <if test="loginDate != null" >
        loginDate = #{loginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="loginIp != null" >
        loginIp = #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="trueName != null" >
        trueName = #{trueName,jdbcType=VARCHAR},
      </if>
      <if test="userRole != null" >
        userRole = #{userRole,jdbcType=VARCHAR},
      </if>
      <if test="parent_id != null" >
        parent_id = #{parent_id,jdbcType=BIGINT},
      </if>
      <if test="store_id != null" >
        store_id = #{store_id,jdbcType=BIGINT},
      </if>
      <if test="userInfo_id != null" >
        userInfo_id = #{userInfo_id,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanbang.bean.ezs_user" >
    update ezs_user
    set addTime = #{addTime,jdbcType=TIMESTAMP},
      deleteStatus = #{deleteStatus,jdbcType=BIT},
      lastLoginDate = #{lastLoginDate,jdbcType=TIMESTAMP},
      lastLoginIp = #{lastLoginIp,jdbcType=VARCHAR},
      loginCount = #{loginCount,jdbcType=INTEGER},
      loginDate = #{loginDate,jdbcType=TIMESTAMP},
      loginIp = #{loginIp,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      trueName = #{trueName,jdbcType=VARCHAR},
      userRole = #{userRole,jdbcType=VARCHAR},
      parent_id = #{parent_id,jdbcType=BIGINT},
      store_id = #{store_id,jdbcType=BIGINT},
      userInfo_id = #{userInfo_id,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>