<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanbang.dao.ezs_ezssubstanceMapper" >
  <resultMap id="BaseResultMap" type="ezs_ezssubstance" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="addTime" property="addTime" jdbcType="TIMESTAMP" />
    <result column="deleteStatus" property="deleteStatus" jdbcType="BIT" />
    <result column="attachment" property="attachment" jdbcType="VARCHAR" />
    <result column="attribute" property="attribute" jdbcType="INTEGER" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="bold" property="bold" jdbcType="BIT" />
    <result column="clickLike" property="clickLike" jdbcType="INTEGER" />
    <result column="clickRate" property="clickRate" jdbcType="INTEGER" />
    <result column="clickRrample" property="clickRrample" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="fixedTime" property="fixedTime" jdbcType="VARCHAR" />
    <result column="keyWord" property="keyWord" jdbcType="VARCHAR" />
    <result column="linkPort" property="linkPort" jdbcType="BIT" />
    <result column="linkUrl" property="linkUrl" jdbcType="VARCHAR" />
    <result column="meta" property="meta" jdbcType="VARCHAR" />
    <result column="multimediaFiles" property="multimediaFiles" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="origin" property="origin" jdbcType="VARCHAR" />
    <result column="originUrl" property="originUrl" jdbcType="VARCHAR" />
    <result column="pcView" property="pcView" jdbcType="BIT" />
    <result column="photos" property="photos" jdbcType="VARCHAR" />
    <result column="publicTime" property="publicTime" jdbcType="DATE" />
    <result column="remarkValue" property="remarkValue" jdbcType="VARCHAR" />
    <result column="staticStatus" property="staticStatus" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="subheading" property="subheading" jdbcType="VARCHAR" />
    <result column="tagTitle" property="tagTitle" jdbcType="VARCHAR" />
    <result column="thumbnail" property="thumbnail" jdbcType="VARCHAR" />
    <result column="titleColor" property="titleColor" jdbcType="VARCHAR" />
    <result column="childEc_id" property="childEc_id" jdbcType="BIGINT" />
    <result column="ec_id" property="ec_id" jdbcType="BIGINT" />
    <result column="ss_id" property="ss_id" jdbcType="BIGINT" />
    <!-- <result column="u_id" property="u_id" jdbcType="BIGINT" /> -->
    <result column="user_id" property="user_id" jdbcType="BIGINT" />
  </resultMap>
  
  <resultMap id="ExTendOne_BaseResultMap" type="ezs_ezssubstance" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="addTime" property="addTime" jdbcType="TIMESTAMP" />
    <result column="deleteStatus" property="deleteStatus" jdbcType="BIT" />
    <result column="attachment" property="attachment" jdbcType="VARCHAR" />
    <result column="attribute" property="attribute" jdbcType="INTEGER" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="bold" property="bold" jdbcType="BIT" />
    <result column="clickLike" property="clickLike" jdbcType="INTEGER" />
    <result column="clickRate" property="clickRate" jdbcType="INTEGER" />
    <result column="clickRrample" property="clickRrample" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="fixedTime" property="fixedTime" jdbcType="VARCHAR" />
    <result column="keyWord" property="keyWord" jdbcType="VARCHAR" />
    <result column="linkPort" property="linkPort" jdbcType="BIT" />
    <result column="linkUrl" property="linkUrl" jdbcType="VARCHAR" />
    <result column="meta" property="meta" jdbcType="VARCHAR" />
    <result column="multimediaFiles" property="multimediaFiles" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="origin" property="origin" jdbcType="VARCHAR" />
    <result column="originUrl" property="originUrl" jdbcType="VARCHAR" />
    <result column="pcView" property="pcView" jdbcType="BIT" />
    <result column="photos" property="photos" jdbcType="VARCHAR" />
    <result column="publicTime" property="publicTime" jdbcType="DATE" />
    <result column="remarkValue" property="remarkValue" jdbcType="VARCHAR" />
    <result column="staticStatus" property="staticStatus" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="subheading" property="subheading" jdbcType="VARCHAR" />
    <result column="tagTitle" property="tagTitle" jdbcType="VARCHAR" />
    <result column="thumbnail" property="thumbnail" jdbcType="VARCHAR" />
    <result column="titleColor" property="titleColor" jdbcType="VARCHAR" />
    <result column="childEc_id" property="childEc_id" jdbcType="BIGINT" />
    <result column="ec_id" property="ec_id" jdbcType="BIGINT" />
    <result column="ss_id" property="ss_id" jdbcType="BIGINT" />
    <result column="user_id" property="user_id" jdbcType="BIGINT" />
    <!-- 延迟加载 上级栏目 -->
	<association column="ec_id" property="parentColumn" select="com.sanbang.dao.ezs_columnMapper.selectByPrimaryKey"></association> 
	
  </resultMap>
  
  
  
  <sql id="Base_Column_List" >
    id, addTime, deleteStatus, attachment, attribute, author, bold, clickLike, clickRate, 
    clickRrample, content, fixedTime, keyWord, linkPort, linkUrl, meta, multimediaFiles, 
    name, origin, originUrl, pcView, photos, publicTime, remarkValue, staticStatus, status, 
    subheading, tagTitle, thumbnail, titleColor, childEc_id, ec_id, ss_id,  user_id
  </sql>
  
  <sql id="ColumnListExceptContent" >
    id, addTime, deleteStatus, attachment, attribute, author, bold, clickLike, clickRate, 
    clickRrample, fixedTime, keyWord, linkPort, linkUrl, meta, multimediaFiles, 
    name, origin, originUrl, pcView, photos, publicTime, staticStatus, status, 
    subheading, tagTitle, thumbnail, titleColor, childEc_id, ec_id, ss_id,  user_id
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ezs_ezssubstance
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ezs_ezssubstance
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="ezs_ezssubstance" >
    insert into ezs_ezssubstance (id, addTime, deleteStatus, 
      attachment, attribute, author, 
      bold, clickLike, clickRate, 
      clickRrample, content, fixedTime, 
      keyWord, linkPort, linkUrl, 
      meta, multimediaFiles, name, 
      origin, originUrl, pcView, 
      photos, publicTime, remarkValue, 
      staticStatus, status, subheading, 
      tagTitle, thumbnail, titleColor, 
      childEc_id, ec_id, ss_id, 
      u_id, user_id)
    values (#{id,jdbcType=BIGINT}, #{addTime,jdbcType=TIMESTAMP}, #{deleteStatus,jdbcType=BIT}, 
      #{attachment,jdbcType=VARCHAR}, #{attribute,jdbcType=INTEGER}, #{author,jdbcType=VARCHAR}, 
      #{bold,jdbcType=BIT}, #{clickLike,jdbcType=INTEGER}, #{clickRate,jdbcType=INTEGER}, 
      #{clickRrample,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{fixedTime,jdbcType=VARCHAR}, 
      #{keyWord,jdbcType=VARCHAR}, #{linkPort,jdbcType=BIT}, #{linkUrl,jdbcType=VARCHAR}, 
      #{meta,jdbcType=VARCHAR}, #{multimediaFiles,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{origin,jdbcType=VARCHAR}, #{originUrl,jdbcType=VARCHAR}, #{pcView,jdbcType=BIT}, 
      #{photos,jdbcType=VARCHAR}, #{publicTime,jdbcType=DATE}, #{remarkValue,jdbcType=VARCHAR}, 
      #{staticStatus,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{subheading,jdbcType=VARCHAR}, 
      #{tagTitle,jdbcType=VARCHAR}, #{thumbnail,jdbcType=VARCHAR}, #{titleColor,jdbcType=VARCHAR}, 
      #{childEc_id,jdbcType=BIGINT}, #{ec_id,jdbcType=BIGINT}, #{ss_id,jdbcType=BIGINT}, 
      #{u_id,jdbcType=BIGINT}, #{user_id,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="ezs_ezssubstance" >
    insert into ezs_ezssubstance
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="addTime != null" >
        addTime,
      </if>
      <if test="deleteStatus != null" >
        deleteStatus,
      </if>
      <if test="attachment != null" >
        attachment,
      </if>
      <if test="attribute != null" >
        attribute,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="bold != null" >
        bold,
      </if>
      <if test="clickLike != null" >
        clickLike,
      </if>
      <if test="clickRate != null" >
        clickRate,
      </if>
      <if test="clickRrample != null" >
        clickRrample,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="fixedTime != null" >
        fixedTime,
      </if>
      <if test="keyWord != null" >
        keyWord,
      </if>
      <if test="linkPort != null" >
        linkPort,
      </if>
      <if test="linkUrl != null" >
        linkUrl,
      </if>
      <if test="meta != null" >
        meta,
      </if>
      <if test="multimediaFiles != null" >
        multimediaFiles,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="origin != null" >
        origin,
      </if>
      <if test="originUrl != null" >
        originUrl,
      </if>
      <if test="pcView != null" >
        pcView,
      </if>
      <if test="photos != null" >
        photos,
      </if>
      <if test="publicTime != null" >
        publicTime,
      </if>
      <if test="remarkValue != null" >
        remarkValue,
      </if>
      <if test="staticStatus != null" >
        staticStatus,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="subheading != null" >
        subheading,
      </if>
      <if test="tagTitle != null" >
        tagTitle,
      </if>
      <if test="thumbnail != null" >
        thumbnail,
      </if>
      <if test="titleColor != null" >
        titleColor,
      </if>
      <if test="childEc_id != null" >
        childEc_id,
      </if>
      <if test="ec_id != null" >
        ec_id,
      </if>
      <if test="ss_id != null" >
        ss_id,
      </if>
      <if test="u_id != null" >
        u_id,
      </if>
      <if test="user_id != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null" >
        #{deleteStatus,jdbcType=BIT},
      </if>
      <if test="attachment != null" >
        #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="attribute != null" >
        #{attribute,jdbcType=INTEGER},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="bold != null" >
        #{bold,jdbcType=BIT},
      </if>
      <if test="clickLike != null" >
        #{clickLike,jdbcType=INTEGER},
      </if>
      <if test="clickRate != null" >
        #{clickRate,jdbcType=INTEGER},
      </if>
      <if test="clickRrample != null" >
        #{clickRrample,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="fixedTime != null" >
        #{fixedTime,jdbcType=VARCHAR},
      </if>
      <if test="keyWord != null" >
        #{keyWord,jdbcType=VARCHAR},
      </if>
      <if test="linkPort != null" >
        #{linkPort,jdbcType=BIT},
      </if>
      <if test="linkUrl != null" >
        #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="meta != null" >
        #{meta,jdbcType=VARCHAR},
      </if>
      <if test="multimediaFiles != null" >
        #{multimediaFiles,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="origin != null" >
        #{origin,jdbcType=VARCHAR},
      </if>
      <if test="originUrl != null" >
        #{originUrl,jdbcType=VARCHAR},
      </if>
      <if test="pcView != null" >
        #{pcView,jdbcType=BIT},
      </if>
      <if test="photos != null" >
        #{photos,jdbcType=VARCHAR},
      </if>
      <if test="publicTime != null" >
        #{publicTime,jdbcType=DATE},
      </if>
      <if test="remarkValue != null" >
        #{remarkValue,jdbcType=VARCHAR},
      </if>
      <if test="staticStatus != null" >
        #{staticStatus,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="subheading != null" >
        #{subheading,jdbcType=VARCHAR},
      </if>
      <if test="tagTitle != null" >
        #{tagTitle,jdbcType=VARCHAR},
      </if>
      <if test="thumbnail != null" >
        #{thumbnail,jdbcType=VARCHAR},
      </if>
      <if test="titleColor != null" >
        #{titleColor,jdbcType=VARCHAR},
      </if>
      <if test="childEc_id != null" >
        #{childEc_id,jdbcType=BIGINT},
      </if>
      <if test="ec_id != null" >
        #{ec_id,jdbcType=BIGINT},
      </if>
      <if test="ss_id != null" >
        #{ss_id,jdbcType=BIGINT},
      </if>
      <if test="u_id != null" >
        #{u_id,jdbcType=BIGINT},
      </if>
      <if test="user_id != null" >
        #{user_id,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ezs_ezssubstance" >
    update ezs_ezssubstance
    <set >
      <if test="addTime != null" >
        addTime = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null" >
        deleteStatus = #{deleteStatus,jdbcType=BIT},
      </if>
      <if test="attachment != null" >
        attachment = #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="attribute != null" >
        attribute = #{attribute,jdbcType=INTEGER},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="bold != null" >
        bold = #{bold,jdbcType=BIT},
      </if>
      <if test="clickLike != null" >
        clickLike = #{clickLike,jdbcType=INTEGER},
      </if>
      <if test="clickRate != null" >
        clickRate = #{clickRate,jdbcType=INTEGER},
      </if>
      <if test="clickRrample != null" >
        clickRrample = #{clickRrample,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="fixedTime != null" >
        fixedTime = #{fixedTime,jdbcType=VARCHAR},
      </if>
      <if test="keyWord != null" >
        keyWord = #{keyWord,jdbcType=VARCHAR},
      </if>
      <if test="linkPort != null" >
        linkPort = #{linkPort,jdbcType=BIT},
      </if>
      <if test="linkUrl != null" >
        linkUrl = #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="meta != null" >
        meta = #{meta,jdbcType=VARCHAR},
      </if>
      <if test="multimediaFiles != null" >
        multimediaFiles = #{multimediaFiles,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="origin != null" >
        origin = #{origin,jdbcType=VARCHAR},
      </if>
      <if test="originUrl != null" >
        originUrl = #{originUrl,jdbcType=VARCHAR},
      </if>
      <if test="pcView != null" >
        pcView = #{pcView,jdbcType=BIT},
      </if>
      <if test="photos != null" >
        photos = #{photos,jdbcType=VARCHAR},
      </if>
      <if test="publicTime != null" >
        publicTime = #{publicTime,jdbcType=DATE},
      </if>
      <if test="remarkValue != null" >
        remarkValue = #{remarkValue,jdbcType=VARCHAR},
      </if>
      <if test="staticStatus != null" >
        staticStatus = #{staticStatus,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="subheading != null" >
        subheading = #{subheading,jdbcType=VARCHAR},
      </if>
      <if test="tagTitle != null" >
        tagTitle = #{tagTitle,jdbcType=VARCHAR},
      </if>
      <if test="thumbnail != null" >
        thumbnail = #{thumbnail,jdbcType=VARCHAR},
      </if>
      <if test="titleColor != null" >
        titleColor = #{titleColor,jdbcType=VARCHAR},
      </if>
      <if test="childEc_id != null" >
        childEc_id = #{childEc_id,jdbcType=BIGINT},
      </if>
      <if test="ec_id != null" >
        ec_id = #{ec_id,jdbcType=BIGINT},
      </if>
      <if test="ss_id != null" >
        ss_id = #{ss_id,jdbcType=BIGINT},
      </if>
      <if test="u_id != null" >
        u_id = #{u_id,jdbcType=BIGINT},
      </if>
      <if test="user_id != null" >
        user_id = #{user_id,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="ezs_ezssubstance" >
    update ezs_ezssubstance
    set addTime = #{addTime,jdbcType=TIMESTAMP},
      deleteStatus = #{deleteStatus,jdbcType=BIT},
      attachment = #{attachment,jdbcType=VARCHAR},
      attribute = #{attribute,jdbcType=INTEGER},
      author = #{author,jdbcType=VARCHAR},
      bold = #{bold,jdbcType=BIT},
      clickLike = #{clickLike,jdbcType=INTEGER},
      clickRate = #{clickRate,jdbcType=INTEGER},
      clickRrample = #{clickRrample,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      fixedTime = #{fixedTime,jdbcType=VARCHAR},
      keyWord = #{keyWord,jdbcType=VARCHAR},
      linkPort = #{linkPort,jdbcType=BIT},
      linkUrl = #{linkUrl,jdbcType=VARCHAR},
      meta = #{meta,jdbcType=VARCHAR},
      multimediaFiles = #{multimediaFiles,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      origin = #{origin,jdbcType=VARCHAR},
      originUrl = #{originUrl,jdbcType=VARCHAR},
      pcView = #{pcView,jdbcType=BIT},
      photos = #{photos,jdbcType=VARCHAR},
      publicTime = #{publicTime,jdbcType=DATE},
      remarkValue = #{remarkValue,jdbcType=VARCHAR},
      staticStatus = #{staticStatus,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      subheading = #{subheading,jdbcType=VARCHAR},
      tagTitle = #{tagTitle,jdbcType=VARCHAR},
      thumbnail = #{thumbnail,jdbcType=VARCHAR},
      titleColor = #{titleColor,jdbcType=VARCHAR},
      childEc_id = #{childEc_id,jdbcType=BIGINT},
      ec_id = #{ec_id,jdbcType=BIGINT},
      ss_id = #{ss_id,jdbcType=BIGINT},
      u_id = #{u_id,jdbcType=BIGINT},
      user_id = #{user_id,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="goodsIndustryCountByKinds" resultType="java.lang.Integer" parameterType="java.lang.Long" >
    select count(1) from ezs_ezssubstance where ec_id = #{id,jdbcType=BIGINT}
  </select>
  
  
  <select id="goodsIndustryByPage" resultMap="BaseResultMap" parameterType="com.sanbang.vo.ExPage">
    select
    <include refid="Base_Column_List" />
    from ezs_ezssubstance where ec_id = #{content} order by addTime desc LIMIT #{startPos},#{pageSize}
  </select>
  
  <select id="goodsAllIndustryCount" resultType="java.lang.Integer" parameterType="java.lang.Long" >
    select count(*) from ezs_ezssubstance ee where EXISTS (select 1 from ezs_column ec where ec.parentEzsColumn_id = #{id,jdbcType=BIGINT} and ee.ec_id = ec.id) 
  </select>
  <!-- 根据一级栏目直接获取文章报告 -->
  <select id="selectAllGoodsIndustryByPage" resultMap="ExTendOne_BaseResultMap" parameterType="com.sanbang.vo.ExPage">
  	select 
  	<include refid="Base_Column_List" />
	from ezs_ezssubstance ee where EXISTS (select 1 from ezs_column ec where ec.parentEzsColumn_id = #{content} and ee.ec_id = ec.id ) order by addTime desc LIMIT #{startPos},#{pageSize}
  </select>
  
  
  <resultMap id="EssayThemeResultMap" type="ezs_ezssubstance" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <!-- 延迟加载 上级栏目 -->
	<association column="ec_id" property="parentColumn" select="com.sanbang.dao.ezs_columnMapper.selectByPrimaryKey"></association> 
  </resultMap>
  <!-- 根据一级栏目直接获取文章报告TWO -->
  <select id="selectEssayThemeByPage" resultMap="EssayThemeResultMap" parameterType="com.sanbang.vo.ExPage">
  	select 
  	id,name, ec_id
	from ezs_ezssubstance ee where EXISTS (select 1 from ezs_column ec where ec.parentEzsColumn_id = #{content} and ee.ec_id = ec.id ) order by addTime desc LIMIT #{startPos},#{pageSize}
  </select>
  
  
  <select id="getTopOneSubstanceByid" resultMap="ExTendOne_BaseResultMap" >
  	select 
  	<include refid="Base_Column_List" />
	FROM
	ezs_ezssubstance A
	WHERE
	EXISTS (select 1 from ezs_column ec where ec.parentEzsColumn_id = #{catid} and A.ec_id = ec.id )
	and
	A.id &lt; #{id}
	order by addTime DESC LIMIT 1
  </select>
  
   <select id="getButtomOneSubstanceByid" resultMap="ExTendOne_BaseResultMap" parameterType="com.sanbang.vo.ExPage">
  	select 
  	<include refid="Base_Column_List" />
		FROM
	ezs_ezssubstance A
		WHERE
		EXISTS (select 1 from ezs_column ec where ec.parentEzsColumn_id = #{catid} and A.ec_id = ec.id )
		and
		A.id &gt; #{id}
	order by addTime  asc LIMIT 1
  </select>
  
  
  <select id="getButtomOneSubstanceBycatid" resultMap="ExTendOne_BaseResultMap" parameterType="com.sanbang.vo.ExPage">
  	select 
  	<include refid="Base_Column_List" />
		FROM
	ezs_ezssubstance A
		WHERE
		A.ec_id = #{catid}
	order by addTime  desc LIMIT  #{pagecount},#{pagesize}
  </select>
  
</mapper>