<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanbang.dao.ezs_set_return_orderMapper" >
	 <resultMap id="BaseResultMap" type="com.sanbang.bean.ezs_set_return_order">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="addTime" jdbcType="TIMESTAMP" property="addTime" />
    <result column="deleteStatus" jdbcType="BIT" property="deleteStatus" />
    <result column="finshtime" jdbcType="VARCHAR" property="finshtime" />
    <result column="guanliremark" jdbcType="VARCHAR" property="guanliremark" />
    <result column="guanliwuliumoeny" jdbcType="DECIMAL" property="guanliwuliumoeny" />
    <result column="num" jdbcType="DECIMAL" property="num" />
    <result column="orderType" jdbcType="INTEGER" property="orderType" />
    <result column="order_status_store" jdbcType="INTEGER" property="order_status_store" />
    <result column="prodectname" jdbcType="VARCHAR" property="prodectname" />
    <result column="realReturnMoeny" jdbcType="DECIMAL" property="realReturnMoeny" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="returnAddress" jdbcType="VARCHAR" property="returnAddress" />
    <result column="returnReason" jdbcType="VARCHAR" property="returnReason" />
    <result column="returnTotal" jdbcType="DECIMAL" property="returnTotal" />
    <result column="returnType" jdbcType="INTEGER" property="returnType" />
    <result column="set_return_no" jdbcType="VARCHAR" property="set_return_no" />
    <result column="state1" jdbcType="VARCHAR" property="state1" />
    <result column="state2" jdbcType="VARCHAR" property="state2" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="tmoney" jdbcType="DECIMAL" property="tmoney" />
    <result column="tnum" jdbcType="DECIMAL" property="tnum" />
    <result column="updatetime" jdbcType="VARCHAR" property="updatetime" />
    <result column="good_id" jdbcType="BIGINT" property="good_id" />
    <result column="orderForm_id" jdbcType="BIGINT" property="orderForm_id" />
    <result column="porderForm_id" jdbcType="BIGINT" property="porderForm_id" />
    <result column="upoper_id" jdbcType="BIGINT" property="upoper_id" />
    <result column="userseller_id" jdbcType="BIGINT" property="userseller_id" />
    <result column="nowStatus" jdbcType="INTEGER" property="nowStatus" />
    <result column="porder_status_store" jdbcType="INTEGER" property="porder_status_store" />
    <result column="allReadySend" jdbcType="INTEGER" property="allReadySend" />
    <result column="guanothermoeny" jdbcType="DECIMAL" property="guanothermoeny" />
  </resultMap>
  <sql id="Base_Column_List">
    id, addTime, deleteStatus, finshtime, guanliremark, guanliwuliumoeny, num, orderType, 
    order_status_store, prodectname, realReturnMoeny, remark, returnAddress, returnReason, 
    returnTotal, returnType, set_return_no, state1, state2, status, tmoney, tnum, updatetime, 
    good_id, orderForm_id, porderForm_id, upoper_id, userseller_id, nowStatus, porder_status_store, 
    allReadySend, guanothermoeny
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ezs_set_return_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ezs_set_return_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sanbang.bean.ezs_set_return_order">
    insert into ezs_set_return_order (id, addTime, deleteStatus, 
      finshtime, guanliremark, guanliwuliumoeny, 
      num, orderType, order_status_store, 
      prodectname, realReturnMoeny, remark, 
      returnAddress, returnReason, returnTotal, 
      returnType, set_return_no, state1, 
      state2, status, tmoney, 
      tnum, updatetime, good_id, 
      orderForm_id, porderForm_id, upoper_id, 
      userseller_id, nowStatus, porder_status_store, 
      allReadySend, guanothermoeny)
    values (#{id,jdbcType=BIGINT}, #{addTime,jdbcType=TIMESTAMP}, #{deleteStatus,jdbcType=BIT}, 
      #{finshtime,jdbcType=VARCHAR}, #{guanliremark,jdbcType=VARCHAR}, #{guanliwuliumoeny,jdbcType=DECIMAL}, 
      #{num,jdbcType=DECIMAL}, #{orderType,jdbcType=INTEGER}, #{order_status_store,jdbcType=INTEGER}, 
      #{prodectname,jdbcType=VARCHAR}, #{realReturnMoeny,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, 
      #{returnAddress,jdbcType=VARCHAR}, #{returnReason,jdbcType=VARCHAR}, #{returnTotal,jdbcType=DECIMAL}, 
      #{returnType,jdbcType=INTEGER}, #{set_return_no,jdbcType=VARCHAR}, #{state1,jdbcType=VARCHAR}, 
      #{state2,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{tmoney,jdbcType=DECIMAL}, 
      #{tnum,jdbcType=DECIMAL}, #{updatetime,jdbcType=VARCHAR}, #{good_id,jdbcType=BIGINT}, 
      #{orderForm_id,jdbcType=BIGINT}, #{porderForm_id,jdbcType=BIGINT}, #{upoper_id,jdbcType=BIGINT}, 
      #{userseller_id,jdbcType=BIGINT}, #{nowStatus,jdbcType=INTEGER}, #{porder_status_store,jdbcType=INTEGER}, 
      #{allReadySend,jdbcType=INTEGER}, #{guanothermoeny,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.sanbang.bean.ezs_set_return_order">
    insert into ezs_set_return_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="addTime != null">
        addTime,
      </if>
      <if test="deleteStatus != null">
        deleteStatus,
      </if>
      <if test="finshtime != null">
        finshtime,
      </if>
      <if test="guanliremark != null">
        guanliremark,
      </if>
      <if test="guanliwuliumoeny != null">
        guanliwuliumoeny,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="orderType != null">
        orderType,
      </if>
      <if test="order_status_store != null">
        order_status_store,
      </if>
      <if test="prodectname != null">
        prodectname,
      </if>
      <if test="realReturnMoeny != null">
        realReturnMoeny,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="returnAddress != null">
        returnAddress,
      </if>
      <if test="returnReason != null">
        returnReason,
      </if>
      <if test="returnTotal != null">
        returnTotal,
      </if>
      <if test="returnType != null">
        returnType,
      </if>
      <if test="set_return_no != null">
        set_return_no,
      </if>
      <if test="state1 != null">
        state1,
      </if>
      <if test="state2 != null">
        state2,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="tmoney != null">
        tmoney,
      </if>
      <if test="tnum != null">
        tnum,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="good_id != null">
        good_id,
      </if>
      <if test="orderForm_id != null">
        orderForm_id,
      </if>
      <if test="porderForm_id != null">
        porderForm_id,
      </if>
      <if test="upoper_id != null">
        upoper_id,
      </if>
      <if test="userseller_id != null">
        userseller_id,
      </if>
      <if test="nowStatus != null">
        nowStatus,
      </if>
      <if test="porder_status_store != null">
        porder_status_store,
      </if>
      <if test="allReadySend != null">
        allReadySend,
      </if>
      <if test="guanothermoeny != null">
        guanothermoeny,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null">
        #{deleteStatus,jdbcType=BIT},
      </if>
      <if test="finshtime != null">
        #{finshtime,jdbcType=VARCHAR},
      </if>
      <if test="guanliremark != null">
        #{guanliremark,jdbcType=VARCHAR},
      </if>
      <if test="guanliwuliumoeny != null">
        #{guanliwuliumoeny,jdbcType=DECIMAL},
      </if>
      <if test="num != null">
        #{num,jdbcType=DECIMAL},
      </if>
      <if test="orderType != null">
        #{orderType,jdbcType=INTEGER},
      </if>
      <if test="order_status_store != null">
        #{order_status_store,jdbcType=INTEGER},
      </if>
      <if test="prodectname != null">
        #{prodectname,jdbcType=VARCHAR},
      </if>
      <if test="realReturnMoeny != null">
        #{realReturnMoeny,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="returnAddress != null">
        #{returnAddress,jdbcType=VARCHAR},
      </if>
      <if test="returnReason != null">
        #{returnReason,jdbcType=VARCHAR},
      </if>
      <if test="returnTotal != null">
        #{returnTotal,jdbcType=DECIMAL},
      </if>
      <if test="returnType != null">
        #{returnType,jdbcType=INTEGER},
      </if>
      <if test="set_return_no != null">
        #{set_return_no,jdbcType=VARCHAR},
      </if>
      <if test="state1 != null">
        #{state1,jdbcType=VARCHAR},
      </if>
      <if test="state2 != null">
        #{state2,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="tmoney != null">
        #{tmoney,jdbcType=DECIMAL},
      </if>
      <if test="tnum != null">
        #{tnum,jdbcType=DECIMAL},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=VARCHAR},
      </if>
      <if test="good_id != null">
        #{good_id,jdbcType=BIGINT},
      </if>
      <if test="orderForm_id != null">
        #{orderForm_id,jdbcType=BIGINT},
      </if>
      <if test="porderForm_id != null">
        #{porderForm_id,jdbcType=BIGINT},
      </if>
      <if test="upoper_id != null">
        #{upoper_id,jdbcType=BIGINT},
      </if>
      <if test="userseller_id != null">
        #{userseller_id,jdbcType=BIGINT},
      </if>
      <if test="nowStatus != null">
        #{nowStatus,jdbcType=INTEGER},
      </if>
      <if test="porder_status_store != null">
        #{porder_status_store,jdbcType=INTEGER},
      </if>
      <if test="allReadySend != null">
        #{allReadySend,jdbcType=INTEGER},
      </if>
      <if test="guanothermoeny != null">
        #{guanothermoeny,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sanbang.bean.ezs_set_return_order">
    update ezs_set_return_order
    <set>
      <if test="addTime != null">
        addTime = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null">
        deleteStatus = #{deleteStatus,jdbcType=BIT},
      </if>
      <if test="finshtime != null">
        finshtime = #{finshtime,jdbcType=VARCHAR},
      </if>
      <if test="guanliremark != null">
        guanliremark = #{guanliremark,jdbcType=VARCHAR},
      </if>
      <if test="guanliwuliumoeny != null">
        guanliwuliumoeny = #{guanliwuliumoeny,jdbcType=DECIMAL},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=DECIMAL},
      </if>
      <if test="orderType != null">
        orderType = #{orderType,jdbcType=INTEGER},
      </if>
      <if test="order_status_store != null">
        order_status_store = #{order_status_store,jdbcType=INTEGER},
      </if>
      <if test="prodectname != null">
        prodectname = #{prodectname,jdbcType=VARCHAR},
      </if>
      <if test="realReturnMoeny != null">
        realReturnMoeny = #{realReturnMoeny,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="returnAddress != null">
        returnAddress = #{returnAddress,jdbcType=VARCHAR},
      </if>
      <if test="returnReason != null">
        returnReason = #{returnReason,jdbcType=VARCHAR},
      </if>
      <if test="returnTotal != null">
        returnTotal = #{returnTotal,jdbcType=DECIMAL},
      </if>
      <if test="returnType != null">
        returnType = #{returnType,jdbcType=INTEGER},
      </if>
      <if test="set_return_no != null">
        set_return_no = #{set_return_no,jdbcType=VARCHAR},
      </if>
      <if test="state1 != null">
        state1 = #{state1,jdbcType=VARCHAR},
      </if>
      <if test="state2 != null">
        state2 = #{state2,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="tmoney != null">
        tmoney = #{tmoney,jdbcType=DECIMAL},
      </if>
      <if test="tnum != null">
        tnum = #{tnum,jdbcType=DECIMAL},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=VARCHAR},
      </if>
      <if test="good_id != null">
        good_id = #{good_id,jdbcType=BIGINT},
      </if>
      <if test="orderForm_id != null">
        orderForm_id = #{orderForm_id,jdbcType=BIGINT},
      </if>
      <if test="porderForm_id != null">
        porderForm_id = #{porderForm_id,jdbcType=BIGINT},
      </if>
      <if test="upoper_id != null">
        upoper_id = #{upoper_id,jdbcType=BIGINT},
      </if>
      <if test="userseller_id != null">
        userseller_id = #{userseller_id,jdbcType=BIGINT},
      </if>
      <if test="nowStatus != null">
        nowStatus = #{nowStatus,jdbcType=INTEGER},
      </if>
      <if test="porder_status_store != null">
        porder_status_store = #{porder_status_store,jdbcType=INTEGER},
      </if>
      <if test="allReadySend != null">
        allReadySend = #{allReadySend,jdbcType=INTEGER},
      </if>
      <if test="guanothermoeny != null">
        guanothermoeny = #{guanothermoeny,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanbang.bean.ezs_set_return_order">
    update ezs_set_return_order
    set addTime = #{addTime,jdbcType=TIMESTAMP},
      deleteStatus = #{deleteStatus,jdbcType=BIT},
      finshtime = #{finshtime,jdbcType=VARCHAR},
      guanliremark = #{guanliremark,jdbcType=VARCHAR},
      guanliwuliumoeny = #{guanliwuliumoeny,jdbcType=DECIMAL},
      num = #{num,jdbcType=DECIMAL},
      orderType = #{orderType,jdbcType=INTEGER},
      order_status_store = #{order_status_store,jdbcType=INTEGER},
      prodectname = #{prodectname,jdbcType=VARCHAR},
      realReturnMoeny = #{realReturnMoeny,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR},
      returnAddress = #{returnAddress,jdbcType=VARCHAR},
      returnReason = #{returnReason,jdbcType=VARCHAR},
      returnTotal = #{returnTotal,jdbcType=DECIMAL},
      returnType = #{returnType,jdbcType=INTEGER},
      set_return_no = #{set_return_no,jdbcType=VARCHAR},
      state1 = #{state1,jdbcType=VARCHAR},
      state2 = #{state2,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      tmoney = #{tmoney,jdbcType=DECIMAL},
      tnum = #{tnum,jdbcType=DECIMAL},
      updatetime = #{updatetime,jdbcType=VARCHAR},
      good_id = #{good_id,jdbcType=BIGINT},
      orderForm_id = #{orderForm_id,jdbcType=BIGINT},
      porderForm_id = #{porderForm_id,jdbcType=BIGINT},
      upoper_id = #{upoper_id,jdbcType=BIGINT},
      userseller_id = #{userseller_id,jdbcType=BIGINT},
      nowStatus = #{nowStatus,jdbcType=INTEGER},
      porder_status_store = #{porder_status_store,jdbcType=INTEGER},
      allReadySend = #{allReadySend,jdbcType=INTEGER},
      guanothermoeny = #{guanothermoeny,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
	<!--买家退货查询-->
	<resultMap id="returnbuymap" type="com.sanbang.vo.returnorder.ReturnOrderVO" >
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="orderForm_id" property="orderForm_id" jdbcType="BIGINT" />
		<result column="state1" property="state1" jdbcType="VARCHAR" />
		<result column="state2" property="state2" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="addTime" property="addTime" jdbcType="TIMESTAMP" />
		<result column="deleteStatus" property="deleteStatus" jdbcType="BIT" />
		<result column="set_return_no" property="set_return_no" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="order_no" property="order_no" jdbcType="VARCHAR" />
		<result column="prodectname" property="prodectname" jdbcType="VARCHAR" />
		<result column="num" property="num" jdbcType="DECIMAL" />
		<result column="good_id" property="good_id" jdbcType="BIGINT" />
		<result column="returnTotal" property="returnTotal" jdbcType="DECIMAL" />
		<result column="price" jdbcType="DECIMAL" property="price" />
		<result column="userseller_id" property="userseller_id" jdbcType="BIGINT" />
		<result column="user_id" property="user_id" jdbcType="BIGINT" />
		<result column="returnReason" property="returnReason" jdbcType="VARCHAR" />
		<result column="finshtime" property="finshtime" jdbcType="VARCHAR" />
		<result column="orderType" property="orderType" jdbcType="INTEGER" />
		<result column="returnType" property="returnType" jdbcType="INTEGER" />
		<!--采购订单列表-->
		<result column="porderForm_id" property="porderForm_id" jdbcType="BIGINT" />
	</resultMap>
  
	<!--买家退货订单列表-->
	<select id="returnOrderListforBuyer" resultMap="returnbuymap">
  	SELECT
	    A.id,
		A.orderForm_id,
		A.addTime,
		A.state1,
		A.state2,
		A.`status`,
		A.deleteStatus,
		A.set_return_no,
		A.returnType,
		A.returnReason,
		A.remark,
		B.order_no,
		A.prodectname,
		A.num,
		A.good_id,
		A.returnTotal,
		C.price,
		A.userseller_id,
		B.user_id,
	  	A.finshtime,
	 	B.order_type
	FROM
		ezs_set_return_order A
	LEFT JOIN ezs_orderform B ON A.orderForm_id = B.id
	LEFT JOIN ezs_goods C ON A.good_id = C.id
	
	WHERE  1=1
  	and  B.user_id=#{userid}
  	limit #{totalpage},10
  	
	</select>
	
	<!--卖家退货订单列表-->
	<select id="returnOrderListforSeller" resultMap="returnbuymap">
  	SELECT
	    A.id,
		A.orderForm_id,
		A.addTime,
		A.state1,
		A.state2,
		A.`status`,
		A.deleteStatus,
		A.set_return_no,
		A.returnType,
		A.returnReason,
		A.remark,
		B.order_no,
		A.prodectname,
		A.num,
		A.good_id,
		A.returnTotal,
		C.price,
		A.userseller_id,
		B.user_id,
	  	A.finshtime,
	 	B.order_type
	FROM
		ezs_set_return_order A
	LEFT JOIN ezs_orderform B ON A.orderForm_id = B.id
	LEFT JOIN ezs_goods C ON A.good_id = C.id
	
	WHERE  1=1
  	and  B.user_id=#{userid}
  	limit #{totalpage},10
  	
	</select>
	
	<!--退货订单详情-->
	<select id="returnOrderinfoforBuyer" resultMap="returnbuymap">
  	SELECT
	   A.id,
		A.orderForm_id,
		A.addTime,
		A.state1,
		A.state2,
		A.`status`,
		A.deleteStatus,
		A.set_return_no,
		A.returnType,
		A.returnReason,
		A.remark,
		B.order_no,
		A.prodectname,
		A.num,
		A.good_id,
		A.returnTotal,
		C.price,
		A.userseller_id,
		B.user_id,
	    A.finshtime,
	    B.order_type
	FROM
		ezs_set_return_order A
	LEFT JOIN ezs_orderform B ON A.orderForm_id = B.id
	LEFT JOIN ezs_goods C ON A.good_id = C.id
	WHERE  1=1
  	and  A.id=#{returnid}
	</select>
</mapper>