<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanbang.dao.ezs_stockMapper" >
  <resultMap id="BaseResultMap" type="com.sanbang.bean.ezs_stock" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="addTime" property="addTime" jdbcType="TIMESTAMP" />
    <result column="deleteStatus" property="deleteStatus" jdbcType="BIT" />
    <result column="cWhName" property="cWhName" jdbcType="VARCHAR" />
    <result column="cWhcode" property="cWhcode" jdbcType="VARCHAR" />
    <result column="goodClass" property="goodClass" jdbcType="INTEGER" />
    <result column="iQuantity" property="iQuantity" jdbcType="DOUBLE" />
    <result column="mQuantity" property="mQuantity" jdbcType="DOUBLE" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="goods_id" property="goods_id" jdbcType="BIGINT" />
    <result column="buyNum" property="buyNum" jdbcType="DOUBLE" />
    <result column="goodid" property="goodid" jdbcType="BIGINT" />
    <result column="orderNo" property="orderNo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, addTime, deleteStatus, cWhName, cWhcode, goodClass, iQuantity, mQuantity, status, 
    goods_id, buyNum, goodid, orderNo
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ezs_stock
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ezs_stock
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sanbang.bean.ezs_stock" >
    insert into ezs_stock (id, addTime, deleteStatus, 
      cWhName, cWhcode, goodClass, 
      iQuantity, mQuantity, status, 
      goods_id, buyNum, goodid, 
      orderNo)
    values (#{id,jdbcType=BIGINT}, #{addTime,jdbcType=TIMESTAMP}, #{deleteStatus,jdbcType=BIT}, 
      #{cWhName,jdbcType=VARCHAR}, #{cWhcode,jdbcType=VARCHAR}, #{goodClass,jdbcType=INTEGER}, 
      #{iQuantity,jdbcType=DOUBLE}, #{mQuantity,jdbcType=DOUBLE}, #{status,jdbcType=INTEGER}, 
      #{goods_id,jdbcType=BIGINT}, #{buyNum,jdbcType=DOUBLE}, #{goodid,jdbcType=BIGINT}, 
      #{orderNo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sanbang.bean.ezs_stock" >
    insert into ezs_stock
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="addTime != null" >
        addTime,
      </if>
      <if test="deleteStatus != null" >
        deleteStatus,
      </if>
      <if test="cWhName != null" >
        cWhName,
      </if>
      <if test="cWhcode != null" >
        cWhcode,
      </if>
      <if test="goodClass != null" >
        goodClass,
      </if>
      <if test="iQuantity != null" >
        iQuantity,
      </if>
      <if test="mQuantity != null" >
        mQuantity,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="goods_id != null" >
        goods_id,
      </if>
      <if test="buyNum != null" >
        buyNum,
      </if>
      <if test="goodid != null" >
        goodid,
      </if>
      <if test="orderNo != null" >
        orderNo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null" >
        #{deleteStatus,jdbcType=BIT},
      </if>
      <if test="cWhName != null" >
        #{cWhName,jdbcType=VARCHAR},
      </if>
      <if test="cWhcode != null" >
        #{cWhcode,jdbcType=VARCHAR},
      </if>
      <if test="goodClass != null" >
        #{goodClass,jdbcType=INTEGER},
      </if>
      <if test="iQuantity != null" >
        #{iQuantity,jdbcType=DOUBLE},
      </if>
      <if test="mQuantity != null" >
        #{mQuantity,jdbcType=DOUBLE},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="goods_id != null" >
        #{goods_id,jdbcType=BIGINT},
      </if>
      <if test="buyNum != null" >
        #{buyNum,jdbcType=DOUBLE},
      </if>
      <if test="goodid != null" >
        #{goodid,jdbcType=BIGINT},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sanbang.bean.ezs_stock" >
    update ezs_stock
    <set >
      <if test="addTime != null" >
        addTime = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null" >
        deleteStatus = #{deleteStatus,jdbcType=BIT},
      </if>
      <if test="cWhName != null" >
        cWhName = #{cWhName,jdbcType=VARCHAR},
      </if>
      <if test="cWhcode != null" >
        cWhcode = #{cWhcode,jdbcType=VARCHAR},
      </if>
      <if test="goodClass != null" >
        goodClass = #{goodClass,jdbcType=INTEGER},
      </if>
      <if test="iQuantity != null" >
        iQuantity = #{iQuantity,jdbcType=DOUBLE},
      </if>
      <if test="mQuantity != null" >
        mQuantity = #{mQuantity,jdbcType=DOUBLE},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="goods_id != null" >
        goods_id = #{goods_id,jdbcType=BIGINT},
      </if>
      <if test="buyNum != null" >
        buyNum = #{buyNum,jdbcType=DOUBLE},
      </if>
      <if test="goodid != null" >
        goodid = #{goodid,jdbcType=BIGINT},
      </if>
      <if test="orderNo != null" >
        orderNo = #{orderNo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanbang.bean.ezs_stock" >
    update ezs_stock
    set addTime = #{addTime,jdbcType=TIMESTAMP},
      deleteStatus = #{deleteStatus,jdbcType=BIT},
      cWhName = #{cWhName,jdbcType=VARCHAR},
      cWhcode = #{cWhcode,jdbcType=VARCHAR},
      goodClass = #{goodClass,jdbcType=INTEGER},
      iQuantity = #{iQuantity,jdbcType=DOUBLE},
      mQuantity = #{mQuantity,jdbcType=DOUBLE},
      status = #{status,jdbcType=INTEGER},
      goods_id = #{goods_id,jdbcType=BIGINT},
      buyNum = #{buyNum,jdbcType=DOUBLE},
      goodid = #{goodid,jdbcType=BIGINT},
      orderNo = #{orderNo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>