<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanbang.dao.ezs_areaMapper" >
  <resultMap id="BaseResultMap" type="ezs_area" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="addTime" property="addTime" jdbcType="TIMESTAMP" />
    <result column="deleteStatus" property="deleteStatus" jdbcType="BIT" />
    <result column="areaName" property="areaName" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="sequence" property="sequence" jdbcType="INTEGER" />
    <result column="parent_id" property="parent_id" jdbcType="BIGINT" />
    <result column="common" property="common" jdbcType="BIT" />
    <result column="belongsArea" property="belongsArea" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, addTime, deleteStatus, areaName, level, sequence, parent_id, common, belongsArea
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ezs_area
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ezs_area
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="ezs_area" >
    insert into ezs_area (id, addTime, deleteStatus, 
      areaName, level, sequence, 
      parent_id, common, belongsArea
      )
    values (#{id,jdbcType=BIGINT}, #{addTime,jdbcType=TIMESTAMP}, #{deleteStatus,jdbcType=BIT}, 
      #{areaName,jdbcType=VARCHAR}, #{level,jdbcType=INTEGER}, #{sequence,jdbcType=INTEGER}, 
      #{parent_id,jdbcType=BIGINT}, #{common,jdbcType=BIT}, #{belongsArea,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="ezs_area" >
    insert into ezs_area
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="addTime != null" >
        addTime,
      </if>
      <if test="deleteStatus != null" >
        deleteStatus,
      </if>
      <if test="areaName != null" >
        areaName,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="sequence != null" >
        sequence,
      </if>
      <if test="parent_id != null" >
        parent_id,
      </if>
      <if test="common != null" >
        common,
      </if>
      <if test="belongsArea != null" >
        belongsArea,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null" >
        #{deleteStatus,jdbcType=BIT},
      </if>
      <if test="areaName != null" >
        #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="sequence != null" >
        #{sequence,jdbcType=INTEGER},
      </if>
      <if test="parent_id != null" >
        #{parent_id,jdbcType=BIGINT},
      </if>
      <if test="common != null" >
        #{common,jdbcType=BIT},
      </if>
      <if test="belongsArea != null" >
        #{belongsArea,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ezs_area" >
    update ezs_area
    <set >
      <if test="addTime != null" >
        addTime = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null" >
        deleteStatus = #{deleteStatus,jdbcType=BIT},
      </if>
      <if test="areaName != null" >
        areaName = #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="sequence != null" >
        sequence = #{sequence,jdbcType=INTEGER},
      </if>
      <if test="parent_id != null" >
        parent_id = #{parent_id,jdbcType=BIGINT},
      </if>
      <if test="common != null" >
        common = #{common,jdbcType=BIT},
      </if>
      <if test="belongsArea != null" >
        belongsArea = #{belongsArea,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="ezs_area" >
    update ezs_area
    set addTime = #{addTime,jdbcType=TIMESTAMP},
      deleteStatus = #{deleteStatus,jdbcType=BIT},
      areaName = #{areaName,jdbcType=VARCHAR},
      level = #{level,jdbcType=INTEGER},
      sequence = #{sequence,jdbcType=INTEGER},
      parent_id = #{parent_id,jdbcType=BIGINT},
      common = #{common,jdbcType=BIT},
      belongsArea = #{belongsArea,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <!--得到一级数据-->
  <select id="getAreaParentList" resultMap="BaseResultMap">
  	SELECT
  	A.id, A.areaName
  	FROM ezs_area A WHERE  ISNULL(A.parent_id) AND NOT ISNULL(A.areaName)
  </select>
  <!--得到子子级数据-->
  <select id="getAreaListByParId" resultMap="BaseResultMap" parameterType="java.lang.Long">
  	SELECT
  	 A.id, A.areaName
  	FROM ezs_area A WHERE  A.parent_id=#{areaid} AND NOT ISNULL(A.areaName)
  </select>
  <!-- 热门地址 -->
  <resultMap id="BaseHotAreaResultMap" type="com.sanbang.vo.HotProvince" >
    <id column="pid" property="id" jdbcType="BIGINT" />
    <result column="pname" property="areaName" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_HotArea_Column_List" >
    COUNT(area_custo.cid) as num ,area_custo.pid as pid ,area_custo.pname as pname
  </sql>
  <select id="getHotArea" resultMap="BaseHotAreaResultMap">
    SELECT 
    <include refid="Base_HotArea_Column_List" />
    FROM ( SELECT a1.id pid,a1.areaName pname,a3.id aid,a3.areaName aname,ec.id cid FROM ezs_area a1,ezs_area a2,ezs_area a3,ezs_customer ec WHERE a1.level = '0' AND a2.level = '1' AND a3.level = '2' AND a2.parent_id = a1.id AND a3.parent_id = a2.id AND (a1.id = ec.area_id OR a2.id = ec.area_id OR a3.id = ec.area_id )
 	) area_custo GROUP BY area_custo.pid ORDER BY COUNT(area_custo.cid) DESC
  </select>
  <!-- 由子节点获取父节点 -->
  <select id="selectParentByChildKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select  a1.*
    from ezs_area a1,ezs_area a2 where a1.id = a2.parent_id and a2.id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectParentByareaname" resultMap="BaseResultMap">
  	SELECT
  	 A.id, A.areaName
  	FROM ezs_area A WHERE A.areaName=#{areaName}
  </select>
  
  <!-- 根据地区名称返回id，add by han -->
  <select id="areaToId" resultType="java.lang.Long" parameterType="string" >
  	SELECT distinct id FROM ezs_area WHERE areaName like '%${_parameter}%'
  </select>
  
  <!-- 查询子集 -->
  <select id="queryChildId" resultType="java.lang.Long" parameterType="java.lang.Long" >
  	SELECT id FROM ezs_area WHERE parent_id = #{area,jdbcType=BIGINT}
  </select>
  
  <!-- 查询子子集 -->
  <select id="queryChildIds" resultType="java.lang.Long">
  	SELECT distinct id FROM ezs_area WHERE parent_id in 
  	<foreach collection="list" item="id" open="(" close=")" separator=",">
  		#{id}
    </foreach>
  </select>
  
  
</mapper>