<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanbang.dao.ezs_goodscartMapper" >
  <resultMap id="BaseResultMap" type="ezs_goodscart" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="addTime" property="addTime" jdbcType="TIMESTAMP" />
    <result column="deleteStatus" property="deleteStatus" jdbcType="BIT" />
    <result column="cart_type" property="cart_type" jdbcType="VARCHAR" />
    <result column="count" property="count" jdbcType="DOUBLE" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="goods_id" property="goods_id" jdbcType="BIGINT" />
    <result column="of_id" property="of_id" jdbcType="BIGINT" />
    <result column="sc_id" property="sc_id" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, addTime, deleteStatus, cart_type, count, price, goods_id, of_id, sc_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ezs_goodscart
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ezs_goodscart
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="ezs_goodscart" >
    insert into ezs_goodscart (id, addTime, deleteStatus, 
      cart_type, count, price, 
      goods_id, of_id, sc_id
      )
    values (#{id,jdbcType=BIGINT}, #{addTime,jdbcType=TIMESTAMP}, #{deleteStatus,jdbcType=BIT}, 
      #{cart_type,jdbcType=VARCHAR}, #{count,jdbcType=DOUBLE}, #{price,jdbcType=DECIMAL}, 
      #{goods_id,jdbcType=BIGINT}, #{of_id,jdbcType=BIGINT}, #{sc_id,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="ezs_goodscart" >
    insert into ezs_goodscart
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="addTime != null" >
        addTime,
      </if>
      <if test="deleteStatus != null" >
        deleteStatus,
      </if>
      <if test="cart_type != null" >
        cart_type,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="goods_id != null" >
        goods_id,
      </if>
      <if test="of_id != null" >
        of_id,
      </if>
      <if test="sc_id != null" >
        sc_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null" >
        #{deleteStatus,jdbcType=BIT},
      </if>
      <if test="cart_type != null" >
        #{cart_type,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        #{count,jdbcType=DOUBLE},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="goods_id != null" >
        #{goods_id,jdbcType=BIGINT},
      </if>
      <if test="of_id != null" >
        #{of_id,jdbcType=BIGINT},
      </if>
      <if test="sc_id != null" >
        #{sc_id,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ezs_goodscart" >
    update ezs_goodscart
    <set >
      <if test="addTime != null" >
        addTime = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null" >
        deleteStatus = #{deleteStatus,jdbcType=BIT},
      </if>
      <if test="cart_type != null" >
        cart_type = #{cart_type,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=DOUBLE},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="goods_id != null" >
        goods_id = #{goods_id,jdbcType=BIGINT},
      </if>
      <if test="of_id != null" >
        of_id = #{of_id,jdbcType=BIGINT},
      </if>
      <if test="sc_id != null" >
        sc_id = #{sc_id,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="ezs_goodscart" >
    update ezs_goodscart
    set addTime = #{addTime,jdbcType=TIMESTAMP},
      deleteStatus = #{deleteStatus,jdbcType=BIT},
      cart_type = #{cart_type,jdbcType=VARCHAR},
      count = #{count,jdbcType=DOUBLE},
      price = #{price,jdbcType=DECIMAL},
      goods_id = #{goods_id,jdbcType=BIGINT},
      of_id = #{of_id,jdbcType=BIGINT},
      sc_id = #{sc_id,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="selectBeanByStartEndTime" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ezs_goodscart gc where gc.addTime between #{startTime,jdbcType=TIMESTAMP} and #{endTime,jdbcType=TIMESTAMP}
  </select>
  <select id="selectByDay" resultMap="BaseResultMap">
  	select DATE_FORMAT(s.addTime,'%Y-%m-%d') atime,ROUND(SUM(s.count),2) acount,SUM(s.count*s.price) aprice,IFNULL(ll.lcount,0) updatecount from
  	(select addTime,count,price from ezs_goodscart where addTime >= #{needate1}) s left join
  	(select count(*) lcount,DATE_FORMAT(l.addTime,'%Y-%m-%d') ltime from ezs_goods_log l where l.addTime >=#{needate1} group by ltime) ll
  	on ll.ltime = DATE_FORMAT(s.addTime,'%Y-%m-%d') group by atime
  </select>
  
  <select id="selectByMonth" resultMap="BaseResultMap">
  	select DATE_FORMAT(s.addTime,'%Y-%m') atime,ROUND(SUM(s.count),2) acount,SUM(s.count*s.price) aprice,IFNULL(ll.lcount,0) updatecount from
  	(select addTime,count,price from ezs_goodscart where addTime >= #{needate2}) s left join
  	(select count(*) lcount,DATE_FORMAT(l.addTime,'%Y-%m') ltime from ezs_goods_log l where l.addTime >=#{needate2} group by ltime) ll
  	on ll.ltime = DATE_FORMAT(s.addTime,'%Y-%m') group by atime
  </select>
  <select id="selectByCustom" resultMap="BaseResultMap">
  	
  </select>
  <!-- 查询购物车表是否存在选购商品记录 -->
  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.sanbang.vo.QueryCondition">
  	select 
  	<include refid="Base_Column_List" />
  	 from ezs_goodscart g where 
	EXISTS 
	(select 1 from ezs_storecart s where s.user_id = #{userId} and s.deleteStatus = '0' and s.sc_status = '0' and s.id = g.sc_id) 
	and g.goods_id = #{goodId} and g.deleteStatus = '0' AND g.of_id IS NULL
  </select>
   <select id="selectByStoreCarId" resultMap="BaseResultMap" parameterType="com.sanbang.vo.QueryCondition">
  	select
  	<include refid="Base_Column_List" />
  	 from ezs_goodscart a where a.deleteStatus = '0' and a.sc_id = #{storeCarId};
  </select>
  <!-- 根据用户查询购物车表-->
  <resultMap id="GoodCarInfoResultMap" type="com.sanbang.vo.GoodsCarInfo">
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="addTime" property="addTime" jdbcType="TIMESTAMP" />
    <result column="deleteStatus" property="deleteStatus" jdbcType="BIT" />
    <result column="cart_type" property="cart_type" jdbcType="VARCHAR" />
    <result column="count" property="count" jdbcType="DOUBLE" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="goods_id" property="goods_id" jdbcType="BIGINT" />
    <result column="of_id" property="of_id" jdbcType="BIGINT" />
    <result column="sc_id" property="sc_id" jdbcType="BIGINT" />
    <result column="gname" property="goodName" jdbcType="VARCHAR" />
    <result column="inventory" property="inventory" jdbcType="BIGINT" />
    <result column="gAreaId" property="areaId" jdbcType="BIGINT" />
    <result column="utilName" property="utilName" jdbcType="VARCHAR" />
    <result column="picturePath" property="picturePath" jdbcType="VARCHAR" />
  </resultMap>

  <!---->
  <select id="selectByUserId" resultMap="GoodCarInfoResultMap" parameterType="com.sanbang.vo.QueryCondition">
  	SELECT 
  		g.id,g.cart_type,g.count,g.price,g.goods_id,
		(select a.`name` from ezs_goods a where a.id = g.goods_id) gname,
		gs.inventory,
		gs.area_id gAreaId,
		CONCAT("http://m.ezaisheng.com/",REPLACE(ga.path,'\\','/'),"/",ga.`name`) picturePath, 
		d.name utilName,
		a2.areaName 
	 FROM ezs_goodscart g LEFT JOIN ezs_goods gs on g.goods_id = gs.id LEFT JOIN ezs_accessory ga on gs.goods_main_photo_id = ga.id LEFT JOIN ezs_dict d on gs.util_id = d.id 
	 LEFT JOIN ezs_area a2 on gs.area_id = a2.id WHERE 
	EXISTS 
	(SELECT 1 FROM ezs_storecart s WHERE s.user_id = #{userId} AND s.deleteStatus = '0' and s.sc_status = '0' AND s.id = g.sc_id) 
	 AND g.deleteStatus = '0' and  ISNULL(g.of_id)
	 limit #{pageCount},#{pagesize}
  </select>
  
  
  
  <select id="selectByGoodCarIds" resultMap="GoodCarInfoResultMap" parameterType="Integer[]"> 	
	SELECT 
  		g.id,g.cart_type,g.count,g.price,g.goods_id,
		(select CONCAT(d1.`name`,d2.`name`,a.`name`) name from ezs_goods a,ezs_dict d1,ezs_dict d2 where a.color_id = d1.id and a.form_id = d2.id and a.id = g.goods_id) gname,
		gs.inventory,
		gs.area_id gAreaId,
		CONCAT("http://m.ezaisheng.com/",REPLACE(ga.path,'\\','/'),"/",ga.`name`) picturePath, 
		d.name utilName,
		a2.areaName 
	 FROM ezs_goodscart g LEFT JOIN ezs_goods gs on g.goods_id = gs.id LEFT JOIN ezs_accessory ga on gs.goods_main_photo_id = ga.id LEFT JOIN ezs_dict d on gs.util_id = d.id 
	 LEFT JOIN ezs_area a2 on gs.area_id = a2.id 
	 WHERE g.id 
	 <foreach collection="array" index="index" item="item" open="in (" close=")" separator=",">
         #{item}
     </foreach>
	 AND g.deleteStatus = '0' and g.of_id IS NULL
  </select>
  
  
  
  
  <!-- 批量查询sc_id，han -->
  <select id="querySid" resultType="java.lang.Long" parameterType="Integer[]">
  	select sc_id from ezs_goodscart 
  	<where>
  		id
  	 <foreach collection="array" item="id" open="in (" close=")" separator=",">
         #{id}
     </foreach>
  	</where>
  </select>
  <!-- 批量删除，han -->
  <delete id="deleteGoodCar" parameterType="Integer[]">
  	delete from ezs_goodscart  
  	<where>
  		id
  	 <foreach collection="array" item="id" open="in (" close=")" separator=",">
         #{id}
     </foreach>
  	</where>
  </delete>
</mapper>