<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanbang.dao.ezs_price_trendMapper" >
  <resultMap id="BaseResultMap" type="ezs_price_trend" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="addTime" property="addTime" jdbcType="TIMESTAMP" />
    <result column="deleteStatus" property="deleteStatus" jdbcType="BIT" />
    <result column="ash" property="ash" jdbcType="VARCHAR" />
    <result column="bending" property="bending" jdbcType="VARCHAR" />
    <result column="burning" property="burning" jdbcType="VARCHAR" />
    <result column="cantilever" property="cantilever" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="crack" property="crack" jdbcType="VARCHAR" />
    <result column="data_sources" property="data_sources" jdbcType="INTEGER" />
    <result column="date_from" property="date_from" jdbcType="VARCHAR" />
    <result column="density" property="density" jdbcType="VARCHAR" />
    <result column="flexural" property="flexural" jdbcType="VARCHAR" />
    <result column="freely" property="freely" jdbcType="VARCHAR" />
    <result column="lipolysis" property="lipolysis" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="procurement_standard" property="procurement_standard" jdbcType="VARCHAR" />
    <result column="protection" property="protection" jdbcType="INTEGER" />
    <result column="purpose" property="purpose" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="source_tel" property="source_tel" jdbcType="VARCHAR" />
    <result column="specification" property="specification" jdbcType="VARCHAR" />
    <result column="tensile" property="tensile" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="water" property="water" jdbcType="VARCHAR" />
    <result column="goodClass_id" property="goodClass_id" jdbcType="BIGINT" />
    <result column="region_id" property="region_id" jdbcType="BIGINT" />
    <result column="user_id" property="user_id" jdbcType="BIGINT" />
    <result column="provider" property="provider" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="color_id" property="color_id" jdbcType="BIGINT" />
    <result column="form_id" property="form_id" jdbcType="BIGINT" />
    <result column="data_time" property="data_time" jdbcType="TIMESTAMP" />
    <result column="goodClass_sources" property="goodClass_sources" jdbcType="VARCHAR" />
    <result column="data_sources_new" property="data_sources_new" jdbcType="VARCHAR" />
    <result column="price_type" property="price_type" jdbcType="INTEGER" />
    <result column="purchasing_standard" property="purchasing_standard" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, addTime, deleteStatus, ash, bending, burning, cantilever, content, crack, data_sources, 
    date_from, density, flexural, freely, lipolysis, price, procurement_standard, protection, 
    purpose, source, source_tel, specification, tensile, type, water, goodClass_id, region_id, 
    user_id, provider, status, color_id, form_id, data_time, goodClass_sources, data_sources_new, 
    price_type, purchasing_standard
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ezs_price_trend
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ezs_price_trend
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="ezs_price_trend" >
    insert into ezs_price_trend (id, addTime, deleteStatus, 
      ash, bending, burning, 
      cantilever, content, crack, 
      data_sources, date_from, density, 
      flexural, freely, lipolysis, 
      price, procurement_standard, protection, 
      purpose, source, source_tel, 
      specification, tensile, type, 
      water, goodClass_id, region_id, 
      user_id, provider, status, 
      color_id, form_id, data_time, 
      goodClass_sources, data_sources_new, price_type, 
      purchasing_standard)
    values (#{id,jdbcType=BIGINT}, #{addTime,jdbcType=TIMESTAMP}, #{deleteStatus,jdbcType=BIT}, 
      #{ash,jdbcType=VARCHAR}, #{bending,jdbcType=VARCHAR}, #{burning,jdbcType=VARCHAR}, 
      #{cantilever,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{crack,jdbcType=VARCHAR}, 
      #{data_sources,jdbcType=INTEGER}, #{date_from,jdbcType=VARCHAR}, #{density,jdbcType=VARCHAR}, 
      #{flexural,jdbcType=VARCHAR}, #{freely,jdbcType=VARCHAR}, #{lipolysis,jdbcType=VARCHAR}, 
      #{price,jdbcType=DOUBLE}, #{procurement_standard,jdbcType=VARCHAR}, #{protection,jdbcType=BIT}, 
      #{purpose,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, #{source_tel,jdbcType=VARCHAR}, 
      #{specification,jdbcType=VARCHAR}, #{tensile,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{water,jdbcType=VARCHAR}, #{goodClass_id,jdbcType=BIGINT}, #{region_id,jdbcType=BIGINT}, 
      #{user_id,jdbcType=BIGINT}, #{provider,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{color_id,jdbcType=BIGINT}, #{form_id,jdbcType=BIGINT}, #{data_time,jdbcType=TIMESTAMP}, 
      #{goodClass_sources,jdbcType=VARCHAR}, #{data_sources_new,jdbcType=VARCHAR}, #{price_type,jdbcType=INTEGER}, 
      #{purchasing_standard,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="ezs_price_trend" >
    insert into ezs_price_trend
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="addTime != null" >
        addTime,
      </if>
      <if test="deleteStatus != null" >
        deleteStatus,
      </if>
      <if test="ash != null" >
        ash,
      </if>
      <if test="bending != null" >
        bending,
      </if>
      <if test="burning != null" >
        burning,
      </if>
      <if test="cantilever != null" >
        cantilever,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="crack != null" >
        crack,
      </if>
      <if test="data_sources != null" >
        data_sources,
      </if>
      <if test="date_from != null" >
        date_from,
      </if>
      <if test="density != null" >
        density,
      </if>
      <if test="flexural != null" >
        flexural,
      </if>
      <if test="freely != null" >
        freely,
      </if>
      <if test="lipolysis != null" >
        lipolysis,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="procurement_standard != null" >
        procurement_standard,
      </if>
      <if test="protection != null" >
        protection,
      </if>
      <if test="purpose != null" >
        purpose,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="source_tel != null" >
        source_tel,
      </if>
      <if test="specification != null" >
        specification,
      </if>
      <if test="tensile != null" >
        tensile,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="water != null" >
        water,
      </if>
      <if test="goodClass_id != null" >
        goodClass_id,
      </if>
      <if test="region_id != null" >
        region_id,
      </if>
      <if test="user_id != null" >
        user_id,
      </if>
      <if test="provider != null" >
        provider,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="color_id != null" >
        color_id,
      </if>
      <if test="form_id != null" >
        form_id,
      </if>
      <if test="data_time != null" >
        data_time,
      </if>
      <if test="goodClass_sources != null" >
        goodClass_sources,
      </if>
      <if test="data_sources_new != null" >
        data_sources_new,
      </if>
      <if test="price_type != null" >
        price_type,
      </if>
      <if test="purchasing_standard != null" >
        purchasing_standard,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null" >
        #{deleteStatus,jdbcType=BIT},
      </if>
      <if test="ash != null" >
        #{ash,jdbcType=VARCHAR},
      </if>
      <if test="bending != null" >
        #{bending,jdbcType=VARCHAR},
      </if>
      <if test="burning != null" >
        #{burning,jdbcType=VARCHAR},
      </if>
      <if test="cantilever != null" >
        #{cantilever,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="crack != null" >
        #{crack,jdbcType=VARCHAR},
      </if>
      <if test="data_sources != null" >
        #{data_sources,jdbcType=INTEGER},
      </if>
      <if test="date_from != null" >
        #{date_from,jdbcType=VARCHAR},
      </if>
      <if test="density != null" >
        #{density,jdbcType=VARCHAR},
      </if>
      <if test="flexural != null" >
        #{flexural,jdbcType=VARCHAR},
      </if>
      <if test="freely != null" >
        #{freely,jdbcType=VARCHAR},
      </if>
      <if test="lipolysis != null" >
        #{lipolysis,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="procurement_standard != null" >
        #{procurement_standard,jdbcType=VARCHAR},
      </if>
      <if test="protection != null" >
        #{protection,jdbcType=BIT},
      </if>
      <if test="purpose != null" >
        #{purpose,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="source_tel != null" >
        #{source_tel,jdbcType=VARCHAR},
      </if>
      <if test="specification != null" >
        #{specification,jdbcType=VARCHAR},
      </if>
      <if test="tensile != null" >
        #{tensile,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="water != null" >
        #{water,jdbcType=VARCHAR},
      </if>
      <if test="goodClass_id != null" >
        #{goodClass_id,jdbcType=BIGINT},
      </if>
      <if test="region_id != null" >
        #{region_id,jdbcType=BIGINT},
      </if>
      <if test="user_id != null" >
        #{user_id,jdbcType=BIGINT},
      </if>
      <if test="provider != null" >
        #{provider,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="color_id != null" >
        #{color_id,jdbcType=BIGINT},
      </if>
      <if test="form_id != null" >
        #{form_id,jdbcType=BIGINT},
      </if>
      <if test="data_time != null" >
        #{data_time,jdbcType=TIMESTAMP},
      </if>
      <if test="goodClass_sources != null" >
        #{goodClass_sources,jdbcType=VARCHAR},
      </if>
      <if test="data_sources_new != null" >
        #{data_sources_new,jdbcType=VARCHAR},
      </if>
      <if test="price_type != null" >
        #{price_type,jdbcType=INTEGER},
      </if>
      <if test="purchasing_standard != null" >
        #{purchasing_standard,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ezs_price_trend" >
    update ezs_price_trend
    <set >
      <if test="addTime != null" >
        addTime = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null" >
        deleteStatus = #{deleteStatus,jdbcType=BIT},
      </if>
      <if test="ash != null" >
        ash = #{ash,jdbcType=VARCHAR},
      </if>
      <if test="bending != null" >
        bending = #{bending,jdbcType=VARCHAR},
      </if>
      <if test="burning != null" >
        burning = #{burning,jdbcType=VARCHAR},
      </if>
      <if test="cantilever != null" >
        cantilever = #{cantilever,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="crack != null" >
        crack = #{crack,jdbcType=VARCHAR},
      </if>
      <if test="data_sources != null" >
        data_sources = #{data_sources,jdbcType=INTEGER},
      </if>
      <if test="date_from != null" >
        date_from = #{date_from,jdbcType=VARCHAR},
      </if>
      <if test="density != null" >
        density = #{density,jdbcType=VARCHAR},
      </if>
      <if test="flexural != null" >
        flexural = #{flexural,jdbcType=VARCHAR},
      </if>
      <if test="freely != null" >
        freely = #{freely,jdbcType=VARCHAR},
      </if>
      <if test="lipolysis != null" >
        lipolysis = #{lipolysis,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="procurement_standard != null" >
        procurement_standard = #{procurement_standard,jdbcType=VARCHAR},
      </if>
      <if test="protection != null" >
        protection = #{protection,jdbcType=BIT},
      </if>
      <if test="purpose != null" >
        purpose = #{purpose,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="source_tel != null" >
        source_tel = #{source_tel,jdbcType=VARCHAR},
      </if>
      <if test="specification != null" >
        specification = #{specification,jdbcType=VARCHAR},
      </if>
      <if test="tensile != null" >
        tensile = #{tensile,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="water != null" >
        water = #{water,jdbcType=VARCHAR},
      </if>
      <if test="goodClass_id != null" >
        goodClass_id = #{goodClass_id,jdbcType=BIGINT},
      </if>
      <if test="region_id != null" >
        region_id = #{region_id,jdbcType=BIGINT},
      </if>
      <if test="user_id != null" >
        user_id = #{user_id,jdbcType=BIGINT},
      </if>
      <if test="provider != null" >
        provider = #{provider,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="color_id != null" >
        color_id = #{color_id,jdbcType=BIGINT},
      </if>
      <if test="form_id != null" >
        form_id = #{form_id,jdbcType=BIGINT},
      </if>
      <if test="data_time != null" >
        data_time = #{data_time,jdbcType=TIMESTAMP},
      </if>
      <if test="goodClass_sources != null" >
        goodClass_sources = #{goodClass_sources,jdbcType=VARCHAR},
      </if>
      <if test="data_sources_new != null" >
        data_sources_new = #{data_sources_new,jdbcType=VARCHAR},
      </if>
      <if test="price_type != null" >
        price_type = #{price_type,jdbcType=INTEGER},
      </if>
      <if test="purchasing_standard != null" >
        purchasing_standard = #{purchasing_standard,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="ezs_price_trend" >
    update ezs_price_trend
    set addTime = #{addTime,jdbcType=TIMESTAMP},
      deleteStatus = #{deleteStatus,jdbcType=BIT},
      ash = #{ash,jdbcType=VARCHAR},
      bending = #{bending,jdbcType=VARCHAR},
      burning = #{burning,jdbcType=VARCHAR},
      cantilever = #{cantilever,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      crack = #{crack,jdbcType=VARCHAR},
      data_sources = #{data_sources,jdbcType=INTEGER},
      date_from = #{date_from,jdbcType=VARCHAR},
      density = #{density,jdbcType=VARCHAR},
      flexural = #{flexural,jdbcType=VARCHAR},
      freely = #{freely,jdbcType=VARCHAR},
      lipolysis = #{lipolysis,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      procurement_standard = #{procurement_standard,jdbcType=VARCHAR},
      protection = #{protection,jdbcType=BIT},
      purpose = #{purpose,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      source_tel = #{source_tel,jdbcType=VARCHAR},
      specification = #{specification,jdbcType=VARCHAR},
      tensile = #{tensile,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      water = #{water,jdbcType=VARCHAR},
      goodClass_id = #{goodClass_id,jdbcType=BIGINT},
      region_id = #{region_id,jdbcType=BIGINT},
      user_id = #{user_id,jdbcType=BIGINT},
      provider = #{provider,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      color_id = #{color_id,jdbcType=BIGINT},
      form_id = #{form_id,jdbcType=BIGINT},
      data_time = #{data_time,jdbcType=TIMESTAMP},
      goodClass_sources = #{goodClass_sources,jdbcType=VARCHAR},
      data_sources_new = #{data_sources_new,jdbcType=VARCHAR},
      price_type = #{price_type,jdbcType=INTEGER},
      purchasing_standard = #{purchasing_standard,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <!-- 实时报价分类列表展示 -->
  <resultMap id="PriceConditionResultMap" type="com.sanbang.vo.PriceTrendIfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="addTime" property="addTime" jdbcType="TIMESTAMP" />
    <result column="deleteStatus" property="deleteStatus" jdbcType="BIT" />
    <result column="ash" property="ash" jdbcType="VARCHAR" />
    <result column="bending" property="bending" jdbcType="VARCHAR" />
    <result column="burning" property="burning" jdbcType="VARCHAR" />
    <result column="cantilever" property="cantilever" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="crack" property="crack" jdbcType="VARCHAR" />
    <!-- <result column="data_sources" property="data_sources" jdbcType="INTEGER" /> -->
    <result column="date_from" property="date_from" jdbcType="VARCHAR" />
    <result column="density" property="density" jdbcType="VARCHAR" />
    <result column="flexural" property="flexural" jdbcType="VARCHAR" />
    <result column="freely" property="freely" jdbcType="VARCHAR" />
    <result column="lipolysis" property="lipolysis" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="procurement_standard" property="procurement_standard" jdbcType="VARCHAR" />
    <result column="protection" property="protection" jdbcType="BIT" />
    <result column="purpose" property="purpose" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="source_tel" property="source_tel" jdbcType="VARCHAR" />
    <result column="specification" property="specification" jdbcType="VARCHAR" />
    <result column="tensile" property="tensile" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="water" property="water" jdbcType="VARCHAR" />
    <result column="goodClass_id" property="goodClass_id" jdbcType="BIGINT" />
    <result column="region_id" property="region_id" jdbcType="BIGINT" />
    <result column="user_id" property="user_id" jdbcType="BIGINT" />
    <result column="provider" property="provider" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="color_id" property="color_id" jdbcType="BIGINT" />
    <result column="form_id" property="form_id" jdbcType="BIGINT" />
    <result column="data_time" property="data_time" jdbcType="TIMESTAMP" />
    <result column="goodClass_sources" property="goodClass_sources" jdbcType="VARCHAR" />
    <result column="data_sources_new" property="data_sources_new" jdbcType="VARCHAR" />
    <result column="price_type" property="price_type" jdbcType="INTEGER" />
    <result column="purchasing_standard" property="purchasing_standard" jdbcType="VARCHAR" />
    <result column="goodClass" property="goodClassName" jdbcType="VARCHAR" />
    <result column="goodColor" property="goodColorName" jdbcType="VARCHAR" />
    <result column="goodForm" property="goodFormName" jdbcType="VARCHAR" />
  </resultMap>
   <sql id="PriceConditionColumnList" >
    g.id, g.addTime, g.deleteStatus, g.ash, g.bending, g.burning, g.cantilever, g.content, g.crack, 
    g.date_from, g.density, g.flexural, g.freely, g.lipolysis, g.price, g.procurement_standard, g.protection, 
    g.purpose, g.source, g.source_tel, g.specification, g.tensile, g.type, g.water, g.goodClass_id, g.region_id, 
    g.user_id, g.provider, g.status, g.color_id, g.form_id, g.data_time, g.goodClass_sources, g.data_sources_new, 
    g.price_type, g.purchasing_standard,
    gc.name as goodClass,e1.name as goodColor,e2.name as goodForm
  </sql>
  <select id="selectByCondition" resultMap="PriceConditionResultMap">
    select 
    <include refid="PriceConditionColumnList" />
    from ezs_price_trend g,ezs_goods_class gc,ezs_dict e1,ezs_dict e2 where g.goodClass_id = gc.id and g.color_id = e1.id and g.form_id = e2.id
	<trim prefix=" and " suffix=" " suffixOverrides=" and ">
      <if test="countryType != null" >
        g.type = #{countryType}
      </if>
      <if test="kindId != null" >
        g.goodClass_id = #{kindId}
      </if>
      <if test="colorId != null" >
        g.color_id = #{colorId}
      </if>
      <if test="formId != null" >
        g.form_id = #{formId}
      </if>
      <if test="source != null" >
        g.date_from = #{source}
      </if>
      <if test="purpose != null" >
        g.purpose = #{purpose}
      </if>
      <if test="burning != null" >
        g.burning = #{burning}
      </if>
      <if test="protection != null" >
        g.protection = #{protection}
      </if>
    </trim>
  </select>
  <!-- 再生料-列表-多条件查询 -->
  <select id="selectByAreaIdAndOtherCondition" resultMap="PriceConditionResultMap">
    select DISTINCT 
    <include refid="PriceConditionColumnList" />
    from ezs_price_trend g,ezs_goods_class gc,ezs_dict e1,ezs_dict e2 where g.goodClass_id = gc.id and g.color_id = e1.id and g.form_id = e2.id
      
      <if test="countryType != null and countryType != ''" >
        and g.type = #{countryType}
      </if>
      <if test="kindId != null and kindId != '' " >
        and g.goodClass_id = #{kindId}
      </if>
      <if test="colorId != null and colorId != ''" >
        and g.color_id = #{colorId}
      </if>
      <if test="formId != null and formId != ''" >
        and g.form_id = #{formId}
      </if>
      <if test="source != null" >
        and g.date_from = #{source}
      </if>
      <if test="purpose != null" >
        and g.purpose = #{purpose}
      </if>
      <if test="burning != null" >
        and g.burning = #{burning}
      </if>
      <if test="protection != null" >
        and g.protection = #{protection}
      </if>
      <!-- 加入数组 -->
      <if test="areaIds != null and areaIds.size > 0 " >
        and g.region_id 
		<foreach collection="areaIds" index="index" item="areaIds" open="in (" close=")" separator=",">
         #{areaIds}
     	</foreach>
      </if>
      limit #{pagecount},#{pagesize}
  </select>
  <!-- 价格走势 -->
  <resultMap id="PriceTrendcyResultMap" type="com.sanbang.vo.PriceTrendIfo" >
    <result column="currentPrice" property="currentAVGPrice" jdbcType="VARCHAR" />
    <result column="prePrice" property="preAVGPrice" jdbcType="VARCHAR" />
    <result column="dealDate" property="dealDate" jdbcType="TIMESTAMP" />
    <result column="className" property="goodClassName" jdbcType="VARCHAR" />
    <result column="areaName" property="goodArea" jdbcType="VARCHAR" />
    <result column="region_id" property="region_id" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="getPriceConditionCount" resultType="java.lang.Integer">
  	select count(1) from(
		select
		IFNULL(AVG(a.price),0) currentPrice
		from ezs_price_trend a LEFT JOIN ezs_goods_class gc on a.goodClass_id = gc.id LEFT JOIN ezs_dict e1 on a.color_id = e1.id LEFT JOIN ezs_dict e2 on a.form_id = e2.id 
		where a.type = '3'
		<trim prefix=" and " suffix=" " suffixOverrides=" and ">
	      <if test="kindId != null" >
	        a.goodClass_id = #{kindId}
	      </if>
	      <if test="colorId != null" >
	        a.color_id = #{colorId}
	      </if>
	      <if test="formId != null" >
	        a.form_id = #{formId}
	      </if>
	      <if test="source != null" >
	        a.date_from = #{source}
	      </if>
	      <if test="purpose != null" >
	        a.purpose = #{purpose}
	      </if>
	      <if test="burning != null" >
	        a.burning = #{burning}
	      </if>
	      <if test="protection != null" >
	        a.protection = #{protection}
	      </if>
    	</trim>
    	and a.data_time >= DATE_SUB(DATE_FORMAT(SYSDATE(),'%Y-%m-%d'),interval 1 MONTH)
 		GROUP BY DATE_FORMAT(a.data_time,'%Y-%m-%d') ORDER BY a.data_time desc
	) a
  </select>
  
  <select id="getPriceTrendcy" resultMap="PriceTrendcyResultMap">
    select
	IFNULL(AVG(a.price),0) currentPrice,
	a.data_time dealDate,
	gc.name className,
	(select area.areaName from ezs_area area where area.id =  a.region_id) areaName ,
	a.region_id,
	(
	select IFNULL(AVG(p.price),0)
	from ezs_price_trend p where p.type = '3' and p.goodClass_id = a.goodClass_id and date_add(DATE_FORMAT(p.data_time,'%Y-%m-%d'),interval 1 day) = DATE_FORMAT(a.data_time,'%Y-%m-%d')
	<!-- <trim prefix=" and " suffix=" " suffixOverrides=" and "> -->
      <!-- <if test="kindId != null" >
        p.goodClass_id = #{kindId}
      </if> -->
      <if test="colorId != null" >
        and p.color_id = #{colorId}
      </if>
      <if test="formId != null" >
        and p.form_id = #{formId}
      </if>
      <if test="source != null" >
        and p.date_from = #{source}
      </if>
      <if test="purpose != null" >
        and p.purpose = #{purpose}
      </if>
      <if test="burning != null" >
        and p.burning = #{burning}
      </if>
      <if test="protection != null" >
        and g.protection = #{protection}
      </if>
    <!-- </trim> -->
 	GROUP BY DATE_FORMAT(p.data_time,'%Y-%m-%d')
	) prePrice
	from ezs_price_trend a LEFT JOIN ezs_goods_class gc on a.goodClass_id = gc.id LEFT JOIN ezs_dict e1 on a.color_id = e1.id LEFT JOIN ezs_dict e2 on a.form_id = e2.id
	where  a.type = '3'
      <if test="kindId != null" >
        and a.goodClass_id = #{kindId}
      </if>
      <if test="colorId != null" >
        and a.color_id = #{colorId}
      </if>
      <if test="formId != null" >
        and a.form_id = #{formId}
      </if>
      <if test="source != null" >
        and a.date_from = #{source}
      </if>
      <if test="purpose != null" >
        and a.purpose = #{purpose}
      </if>
      <if test="burning != null" >
        and a.burning = #{burning}
      </if>
      <if test="protection != null" >
        and a.protection = #{protection}
      </if>
      <!-- 加入数组 -->
      <if test="areaIds != null and areaIds.size > 0 " >
        and a.region_id 
		<foreach collection="areaIds" index="index" item="areaIds" open="in (" close=")" separator=",">
         #{areaIds}
     	</foreach>
      </if>
      <!-- 筛选条件：一周、一月、一季度、一年 -->
      <choose>
      	<when test="dateBetweenType != null and dateBetweenType == 'WEEK' ">
      		and DATE_FORMAT(a.data_time,'%Y-%m-%d') > DATE_ADD(NOW(),INTERVAL -1 WEEK)
      	</when>
      	<when test="dateBetweenType != null and dateBetweenType == 'MONTH' ">
      		and DATE_FORMAT(a.data_time,'%Y-%m-%d') > DATE_ADD(NOW(),INTERVAL -1 MONTH)
      	</when>
      	<when test="dateBetweenType != null and dateBetweenType == 'QUARTER' ">
      		and DATE_FORMAT(a.data_time,'%Y-%m-%d') > DATE_ADD(NOW(),INTERVAL -1 QUARTER)
      	</when>
      	<when test="dateBetweenType != null and dateBetweenType == 'YEAR' ">
      		and DATE_FORMAT(a.data_time,'%Y-%m-%d') > DATE_ADD(NOW(),INTERVAL -1 YEAR)
      	</when>
      	<otherwise>
      		and DATE_FORMAT(a.data_time,'%Y-%m-%d') > DATE_ADD(NOW(),INTERVAL -1 MONTH)
      	</otherwise>
      </choose>
 	GROUP BY DATE_FORMAT(a.data_time,'%Y-%m-%d') ORDER BY DATE_FORMAT(a.data_time,'%Y-%m-%d') desc <!-- LIMIT #{startPos},#{pageSize} -->
  </select>
  <!-- 获取价格趋势,最近两天实时交易 -->
  <select id="selectPriceChangesByGood" resultMap="PriceTrendcyResultMap" parameterType="java.lang.Long">
  select 
	IFNULL(AVG(a2.price),0) currentPrice,
	IFNULL((
		select AVG(a1.price) 
		from ezs_price_trend a1 
		where a1.type = '3' and a1.goodClass_id = a2.goodClass_id GROUP BY DATE_FORMAT(a1.data_time,'%Y-%m-%d') order by a1.data_time desc LIMIT 1,1
	),0)  prePrice
	from ezs_price_trend a2 where EXISTS (select 1 from ezs_goods g2 where a2.goodClass_id = g2.goodClass_id and g2.id = #{gId} ) and a2.type = '3' GROUP BY DATE_FORMAT(a2.data_time,'%Y-%m-%d') order by a2.data_time desc LIMIT 0,1
  </select>
  
  <!-- 实时报价-再生类-列表-多条件查询 -->
  <select id="priceInTimeNewList" resultMap="PriceInTimeResultMap">
  	select 
  	a.id,
	a.price currentPrice,
	a.goodClass2_id goodClass,
	(select gc.`name` from ezs_goods_class gc where gc.id = a.goodClass2_id) className,
	a.data_time dealDate,
	a.region_id areaId,
	(select d.price from ezs_price_trend d where d.region_id = a.region_id and d.goodClass2_id = a.goodClass2_id and DATE_FORMAT(d.data_time,'%Y-%m-%d') = DATE_ADD(DATE_FORMAT(a.data_time,'%Y-%m-%d'),interval -1 DAY) limit 1 ) prePrice
	<!-- ,IFNULL((select 1 from ezs_subscribehq_child cd where cd.user_id = #{userId} and cd.goodsClass_id = a.goodClass2_id and DATE_FORMAT(cd.endTime,'%Y-%m-%d') >= DATE_FORMAT(NOW(),'%Y-%m-%d')),0) isshow -->
	from ezs_price_trend a 
	where a.type = '1'
	and a.data_sources in ('2','3') 
	and DATE_FORMAT(a.data_time,'%Y-%m-%d') = DATE_FORMAT(NOW(),'%Y-%m-%d')
      <if test="goodClassId != null and goodClassId != '' " >
        and a.goodClass2_id in ( ${goodClassId} )
      </if>
      <if test="colorId != null and colorId != ''" >
        and a.color_id in ( ${colorId} )
      </if>
      <if test="formId != null and formId != ''" >
        and a.form_id in ( ${formId} )
      </if>
      <if test="source != null" >
        and a.date_from = #{source}
      </if>
      <if test="purpose != null" >
        and a.purpose = #{purpose}
      </if>
      <if test="burning != null" >
        and a.burning = #{burning}
      </if>
      <if test="protection != null" >
        and a.protection = #{protection}
      </if>
      <!-- 加入数组 -->
      <if test="areaIds != null and areaIds.size > 0 " >
        and a.region_id 
		<foreach collection="areaIds" index="index" item="areaIds" open="in (" close=")" separator=",">
         #{areaIds}
     	</foreach>
      </if>
      ORDER BY a.goodClass2_id,a.data_time DESC limit #{pagestart},#{pagesize}
  </select>
  
  <!-- 从新修订 实时报价 -->
  <select id="priceInTimeNew" resultMap="PriceInTimeResultMap" parameterType="java.lang.Long">
  	select 
  	a.id,
	a.price currentPrice,
	a.goodClass2_id goodClass,
	(select gc.`name` from ezs_goods_class gc where gc.id = a.goodClass2_id) className,
	a.data_time dealDate,
	a.region_id areaId,
	(select d.price from ezs_price_trend d where d.region_id = a.region_id and d.goodClass2_id = a.goodClass2_id and DATE_FORMAT(d.data_time,'%Y-%m-%d') = DATE_ADD(DATE_FORMAT(a.data_time,'%Y-%m-%d'),interval -1 DAY) limit 1 ) prePrice
	from ezs_price_trend a 
	where a.type = '1'
	and a.data_sources in ('2','3') 
	and DATE_FORMAT(a.data_time,'%Y-%m-%d') = DATE_FORMAT(NOW(),'%Y-%m-%d')
	and a.goodClass2_id = #{goodClassId} GROUP BY a.region_id LIMIT 5
  </select>
  <!-- 实时报价 新 -->
  <resultMap id="PriceInTimeResultMap" type="com.sanbang.vo.PriceTrendIfo" >
  	<id column="id" property="id" jdbcType="BIGINT" />
    <result column="currentPrice" property="currentPrice" jdbcType="VARCHAR" />
    <result column="prePrice" property="prePrice" jdbcType="VARCHAR" />
    <result column="dealDate" property="dealDate" jdbcType="TIMESTAMP" />
    <result column="className" property="goodClassName" jdbcType="VARCHAR" />
    <result column="areaId" property="region_id" jdbcType="VARCHAR" />
    <!-- <result column="isshow" property="isshow" jdbcType="VARCHAR" /> -->
    <result column="goodClass" property="trueGoodClassId" jdbcType="VARCHAR" />
  </resultMap>
  <!-- 价格走势 新 -->
  <resultMap id="PriceTrendcyNewResultMap" type="com.sanbang.vo.PriceTrendIfo" >
    <result column="currentPrice" property="currentAVGPrice" jdbcType="VARCHAR" />
    <result column="prePrice" property="preAVGPrice" jdbcType="VARCHAR" />
    <result column="dealDate" property="dealDate" jdbcType="TIMESTAMP" />
    <result column="className" property="goodClassName" jdbcType="VARCHAR" />
    <result column="areaName" property="goodArea" jdbcType="VARCHAR" />
    <result column="region_id" property="region_id" jdbcType="VARCHAR" />
  </resultMap>
  <!-- 价格趋势 新 -->
  <select id="getPriceTrendcyNew" resultMap="PriceTrendcyNewResultMap">
    select
	IFNULL(AVG(a.price),0) currentPrice,
	a.data_time dealDate,
	gc.name className,
	(select area.areaName from ezs_area area where area.id =  a.region_id) areaName ,
	a.region_id,
	(
	select IFNULL(AVG(p.price),0)
	from ezs_price_trend p where p.status = '2' and p.goodClass2_id = a.goodClass2_id and date_add(DATE_FORMAT(p.data_time,'%Y-%m-%d'),interval 1 day) = DATE_FORMAT(a.data_time,'%Y-%m-%d')
      <if test="colorId != null" >
        and p.color_id in ( ${colorId} )
      </if>
      <if test="formId != null" >
        and p.form_id in ( ${formId} )
      </if>
      <if test="source != null" >
        and p.date_from = #{source}
      </if>
      <if test="purpose != null" >
        and p.purpose = #{purpose}
      </if>
      <if test="burning != null" >
        and p.burning = #{burning}
      </if>
      <if test="protection != null" >
        and g.protection = #{protection}
      </if>
 	GROUP BY DATE_FORMAT(p.data_time,'%Y-%m-%d')
	) prePrice
	from ezs_price_trend a LEFT JOIN ezs_goods_class gc on a.goodClass2_id = gc.id
	where  a.status = '2'
      <if test="kindId != null" >
        and a.goodClass2_id = #{kindId}
      </if>
      <if test="colorId != null" >
        and a.color_id in ( ${colorId} )
      </if>
      <if test="formId != null" >
        and a.form_id in ( ${formId} )
      </if>
      <if test="source != null" >
        and a.date_from = #{source}
      </if>
      <if test="purpose != null" >
        and a.purpose = #{purpose}
      </if>
      <if test="burning != null" >
        and a.burning = #{burning}
      </if>
      <if test="protection != null" >
        and a.protection = #{protection}
      </if>
      <if test="areaIds != null and areaIds.size > 0 " >
        and a.region_id 
		<foreach collection="areaIds" index="index" item="areaIds" open="in (" close=")" separator=",">
         #{areaIds}
     	</foreach>
      </if>
      <!-- 筛选条件：一周、一月、一季度、一年 -->
      <choose>
      	<when test="dateBetweenType != null and dateBetweenType == 'WEEK' ">
      		and DATE_FORMAT(a.data_time,'%Y-%m-%d') > DATE_ADD(NOW(),INTERVAL -1 WEEK)
      	</when>
      	<when test="dateBetweenType != null and dateBetweenType == 'MONTH' ">
      		and DATE_FORMAT(a.data_time,'%Y-%m-%d') > DATE_ADD(NOW(),INTERVAL -1 MONTH)
      	</when>
      	<when test="dateBetweenType != null and dateBetweenType == 'QUARTER' ">
      		and DATE_FORMAT(a.data_time,'%Y-%m-%d') > DATE_ADD(NOW(),INTERVAL -1 QUARTER)
      	</when>
      	<when test="dateBetweenType != null and dateBetweenType == 'YEAR' ">
      		and DATE_FORMAT(a.data_time,'%Y-%m-%d') > DATE_ADD(NOW(),INTERVAL -1 YEAR)
      	</when>
      	<otherwise>
      		<!-- and DATE_FORMAT(a.data_time,'%Y-%m-%d') > DATE_ADD(NOW(),INTERVAL -1 MONTH) -->
      		and DATE_FORMAT(a.data_time,'%Y-%m-%d') > DATE_ADD(NOW(),INTERVAL -1 MONTH)
      	</otherwise>
      </choose>
 	GROUP BY DATE_FORMAT(a.data_time,'%Y-%m-%d') ORDER BY DATE_FORMAT(a.data_time,'%Y-%m-%d') desc <!-- LIMIT #{startPos},#{pageSize} -->
  </select>
  
   <!-- 价格趋势 新 分页查询-->
  <select id="getPriceTrendcyNewPage" resultMap="PriceTrendcyNewResultMap">
    select
	IFNULL(AVG(a.price),0) currentPrice,
	a.data_time dealDate,
	gc.name className,
	(select area.areaName from ezs_area area where area.id =  a.region_id) areaName ,
	a.region_id,
	(
	select IFNULL(AVG(p.price),0)
	from ezs_price_trend p where p.status = '2' and p.goodClass2_id = a.goodClass2_id and date_add(DATE_FORMAT(p.data_time,'%Y-%m-%d'),interval 1 day) = DATE_FORMAT(a.data_time,'%Y-%m-%d')
      <if test="colorId != null" >
        and p.color_id in ( ${colorId} )
      </if>
      <if test="formId != null" >
        and p.form_id in ( ${formId} )
      </if>
      <if test="source != null" >
        and p.date_from = #{source}
      </if>
      <if test="purpose != null" >
        and p.purpose = #{purpose}
      </if>
      <if test="burning != null" >
        and p.burning = #{burning}
      </if>
      <if test="protection != null" >
        and g.protection = #{protection}
      </if>
 	GROUP BY DATE_FORMAT(p.data_time,'%Y-%m-%d')
	) prePrice
	from ezs_price_trend a LEFT JOIN ezs_goods_class gc on a.goodClass2_id = gc.id
	where  a.status = '2'
      <if test="kindId != null" >
        and a.goodClass2_id = #{kindId}
      </if>
      <if test="colorId != null" >
        and a.color_id in ( ${colorId} )
      </if>
      <if test="formId != null" >
        and a.form_id in ( ${formId} )
      </if>
      <if test="source != null" >
        and a.date_from = #{source}
      </if>
      <if test="purpose != null" >
        and a.purpose = #{purpose}
      </if>
      <if test="burning != null" >
        and a.burning = #{burning}
      </if>
      <if test="protection != null" >
        and a.protection = #{protection}
      </if>
      <if test="areaIds != null and areaIds.size > 0 " >
        and a.region_id 
		<foreach collection="areaIds" index="index" item="areaIds" open="in (" close=")" separator=",">
         #{areaIds}
     	</foreach>
      </if>
      <!-- 筛选条件：一周、一月、一季度、一年 -->
      <choose>
      	<when test="dateBetweenType != null and dateBetweenType == 'WEEK' ">
      		and DATE_FORMAT(a.data_time,'%Y-%m-%d') > DATE_ADD(NOW(),INTERVAL -1 WEEK)
      	</when>
      	<when test="dateBetweenType != null and dateBetweenType == 'MONTH' ">
      		and DATE_FORMAT(a.data_time,'%Y-%m-%d') > DATE_ADD(NOW(),INTERVAL -1 MONTH)
      	</when>
      	<when test="dateBetweenType != null and dateBetweenType == 'QUARTER' ">
      		and DATE_FORMAT(a.data_time,'%Y-%m-%d') > DATE_ADD(NOW(),INTERVAL -1 QUARTER)
      	</when>
      	<when test="dateBetweenType != null and dateBetweenType == 'YEAR' ">
      		and DATE_FORMAT(a.data_time,'%Y-%m-%d') > DATE_ADD(NOW(),INTERVAL -1 YEAR)
      	</when>
      	<otherwise>
      		<!-- and DATE_FORMAT(a.data_time,'%Y-%m-%d') > DATE_ADD(NOW(),INTERVAL -1 MONTH) -->
      		and DATE_FORMAT(a.data_time,'%Y-%m-%d') > DATE_ADD(NOW(),INTERVAL -1 MONTH)
      	</otherwise>
      </choose>
 	GROUP BY DATE_FORMAT(a.data_time,'%Y-%m-%d') ORDER BY DATE_FORMAT(a.data_time,'%Y-%m-%d') desc LIMIT #{pagestart},#{pagesize}
  </select>
  
  <!-- 实时报价-再生类-详情列表-折线图 -->
  <select id="priceInTimeNewDetail" resultMap="PriceInTimeResultMap">
  	select 
  	a.id,
	a.price currentPrice,
	a.goodClass2_id goodClass,
	(select gc.`name` from ezs_goods_class gc where gc.id = a.goodClass2_id) className,
	a.data_time dealDate,
	a.region_id areaId,
	(select d.price from ezs_price_trend d where a.color_id = b.color_id and a.form_id = b.form_id and d.region_id = a.region_id and d.goodClass2_id = a.goodClass2_id and DATE_FORMAT(d.data_time,'%Y-%m-%d') = DATE_ADD(DATE_FORMAT(a.data_time,'%Y-%m-%d'),interval -1 DAY) limit 1 ) prePrice
	from ezs_price_trend a 
	where a.type = '1'
	and a.data_sources in ('2','3') 
	and EXISTS (select 1 from ezs_price_trend b where a.color_id = b.color_id and a.form_id = b.form_id and a.region_id = b.region_id and a.goodClass2_id = b.goodClass2_id and b.id= #{priceId} )
	<!-- 筛选条件：一周、一月、一季度、一年 -->
     <choose>
      	<when test="dateBetweenType != null and dateBetweenType == 'WEEK' ">
      		and DATE_FORMAT(a.data_time,'%Y-%m-%d') > DATE_ADD(NOW(),INTERVAL -1 WEEK)
      	</when>
      	<when test="dateBetweenType != null and dateBetweenType == 'MONTH' ">
      		and DATE_FORMAT(a.data_time,'%Y-%m-%d') > DATE_ADD(NOW(),INTERVAL -1 MONTH)
      	</when>
      	<when test="dateBetweenType != null and dateBetweenType == 'QUARTER' ">
      		and DATE_FORMAT(a.data_time,'%Y-%m-%d') > DATE_ADD(NOW(),INTERVAL -1 QUARTER)
      	</when>
      	<when test="dateBetweenType != null and dateBetweenType == 'YEAR' ">
      		and DATE_FORMAT(a.data_time,'%Y-%m-%d') > DATE_ADD(NOW(),INTERVAL -1 YEAR)
      	</when>
      	<otherwise>
      		and DATE_FORMAT(a.data_time,'%Y-%m-%d') > DATE_ADD(NOW(),INTERVAL -1 WEEK)
      	</otherwise>
     </choose>
     ORDER BY a.addTime desc
  </select>
  <!-- 实时报价-再生类-详情列表-折线图 -->
  <select id="priceInTimeNewDetailPage" resultMap="PriceInTimeResultMap">
  	select 
  	a.id,
	a.price currentPrice,
	a.goodClass2_id goodClass,
	(select gc.`name` from ezs_goods_class gc where gc.id = a.goodClass2_id) className,
	a.data_time dealDate,
	a.region_id areaId,
	(select d.price from ezs_price_trend d where a.color_id = b.color_id and a.form_id = b.form_id and d.region_id = a.region_id and d.goodClass2_id = a.goodClass2_id and DATE_FORMAT(d.data_time,'%Y-%m-%d') = DATE_ADD(DATE_FORMAT(a.data_time,'%Y-%m-%d'),interval -1 DAY) limit 1 ) prePrice
	from ezs_price_trend a 
	where a.type = '1'
	and a.data_sources in ('2','3') 
	and EXISTS (select 1 from ezs_price_trend b where a.color_id = b.color_id and a.form_id = b.form_id and a.region_id = b.region_id and a.goodClass2_id = b.goodClass2_id and b.id= #{priceId} )
	<!-- 筛选条件：一周、一月、一季度、一年 -->
     <choose>
      	<when test="dateBetweenType != null and dateBetweenType == 'WEEK' ">
      		and DATE_FORMAT(a.data_time,'%Y-%m-%d') > DATE_ADD(NOW(),INTERVAL -1 WEEK)
      	</when>
      	<when test="dateBetweenType != null and dateBetweenType == 'MONTH' ">
      		and DATE_FORMAT(a.data_time,'%Y-%m-%d') > DATE_ADD(NOW(),INTERVAL -1 MONTH)
      	</when>
      	<when test="dateBetweenType != null and dateBetweenType == 'QUARTER' ">
      		and DATE_FORMAT(a.data_time,'%Y-%m-%d') > DATE_ADD(NOW(),INTERVAL -1 QUARTER)
      	</when>
      	<when test="dateBetweenType != null and dateBetweenType == 'YEAR' ">
      		and DATE_FORMAT(a.data_time,'%Y-%m-%d') > DATE_ADD(NOW(),INTERVAL -1 YEAR)
      	</when>
      	<otherwise>
      		and DATE_FORMAT(a.data_time,'%Y-%m-%d') > DATE_ADD(NOW(),INTERVAL -1 WEEK)
      	</otherwise>
     </choose>
     ORDER BY a.addTime desc limit #{pagestart},#{pagesize}
  </select>
</mapper>