<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanbang.dao.ezs_accessoryMapper" >
  <resultMap id="BaseResultMap" type="ezs_accessory" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="addTime" property="addTime" jdbcType="TIMESTAMP" />
    <result column="deleteStatus" property="deleteStatus" jdbcType="BIT" />
    <result column="ext" property="ext" jdbcType="VARCHAR" />
    <result column="height" property="height" jdbcType="INTEGER" />
    <result column="info" property="info" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="size" property="size" jdbcType="REAL" />
    <result column="width" property="width" jdbcType="INTEGER" />
    <result column="album_id" property="album_id" jdbcType="BIGINT" />
    <result column="config_id" property="config_id" jdbcType="BIGINT" />
    <result column="user_id" property="user_id" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, addTime, deleteStatus, ext, height, info, name, CONCAT("http://10.10.10.148/",path,"/",name) path, size, width, album_id 
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ezs_accessory
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ezs_accessory
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="ezs_accessory"  useGeneratedKeys="true" keyProperty="id">
    insert into ezs_accessory (id, addTime, deleteStatus, 
      ext, height, info, 
      name, path, size, width, 
      album_id, config_id, user_id
      )
    values (#{id,jdbcType=BIGINT}, #{addTime,jdbcType=TIMESTAMP}, #{deleteStatus,jdbcType=BIT}, 
      #{ext,jdbcType=VARCHAR}, #{height,jdbcType=INTEGER}, #{info,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, #{size,jdbcType=REAL}, #{width,jdbcType=INTEGER}, 
      #{album_id,jdbcType=BIGINT}, #{config_id,jdbcType=BIGINT}, #{user_id,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="ezs_accessory" useGeneratedKeys="true" keyProperty="id">
    insert into ezs_accessory
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="addTime != null" >
        addTime,
      </if>
      <if test="deleteStatus != null" >
        deleteStatus,
      </if>
      <if test="ext != null" >
        ext,
      </if>
      <if test="height != null" >
        height,
      </if>
      <if test="info != null" >
        info,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="path != null" >
        path,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="width != null" >
        width,
      </if>
      <if test="album_id != null" >
        album_id,
      </if>
      <if test="config_id != null" >
        config_id,
      </if>
      <if test="user_id != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null" >
        #{deleteStatus,jdbcType=BIT},
      </if>
      <if test="ext != null" >
        #{ext,jdbcType=VARCHAR},
      </if>
      <if test="height != null" >
        #{height,jdbcType=INTEGER},
      </if>
      <if test="info != null" >
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        #{size,jdbcType=REAL},
      </if>
      <if test="width != null" >
        #{width,jdbcType=INTEGER},
      </if>
      <if test="album_id != null" >
        #{album_id,jdbcType=BIGINT},
      </if>
      <if test="config_id != null" >
        #{config_id,jdbcType=BIGINT},
      </if>
      <if test="user_id != null" >
        #{user_id,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="ezs_accessory" >
    update ezs_accessory
    <set >
      <if test="addTime != null" >
        addTime = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null" >
        deleteStatus = #{deleteStatus,jdbcType=BIT},
      </if>
      <if test="ext != null" >
        ext = #{ext,jdbcType=VARCHAR},
      </if>
      <if test="height != null" >
        height = #{height,jdbcType=INTEGER},
      </if>
      <if test="info != null" >
        info = #{info,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=REAL},
      </if>
      <if test="width != null" >
        width = #{width,jdbcType=INTEGER},
      </if>
      <if test="album_id != null" >
        album_id = #{album_id,jdbcType=BIGINT},
      </if>
      <if test="config_id != null" >
        config_id = #{config_id,jdbcType=BIGINT},
      </if>
      <if test="user_id != null" >
        user_id = #{user_id,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="ezs_accessory" >
    update ezs_accessory
    set addTime = #{addTime,jdbcType=TIMESTAMP},
      deleteStatus = #{deleteStatus,jdbcType=BIT},
      ext = #{ext,jdbcType=VARCHAR},
      height = #{height,jdbcType=INTEGER},
      info = #{info,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR},
      size = #{size,jdbcType=REAL},
      width = #{width,jdbcType=INTEGER},
      album_id = #{album_id,jdbcType=BIGINT},
      config_id = #{config_id,jdbcType=BIGINT},
      user_id = #{user_id,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <!-- 根据货品id 查询图片 -->
  <select id="selectPhotoById" resultMap="BaseResultMap" parameterType="java.lang.Long">
  	select 
  	<include refid="Base_Column_List" /> 
  	from ezs_accessory acc where acc.id in 
  	(select gph.photo_id from ezs_goods_photo gph 
  	where gph.goods_id=#{goodsId}  )
  </select>
  
   <!-- 根据货品id 查询制作案例 -->
  <select id="selectCartographyById" resultMap="BaseResultMap" parameterType="java.lang.Long">
  	select 
  	<include refid="Base_Column_List" /> 
  	from ezs_accessory acc where acc.id in 
  	(select gph.cartography_id from ezs_goods_cartography gph 
  	where gph.goods_id=#{goodsId} )
  </select>
  
  
   <resultMap id="authimgmap" type="com.sanbang.vo.userauth.AuthImageVo" >
    <result column="paperType" property="imgcode" jdbcType="VARCHAR" />
    <result column="imgurl" property="imgurl" jdbcType="VARCHAR" />
    <result column="id" property="accid" jdbcType="BIGINT" />
    <result column="validDate" property="usetime" jdbcType="TIMESTAMP" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  
  <!--得到上传图片-->
  <select id="getAuthImgListByStoreid" resultMap="authimgmap">
  	(
	SELECT
			B.paperType,
			B.validDate,
			C. NAME,
			CONCAT(
				"http://10.10.10.148/",
				C.path,
				"/",
				C. NAME
			) AS imgurl,
			C.id
		FROM
			ezs_card_dict A
		LEFT JOIN ezs_paper B ON A.paper_id = B.id
		LEFT JOIN ezs_accessory C ON C.id = B.certificate_id
		WHERE
			A.store_id = #{storeid}
	)
	UNION
		(	SELECT
			B.paperType,
			B.validDate,
			C. NAME,
			CONCAT(
				"http://10.10.10.148/",
				C.path,
				"/",
				C. NAME
			) AS imgurl,
			C.id
		FROM
			ezs_idcard_dict A
		LEFT JOIN ezs_paper B ON A.paper_id = B.id
		LEFT JOIN ezs_accessory C ON C.id = B.certificate_id
		WHERE
			A.store_id = #{storeid})
  </select>
  
</mapper>