<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanbang.dao.ezs_dvaluateMapper" >
  <resultMap id="BaseResultMap" type="com.sanbang.bean.ezs_dvaluate" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="addTime" property="addTime" jdbcType="TIMESTAMP" />
    <result column="deleteStatus" property="deleteStatus" jdbcType="BIT" />
    <result column="conttent" property="conttent" jdbcType="VARCHAR" />
    <result column="goodQuality" property="goodQuality" jdbcType="DOUBLE" />
    <result column="logistics" property="logistics" jdbcType="DOUBLE" />
    <result column="order_no" property="order_no" jdbcType="VARCHAR" />
    <result column="serviceQuality" property="serviceQuality" jdbcType="DOUBLE" />
    <result column="goods_id" property="goods_id" jdbcType="BIGINT" />
    <result column="user_id" property="user_id" jdbcType="BIGINT" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, addTime, deleteStatus, conttent, goodQuality, logistics, order_no, serviceQuality, 
    goods_id, user_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ezs_dvaluate
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ezs_dvaluate
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sanbang.bean.ezs_dvaluate" >
    insert into ezs_dvaluate (id, addTime, deleteStatus, 
      conttent, goodQuality, logistics, 
      order_no, serviceQuality, goods_id, 
      user_id)
    values (#{id,jdbcType=BIGINT}, #{addTime,jdbcType=TIMESTAMP}, #{deleteStatus,jdbcType=BIT}, 
      #{conttent,jdbcType=VARCHAR}, #{goodQuality,jdbcType=DOUBLE}, #{logistics,jdbcType=DOUBLE}, 
      #{order_no,jdbcType=VARCHAR}, #{serviceQuality,jdbcType=DOUBLE}, #{goods_id,jdbcType=BIGINT}, 
      #{user_id,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.sanbang.bean.ezs_dvaluate" >
    insert into ezs_dvaluate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="addTime != null" >
        addTime,
      </if>
      <if test="deleteStatus != null" >
        deleteStatus,
      </if>
      <if test="conttent != null" >
        conttent,
      </if>
      <if test="goodQuality != null" >
        goodQuality,
      </if>
      <if test="logistics != null" >
        logistics,
      </if>
      <if test="order_no != null" >
        order_no,
      </if>
      <if test="serviceQuality != null" >
        serviceQuality,
      </if>
      <if test="goods_id != null" >
        goods_id,
      </if>
      <if test="user_id != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null" >
        #{deleteStatus,jdbcType=BIT},
      </if>
      <if test="conttent != null" >
        #{conttent,jdbcType=VARCHAR},
      </if>
      <if test="goodQuality != null" >
        #{goodQuality,jdbcType=DOUBLE},
      </if>
      <if test="logistics != null" >
        #{logistics,jdbcType=DOUBLE},
      </if>
      <if test="order_no != null" >
        #{order_no,jdbcType=VARCHAR},
      </if>
      <if test="serviceQuality != null" >
        #{serviceQuality,jdbcType=DOUBLE},
      </if>
      <if test="goods_id != null" >
        #{goods_id,jdbcType=BIGINT},
      </if>
      <if test="user_id != null" >
        #{user_id,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sanbang.bean.ezs_dvaluate" >
    update ezs_dvaluate
    <set >
      <if test="addTime != null" >
        addTime = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null" >
        deleteStatus = #{deleteStatus,jdbcType=BIT},
      </if>
      <if test="conttent != null" >
        conttent = #{conttent,jdbcType=VARCHAR},
      </if>
      <if test="goodQuality != null" >
        goodQuality = #{goodQuality,jdbcType=DOUBLE},
      </if>
      <if test="logistics != null" >
        logistics = #{logistics,jdbcType=DOUBLE},
      </if>
      <if test="order_no != null" >
        order_no = #{order_no,jdbcType=VARCHAR},
      </if>
      <if test="serviceQuality != null" >
        serviceQuality = #{serviceQuality,jdbcType=DOUBLE},
      </if>
      <if test="goods_id != null" >
        goods_id = #{goods_id,jdbcType=BIGINT},
      </if>
      <if test="user_id != null" >
        user_id = #{user_id,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanbang.bean.ezs_dvaluate" >
    update ezs_dvaluate
    set addTime = #{addTime,jdbcType=TIMESTAMP},
      deleteStatus = #{deleteStatus,jdbcType=BIT},
      conttent = #{conttent,jdbcType=VARCHAR},
      goodQuality = #{goodQuality,jdbcType=DOUBLE},
      logistics = #{logistics,jdbcType=DOUBLE},
      order_no = #{order_no,jdbcType=VARCHAR},
      serviceQuality = #{serviceQuality,jdbcType=DOUBLE},
      goods_id = #{goods_id,jdbcType=BIGINT},
      user_id = #{user_id,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <!-- 根据商品id查询评价列表 -->
  <select id="listForEvaluate" resultMap="EvaluateListMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" /> 
    from ezs_dvaluate
    where goods_id = #{goods_id,jdbcType=BIGINT}
  </select>
  
  <!--商品评价列表-->
  <select id="getEvaluateList" resultMap="EvaluateListMap">
  	select 
	    A.id,
	    date_format(A.addTime, '%Y-%m-%d')
		A.deleteStatus,
		A.conttent,
		A.goodQuality,
		A.logistics,
		A.order_no,
		A.serviceQuality,
		A.goods_id,
		A.user_id
    from ezs_dvaluate A
    where 1=1
    and A.goods_id=#{goodsid}
    limit #{totalpage},#{pageNo}
  </select>
  
   <resultMap id="EvaluateListMap" type="com.sanbang.bean.ezs_dvaluate" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="addTime" property="addTime" jdbcType="TIMESTAMP" />
    <result column="deleteStatus" property="deleteStatus" jdbcType="BIT" />
    <result column="conttent" property="conttent" jdbcType="VARCHAR" />
    <result column="goodQuality" property="goodQuality" jdbcType="DOUBLE" />
    <result column="logistics" property="logistics" jdbcType="DOUBLE" />
    <result column="order_no" property="order_no" jdbcType="VARCHAR" />
    <result column="serviceQuality" property="serviceQuality" jdbcType="DOUBLE" />
    <result column="goods_id" property="goods_id" jdbcType="BIGINT" />
    <result column="user_id" property="user_id" jdbcType="BIGINT" />
    <association property="user" column="user_id" select="com.sanbang.dao.ezs_userMapper.selectByPrimaryKey">
   </association>
  	<!--图片信息-->
   <collection property="accessroys" column="id" select="com.sanbang.dao.ezs_dvaluate_accessroyMapper.selectByPrimaryKey" >
   </collection>
   
 
  </resultMap>
  
</mapper>