<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanbang.dao.ezs_customized_recordMapper" >
  <resultMap id="BaseResultMap" type="com.sanbang.bean.ezs_customized_record" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="purchase_id" property="purchase_id" jdbcType="INTEGER" />
    <result column="customized_id" property="customized_id" jdbcType="INTEGER" />
    <result column="deal_time" property="deal_time" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="operate_id" property="operate_id" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, purchase_id, customized_id, deal_time, remark, operate_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ezs_customized_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ezs_customized_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sanbang.bean.ezs_customized_record" >
    insert into ezs_customized_record (id, purchase_id, customized_id, 
      deal_time, remark, operate_id
      )
    values (#{id,jdbcType=INTEGER}, #{purchase_id,jdbcType=INTEGER}, #{customized_id,jdbcType=INTEGER}, 
      #{deal_time,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{operate_id,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sanbang.bean.ezs_customized_record" >
    insert into ezs_customized_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="purchase_id != null" >
        purchase_id,
      </if>
      <if test="customized_id != null" >
        customized_id,
      </if>
      <if test="deal_time != null" >
        deal_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="operate_id != null" >
        operate_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="purchase_id != null" >
        #{purchase_id,jdbcType=INTEGER},
      </if>
      <if test="customized_id != null" >
        #{customized_id,jdbcType=INTEGER},
      </if>
      <if test="deal_time != null" >
        #{deal_time,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="operate_id != null" >
        #{operate_id,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sanbang.bean.ezs_customized_record" >
    update ezs_customized_record
    <set >
      <if test="purchase_id != null" >
        purchase_id = #{purchase_id,jdbcType=INTEGER},
      </if>
      <if test="customized_id != null" >
        customized_id = #{customized_id,jdbcType=INTEGER},
      </if>
      <if test="deal_time != null" >
        deal_time = #{deal_time,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="operate_id != null" >
        operate_id = #{operate_id,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanbang.bean.ezs_customized_record" >
    update ezs_customized_record
    set purchase_id = #{purchase_id,jdbcType=INTEGER},
      customized_id = #{customized_id,jdbcType=INTEGER},
      deal_time = #{deal_time,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      operate_id = #{operate_id,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>