<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanbang.dao.ezs_columnMapper" >
  <resultMap id="BaseResultMap" type="ezs_column" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="addTime" property="addTime" jdbcType="TIMESTAMP" />
    <result column="deleteStatus" property="deleteStatus" jdbcType="BIT" />
    <result column="accessPath" property="accessPath" jdbcType="VARCHAR" />
    <result column="attribute" property="attribute" jdbcType="INTEGER" />
    <result column="browsePower" property="browsePower" jdbcType="INTEGER" />
    <result column="colTemplate" property="colTemplate" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="examine" property="examine" jdbcType="INTEGER" />
    <result column="keyWord" property="keyWord" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="orderid" property="orderid" jdbcType="INTEGER" />
    <result column="phoTemplate" property="phoTemplate" jdbcType="VARCHAR" />
    <result column="reveal" property="reveal" jdbcType="BIT" />
    <result column="review" property="review" jdbcType="BIT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="window" property="window" jdbcType="BIT" />
    <result column="gc_id" property="gc_id" jdbcType="BIGINT" />
    <result column="user_id" property="user_id" jdbcType="BIGINT" />
    <result column="columnLevel" property="columnLevel" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="prepareColumn" property="prepareColumn" jdbcType="VARCHAR" />
    <result column="parentEzsColumn_id" property="parentEzsColumn_id" jdbcType="BIGINT" />
    <result column="finalSection" property="finalSection" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, addTime, deleteStatus, accessPath, attribute, browsePower, colTemplate, description, 
    examine, keyWord, name, orderid, phoTemplate, reveal, review, title, window, gc_id, 
    user_id, columnLevel, content, prepareColumn, parentEzsColumn_id, finalSection
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ezs_column
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ezs_column
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="ezs_column" >
    insert into ezs_column (id, addTime, deleteStatus, 
      accessPath, attribute, browsePower, 
      colTemplate, description, examine, 
      keyWord, name, orderid, 
      phoTemplate, reveal, review, 
      title, window, gc_id, user_id, 
      columnLevel, content, prepareColumn, 
      parentEzsColumn_id, finalSection)
    values (#{id,jdbcType=BIGINT}, #{addTime,jdbcType=TIMESTAMP}, #{deleteStatus,jdbcType=BIT}, 
      #{accessPath,jdbcType=VARCHAR}, #{attribute,jdbcType=INTEGER}, #{browsePower,jdbcType=INTEGER}, 
      #{colTemplate,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{examine,jdbcType=INTEGER}, 
      #{keyWord,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{orderid,jdbcType=INTEGER}, 
      #{phoTemplate,jdbcType=VARCHAR}, #{reveal,jdbcType=BIT}, #{review,jdbcType=BIT}, 
      #{title,jdbcType=VARCHAR}, #{window,jdbcType=BIT}, #{gc_id,jdbcType=BIGINT}, #{user_id,jdbcType=BIGINT}, 
      #{columnLevel,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{prepareColumn,jdbcType=VARCHAR}, 
      #{parentEzsColumn_id,jdbcType=BIGINT}, #{finalSection,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="ezs_column" >
    insert into ezs_column
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="addTime != null" >
        addTime,
      </if>
      <if test="deleteStatus != null" >
        deleteStatus,
      </if>
      <if test="accessPath != null" >
        accessPath,
      </if>
      <if test="attribute != null" >
        attribute,
      </if>
      <if test="browsePower != null" >
        browsePower,
      </if>
      <if test="colTemplate != null" >
        colTemplate,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="examine != null" >
        examine,
      </if>
      <if test="keyWord != null" >
        keyWord,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="orderid != null" >
        orderid,
      </if>
      <if test="phoTemplate != null" >
        phoTemplate,
      </if>
      <if test="reveal != null" >
        reveal,
      </if>
      <if test="review != null" >
        review,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="window != null" >
        window,
      </if>
      <if test="gc_id != null" >
        gc_id,
      </if>
      <if test="user_id != null" >
        user_id,
      </if>
      <if test="columnLevel != null" >
        columnLevel,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="prepareColumn != null" >
        prepareColumn,
      </if>
      <if test="parentEzsColumn_id != null" >
        parentEzsColumn_id,
      </if>
      <if test="finalSection != null" >
        finalSection,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null" >
        #{deleteStatus,jdbcType=BIT},
      </if>
      <if test="accessPath != null" >
        #{accessPath,jdbcType=VARCHAR},
      </if>
      <if test="attribute != null" >
        #{attribute,jdbcType=INTEGER},
      </if>
      <if test="browsePower != null" >
        #{browsePower,jdbcType=INTEGER},
      </if>
      <if test="colTemplate != null" >
        #{colTemplate,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="examine != null" >
        #{examine,jdbcType=INTEGER},
      </if>
      <if test="keyWord != null" >
        #{keyWord,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="orderid != null" >
        #{orderid,jdbcType=INTEGER},
      </if>
      <if test="phoTemplate != null" >
        #{phoTemplate,jdbcType=VARCHAR},
      </if>
      <if test="reveal != null" >
        #{reveal,jdbcType=BIT},
      </if>
      <if test="review != null" >
        #{review,jdbcType=BIT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="window != null" >
        #{window,jdbcType=BIT},
      </if>
      <if test="gc_id != null" >
        #{gc_id,jdbcType=BIGINT},
      </if>
      <if test="user_id != null" >
        #{user_id,jdbcType=BIGINT},
      </if>
      <if test="columnLevel != null" >
        #{columnLevel,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="prepareColumn != null" >
        #{prepareColumn,jdbcType=VARCHAR},
      </if>
      <if test="parentEzsColumn_id != null" >
        #{parentEzsColumn_id,jdbcType=BIGINT},
      </if>
      <if test="finalSection != null" >
        #{finalSection,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ezs_column" >
    update ezs_column
    <set >
      <if test="addTime != null" >
        addTime = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null" >
        deleteStatus = #{deleteStatus,jdbcType=BIT},
      </if>
      <if test="accessPath != null" >
        accessPath = #{accessPath,jdbcType=VARCHAR},
      </if>
      <if test="attribute != null" >
        attribute = #{attribute,jdbcType=INTEGER},
      </if>
      <if test="browsePower != null" >
        browsePower = #{browsePower,jdbcType=INTEGER},
      </if>
      <if test="colTemplate != null" >
        colTemplate = #{colTemplate,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="examine != null" >
        examine = #{examine,jdbcType=INTEGER},
      </if>
      <if test="keyWord != null" >
        keyWord = #{keyWord,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="orderid != null" >
        orderid = #{orderid,jdbcType=INTEGER},
      </if>
      <if test="phoTemplate != null" >
        phoTemplate = #{phoTemplate,jdbcType=VARCHAR},
      </if>
      <if test="reveal != null" >
        reveal = #{reveal,jdbcType=BIT},
      </if>
      <if test="review != null" >
        review = #{review,jdbcType=BIT},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="window != null" >
        window = #{window,jdbcType=BIT},
      </if>
      <if test="gc_id != null" >
        gc_id = #{gc_id,jdbcType=BIGINT},
      </if>
      <if test="user_id != null" >
        user_id = #{user_id,jdbcType=BIGINT},
      </if>
      <if test="columnLevel != null" >
        columnLevel = #{columnLevel,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="prepareColumn != null" >
        prepareColumn = #{prepareColumn,jdbcType=VARCHAR},
      </if>
      <if test="parentEzsColumn_id != null" >
        parentEzsColumn_id = #{parentEzsColumn_id,jdbcType=BIGINT},
      </if>
      <if test="finalSection != null" >
        finalSection = #{finalSection,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="ezs_column" >
    update ezs_column
    set addTime = #{addTime,jdbcType=TIMESTAMP},
      deleteStatus = #{deleteStatus,jdbcType=BIT},
      accessPath = #{accessPath,jdbcType=VARCHAR},
      attribute = #{attribute,jdbcType=INTEGER},
      browsePower = #{browsePower,jdbcType=INTEGER},
      colTemplate = #{colTemplate,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      examine = #{examine,jdbcType=INTEGER},
      keyWord = #{keyWord,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      orderid = #{orderid,jdbcType=INTEGER},
      phoTemplate = #{phoTemplate,jdbcType=VARCHAR},
      reveal = #{reveal,jdbcType=BIT},
      review = #{review,jdbcType=BIT},
      title = #{title,jdbcType=VARCHAR},
      window = #{window,jdbcType=BIT},
      gc_id = #{gc_id,jdbcType=BIGINT},
      user_id = #{user_id,jdbcType=BIGINT},
      columnLevel = #{columnLevel,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      prepareColumn = #{prepareColumn,jdbcType=VARCHAR},
      parentEzsColumn_id = #{parentEzsColumn_id,jdbcType=BIGINT},
      finalSection = #{finalSection,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>