<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanbang.dao.ezs_goodsMapper">
	<resultMap id="BaseResultMap" type="com.sanbang.bean.ezs_goods">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="addTime" jdbcType="TIMESTAMP" property="addTime" />
		<result column="deleteStatus" jdbcType="BIT" property="deleteStatus" />
		<result column="addess" jdbcType="VARCHAR" property="addess" />
		<result column="ash" jdbcType="VARCHAR" property="ash" />
		<result column="bending" jdbcType="VARCHAR" property="bending" />
		<result column="burning" jdbcType="VARCHAR" property="burning" />
		<result column="cantilever" jdbcType="VARCHAR" property="cantilever" />
		<result column="click" jdbcType="INTEGER" property="click" />
		<result column="cncl_num" jdbcType="DOUBLE" property="cncl_num" />
		<result column="collect" jdbcType="INTEGER" property="collect" />
		<result column="content" jdbcType="VARCHAR" property="content" />
		<result column="crack" jdbcType="VARCHAR" property="crack" />
		<result column="density" jdbcType="VARCHAR" property="density" />
		<result column="flexural" jdbcType="VARCHAR" property="flexural" />
		<result column="freely" jdbcType="VARCHAR" property="freely" />
		<result column="good_no" jdbcType="VARCHAR" property="good_no" />
		<result column="good_self" jdbcType="BIT" property="good_self" />
		<result column="goods_salenum" jdbcType="INTEGER" property="goods_salenum" />
		<result column="inventory" jdbcType="DOUBLE" property="inventory" />
		<result column="keyword" jdbcType="VARCHAR" property="keyword" />
		<result column="lastModifyDate" jdbcType="TIMESTAMP" property="lastModifyDate" />
		<result column="lipolysis" jdbcType="VARCHAR" property="lipolysis" />
		<result column="lockStatus" jdbcType="BIT" property="lockStatus" />
		<result column="memberLook" jdbcType="BIT" property="memberLook" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="price" jdbcType="DECIMAL" property="price" />
		<result column="protection" jdbcType="BIT" property="protection" />
		<result column="purpose" jdbcType="VARCHAR" property="purpose" />
		<result column="recommend" jdbcType="BIT" property="recommend" />
		<result column="recommend_time" jdbcType="TIMESTAMP" property="recommend_time" />
		<result column="seo_description" jdbcType="VARCHAR" property="seo_description" />
		<result column="source" jdbcType="VARCHAR" property="source" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="tensile" jdbcType="VARCHAR" property="tensile" />
		<result column="validity" jdbcType="INTEGER" property="validity" />
		<result column="water" jdbcType="VARCHAR" property="water" />
		<result column="area_id" jdbcType="BIGINT" property="area_id" />
		<result column="classOfFinish_id" jdbcType="BIGINT" property="classOfFinish_id" />
		<result column="color_id" jdbcType="BIGINT" property="color_id" />
		<result column="form_id" jdbcType="BIGINT" property="form_id" />
		<result column="goodClass_id" jdbcType="BIGINT" property="goodClass_id" />
		<result column="goods_main_photo_id" jdbcType="BIGINT" property="goods_main_photo_id" />
		<result column="logistics_id" jdbcType="BIGINT" property="logistics_id" />
		<result column="quality_id" jdbcType="BIGINT" property="quality_id" />
		<result column="region_id" jdbcType="BIGINT" property="region_id" />
		<result column="supply_id" jdbcType="BIGINT" property="supply_id" />
		<result column="user_id" jdbcType="BIGINT" property="user_id" />
		<result column="util_id" jdbcType="BIGINT" property="util_id" />
		<result column="addess2" jdbcType="VARCHAR" property="addess2" />
	</resultMap>
  

  <resultMap id="BaseResultMap1" type="com.sanbang.vo.GoodsListInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="cncl_num" jdbcType="DOUBLE" property="cncl_num" />
    <result column="inventory" jdbcType="DOUBLE" property="inventory" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="audit_status" jdbcType="INTEGER" property="audit_status" />
    <result column="priceStatus" jdbcType="INTEGER" property="priceStatus" />
    <result column="lastModifyDate" jdbcType="VARCHAR" property="lastModifyDate" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, addTime, deleteStatus, addess, ash, bending, burning, cantilever, click, cncl_num, 
    collect, content, crack, density, flexural, freely, good_no, good_self, goods_salenum, 
    inventory, keyword, lastModifyDate, lipolysis, lockStatus, memberLook, name, price, 
    protection, purpose, recommend, recommend_time, seo_description, source, status, 
    tensile, validity, water, area_id, classOfFinish_id, color_id, form_id, goodClass_id, 
    goods_main_photo_id, logistics_id, quality_id, region_id, supply_id, user_id, util_id, 
    addess2
	</sql>
  
  
	<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
		<include refid="Base_Column_List" />
    from ezs_goods
    where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ezs_goods
    where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.sanbang.bean.ezs_goods"  useGeneratedKeys="true" keyProperty="id">
    insert into ezs_goods (id, addTime, deleteStatus, 
      addess, ash, bending, 
      burning, cantilever, click, 
      cncl_num, collect, content, 
      crack, density, flexural, 
      freely, good_no, good_self, 
      goods_salenum, inventory, keyword, 
      lastModifyDate, lipolysis, lockStatus, 
      memberLook, name, price, 
      protection, purpose, recommend, 
      recommend_time, seo_description, source, 
      status, tensile, validity, 
      water, area_id, classOfFinish_id, 
      color_id, form_id, goodClass_id, 
      goods_main_photo_id, logistics_id, quality_id, 
      region_id, supply_id, user_id, 
      util_id, addess2)
    values (#{id,jdbcType=BIGINT}, #{addTime,jdbcType=TIMESTAMP}, #{deleteStatus,jdbcType=BIT}, 
      #{addess,jdbcType=VARCHAR}, #{ash,jdbcType=VARCHAR}, #{bending,jdbcType=VARCHAR}, 
      #{burning,jdbcType=VARCHAR}, #{cantilever,jdbcType=VARCHAR}, #{click,jdbcType=INTEGER}, 
      #{cncl_num,jdbcType=DOUBLE}, #{collect,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{crack,jdbcType=VARCHAR}, #{density,jdbcType=VARCHAR}, #{flexural,jdbcType=VARCHAR}, 
      #{freely,jdbcType=VARCHAR}, #{good_no,jdbcType=VARCHAR}, #{good_self,jdbcType=BIT}, 
      #{goods_salenum,jdbcType=INTEGER}, #{inventory,jdbcType=DOUBLE}, #{keyword,jdbcType=VARCHAR}, 
      #{lastModifyDate,jdbcType=TIMESTAMP}, #{lipolysis,jdbcType=VARCHAR}, #{lockStatus,jdbcType=BIT}, 
      #{memberLook,jdbcType=BIT}, #{name,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{protection,jdbcType=BIT}, #{purpose,jdbcType=VARCHAR}, #{recommend,jdbcType=BIT}, 
      #{recommend_time,jdbcType=TIMESTAMP}, #{seo_description,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{tensile,jdbcType=VARCHAR}, #{validity,jdbcType=INTEGER}, 
      #{water,jdbcType=VARCHAR}, #{area_id,jdbcType=BIGINT}, #{classOfFinish_id,jdbcType=BIGINT}, 
      #{color_id,jdbcType=BIGINT}, #{form_id,jdbcType=BIGINT}, #{goodClass_id,jdbcType=BIGINT}, 
      #{goods_main_photo_id,jdbcType=BIGINT}, #{logistics_id,jdbcType=BIGINT}, #{quality_id,jdbcType=BIGINT}, 
      #{region_id,jdbcType=BIGINT}, #{supply_id,jdbcType=BIGINT}, #{user_id,jdbcType=BIGINT}, 
      #{util_id,jdbcType=BIGINT}, #{addess2,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.sanbang.bean.ezs_goods">
    insert into ezs_goods
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
        id,
			</if>
			<if test="addTime != null">
        addTime,
			</if>
			<if test="deleteStatus != null">
        deleteStatus,
			</if>
			<if test="addess != null">
        addess,
			</if>
			<if test="ash != null">
        ash,
			</if>
			<if test="bending != null">
        bending,
			</if>
			<if test="burning != null">
        burning,
			</if>
			<if test="cantilever != null">
        cantilever,
			</if>
			<if test="click != null">
        click,
			</if>
			<if test="cncl_num != null">
        cncl_num,
			</if>
			<if test="collect != null">
        collect,
			</if>
			<if test="content != null">
        content,
			</if>
			<if test="crack != null">
        crack,
			</if>
			<if test="density != null">
        density,
			</if>
			<if test="flexural != null">
        flexural,
			</if>
			<if test="freely != null">
        freely,
			</if>
			<if test="good_no != null">
        good_no,
			</if>
			<if test="good_self != null">
        good_self,
			</if>
			<if test="goods_salenum != null">
        goods_salenum,
			</if>
			<if test="inventory != null">
        inventory,
			</if>
			<if test="keyword != null">
        keyword,
			</if>
			<if test="lastModifyDate != null">
        lastModifyDate,
			</if>
			<if test="lipolysis != null">
        lipolysis,
			</if>
			<if test="lockStatus != null">
        lockStatus,
			</if>
			<if test="memberLook != null">
        memberLook,
			</if>
			<if test="name != null">
        name,
			</if>
			<if test="price != null">
        price,
			</if>
			<if test="protection != null">
        protection,
			</if>
			<if test="purpose != null">
        purpose,
			</if>
			<if test="recommend != null">
        recommend,
			</if>
			<if test="recommend_time != null">
        recommend_time,
			</if>
			<if test="seo_description != null">
        seo_description,
			</if>
			<if test="source != null">
        source,
			</if>
			<if test="status != null">
        status,
			</if>
			<if test="tensile != null">
        tensile,
			</if>
			<if test="validity != null">
        validity,
			</if>
			<if test="water != null">
        water,
			</if>
			<if test="area_id != null">
        area_id,
			</if>
			<if test="classOfFinish_id != null">
        classOfFinish_id,
			</if>
			<if test="color_id != null">
        color_id,
			</if>
			<if test="form_id != null">
        form_id,
			</if>
			<if test="goodClass_id != null">
        goodClass_id,
			</if>
			<if test="goods_main_photo_id != null">
        goods_main_photo_id,
			</if>
			<if test="logistics_id != null">
        logistics_id,
			</if>
			<if test="quality_id != null">
        quality_id,
			</if>
			<if test="region_id != null">
        region_id,
			</if>
			<if test="supply_id != null">
        supply_id,
			</if>
			<if test="user_id != null">
        user_id,
			</if>
			<if test="util_id != null">
        util_id,
			</if>
			<if test="addess2 != null">
        addess2,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
        #{id,jdbcType=BIGINT},
			</if>
			<if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
			</if>
			<if test="deleteStatus != null">
        #{deleteStatus,jdbcType=BIT},
			</if>
			<if test="addess != null">
        #{addess,jdbcType=VARCHAR},
			</if>
			<if test="ash != null">
        #{ash,jdbcType=VARCHAR},
			</if>
			<if test="bending != null">
        #{bending,jdbcType=VARCHAR},
			</if>
			<if test="burning != null">
        #{burning,jdbcType=VARCHAR},
			</if>
			<if test="cantilever != null">
        #{cantilever,jdbcType=VARCHAR},
			</if>
			<if test="click != null">
        #{click,jdbcType=INTEGER},
			</if>
			<if test="cncl_num != null">
        #{cncl_num,jdbcType=DOUBLE},
			</if>
			<if test="collect != null">
        #{collect,jdbcType=INTEGER},
			</if>
			<if test="content != null">
        #{content,jdbcType=VARCHAR},
			</if>
			<if test="crack != null">
        #{crack,jdbcType=VARCHAR},
			</if>
			<if test="density != null">
        #{density,jdbcType=VARCHAR},
			</if>
			<if test="flexural != null">
        #{flexural,jdbcType=VARCHAR},
			</if>
			<if test="freely != null">
        #{freely,jdbcType=VARCHAR},
			</if>
			<if test="good_no != null">
        #{good_no,jdbcType=VARCHAR},
			</if>
			<if test="good_self != null">
        #{good_self,jdbcType=BIT},
			</if>
			<if test="goods_salenum != null">
        #{goods_salenum,jdbcType=INTEGER},
			</if>
			<if test="inventory != null">
        #{inventory,jdbcType=DOUBLE},
			</if>
			<if test="keyword != null">
        #{keyword,jdbcType=VARCHAR},
			</if>
			<if test="lastModifyDate != null">
        #{lastModifyDate,jdbcType=TIMESTAMP},
			</if>
			<if test="lipolysis != null">
        #{lipolysis,jdbcType=VARCHAR},
			</if>
			<if test="lockStatus != null">
        #{lockStatus,jdbcType=BIT},
			</if>
			<if test="memberLook != null">
        #{memberLook,jdbcType=BIT},
			</if>
			<if test="name != null">
        #{name,jdbcType=VARCHAR},
			</if>
			<if test="price != null">
        #{price,jdbcType=DECIMAL},
			</if>
			<if test="protection != null">
        #{protection,jdbcType=BIT},
			</if>
			<if test="purpose != null">
        #{purpose,jdbcType=VARCHAR},
			</if>
			<if test="recommend != null">
        #{recommend,jdbcType=BIT},
			</if>
			<if test="recommend_time != null">
        #{recommend_time,jdbcType=TIMESTAMP},
			</if>
			<if test="seo_description != null">
        #{seo_description,jdbcType=VARCHAR},
			</if>
			<if test="source != null">
        #{source,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
        #{status,jdbcType=INTEGER},
			</if>
			<if test="tensile != null">
        #{tensile,jdbcType=VARCHAR},
			</if>
			<if test="validity != null">
        #{validity,jdbcType=INTEGER},
			</if>
			<if test="water != null">
        #{water,jdbcType=VARCHAR},
			</if>
			<if test="area_id != null">
        #{area_id,jdbcType=BIGINT},
			</if>
			<if test="classOfFinish_id != null">
        #{classOfFinish_id,jdbcType=BIGINT},
			</if>
			<if test="color_id != null">
        #{color_id,jdbcType=BIGINT},
			</if>
			<if test="form_id != null">
        #{form_id,jdbcType=BIGINT},
			</if>
			<if test="goodClass_id != null">
        #{goodClass_id,jdbcType=BIGINT},
			</if>
			<if test="goods_main_photo_id != null">
        #{goods_main_photo_id,jdbcType=BIGINT},
			</if>
			<if test="logistics_id != null">
        #{logistics_id,jdbcType=BIGINT},
			</if>
			<if test="quality_id != null">
        #{quality_id,jdbcType=BIGINT},
			</if>
			<if test="region_id != null">
        #{region_id,jdbcType=BIGINT},
			</if>
			<if test="supply_id != null">
        #{supply_id,jdbcType=BIGINT},
			</if>
			<if test="user_id != null">
        #{user_id,jdbcType=BIGINT},
			</if>
			<if test="util_id != null">
        #{util_id,jdbcType=BIGINT},
			</if>
			<if test="addess2 != null">
        #{addess2,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.sanbang.bean.ezs_goods">
    update ezs_goods
		<set>
			<if test="addTime != null">
        addTime = #{addTime,jdbcType=TIMESTAMP},
			</if>
			<if test="deleteStatus != null">
        deleteStatus = #{deleteStatus,jdbcType=BIT},
			</if>
			<if test="addess != null">
        addess = #{addess,jdbcType=VARCHAR},
			</if>
			<if test="ash != null">
        ash = #{ash,jdbcType=VARCHAR},
			</if>
			<if test="bending != null">
        bending = #{bending,jdbcType=VARCHAR},
			</if>
			<if test="burning != null">
        burning = #{burning,jdbcType=VARCHAR},
			</if>
			<if test="cantilever != null">
        cantilever = #{cantilever,jdbcType=VARCHAR},
			</if>
			<if test="click != null">
        click = #{click,jdbcType=INTEGER},
			</if>
			<if test="cncl_num != null">
        cncl_num = #{cncl_num,jdbcType=DOUBLE},
			</if>
			<if test="collect != null">
        collect = #{collect,jdbcType=INTEGER},
			</if>
			<if test="content != null">
        content = #{content,jdbcType=VARCHAR},
			</if>
			<if test="crack != null">
        crack = #{crack,jdbcType=VARCHAR},
			</if>
			<if test="density != null">
        density = #{density,jdbcType=VARCHAR},
			</if>
			<if test="flexural != null">
        flexural = #{flexural,jdbcType=VARCHAR},
			</if>
			<if test="freely != null">
        freely = #{freely,jdbcType=VARCHAR},
			</if>
			<if test="good_no != null">
        good_no = #{good_no,jdbcType=VARCHAR},
			</if>
			<if test="good_self != null">
        good_self = #{good_self,jdbcType=BIT},
			</if>
			<if test="goods_salenum != null">
        goods_salenum = #{goods_salenum,jdbcType=INTEGER},
			</if>
			<if test="inventory != null">
        inventory = #{inventory,jdbcType=DOUBLE},
			</if>
			<if test="keyword != null">
        keyword = #{keyword,jdbcType=VARCHAR},
			</if>
			<if test="lastModifyDate != null">
        lastModifyDate = #{lastModifyDate,jdbcType=TIMESTAMP},
			</if>
			<if test="lipolysis != null">
        lipolysis = #{lipolysis,jdbcType=VARCHAR},
			</if>
			<if test="lockStatus != null">
        lockStatus = #{lockStatus,jdbcType=BIT},
			</if>
			<if test="memberLook != null">
        memberLook = #{memberLook,jdbcType=BIT},
			</if>
			<if test="name != null">
        name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="price != null">
        price = #{price,jdbcType=DECIMAL},
			</if>
			<if test="protection != null">
        protection = #{protection,jdbcType=BIT},
			</if>
			<if test="purpose != null">
        purpose = #{purpose,jdbcType=VARCHAR},
			</if>
			<if test="recommend != null">
        recommend = #{recommend,jdbcType=BIT},
			</if>
			<if test="recommend_time != null">
        recommend_time = #{recommend_time,jdbcType=TIMESTAMP},
			</if>
			<if test="seo_description != null">
        seo_description = #{seo_description,jdbcType=VARCHAR},
			</if>
			<if test="source != null">
        source = #{source,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
        status = #{status,jdbcType=INTEGER},
			</if>
			<if test="tensile != null">
        tensile = #{tensile,jdbcType=VARCHAR},
			</if>
			<if test="validity != null">
        validity = #{validity,jdbcType=INTEGER},
			</if>
			<if test="water != null">
        water = #{water,jdbcType=VARCHAR},
			</if>
			<if test="area_id != null">
        area_id = #{area_id,jdbcType=BIGINT},
			</if>
			<if test="classOfFinish_id != null">
        classOfFinish_id = #{classOfFinish_id,jdbcType=BIGINT},
			</if>
			<if test="color_id != null">
        color_id = #{color_id,jdbcType=BIGINT},
			</if>
			<if test="form_id != null">
        form_id = #{form_id,jdbcType=BIGINT},
			</if>
			<if test="goodClass_id != null">
        goodClass_id = #{goodClass_id,jdbcType=BIGINT},
			</if>
			<if test="goods_main_photo_id != null">
        goods_main_photo_id = #{goods_main_photo_id,jdbcType=BIGINT},
			</if>
			<if test="logistics_id != null">
        logistics_id = #{logistics_id,jdbcType=BIGINT},
			</if>
			<if test="quality_id != null">
        quality_id = #{quality_id,jdbcType=BIGINT},
			</if>
			<if test="region_id != null">
        region_id = #{region_id,jdbcType=BIGINT},
			</if>
			<if test="supply_id != null">
        supply_id = #{supply_id,jdbcType=BIGINT},
			</if>
			<if test="user_id != null">
        user_id = #{user_id,jdbcType=BIGINT},
			</if>
			<if test="util_id != null">
        util_id = #{util_id,jdbcType=BIGINT},
			</if>
			<if test="addess2 != null">
        addess2 = #{addess2,jdbcType=VARCHAR},
			</if>
		</set>
    where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.sanbang.bean.ezs_goods">
    update ezs_goods
    set addTime = #{addTime,jdbcType=TIMESTAMP},
      deleteStatus = #{deleteStatus,jdbcType=BIT},
      addess = #{addess,jdbcType=VARCHAR},
      ash = #{ash,jdbcType=VARCHAR},
      bending = #{bending,jdbcType=VARCHAR},
      burning = #{burning,jdbcType=VARCHAR},
      cantilever = #{cantilever,jdbcType=VARCHAR},
      click = #{click,jdbcType=INTEGER},
      cncl_num = #{cncl_num,jdbcType=DOUBLE},
      collect = #{collect,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      crack = #{crack,jdbcType=VARCHAR},
      density = #{density,jdbcType=VARCHAR},
      flexural = #{flexural,jdbcType=VARCHAR},
      freely = #{freely,jdbcType=VARCHAR},
      good_no = #{good_no,jdbcType=VARCHAR},
      good_self = #{good_self,jdbcType=BIT},
      goods_salenum = #{goods_salenum,jdbcType=INTEGER},
      inventory = #{inventory,jdbcType=DOUBLE},
      keyword = #{keyword,jdbcType=VARCHAR},
      lastModifyDate = #{lastModifyDate,jdbcType=TIMESTAMP},
      lipolysis = #{lipolysis,jdbcType=VARCHAR},
      lockStatus = #{lockStatus,jdbcType=BIT},
      memberLook = #{memberLook,jdbcType=BIT},
      name = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      protection = #{protection,jdbcType=BIT},
      purpose = #{purpose,jdbcType=VARCHAR},
      recommend = #{recommend,jdbcType=BIT},
      recommend_time = #{recommend_time,jdbcType=TIMESTAMP},
      seo_description = #{seo_description,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      tensile = #{tensile,jdbcType=VARCHAR},
      validity = #{validity,jdbcType=INTEGER},
      water = #{water,jdbcType=VARCHAR},
      area_id = #{area_id,jdbcType=BIGINT},
      classOfFinish_id = #{classOfFinish_id,jdbcType=BIGINT},
      color_id = #{color_id,jdbcType=BIGINT},
      form_id = #{form_id,jdbcType=BIGINT},
      goodClass_id = #{goodClass_id,jdbcType=BIGINT},
      goods_main_photo_id = #{goods_main_photo_id,jdbcType=BIGINT},
      logistics_id = #{logistics_id,jdbcType=BIGINT},
      quality_id = #{quality_id,jdbcType=BIGINT},
      region_id = #{region_id,jdbcType=BIGINT},
      supply_id = #{supply_id,jdbcType=BIGINT},
      user_id = #{user_id,jdbcType=BIGINT},
      util_id = #{util_id,jdbcType=BIGINT},
      addess2 = #{addess2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
	</update>
	<!-- 总页数 -->
	<select id="goodsIntroduceCount" resultType="java.lang.Integer" parameterType="com.sanbang.utils.Page">
    select count(*) from ezs_goods where recommend = '1'
	</select>
	<!-- 根据供应商id查询商品列表-->
	<select id="selectGoodsListBySellerId"  parameterType="com.sanbang.utils.Page" resultMap="BaseResultMap1">
  	SELECT 
  	DATE_FORMAT(A.lastModifyDate,'%Y-%m-%d %H:%i') lastModifyDate,
  	A.id,
  	A.name,
  	A.price,
  	A.cncl_num,
  	A.inventory,
  	A.status status,
  	B.status audit_status,
  	B.priceStatus priceStatus
	FROM ezs_goods A 
	LEFT JOIN ezs_goods_audit_process B on
	A.id = B.goods_id
	WHERE 
	1=1
		<if test="status!=null and status!=-1">
		and   A.status = #{status} 
		</if>
    and user_id=#{sellerId} 
    order by
    lastModifyDate  desc
    LIMIT #{page.startPos},#{page.pageSize}
	</select>
	<!-- 供应商下架货品 -->
	<update id="pullOffShelves" >
  	update ezs_goods set status = 1 where id =#{goodsId}
	</update>
	<!-- 供应商上架货品 -->
	<update id="pullNoShelves" >
  	update ezs_goods set status = 2 where id =#{goodsId}
	</update>
	<!-- 商品查询带图 -->
	<resultMap id="GoodsResultMap" type="com.sanbang.vo.GoodsInfo">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="addTime" property="addTime" jdbcType="TIMESTAMP" />
		<result column="deleteStatus" property="deleteStatus" jdbcType="BIT" />
		<result column="addess" property="addess" jdbcType="VARCHAR" />
		<result column="ash" property="ash" jdbcType="VARCHAR" />
		<result column="bending" property="bending" jdbcType="VARCHAR" />
		<result column="burning" property="burning" jdbcType="VARCHAR" />
		<result column="cantilever" property="cantilever" jdbcType="VARCHAR" />
		<result column="click" property="click" jdbcType="INTEGER" />
		<result column="cncl_num" property="cncl_num" jdbcType="BIT" />
		<result column="collect" property="collect" jdbcType="INTEGER" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="crack" property="crack" jdbcType="VARCHAR" />
		<result column="density" property="density" jdbcType="VARCHAR" />
		<result column="flexural" property="flexural" jdbcType="VARCHAR" />
		<result column="freely" property="freely" jdbcType="VARCHAR" />
		<result column="good_no" property="good_no" jdbcType="VARCHAR" />
		<result column="good_self" property="good_self" jdbcType="BIT" />
		<result column="goods_salenum" property="goods_salenum" jdbcType="INTEGER" />
		<result column="inventory" property="inventory" jdbcType="DOUBLE" />
		<result column="keyword" property="keyword" jdbcType="VARCHAR" />
		<result column="lipolysis" property="lipolysis" jdbcType="VARCHAR" />
		<result column="memberLook" property="memberLook" jdbcType="BIT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="price" property="price" jdbcType="DECIMAL" />
		<result column="protection" property="protection" jdbcType="BIT" />
		<result column="purpose" property="purpose" jdbcType="VARCHAR" />
		<result column="recommend" property="recommend" jdbcType="BIT" />
		<result column="recommend_time" property="recommend_time" jdbcType="TIMESTAMP" />
		<result column="seo_description" property="seo_description" jdbcType="VARCHAR" />
		<result column="source" property="source" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="tensile" property="tensile" jdbcType="VARCHAR" />
		<result column="validity" property="validity" jdbcType="INTEGER" />
		<result column="water" property="water" jdbcType="VARCHAR" />
		<result column="area_id" property="area_id" jdbcType="BIGINT" />
		<result column="color_id" property="color_id" jdbcType="BIGINT" />
		<result column="form_id" property="form_id" jdbcType="BIGINT" />
		<result column="goodClass_id" property="goodClass_id" jdbcType="BIGINT" />
		<result column="logistics_id" property="logistics_id" jdbcType="BIGINT" />
		<result column="quality_id" property="quality_id" jdbcType="BIGINT" />
		<result column="region_id" property="region_id" jdbcType="BIGINT" />
		<result column="supply_id" property="supply_id" jdbcType="BIGINT" />
		<result column="user_id" property="user_id" jdbcType="BIGINT" />
		<result column="util_id" property="util_id" jdbcType="BIGINT" />
		<result column="classOfFinish_id" property="classOfFinish_id" jdbcType="BIGINT" />
		<result column="lockStatus" property="lockStatus" jdbcType="INTEGER" />
		<association property="mainPhoto" javaType="com.sanbang.bean.ezs_accessory">
			<id column="goods_main_photo_id" property="id" jdbcType="BIGINT" />
			<result column="addTime" property="addTime" jdbcType="TIMESTAMP" />
			<result column="adeleteStatus" property="deleteStatus" jdbcType="BIT" />
			<result column="aext" property="ext" jdbcType="VARCHAR" />
			<result column="aheight" property="height" jdbcType="INTEGER" />
			<result column="ainfo" property="info" jdbcType="VARCHAR" />
			<result column="aname" property="name" jdbcType="VARCHAR" />
			<result column="apath" property="path" jdbcType="VARCHAR" />
			<result column="asize" property="size" jdbcType="REAL" />
			<result column="awidth" property="width" jdbcType="INTEGER" />
			<result column="aalbum_id" property="album_id" jdbcType="BIGINT" />
			<result column="aconfig_id" property="config_id" jdbcType="BIGINT" />
			<result column="auser_id" property="user_id" jdbcType="BIGINT" />
		</association>
	</resultMap>
	<sql id="Goods_Base_Column_List" >
    g.id, g.addTime, g.deleteStatus, g.addess, g.ash, g.bending, g.burning, g.cantilever, g.click, g.cncl_num, 
    g.collect, g.content, g.crack, g.density, g.flexural, g.freely, g.good_no, g.good_self, g.goods_salenum, 
    g.inventory, g.keyword, g.lipolysis, g.memberLook, g.name, g.price, g.protection, g.purpose, g.recommend, 
    g.recommend_time, g.seo_description, g.source, g.status,g.tensile, g.validity, g.water, g.area_id, 
    g.color_id, g.form_id, g.goodClass_id, g.goods_main_photo_id, g.logistics_id, g.quality_id, g.region_id, 
    g.supply_id, g.user_id, g.util_id, g.classOfFinish_id, g.lockStatus,g.lastModifyDate,
    a.id aid,a.addTime aaddTime,a.deleteStatus adeleteStatus,a.ext aext,a.height aheight,a.info ainfo,a.name aname,
    a.path apath,a.size asize,a.width awidth,a.album_id aalbum_id,a.config_id aconfig_id,a.user_id auser_id
	</sql>
	<select id="selectByGoodName" resultMap="GoodsResultMap" parameterType="string" >
    select 
		<include refid="Goods_Base_Column_List" />
    from ezs_goods g,ezs_accessory a where g.goods_main_photo_id = a.id and 
    g.name like '%${_parameter}%'
	</select>
	<!-- 优品推荐包含图片 -->
	<select id="goodsIntroduce" resultMap="GoodsResultMap" parameterType="com.sanbang.utils.Page">
    select
		<include refid="Goods_Base_Column_List" />
    from ezs_goods g LEFT JOIN ezs_accessory a on g.goods_main_photo_id = a.id where g.recommend = '1' order by g.recommend_time desc LIMIT #{startPos},#{pageSize}
	</select>
  
	
  
	<!-- 查询同类货品，han -->
	<select id="listForGoods" resultType="com.sanbang.vo.goods.GoodsVo" parameterType="java.lang.Long">
  	SELECT
		goods.id,
		goods.`name`,
		goods.addTime,
		goods.deleteStatus,
		goods.price,
		goods.inventory,
		goods.goods_main_photo_id,
		CONCAT("http://www.ezaisheng.com/",B.path,"/",B.name) path
	FROM
		ezs_goods goods
	LEFT JOIN ezs_goods_class gc ON goods.goodClass_id = gc. LEVEL
	LEFT JOIN ezs_accessory B ON goods.goods_main_photo_id=B.id
	WHERE
    goods.goodClass_id=#{goodClass_id}
    GROUP BY  goods.id
     limit 20
	</select>
	<!-- 由购物车查询商品信息 -->
	<select id="getGoodsFromCollection" resultMap="BaseResultMap" parameterType="java.lang.Long">
  	select g.* from ezs_goods g where EXISTS (select 1 from ezs_documentshare e where e.good_id = g.id and e.deleteStatus = '0' and e.house = '1' and e.user_id = #{userId})
	</select>

	<!-- 根据id查询订单总数 -->
	<select id="selectCount" resultType="java.lang.Integer">
		select count(*) from 	
		ezs_goods
    	WHERE 
		1=1
		<if test="status!=null and status!=-1">
			and   status = #{status} 
		</if> 
		and user_id = #{sellerId}
	</select>
	<!-- 查询商品详情，颜色，形态...做关联，han -->
	<select id="getGoodsDetail" resultType="com.sanbang.vo.GoodsInfo">
		select g.*,d1.name colorName,d2.name formName,
		a.areaName areaName,gc.name goodClassName,ac.ext pictureSuffix,
		ac.name pictureName,CONCAT("http://10.10.10.148/",ac.path,"/",ac.name) picturePath 
		from ezs_goods g 
		left join ezs_dict d1 on g.color_id = d1.id 
		left join ezs_dict d2 on g.form_id = d2.id 
		left join ezs_area a on g.area_id = a.id 
		left join ezs_goods_class gc on g.goodClass_id = gc.id 
		left join ezs_accessory ac on g.goods_main_photo_id = ac.id 
    	where g.id = #{id, jdbcType=BIGINT}
	</select>
	
	<!-- 多条件查询，han -->
	<select id="queryGoodsList" resultType="com.sanbang.vo.GoodsInfo" parameterType="java.util.Map">
		select g.id,g.name,g.price,g.inventory,a.path picturePath,d1.name colorName,ar.areaName areaName,d2.name utilName
		from ezs_goods g,ezs_accessory a,ezs_dict d1,ezs_area ar,ezs_dict d2
		where g.goods_main_photo_id = a.id and g.color_id = d1.id and g.area_id = ar.id and g.util_id = d2.id 
		<if test="areaList.size>0">
   			and g.area_id IN 
			<foreach collection="areaList" item="areaId" open="(" separator="," close=")">
	        	#{areaId}
			</foreach>
		</if>
	    
		<if test="typeList.size>0">
   			and g.goodClass_id IN 
			<foreach collection="typeList" item="goodsClass" open="(" separator="," close=")">
	        	#{goodsClass}
			</foreach>
		</if>
		<if test="colorList.size>0">
   			and g.color_id IN 
			<foreach collection="colorList" item="colorId" open="(" separator="," close=")">
	        	#{colorId}
			</foreach>
		</if>
		<if test="formList.size>0">
   			and g.form_id IN 
			<foreach collection="formList" item="formId" open="(" separator="," close=")">
	        	#{formId}
			</foreach>
		</if>
		<if test="source != null and source != ''">
	        and g.source like '%${source}%' 
		</if>
		<if test="purpose != null and purpose != ''">
	        and g.purpose like '%${purpose}%' 
		</if>
		<if test="name != null and name != ''">
	        and g.name like '%${name}%' 
		</if>
		<!-- 价格 -->
		<if test="price1 != null and price1 != ''">
	        and g.price &gt;= #{price1,jdbcType=VARCHAR} 
		</if>
		<if test="price2 != null and price2 != ''">
	        and g.price &lt;= #{price2,jdbcType=VARCHAR} 
		</if>
	    
		<!-- 重要参数的区间查询 -->
		<if test="density1 != null and density1 != ''">
	        and g.density &gt;= #{density1,jdbcType=VARCHAR} 
		</if>
		<if test="density2 != null and density2 != ''">
	        and g.density &lt;= #{density2,jdbcType=VARCHAR} 
		</if>
	    
		<if test="cantilever1 != null and cantilever1 != ''">
	        and g.cantilever &gt;= #{cantilever1,jdbcType=VARCHAR}
		</if>
		<if test="cantilever2 != null and cantilever2 != ''">
	        and g.cantilever &lt;= #{cantilever2,jdbcType=VARCHAR}
		</if>
	    
		<if test="freely1 != null and freely1 != ''">
	        and g.freely &gt;= #{freely1,jdbcType=VARCHAR}
		</if>
		<if test="freely2 != null and freely2 != ''">
	        and g.freely &lt;= #{freely2,jdbcType=VARCHAR}
		</if>
	    
		<if test="lipolysis1 != null and lipolysis1 != ''">
	        and g.lipolysis &gt;= #{lipolysis1,jdbcType=VARCHAR}
		</if>
		<if test="lipolysis2 != null and lipolysis2 != ''">
	        and g.lipolysis &lt;= #{lipolysis2,jdbcType=VARCHAR}
		</if>
	    
		<if test="ash1 != null and ash1 != ''">
	        and g.ash &gt;= #{ash1,jdbcType=VARCHAR}
		</if>
		<if test="ash2 != null and ash2 != ''">
	        and g.ash &lt;= #{ash2,jdbcType=VARCHAR}
		</if>
	    
		<if test="water1 != null and water1 != ''">
	        and g.water &gt;= #{water1,jdbcType=VARCHAR}
		</if>
		<if test="water2 != null and water2 != ''">
	        and g.water &lt;= #{water2,jdbcType=VARCHAR}
		</if>
	    
		<if test="tensile1 != null and tensile1 != ''">
	        and g.tensile &gt;= #{tensile1,jdbcType=VARCHAR}
		</if>
		<if test="tensile2 != null and tensile2 != ''">
	        and g.tensile &lt;= #{tensile2,jdbcType=VARCHAR}
		</if>
	    
		<if test="crack1 != null and crack1 != ''">
	        and g.crack &gt;= #{crack1,jdbcType=VARCHAR}
		</if>
		<if test="crack2 != null and crack2 != ''">
	        and g.crack &lt;= #{crack2,jdbcType=VARCHAR}
		</if>
	    
		<if test="bending1 != null and bending1 != ''">
	        and g.bending &gt;= #{bending1,jdbcType=VARCHAR}
		</if>
		<if test="bending2 != null and bending2 != ''">
	        and g.bending &lt;= #{bending2,jdbcType=VARCHAR}
		</if>
	    
		<if test="flexural1 != null and flexural1 != ''">
	        and g.flexural &gt;= #{flexural1,jdbcType=VARCHAR}
		</if>
		<if test="flexural2 != null and flexural2 != ''">
	        and g.flexural &lt;= #{flexural2,jdbcType=VARCHAR}
		</if>
	    
		<!-- 默认：传值0，按照添加时间降序排列 -->
		<if test="defaultId != null and addTime == 0">
	        ORDER BY g.addTime desc
		</if>
		<!-- 库存量 -->
		<if test="inventory != null and inventory == 0">
	        ORDER BY g.inventory desc
		</if>
		<if test="inventory != null and inventory == 1">
	        ORDER BY g.inventory asc
		</if>
	    limit #{pageStart},#{pageSize}
	</select>
	
	<!--商品详情 app-->
	<resultMap id="goodvomap" type="com.sanbang.vo.goods.GoodsVo">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="addTime" jdbcType="TIMESTAMP" property="addTime" />
		<result column="deleteStatus" jdbcType="BIT" property="deleteStatus" />
		<result column="addess" jdbcType="VARCHAR" property="addess" />
		<result column="ash" jdbcType="VARCHAR" property="ash" />
		<result column="bending" jdbcType="VARCHAR" property="bending" />
		<result column="burning" jdbcType="VARCHAR" property="burning" />
		<result column="cantilever" jdbcType="VARCHAR" property="cantilever" />
		<result column="click" jdbcType="INTEGER" property="click" />
		<result column="cncl_num" jdbcType="DOUBLE" property="cncl_num" />
		<result column="collect" jdbcType="INTEGER" property="collect" />
		<result column="content" jdbcType="VARCHAR" property="content" />
		<result column="crack" jdbcType="VARCHAR" property="crack" />
		<result column="density" jdbcType="VARCHAR" property="density" />
		<result column="flexural" jdbcType="VARCHAR" property="flexural" />
		<result column="freely" jdbcType="VARCHAR" property="freely" />
		<result column="good_no" jdbcType="VARCHAR" property="good_no" />
		<result column="good_self" jdbcType="BIT" property="good_self" />
		<result column="goods_salenum" jdbcType="INTEGER" property="goods_salenum" />
		<result column="inventory" jdbcType="DOUBLE" property="inventory" />
		<result column="keyword" jdbcType="VARCHAR" property="keyword" />
		<result column="lastModifyDate" jdbcType="TIMESTAMP" property="lastModifyDate" />
		<result column="lipolysis" jdbcType="VARCHAR" property="lipolysis" />
		<result column="lockStatus" jdbcType="BIT" property="lockStatus" />
		<result column="memberLook" jdbcType="BIT" property="memberLook" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="price" jdbcType="DECIMAL" property="price" />
		<result column="protection" jdbcType="BIT" property="protection" />
		<result column="purpose" jdbcType="VARCHAR" property="purpose" />
		<result column="recommend" jdbcType="BIT" property="recommend" />
		<result column="recommend_time" jdbcType="TIMESTAMP" property="recommend_time" />
		<result column="seo_description" jdbcType="VARCHAR" property="seo_description" />
		<result column="source" jdbcType="VARCHAR" property="source" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="tensile" jdbcType="VARCHAR" property="tensile" />
		<result column="validity" jdbcType="INTEGER" property="validity" />
		<result column="water" jdbcType="VARCHAR" property="water" />
		<result column="area_id" jdbcType="BIGINT" property="area_id" />
		<result column="classOfFinish_id" jdbcType="BIGINT" property="classOfFinish_id" />
		<result column="color_id" jdbcType="BIGINT" property="color_id" />
		<result column="form_id" jdbcType="BIGINT" property="form_id" />
		<result column="goodClass_id" jdbcType="BIGINT" property="goodClass_id" />
		<result column="goods_main_photo_id" jdbcType="BIGINT" property="goods_main_photo_id" />
		<result column="logistics_id" jdbcType="BIGINT" property="logistics_id" />
		<result column="quality_id" jdbcType="BIGINT" property="quality_id" />
		<result column="region_id" jdbcType="BIGINT" property="region_id" />
		<result column="supply_id" jdbcType="BIGINT" property="supply_id" />
		<result column="user_id" jdbcType="BIGINT" property="user_id" />
		<result column="util_id" jdbcType="BIGINT" property="util_id" />
		<result column="addess2" jdbcType="VARCHAR" property="addess2" />
		<!--单位-->
		<association property="util" column="util_id" select="com.sanbang.dao.ezs_dictMapper.selectByPrimaryKey">
		</association>
       <!--单位-->
		<association property="gclass" column="goodClass_id" select="com.sanbang.dao.ezs_goods_classMapper.selectByPrimaryKey">
		</association>
		<!--物流方式-->
		<association property="logistics" column="logistics_id" select="com.sanbang.dao.ezs_dictMapper.selectByPrimaryKey">
		</association>
		<!--供应情况-->
		<association property="supply" column="supply_id" select="com.sanbang.dao.ezs_dictMapper.selectByPrimaryKey">
		</association>
		<!--颜色-->
		<association property="color" column="color_id" select="com.sanbang.dao.ezs_dictMapper.selectByPrimaryKey">
		</association>
		<!--形态-->
		<association property="form" column="form_id" select="com.sanbang.dao.ezs_dictMapper.selectByPrimaryKey">
		</association>
		<!--加工级别-->
		<association property="classOfFinish" column="classOfFinish_id" select="com.sanbang.dao.ezs_dictMapper.selectByPrimaryKey">
		</association>
		<!--地区-->
		<association property="region" column="region_id" select="com.sanbang.dao.ezs_areaMapper.selectByPrimaryKey">
		</association>
		<!--主图片-->
		<!--  <collection property="mainphoto" column="goods_main_photo_id" select="com.sanbang.dao.ezs_goods_photoMapper.selectPhotoinfoByPhoto_id">
			 </collection> -->
     
		<!--主图片,zhaiBin修改-->
		<collection property="mainphoto" column="goods_main_photo_id" select="com.sanbang.dao.ezs_accessoryMapper.selectByPrimaryKey">
		</collection>
     
		<!--商品图片-->
		<collection property="goods_photos" column="id" select="com.sanbang.dao.ezs_goods_photoMapper.selectPhotoinfoBygoods_id">
		</collection>
		<!--制作过程图片-->
		<collection property="cartographys" column="id" select="com.sanbang.dao.ezs_goods_cartographyMapper.selectcartinfoBygoods_id">
		</collection>
	</resultMap>
  

  	<!-- zhaiBin,add -->
  	<resultMap id="getGoodIntroduceInfo" type="com.sanbang.vo.goods.GoodsVo" extends="goodvomap">  
    	<association property="area" column="area_id" select="com.sanbang.dao.ezs_areaMapper.selectByPrimaryKey">
     	</association>
	</resultMap> 
	
	<resultMap id="IntroduceTwoResultMap" type="com.sanbang.vo.GoodsInfo">
	    <id column="id" jdbcType="BIGINT" property="id" />
	    <result column="name" jdbcType="VARCHAR" property="name" />
	    <result column="price" jdbcType="DECIMAL" property="price" />
	    <result column="inventory" jdbcType="DOUBLE" property="inventory" />
	    <result column="area_id" jdbcType="BIGINT" property="area_id" />
	    <result column="goods_main_photo_id" jdbcType="BIGINT" property="goods_main_photo_id" />
	    <result column="util_id" jdbcType="BIGINT" property="util_id" />
	    <!--单位-->
	     <association property="util" column="util_id" select="com.sanbang.dao.ezs_dictMapper.selectByPrimaryKey">
	     </association>           
	      <!--地区-->
	     <association property="area" column="area_id" select="com.sanbang.dao.ezs_areaMapper.selectByPrimaryKey">
	     </association>
	     <!--主图片,zhaiBin修改-->
	     <association property="mainPhoto" column="goods_main_photo_id" select="com.sanbang.dao.ezs_accessoryMapper.selectByPrimaryKey">
	     </association> 
  	</resultMap> 
 <sql id="IntroduceColumnList" >
    g.id, g.inventory, g.name, g.price, g.area_id, g.goods_main_photo_id, g.util_id
  </sql>
	<!-- 优品推荐2 -->
  <select id="goodsIntroduceTwo" resultMap="IntroduceTwoResultMap" parameterType="com.sanbang.utils.Page">
    select
    <include refid="IntroduceColumnList" />
    from ezs_goods g LEFT JOIN ezs_accessory a on g.goods_main_photo_id = a.id where g.recommend = '1' order by g.recommend_time desc LIMIT #{startPos},#{pageSize}
  </select>
	
	<!--商品详情展示-->
	<select id="getgoodsinfo" resultMap="goodvomap">
		SELECT
	A.*,
	(select  IF(ISNULL(A.house),0,A.house) collect  FROM ezs_documentshare A WHERE A.user_id=#{userid}
	 AND A.good_id=#{goodsid} and  A.deleteStatus=0) collected, (
		SELECT
			COUNT(B.id)
		FROM
			ezs_dvaluate B
		WHERE
			1 = 1
			AND B.goods_id =#{goodsid,jdbcType=BIGINT}	
		) allcount,
		FORMAT(
		(
			(
				SELECT
					COUNT(B.id)
				FROM
					ezs_dvaluate B
				WHERE
					1 = 1
				AND B.goodQuality > 3
				AND B.goods_id = #{goodsid,jdbcType=BIGINT}	
			) / (
				SELECT
					COUNT(C.id)
				FROM
					ezs_dvaluate C
				WHERE
					1 = 1
				AND C.goods_id = #{goodsid,jdbcType=BIGINT}	
			)
		),
		2
	)*100 highp
	
	FROM
		ezs_goods A
	WHERE
		A.id = #{goodsid,jdbcType=BIGINT}	
	</select>
	
	<select id="getGoodsInCollectionByName" resultMap="GoodsResultMap">
		select 
		<include refid="Goods_Base_Column_List" />
		 from ezs_goods g,ezs_accessory a where g.goods_main_photo_id = a.id and g.`name` like #{0} and EXISTS (select 1 from ezs_documentshare e where e.user_id= #{1} and e.house = '1' and e.good_id = g.id)
	</select>
	
</mapper>