<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shanbang.dao.ezs_bonus_ruleMapper" >
  <resultMap id="BaseResultMap" type="com.sanbang.bean.ezs_bonus_rule" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="addTime" property="addTime" jdbcType="TIMESTAMP" />
    <result column="deleteStatus" property="deleteStatus" jdbcType="BIT" />
    <result column="bonusMethod" property="bonusMethod" jdbcType="VARCHAR" />
    <result column="bonusRuleType" property="bonusRuleType" jdbcType="VARCHAR" />
    <result column="fixedMoney" property="fixedMoney" jdbcType="DOUBLE" />
    <result column="maxMoney" property="maxMoney" jdbcType="DOUBLE" />
    <result column="minMoney" property="minMoney" jdbcType="DOUBLE" />
    <result column="percentage" property="percentage" jdbcType="DOUBLE" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="creator_id" property="creator_id" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, addTime, deleteStatus, bonusMethod, bonusRuleType, fixedMoney, maxMoney, minMoney, 
    percentage, unit, updateTime, creator_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ezs_bonus_rule
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ezs_bonus_rule
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sanbang.bean.ezs_bonus_rule" >
    insert into ezs_bonus_rule (id, addTime, deleteStatus, 
      bonusMethod, bonusRuleType, fixedMoney, 
      maxMoney, minMoney, percentage, 
      unit, updateTime, creator_id
      )
    values (#{id,jdbcType=BIGINT}, #{addTime,jdbcType=TIMESTAMP}, #{deleteStatus,jdbcType=BIT}, 
      #{bonusMethod,jdbcType=VARCHAR}, #{bonusRuleType,jdbcType=VARCHAR}, #{fixedMoney,jdbcType=DOUBLE}, 
      #{maxMoney,jdbcType=DOUBLE}, #{minMoney,jdbcType=DOUBLE}, #{percentage,jdbcType=DOUBLE}, 
      #{unit,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{creator_id,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sanbang.bean.ezs_bonus_rule" >
    insert into ezs_bonus_rule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="addTime != null" >
        addTime,
      </if>
      <if test="deleteStatus != null" >
        deleteStatus,
      </if>
      <if test="bonusMethod != null" >
        bonusMethod,
      </if>
      <if test="bonusRuleType != null" >
        bonusRuleType,
      </if>
      <if test="fixedMoney != null" >
        fixedMoney,
      </if>
      <if test="maxMoney != null" >
        maxMoney,
      </if>
      <if test="minMoney != null" >
        minMoney,
      </if>
      <if test="percentage != null" >
        percentage,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
      <if test="creator_id != null" >
        creator_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null" >
        #{deleteStatus,jdbcType=BIT},
      </if>
      <if test="bonusMethod != null" >
        #{bonusMethod,jdbcType=VARCHAR},
      </if>
      <if test="bonusRuleType != null" >
        #{bonusRuleType,jdbcType=VARCHAR},
      </if>
      <if test="fixedMoney != null" >
        #{fixedMoney,jdbcType=DOUBLE},
      </if>
      <if test="maxMoney != null" >
        #{maxMoney,jdbcType=DOUBLE},
      </if>
      <if test="minMoney != null" >
        #{minMoney,jdbcType=DOUBLE},
      </if>
      <if test="percentage != null" >
        #{percentage,jdbcType=DOUBLE},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator_id != null" >
        #{creator_id,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sanbang.bean.ezs_bonus_rule" >
    update ezs_bonus_rule
    <set >
      <if test="addTime != null" >
        addTime = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null" >
        deleteStatus = #{deleteStatus,jdbcType=BIT},
      </if>
      <if test="bonusMethod != null" >
        bonusMethod = #{bonusMethod,jdbcType=VARCHAR},
      </if>
      <if test="bonusRuleType != null" >
        bonusRuleType = #{bonusRuleType,jdbcType=VARCHAR},
      </if>
      <if test="fixedMoney != null" >
        fixedMoney = #{fixedMoney,jdbcType=DOUBLE},
      </if>
      <if test="maxMoney != null" >
        maxMoney = #{maxMoney,jdbcType=DOUBLE},
      </if>
      <if test="minMoney != null" >
        minMoney = #{minMoney,jdbcType=DOUBLE},
      </if>
      <if test="percentage != null" >
        percentage = #{percentage,jdbcType=DOUBLE},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator_id != null" >
        creator_id = #{creator_id,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanbang.bean.ezs_bonus_rule" >
    update ezs_bonus_rule
    set addTime = #{addTime,jdbcType=TIMESTAMP},
      deleteStatus = #{deleteStatus,jdbcType=BIT},
      bonusMethod = #{bonusMethod,jdbcType=VARCHAR},
      bonusRuleType = #{bonusRuleType,jdbcType=VARCHAR},
      fixedMoney = #{fixedMoney,jdbcType=DOUBLE},
      maxMoney = #{maxMoney,jdbcType=DOUBLE},
      minMoney = #{minMoney,jdbcType=DOUBLE},
      percentage = #{percentage,jdbcType=DOUBLE},
      unit = #{unit,jdbcType=VARCHAR},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
      creator_id = #{creator_id,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>