<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanbang.dao.ezs_goodscartMapper" >
  <resultMap id="BaseResultMap" type="ezs_goodscart" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="addTime" property="addTime" jdbcType="TIMESTAMP" />
    <result column="deleteStatus" property="deleteStatus" jdbcType="BIT" />
    <result column="cart_type" property="cart_type" jdbcType="VARCHAR" />
    <result column="count" property="count" jdbcType="DOUBLE" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="goods_id" property="goods_id" jdbcType="BIGINT" />
    <result column="of_id" property="of_id" jdbcType="BIGINT" />
    <result column="sc_id" property="sc_id" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, addTime, deleteStatus, cart_type, count, price, goods_id, of_id, sc_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ezs_goodscart
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ezs_goodscart
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="ezs_goodscart" >
    insert into ezs_goodscart (id, addTime, deleteStatus, 
      cart_type, count, price, 
      goods_id, of_id, sc_id
      )
    values (#{id,jdbcType=BIGINT}, #{addTime,jdbcType=TIMESTAMP}, #{deleteStatus,jdbcType=BIT}, 
      #{cart_type,jdbcType=VARCHAR}, #{count,jdbcType=DOUBLE}, #{price,jdbcType=DECIMAL}, 
      #{goods_id,jdbcType=BIGINT}, #{of_id,jdbcType=BIGINT}, #{sc_id,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="ezs_goodscart" >
    insert into ezs_goodscart
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="addTime != null" >
        addTime,
      </if>
      <if test="deleteStatus != null" >
        deleteStatus,
      </if>
      <if test="cart_type != null" >
        cart_type,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="goods_id != null" >
        goods_id,
      </if>
      <if test="of_id != null" >
        of_id,
      </if>
      <if test="sc_id != null" >
        sc_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null" >
        #{deleteStatus,jdbcType=BIT},
      </if>
      <if test="cart_type != null" >
        #{cart_type,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        #{count,jdbcType=DOUBLE},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="goods_id != null" >
        #{goods_id,jdbcType=BIGINT},
      </if>
      <if test="of_id != null" >
        #{of_id,jdbcType=BIGINT},
      </if>
      <if test="sc_id != null" >
        #{sc_id,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ezs_goodscart" >
    update ezs_goodscart
    <set >
      <if test="addTime != null" >
        addTime = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null" >
        deleteStatus = #{deleteStatus,jdbcType=BIT},
      </if>
      <if test="cart_type != null" >
        cart_type = #{cart_type,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=DOUBLE},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="goods_id != null" >
        goods_id = #{goods_id,jdbcType=BIGINT},
      </if>
      <if test="of_id != null" >
        of_id = #{of_id,jdbcType=BIGINT},
      </if>
      <if test="sc_id != null" >
        sc_id = #{sc_id,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="ezs_goodscart" >
    update ezs_goodscart
    set addTime = #{addTime,jdbcType=TIMESTAMP},
      deleteStatus = #{deleteStatus,jdbcType=BIT},
      cart_type = #{cart_type,jdbcType=VARCHAR},
      count = #{count,jdbcType=DOUBLE},
      price = #{price,jdbcType=DECIMAL},
      goods_id = #{goods_id,jdbcType=BIGINT},
      of_id = #{of_id,jdbcType=BIGINT},
      sc_id = #{sc_id,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="selectBeanByStartEndTime" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ezs_goodscart gc where gc.addTime between #{startTime,jdbcType=TIMESTAMP} and #{endTime,jdbcType=TIMESTAMP}
  </select>
  
</mapper>