<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanbang.dao.ezs_customer_paperMapper" >
  <resultMap id="BaseResultMap" type="ezs_customer_paper" >
    <result column="cus_id" property="cus_id" jdbcType="BIGINT" />
    <result column="paper_id" property="paper_id" jdbcType="BIGINT" />
  </resultMap>
  <insert id="insert" parameterType="ezs_customer_paper" >
    insert into ezs_customer_paper (cus_id, paper_id)
    values (#{cus_id,jdbcType=BIGINT}, #{paper_id,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="ezs_customer_paper" >
    insert into ezs_customer_paper
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cus_id != null" >
        cus_id,
      </if>
      <if test="paper_id != null" >
        paper_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cus_id != null" >
        #{cus_id,jdbcType=BIGINT},
      </if>
      <if test="paper_id != null" >
        #{paper_id,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>