<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shanbang.dao.ezs_price_trend_data_acquisitionMapper" >
  <resultMap id="BaseResultMap" type="com.sanbang.bean.ezs_price_trend_data_acquisition" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="addTime" property="addTime" jdbcType="TIMESTAMP" />
    <result column="deleteStatus" property="deleteStatus" jdbcType="BIT" />
    <result column="ash" property="ash" jdbcType="VARCHAR" />
    <result column="bending" property="bending" jdbcType="VARCHAR" />
    <result column="burning" property="burning" jdbcType="VARCHAR" />
    <result column="cantilever" property="cantilever" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="crack" property="crack" jdbcType="VARCHAR" />
    <result column="data_sources" property="data_sources" jdbcType="VARCHAR" />
    <result column="date_from" property="date_from" jdbcType="VARCHAR" />
    <result column="density" property="density" jdbcType="VARCHAR" />
    <result column="flexural" property="flexural" jdbcType="VARCHAR" />
    <result column="freely" property="freely" jdbcType="VARCHAR" />
    <result column="lipolysis" property="lipolysis" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="procurement_standard" property="procurement_standard" jdbcType="VARCHAR" />
    <result column="protection" property="protection" jdbcType="BIT" />
    <result column="provider" property="provider" jdbcType="VARCHAR" />
    <result column="purpose" property="purpose" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="source_tel" property="source_tel" jdbcType="VARCHAR" />
    <result column="specification" property="specification" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="tensile" property="tensile" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="water" property="water" jdbcType="VARCHAR" />
    <result column="color_id" property="color_id" jdbcType="BIGINT" />
    <result column="form_id" property="form_id" jdbcType="BIGINT" />
    <result column="goodClass_id" property="goodClass_id" jdbcType="BIGINT" />
    <result column="region_id" property="region_id" jdbcType="BIGINT" />
    <result column="user_id" property="user_id" jdbcType="BIGINT" />
    <result column="priceAttribute" property="priceAttribute" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, addTime, deleteStatus, ash, bending, burning, cantilever, content, crack, data_sources, 
    date_from, density, flexural, freely, lipolysis, price, procurement_standard, protection, 
    provider, purpose, source, source_tel, specification, status, tensile, type, water, 
    color_id, form_id, goodClass_id, region_id, user_id, priceAttribute
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ezs_price_trend_data_acquisition
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ezs_price_trend_data_acquisition
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sanbang.bean.ezs_price_trend_data_acquisition" >
    insert into ezs_price_trend_data_acquisition (id, addTime, deleteStatus, 
      ash, bending, burning, 
      cantilever, content, crack, 
      data_sources, date_from, density, 
      flexural, freely, lipolysis, 
      price, procurement_standard, protection, 
      provider, purpose, source, 
      source_tel, specification, status, 
      tensile, type, water, 
      color_id, form_id, goodClass_id, 
      region_id, user_id, priceAttribute
      )
    values (#{id,jdbcType=BIGINT}, #{addTime,jdbcType=TIMESTAMP}, #{deleteStatus,jdbcType=BIT}, 
      #{ash,jdbcType=VARCHAR}, #{bending,jdbcType=VARCHAR}, #{burning,jdbcType=VARCHAR}, 
      #{cantilever,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{crack,jdbcType=VARCHAR}, 
      #{data_sources,jdbcType=VARCHAR}, #{date_from,jdbcType=VARCHAR}, #{density,jdbcType=VARCHAR}, 
      #{flexural,jdbcType=VARCHAR}, #{freely,jdbcType=VARCHAR}, #{lipolysis,jdbcType=VARCHAR}, 
      #{price,jdbcType=DOUBLE}, #{procurement_standard,jdbcType=VARCHAR}, #{protection,jdbcType=BIT}, 
      #{provider,jdbcType=VARCHAR}, #{purpose,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, 
      #{source_tel,jdbcType=VARCHAR}, #{specification,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{tensile,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{water,jdbcType=VARCHAR}, 
      #{color_id,jdbcType=BIGINT}, #{form_id,jdbcType=BIGINT}, #{goodClass_id,jdbcType=BIGINT}, 
      #{region_id,jdbcType=BIGINT}, #{user_id,jdbcType=BIGINT}, #{priceAttribute,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sanbang.bean.ezs_price_trend_data_acquisition" >
    insert into ezs_price_trend_data_acquisition
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="addTime != null" >
        addTime,
      </if>
      <if test="deleteStatus != null" >
        deleteStatus,
      </if>
      <if test="ash != null" >
        ash,
      </if>
      <if test="bending != null" >
        bending,
      </if>
      <if test="burning != null" >
        burning,
      </if>
      <if test="cantilever != null" >
        cantilever,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="crack != null" >
        crack,
      </if>
      <if test="data_sources != null" >
        data_sources,
      </if>
      <if test="date_from != null" >
        date_from,
      </if>
      <if test="density != null" >
        density,
      </if>
      <if test="flexural != null" >
        flexural,
      </if>
      <if test="freely != null" >
        freely,
      </if>
      <if test="lipolysis != null" >
        lipolysis,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="procurement_standard != null" >
        procurement_standard,
      </if>
      <if test="protection != null" >
        protection,
      </if>
      <if test="provider != null" >
        provider,
      </if>
      <if test="purpose != null" >
        purpose,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="source_tel != null" >
        source_tel,
      </if>
      <if test="specification != null" >
        specification,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="tensile != null" >
        tensile,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="water != null" >
        water,
      </if>
      <if test="color_id != null" >
        color_id,
      </if>
      <if test="form_id != null" >
        form_id,
      </if>
      <if test="goodClass_id != null" >
        goodClass_id,
      </if>
      <if test="region_id != null" >
        region_id,
      </if>
      <if test="user_id != null" >
        user_id,
      </if>
      <if test="priceAttribute != null" >
        priceAttribute,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null" >
        #{deleteStatus,jdbcType=BIT},
      </if>
      <if test="ash != null" >
        #{ash,jdbcType=VARCHAR},
      </if>
      <if test="bending != null" >
        #{bending,jdbcType=VARCHAR},
      </if>
      <if test="burning != null" >
        #{burning,jdbcType=VARCHAR},
      </if>
      <if test="cantilever != null" >
        #{cantilever,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="crack != null" >
        #{crack,jdbcType=VARCHAR},
      </if>
      <if test="data_sources != null" >
        #{data_sources,jdbcType=VARCHAR},
      </if>
      <if test="date_from != null" >
        #{date_from,jdbcType=VARCHAR},
      </if>
      <if test="density != null" >
        #{density,jdbcType=VARCHAR},
      </if>
      <if test="flexural != null" >
        #{flexural,jdbcType=VARCHAR},
      </if>
      <if test="freely != null" >
        #{freely,jdbcType=VARCHAR},
      </if>
      <if test="lipolysis != null" >
        #{lipolysis,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="procurement_standard != null" >
        #{procurement_standard,jdbcType=VARCHAR},
      </if>
      <if test="protection != null" >
        #{protection,jdbcType=BIT},
      </if>
      <if test="provider != null" >
        #{provider,jdbcType=VARCHAR},
      </if>
      <if test="purpose != null" >
        #{purpose,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="source_tel != null" >
        #{source_tel,jdbcType=VARCHAR},
      </if>
      <if test="specification != null" >
        #{specification,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="tensile != null" >
        #{tensile,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="water != null" >
        #{water,jdbcType=VARCHAR},
      </if>
      <if test="color_id != null" >
        #{color_id,jdbcType=BIGINT},
      </if>
      <if test="form_id != null" >
        #{form_id,jdbcType=BIGINT},
      </if>
      <if test="goodClass_id != null" >
        #{goodClass_id,jdbcType=BIGINT},
      </if>
      <if test="region_id != null" >
        #{region_id,jdbcType=BIGINT},
      </if>
      <if test="user_id != null" >
        #{user_id,jdbcType=BIGINT},
      </if>
      <if test="priceAttribute != null" >
        #{priceAttribute,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sanbang.bean.ezs_price_trend_data_acquisition" >
    update ezs_price_trend_data_acquisition
    <set >
      <if test="addTime != null" >
        addTime = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null" >
        deleteStatus = #{deleteStatus,jdbcType=BIT},
      </if>
      <if test="ash != null" >
        ash = #{ash,jdbcType=VARCHAR},
      </if>
      <if test="bending != null" >
        bending = #{bending,jdbcType=VARCHAR},
      </if>
      <if test="burning != null" >
        burning = #{burning,jdbcType=VARCHAR},
      </if>
      <if test="cantilever != null" >
        cantilever = #{cantilever,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="crack != null" >
        crack = #{crack,jdbcType=VARCHAR},
      </if>
      <if test="data_sources != null" >
        data_sources = #{data_sources,jdbcType=VARCHAR},
      </if>
      <if test="date_from != null" >
        date_from = #{date_from,jdbcType=VARCHAR},
      </if>
      <if test="density != null" >
        density = #{density,jdbcType=VARCHAR},
      </if>
      <if test="flexural != null" >
        flexural = #{flexural,jdbcType=VARCHAR},
      </if>
      <if test="freely != null" >
        freely = #{freely,jdbcType=VARCHAR},
      </if>
      <if test="lipolysis != null" >
        lipolysis = #{lipolysis,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="procurement_standard != null" >
        procurement_standard = #{procurement_standard,jdbcType=VARCHAR},
      </if>
      <if test="protection != null" >
        protection = #{protection,jdbcType=BIT},
      </if>
      <if test="provider != null" >
        provider = #{provider,jdbcType=VARCHAR},
      </if>
      <if test="purpose != null" >
        purpose = #{purpose,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="source_tel != null" >
        source_tel = #{source_tel,jdbcType=VARCHAR},
      </if>
      <if test="specification != null" >
        specification = #{specification,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="tensile != null" >
        tensile = #{tensile,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="water != null" >
        water = #{water,jdbcType=VARCHAR},
      </if>
      <if test="color_id != null" >
        color_id = #{color_id,jdbcType=BIGINT},
      </if>
      <if test="form_id != null" >
        form_id = #{form_id,jdbcType=BIGINT},
      </if>
      <if test="goodClass_id != null" >
        goodClass_id = #{goodClass_id,jdbcType=BIGINT},
      </if>
      <if test="region_id != null" >
        region_id = #{region_id,jdbcType=BIGINT},
      </if>
      <if test="user_id != null" >
        user_id = #{user_id,jdbcType=BIGINT},
      </if>
      <if test="priceAttribute != null" >
        priceAttribute = #{priceAttribute,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanbang.bean.ezs_price_trend_data_acquisition" >
    update ezs_price_trend_data_acquisition
    set addTime = #{addTime,jdbcType=TIMESTAMP},
      deleteStatus = #{deleteStatus,jdbcType=BIT},
      ash = #{ash,jdbcType=VARCHAR},
      bending = #{bending,jdbcType=VARCHAR},
      burning = #{burning,jdbcType=VARCHAR},
      cantilever = #{cantilever,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      crack = #{crack,jdbcType=VARCHAR},
      data_sources = #{data_sources,jdbcType=VARCHAR},
      date_from = #{date_from,jdbcType=VARCHAR},
      density = #{density,jdbcType=VARCHAR},
      flexural = #{flexural,jdbcType=VARCHAR},
      freely = #{freely,jdbcType=VARCHAR},
      lipolysis = #{lipolysis,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      procurement_standard = #{procurement_standard,jdbcType=VARCHAR},
      protection = #{protection,jdbcType=BIT},
      provider = #{provider,jdbcType=VARCHAR},
      purpose = #{purpose,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      source_tel = #{source_tel,jdbcType=VARCHAR},
      specification = #{specification,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      tensile = #{tensile,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      water = #{water,jdbcType=VARCHAR},
      color_id = #{color_id,jdbcType=BIGINT},
      form_id = #{form_id,jdbcType=BIGINT},
      goodClass_id = #{goodClass_id,jdbcType=BIGINT},
      region_id = #{region_id,jdbcType=BIGINT},
      user_id = #{user_id,jdbcType=BIGINT},
      priceAttribute = #{priceAttribute,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>