<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanbang.dao.ezs_customerMapper" >
  <resultMap id="BaseResultMap" type="ezs_customer" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="addTime" property="addTime" jdbcType="TIMESTAMP" />
    <result column="deleteStatus" property="deleteStatus" jdbcType="BIT" />
    <result column="XRF" property="XRF" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="admin_status" property="admin_status" jdbcType="INTEGER" />
    <result column="baler" property="baler" jdbcType="VARCHAR" />
    <result column="bill" property="bill" jdbcType="BIT" />
    <result column="clean" property="clean" jdbcType="VARCHAR" />
    <result column="clean_ability" property="clean_ability" jdbcType="VARCHAR" />
    <result column="clean_num" property="clean_num" jdbcType="VARCHAR" />
    <result column="colorimeter" property="colorimeter" jdbcType="VARCHAR" />
    <result column="companyName" property="companyName" jdbcType="VARCHAR" />
    <result column="crit" property="crit" jdbcType="VARCHAR" />
    <result column="crusher" property="crusher" jdbcType="VARCHAR" />
    <result column="crusher_ability" property="crusher_ability" jdbcType="VARCHAR" />
    <result column="crusher_num" property="crusher_num" jdbcType="VARCHAR" />
    <result column="cus_status" property="cus_status" jdbcType="INTEGER" />
    <result column="dcm" property="dcm" jdbcType="VARCHAR" />
    <result column="digitalMachine" property="digitalMachine" jdbcType="VARCHAR" />
    <result column="egpt" property="egpt" jdbcType="VARCHAR" />
    <result column="eleDen" property="eleDen" jdbcType="VARCHAR" />
    <result column="enable" property="enable" jdbcType="BIT" />
    <result column="fgd" property="fgd" jdbcType="VARCHAR" />
    <result column="granulation" property="granulation" jdbcType="VARCHAR" />
    <result column="granulation_ability" property="granulation_ability" jdbcType="VARCHAR" />
    <result column="granulation_num" property="granulation_num" jdbcType="VARCHAR" />
    <result column="haveDevice" property="haveDevice" jdbcType="VARCHAR" />
    <result column="hdvst" property="hdvst" jdbcType="VARCHAR" />
    <result column="hz_truck" property="hz_truck" jdbcType="VARCHAR" />
    <result column="hz_truck_ability" property="hz_truck_ability" jdbcType="VARCHAR" />
    <result column="hz_truck_ability1" property="hz_truck_ability1" jdbcType="VARCHAR" />
    <result column="hz_truck_ability_weight" property="hz_truck_ability_weight" jdbcType="VARCHAR" />
    <result column="hz_truck_ability_weight1" property="hz_truck_ability_weight1" jdbcType="VARCHAR" />
    <result column="hz_truck_lxr" property="hz_truck_lxr" jdbcType="VARCHAR" />
    <result column="hz_truck_lxr1" property="hz_truck_lxr1" jdbcType="VARCHAR" />
    <result column="hz_truck_tel" property="hz_truck_tel" jdbcType="VARCHAR" />
    <result column="hz_truck_tel1" property="hz_truck_tel1" jdbcType="VARCHAR" />
    <result column="importDate" property="importDate" jdbcType="TIMESTAMP" />
    <result column="itester" property="itester" jdbcType="VARCHAR" />
    <result column="loadometer" property="loadometer" jdbcType="VARCHAR" />
    <result column="maFulu" property="maFulu" jdbcType="VARCHAR" />
    <result column="mainDody" property="mainDody" jdbcType="INTEGER" />
    <result column="mcutm" property="mcutm" jdbcType="VARCHAR" />
    <result column="meltIndexer" property="meltIndexer" jdbcType="VARCHAR" />
    <result column="meltedFinger" property="meltedFinger" jdbcType="VARCHAR" />
    <result column="mianIndustry" property="mianIndustry" jdbcType="VARCHAR" />
    <result column="mold" property="mold" jdbcType="VARCHAR" />
    <result column="mold_ability" property="mold_ability" jdbcType="VARCHAR" />
    <result column="mold_num" property="mold_num" jdbcType="VARCHAR" />
    <result column="monthlyTurnover" property="monthlyTurnover" jdbcType="VARCHAR" />
    <result column="oven" property="oven" jdbcType="VARCHAR" />
    <result column="point" property="point" jdbcType="DOUBLE" />
    <result column="rocHardo" property="rocHardo" jdbcType="VARCHAR" />
    <result column="role" property="role" jdbcType="VARCHAR" />
    <result column="sewage" property="sewage" jdbcType="VARCHAR" />
    <result column="sewage_ability" property="sewage_ability" jdbcType="VARCHAR" />
    <result column="shoreDurometer" property="shoreDurometer" jdbcType="VARCHAR" />
    <result column="site" property="site" jdbcType="VARCHAR" />
    <result column="stretcher" property="stretcher" jdbcType="VARCHAR" />
    <result column="testDevice" property="testDevice" jdbcType="VARCHAR" />
    <result column="tga" property="tga" jdbcType="VARCHAR" />
    <result column="truck" property="truck" jdbcType="VARCHAR" />
    <result column="truck_load" property="truck_load" jdbcType="VARCHAR" />
    <result column="truck_num" property="truck_num" jdbcType="VARCHAR" />
    <result column="truck_uninstall" property="truck_uninstall" jdbcType="VARCHAR" />
    <result column="worker_num" property="worker_num" jdbcType="VARCHAR" />
    <result column="xRayFluSpe" property="xRayFluSpe" jdbcType="VARCHAR" />
    <result column="year" property="year" jdbcType="VARCHAR" />
    <result column="area_id" property="area_id" jdbcType="BIGINT" />
    <result column="communicate_id" property="communicate_id" jdbcType="BIGINT" />
    <result column="group_id" property="group_id" jdbcType="BIGINT" />
    <result column="level_id" property="level_id" jdbcType="BIGINT" />
    <result column="paper_id" property="paper_id" jdbcType="BIGINT" />
    <result column="source_id" property="source_id" jdbcType="BIGINT" />
    <result column="store_id" property="store_id" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, addTime, deleteStatus, XRF, address, admin_status, baler, bill, clean, clean_ability, 
    clean_num, colorimeter, companyName, crit, crusher, crusher_ability, crusher_num, 
    cus_status, dcm, digitalMachine, egpt, eleDen, enable, fgd, granulation, granulation_ability, 
    granulation_num, haveDevice, hdvst, hz_truck, hz_truck_ability, hz_truck_ability1, 
    hz_truck_ability_weight, hz_truck_ability_weight1, hz_truck_lxr, hz_truck_lxr1, hz_truck_tel, 
    hz_truck_tel1, importDate, itester, loadometer, maFulu, mainDody, mcutm, meltIndexer, 
    meltedFinger, mianIndustry, mold, mold_ability, mold_num, monthlyTurnover, oven, 
    point, rocHardo, role, sewage, sewage_ability, shoreDurometer, site, stretcher, testDevice, 
    tga, truck, truck_load, truck_num, truck_uninstall, worker_num, xRayFluSpe, year, 
    area_id, communicate_id, group_id, level_id, paper_id, source_id, store_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ezs_customer
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ezs_customer
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="ezs_customer" >
    insert into ezs_customer (id, addTime, deleteStatus, 
      XRF, address, admin_status, 
      baler, bill, clean, clean_ability, 
      clean_num, colorimeter, companyName, 
      crit, crusher, crusher_ability, 
      crusher_num, cus_status, dcm, 
      digitalMachine, egpt, eleDen, 
      enable, fgd, granulation, 
      granulation_ability, granulation_num, haveDevice, 
      hdvst, hz_truck, hz_truck_ability, 
      hz_truck_ability1, hz_truck_ability_weight, 
      hz_truck_ability_weight1, hz_truck_lxr, 
      hz_truck_lxr1, hz_truck_tel, hz_truck_tel1, 
      importDate, itester, loadometer, 
      maFulu, mainDody, mcutm, 
      meltIndexer, meltedFinger, mianIndustry, 
      mold, mold_ability, mold_num, 
      monthlyTurnover, oven, point, 
      rocHardo, role, sewage, 
      sewage_ability, shoreDurometer, site, 
      stretcher, testDevice, tga, 
      truck, truck_load, truck_num, 
      truck_uninstall, worker_num, xRayFluSpe, 
      year, area_id, communicate_id, 
      group_id, level_id, paper_id, 
      source_id, store_id)
    values (#{id,jdbcType=BIGINT}, #{addTime,jdbcType=TIMESTAMP}, #{deleteStatus,jdbcType=BIT}, 
      #{XRF,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{admin_status,jdbcType=INTEGER}, 
      #{baler,jdbcType=VARCHAR}, #{bill,jdbcType=BIT}, #{clean,jdbcType=VARCHAR}, #{clean_ability,jdbcType=VARCHAR}, 
      #{clean_num,jdbcType=VARCHAR}, #{colorimeter,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, 
      #{crit,jdbcType=VARCHAR}, #{crusher,jdbcType=VARCHAR}, #{crusher_ability,jdbcType=VARCHAR}, 
      #{crusher_num,jdbcType=VARCHAR}, #{cus_status,jdbcType=INTEGER}, #{dcm,jdbcType=VARCHAR}, 
      #{digitalMachine,jdbcType=VARCHAR}, #{egpt,jdbcType=VARCHAR}, #{eleDen,jdbcType=VARCHAR}, 
      #{enable,jdbcType=BIT}, #{fgd,jdbcType=VARCHAR}, #{granulation,jdbcType=VARCHAR}, 
      #{granulation_ability,jdbcType=VARCHAR}, #{granulation_num,jdbcType=VARCHAR}, #{haveDevice,jdbcType=VARCHAR}, 
      #{hdvst,jdbcType=VARCHAR}, #{hz_truck,jdbcType=VARCHAR}, #{hz_truck_ability,jdbcType=VARCHAR}, 
      #{hz_truck_ability1,jdbcType=VARCHAR}, #{hz_truck_ability_weight,jdbcType=VARCHAR}, 
      #{hz_truck_ability_weight1,jdbcType=VARCHAR}, #{hz_truck_lxr,jdbcType=VARCHAR}, 
      #{hz_truck_lxr1,jdbcType=VARCHAR}, #{hz_truck_tel,jdbcType=VARCHAR}, #{hz_truck_tel1,jdbcType=VARCHAR}, 
      #{importDate,jdbcType=TIMESTAMP}, #{itester,jdbcType=VARCHAR}, #{loadometer,jdbcType=VARCHAR}, 
      #{maFulu,jdbcType=VARCHAR}, #{mainDody,jdbcType=INTEGER}, #{mcutm,jdbcType=VARCHAR}, 
      #{meltIndexer,jdbcType=VARCHAR}, #{meltedFinger,jdbcType=VARCHAR}, #{mianIndustry,jdbcType=VARCHAR}, 
      #{mold,jdbcType=VARCHAR}, #{mold_ability,jdbcType=VARCHAR}, #{mold_num,jdbcType=VARCHAR}, 
      #{monthlyTurnover,jdbcType=VARCHAR}, #{oven,jdbcType=VARCHAR}, #{point,jdbcType=DOUBLE}, 
      #{rocHardo,jdbcType=VARCHAR}, #{role,jdbcType=VARCHAR}, #{sewage,jdbcType=VARCHAR}, 
      #{sewage_ability,jdbcType=VARCHAR}, #{shoreDurometer,jdbcType=VARCHAR}, #{site,jdbcType=VARCHAR}, 
      #{stretcher,jdbcType=VARCHAR}, #{testDevice,jdbcType=VARCHAR}, #{tga,jdbcType=VARCHAR}, 
      #{truck,jdbcType=VARCHAR}, #{truck_load,jdbcType=VARCHAR}, #{truck_num,jdbcType=VARCHAR}, 
      #{truck_uninstall,jdbcType=VARCHAR}, #{worker_num,jdbcType=VARCHAR}, #{xRayFluSpe,jdbcType=VARCHAR}, 
      #{year,jdbcType=VARCHAR}, #{area_id,jdbcType=BIGINT}, #{communicate_id,jdbcType=BIGINT}, 
      #{group_id,jdbcType=BIGINT}, #{level_id,jdbcType=BIGINT}, #{paper_id,jdbcType=BIGINT}, 
      #{source_id,jdbcType=BIGINT}, #{store_id,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="ezs_customer" >
    insert into ezs_customer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="addTime != null" >
        addTime,
      </if>
      <if test="deleteStatus != null" >
        deleteStatus,
      </if>
      <if test="XRF != null" >
        XRF,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="admin_status != null" >
        admin_status,
      </if>
      <if test="baler != null" >
        baler,
      </if>
      <if test="bill != null" >
        bill,
      </if>
      <if test="clean != null" >
        clean,
      </if>
      <if test="clean_ability != null" >
        clean_ability,
      </if>
      <if test="clean_num != null" >
        clean_num,
      </if>
      <if test="colorimeter != null" >
        colorimeter,
      </if>
      <if test="companyName != null" >
        companyName,
      </if>
      <if test="crit != null" >
        crit,
      </if>
      <if test="crusher != null" >
        crusher,
      </if>
      <if test="crusher_ability != null" >
        crusher_ability,
      </if>
      <if test="crusher_num != null" >
        crusher_num,
      </if>
      <if test="cus_status != null" >
        cus_status,
      </if>
      <if test="dcm != null" >
        dcm,
      </if>
      <if test="digitalMachine != null" >
        digitalMachine,
      </if>
      <if test="egpt != null" >
        egpt,
      </if>
      <if test="eleDen != null" >
        eleDen,
      </if>
      <if test="enable != null" >
        enable,
      </if>
      <if test="fgd != null" >
        fgd,
      </if>
      <if test="granulation != null" >
        granulation,
      </if>
      <if test="granulation_ability != null" >
        granulation_ability,
      </if>
      <if test="granulation_num != null" >
        granulation_num,
      </if>
      <if test="haveDevice != null" >
        haveDevice,
      </if>
      <if test="hdvst != null" >
        hdvst,
      </if>
      <if test="hz_truck != null" >
        hz_truck,
      </if>
      <if test="hz_truck_ability != null" >
        hz_truck_ability,
      </if>
      <if test="hz_truck_ability1 != null" >
        hz_truck_ability1,
      </if>
      <if test="hz_truck_ability_weight != null" >
        hz_truck_ability_weight,
      </if>
      <if test="hz_truck_ability_weight1 != null" >
        hz_truck_ability_weight1,
      </if>
      <if test="hz_truck_lxr != null" >
        hz_truck_lxr,
      </if>
      <if test="hz_truck_lxr1 != null" >
        hz_truck_lxr1,
      </if>
      <if test="hz_truck_tel != null" >
        hz_truck_tel,
      </if>
      <if test="hz_truck_tel1 != null" >
        hz_truck_tel1,
      </if>
      <if test="importDate != null" >
        importDate,
      </if>
      <if test="itester != null" >
        itester,
      </if>
      <if test="loadometer != null" >
        loadometer,
      </if>
      <if test="maFulu != null" >
        maFulu,
      </if>
      <if test="mainDody != null" >
        mainDody,
      </if>
      <if test="mcutm != null" >
        mcutm,
      </if>
      <if test="meltIndexer != null" >
        meltIndexer,
      </if>
      <if test="meltedFinger != null" >
        meltedFinger,
      </if>
      <if test="mianIndustry != null" >
        mianIndustry,
      </if>
      <if test="mold != null" >
        mold,
      </if>
      <if test="mold_ability != null" >
        mold_ability,
      </if>
      <if test="mold_num != null" >
        mold_num,
      </if>
      <if test="monthlyTurnover != null" >
        monthlyTurnover,
      </if>
      <if test="oven != null" >
        oven,
      </if>
      <if test="point != null" >
        point,
      </if>
      <if test="rocHardo != null" >
        rocHardo,
      </if>
      <if test="role != null" >
        role,
      </if>
      <if test="sewage != null" >
        sewage,
      </if>
      <if test="sewage_ability != null" >
        sewage_ability,
      </if>
      <if test="shoreDurometer != null" >
        shoreDurometer,
      </if>
      <if test="site != null" >
        site,
      </if>
      <if test="stretcher != null" >
        stretcher,
      </if>
      <if test="testDevice != null" >
        testDevice,
      </if>
      <if test="tga != null" >
        tga,
      </if>
      <if test="truck != null" >
        truck,
      </if>
      <if test="truck_load != null" >
        truck_load,
      </if>
      <if test="truck_num != null" >
        truck_num,
      </if>
      <if test="truck_uninstall != null" >
        truck_uninstall,
      </if>
      <if test="worker_num != null" >
        worker_num,
      </if>
      <if test="xRayFluSpe != null" >
        xRayFluSpe,
      </if>
      <if test="year != null" >
        year,
      </if>
      <if test="area_id != null" >
        area_id,
      </if>
      <if test="communicate_id != null" >
        communicate_id,
      </if>
      <if test="group_id != null" >
        group_id,
      </if>
      <if test="level_id != null" >
        level_id,
      </if>
      <if test="paper_id != null" >
        paper_id,
      </if>
      <if test="source_id != null" >
        source_id,
      </if>
      <if test="store_id != null" >
        store_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null" >
        #{deleteStatus,jdbcType=BIT},
      </if>
      <if test="XRF != null" >
        #{XRF,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="admin_status != null" >
        #{admin_status,jdbcType=INTEGER},
      </if>
      <if test="baler != null" >
        #{baler,jdbcType=VARCHAR},
      </if>
      <if test="bill != null" >
        #{bill,jdbcType=BIT},
      </if>
      <if test="clean != null" >
        #{clean,jdbcType=VARCHAR},
      </if>
      <if test="clean_ability != null" >
        #{clean_ability,jdbcType=VARCHAR},
      </if>
      <if test="clean_num != null" >
        #{clean_num,jdbcType=VARCHAR},
      </if>
      <if test="colorimeter != null" >
        #{colorimeter,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="crit != null" >
        #{crit,jdbcType=VARCHAR},
      </if>
      <if test="crusher != null" >
        #{crusher,jdbcType=VARCHAR},
      </if>
      <if test="crusher_ability != null" >
        #{crusher_ability,jdbcType=VARCHAR},
      </if>
      <if test="crusher_num != null" >
        #{crusher_num,jdbcType=VARCHAR},
      </if>
      <if test="cus_status != null" >
        #{cus_status,jdbcType=INTEGER},
      </if>
      <if test="dcm != null" >
        #{dcm,jdbcType=VARCHAR},
      </if>
      <if test="digitalMachine != null" >
        #{digitalMachine,jdbcType=VARCHAR},
      </if>
      <if test="egpt != null" >
        #{egpt,jdbcType=VARCHAR},
      </if>
      <if test="eleDen != null" >
        #{eleDen,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=BIT},
      </if>
      <if test="fgd != null" >
        #{fgd,jdbcType=VARCHAR},
      </if>
      <if test="granulation != null" >
        #{granulation,jdbcType=VARCHAR},
      </if>
      <if test="granulation_ability != null" >
        #{granulation_ability,jdbcType=VARCHAR},
      </if>
      <if test="granulation_num != null" >
        #{granulation_num,jdbcType=VARCHAR},
      </if>
      <if test="haveDevice != null" >
        #{haveDevice,jdbcType=VARCHAR},
      </if>
      <if test="hdvst != null" >
        #{hdvst,jdbcType=VARCHAR},
      </if>
      <if test="hz_truck != null" >
        #{hz_truck,jdbcType=VARCHAR},
      </if>
      <if test="hz_truck_ability != null" >
        #{hz_truck_ability,jdbcType=VARCHAR},
      </if>
      <if test="hz_truck_ability1 != null" >
        #{hz_truck_ability1,jdbcType=VARCHAR},
      </if>
      <if test="hz_truck_ability_weight != null" >
        #{hz_truck_ability_weight,jdbcType=VARCHAR},
      </if>
      <if test="hz_truck_ability_weight1 != null" >
        #{hz_truck_ability_weight1,jdbcType=VARCHAR},
      </if>
      <if test="hz_truck_lxr != null" >
        #{hz_truck_lxr,jdbcType=VARCHAR},
      </if>
      <if test="hz_truck_lxr1 != null" >
        #{hz_truck_lxr1,jdbcType=VARCHAR},
      </if>
      <if test="hz_truck_tel != null" >
        #{hz_truck_tel,jdbcType=VARCHAR},
      </if>
      <if test="hz_truck_tel1 != null" >
        #{hz_truck_tel1,jdbcType=VARCHAR},
      </if>
      <if test="importDate != null" >
        #{importDate,jdbcType=TIMESTAMP},
      </if>
      <if test="itester != null" >
        #{itester,jdbcType=VARCHAR},
      </if>
      <if test="loadometer != null" >
        #{loadometer,jdbcType=VARCHAR},
      </if>
      <if test="maFulu != null" >
        #{maFulu,jdbcType=VARCHAR},
      </if>
      <if test="mainDody != null" >
        #{mainDody,jdbcType=INTEGER},
      </if>
      <if test="mcutm != null" >
        #{mcutm,jdbcType=VARCHAR},
      </if>
      <if test="meltIndexer != null" >
        #{meltIndexer,jdbcType=VARCHAR},
      </if>
      <if test="meltedFinger != null" >
        #{meltedFinger,jdbcType=VARCHAR},
      </if>
      <if test="mianIndustry != null" >
        #{mianIndustry,jdbcType=VARCHAR},
      </if>
      <if test="mold != null" >
        #{mold,jdbcType=VARCHAR},
      </if>
      <if test="mold_ability != null" >
        #{mold_ability,jdbcType=VARCHAR},
      </if>
      <if test="mold_num != null" >
        #{mold_num,jdbcType=VARCHAR},
      </if>
      <if test="monthlyTurnover != null" >
        #{monthlyTurnover,jdbcType=VARCHAR},
      </if>
      <if test="oven != null" >
        #{oven,jdbcType=VARCHAR},
      </if>
      <if test="point != null" >
        #{point,jdbcType=DOUBLE},
      </if>
      <if test="rocHardo != null" >
        #{rocHardo,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        #{role,jdbcType=VARCHAR},
      </if>
      <if test="sewage != null" >
        #{sewage,jdbcType=VARCHAR},
      </if>
      <if test="sewage_ability != null" >
        #{sewage_ability,jdbcType=VARCHAR},
      </if>
      <if test="shoreDurometer != null" >
        #{shoreDurometer,jdbcType=VARCHAR},
      </if>
      <if test="site != null" >
        #{site,jdbcType=VARCHAR},
      </if>
      <if test="stretcher != null" >
        #{stretcher,jdbcType=VARCHAR},
      </if>
      <if test="testDevice != null" >
        #{testDevice,jdbcType=VARCHAR},
      </if>
      <if test="tga != null" >
        #{tga,jdbcType=VARCHAR},
      </if>
      <if test="truck != null" >
        #{truck,jdbcType=VARCHAR},
      </if>
      <if test="truck_load != null" >
        #{truck_load,jdbcType=VARCHAR},
      </if>
      <if test="truck_num != null" >
        #{truck_num,jdbcType=VARCHAR},
      </if>
      <if test="truck_uninstall != null" >
        #{truck_uninstall,jdbcType=VARCHAR},
      </if>
      <if test="worker_num != null" >
        #{worker_num,jdbcType=VARCHAR},
      </if>
      <if test="xRayFluSpe != null" >
        #{xRayFluSpe,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="area_id != null" >
        #{area_id,jdbcType=BIGINT},
      </if>
      <if test="communicate_id != null" >
        #{communicate_id,jdbcType=BIGINT},
      </if>
      <if test="group_id != null" >
        #{group_id,jdbcType=BIGINT},
      </if>
      <if test="level_id != null" >
        #{level_id,jdbcType=BIGINT},
      </if>
      <if test="paper_id != null" >
        #{paper_id,jdbcType=BIGINT},
      </if>
      <if test="source_id != null" >
        #{source_id,jdbcType=BIGINT},
      </if>
      <if test="store_id != null" >
        #{store_id,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ezs_customer" >
    update ezs_customer
    <set >
      <if test="addTime != null" >
        addTime = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null" >
        deleteStatus = #{deleteStatus,jdbcType=BIT},
      </if>
      <if test="XRF != null" >
        XRF = #{XRF,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="admin_status != null" >
        admin_status = #{admin_status,jdbcType=INTEGER},
      </if>
      <if test="baler != null" >
        baler = #{baler,jdbcType=VARCHAR},
      </if>
      <if test="bill != null" >
        bill = #{bill,jdbcType=BIT},
      </if>
      <if test="clean != null" >
        clean = #{clean,jdbcType=VARCHAR},
      </if>
      <if test="clean_ability != null" >
        clean_ability = #{clean_ability,jdbcType=VARCHAR},
      </if>
      <if test="clean_num != null" >
        clean_num = #{clean_num,jdbcType=VARCHAR},
      </if>
      <if test="colorimeter != null" >
        colorimeter = #{colorimeter,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        companyName = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="crit != null" >
        crit = #{crit,jdbcType=VARCHAR},
      </if>
      <if test="crusher != null" >
        crusher = #{crusher,jdbcType=VARCHAR},
      </if>
      <if test="crusher_ability != null" >
        crusher_ability = #{crusher_ability,jdbcType=VARCHAR},
      </if>
      <if test="crusher_num != null" >
        crusher_num = #{crusher_num,jdbcType=VARCHAR},
      </if>
      <if test="cus_status != null" >
        cus_status = #{cus_status,jdbcType=INTEGER},
      </if>
      <if test="dcm != null" >
        dcm = #{dcm,jdbcType=VARCHAR},
      </if>
      <if test="digitalMachine != null" >
        digitalMachine = #{digitalMachine,jdbcType=VARCHAR},
      </if>
      <if test="egpt != null" >
        egpt = #{egpt,jdbcType=VARCHAR},
      </if>
      <if test="eleDen != null" >
        eleDen = #{eleDen,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=BIT},
      </if>
      <if test="fgd != null" >
        fgd = #{fgd,jdbcType=VARCHAR},
      </if>
      <if test="granulation != null" >
        granulation = #{granulation,jdbcType=VARCHAR},
      </if>
      <if test="granulation_ability != null" >
        granulation_ability = #{granulation_ability,jdbcType=VARCHAR},
      </if>
      <if test="granulation_num != null" >
        granulation_num = #{granulation_num,jdbcType=VARCHAR},
      </if>
      <if test="haveDevice != null" >
        haveDevice = #{haveDevice,jdbcType=VARCHAR},
      </if>
      <if test="hdvst != null" >
        hdvst = #{hdvst,jdbcType=VARCHAR},
      </if>
      <if test="hz_truck != null" >
        hz_truck = #{hz_truck,jdbcType=VARCHAR},
      </if>
      <if test="hz_truck_ability != null" >
        hz_truck_ability = #{hz_truck_ability,jdbcType=VARCHAR},
      </if>
      <if test="hz_truck_ability1 != null" >
        hz_truck_ability1 = #{hz_truck_ability1,jdbcType=VARCHAR},
      </if>
      <if test="hz_truck_ability_weight != null" >
        hz_truck_ability_weight = #{hz_truck_ability_weight,jdbcType=VARCHAR},
      </if>
      <if test="hz_truck_ability_weight1 != null" >
        hz_truck_ability_weight1 = #{hz_truck_ability_weight1,jdbcType=VARCHAR},
      </if>
      <if test="hz_truck_lxr != null" >
        hz_truck_lxr = #{hz_truck_lxr,jdbcType=VARCHAR},
      </if>
      <if test="hz_truck_lxr1 != null" >
        hz_truck_lxr1 = #{hz_truck_lxr1,jdbcType=VARCHAR},
      </if>
      <if test="hz_truck_tel != null" >
        hz_truck_tel = #{hz_truck_tel,jdbcType=VARCHAR},
      </if>
      <if test="hz_truck_tel1 != null" >
        hz_truck_tel1 = #{hz_truck_tel1,jdbcType=VARCHAR},
      </if>
      <if test="importDate != null" >
        importDate = #{importDate,jdbcType=TIMESTAMP},
      </if>
      <if test="itester != null" >
        itester = #{itester,jdbcType=VARCHAR},
      </if>
      <if test="loadometer != null" >
        loadometer = #{loadometer,jdbcType=VARCHAR},
      </if>
      <if test="maFulu != null" >
        maFulu = #{maFulu,jdbcType=VARCHAR},
      </if>
      <if test="mainDody != null" >
        mainDody = #{mainDody,jdbcType=INTEGER},
      </if>
      <if test="mcutm != null" >
        mcutm = #{mcutm,jdbcType=VARCHAR},
      </if>
      <if test="meltIndexer != null" >
        meltIndexer = #{meltIndexer,jdbcType=VARCHAR},
      </if>
      <if test="meltedFinger != null" >
        meltedFinger = #{meltedFinger,jdbcType=VARCHAR},
      </if>
      <if test="mianIndustry != null" >
        mianIndustry = #{mianIndustry,jdbcType=VARCHAR},
      </if>
      <if test="mold != null" >
        mold = #{mold,jdbcType=VARCHAR},
      </if>
      <if test="mold_ability != null" >
        mold_ability = #{mold_ability,jdbcType=VARCHAR},
      </if>
      <if test="mold_num != null" >
        mold_num = #{mold_num,jdbcType=VARCHAR},
      </if>
      <if test="monthlyTurnover != null" >
        monthlyTurnover = #{monthlyTurnover,jdbcType=VARCHAR},
      </if>
      <if test="oven != null" >
        oven = #{oven,jdbcType=VARCHAR},
      </if>
      <if test="point != null" >
        point = #{point,jdbcType=DOUBLE},
      </if>
      <if test="rocHardo != null" >
        rocHardo = #{rocHardo,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        role = #{role,jdbcType=VARCHAR},
      </if>
      <if test="sewage != null" >
        sewage = #{sewage,jdbcType=VARCHAR},
      </if>
      <if test="sewage_ability != null" >
        sewage_ability = #{sewage_ability,jdbcType=VARCHAR},
      </if>
      <if test="shoreDurometer != null" >
        shoreDurometer = #{shoreDurometer,jdbcType=VARCHAR},
      </if>
      <if test="site != null" >
        site = #{site,jdbcType=VARCHAR},
      </if>
      <if test="stretcher != null" >
        stretcher = #{stretcher,jdbcType=VARCHAR},
      </if>
      <if test="testDevice != null" >
        testDevice = #{testDevice,jdbcType=VARCHAR},
      </if>
      <if test="tga != null" >
        tga = #{tga,jdbcType=VARCHAR},
      </if>
      <if test="truck != null" >
        truck = #{truck,jdbcType=VARCHAR},
      </if>
      <if test="truck_load != null" >
        truck_load = #{truck_load,jdbcType=VARCHAR},
      </if>
      <if test="truck_num != null" >
        truck_num = #{truck_num,jdbcType=VARCHAR},
      </if>
      <if test="truck_uninstall != null" >
        truck_uninstall = #{truck_uninstall,jdbcType=VARCHAR},
      </if>
      <if test="worker_num != null" >
        worker_num = #{worker_num,jdbcType=VARCHAR},
      </if>
      <if test="xRayFluSpe != null" >
        xRayFluSpe = #{xRayFluSpe,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        year = #{year,jdbcType=VARCHAR},
      </if>
      <if test="area_id != null" >
        area_id = #{area_id,jdbcType=BIGINT},
      </if>
      <if test="communicate_id != null" >
        communicate_id = #{communicate_id,jdbcType=BIGINT},
      </if>
      <if test="group_id != null" >
        group_id = #{group_id,jdbcType=BIGINT},
      </if>
      <if test="level_id != null" >
        level_id = #{level_id,jdbcType=BIGINT},
      </if>
      <if test="paper_id != null" >
        paper_id = #{paper_id,jdbcType=BIGINT},
      </if>
      <if test="source_id != null" >
        source_id = #{source_id,jdbcType=BIGINT},
      </if>
      <if test="store_id != null" >
        store_id = #{store_id,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="ezs_customer" >
    update ezs_customer
    set addTime = #{addTime,jdbcType=TIMESTAMP},
      deleteStatus = #{deleteStatus,jdbcType=BIT},
      XRF = #{XRF,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      admin_status = #{admin_status,jdbcType=INTEGER},
      baler = #{baler,jdbcType=VARCHAR},
      bill = #{bill,jdbcType=BIT},
      clean = #{clean,jdbcType=VARCHAR},
      clean_ability = #{clean_ability,jdbcType=VARCHAR},
      clean_num = #{clean_num,jdbcType=VARCHAR},
      colorimeter = #{colorimeter,jdbcType=VARCHAR},
      companyName = #{companyName,jdbcType=VARCHAR},
      crit = #{crit,jdbcType=VARCHAR},
      crusher = #{crusher,jdbcType=VARCHAR},
      crusher_ability = #{crusher_ability,jdbcType=VARCHAR},
      crusher_num = #{crusher_num,jdbcType=VARCHAR},
      cus_status = #{cus_status,jdbcType=INTEGER},
      dcm = #{dcm,jdbcType=VARCHAR},
      digitalMachine = #{digitalMachine,jdbcType=VARCHAR},
      egpt = #{egpt,jdbcType=VARCHAR},
      eleDen = #{eleDen,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=BIT},
      fgd = #{fgd,jdbcType=VARCHAR},
      granulation = #{granulation,jdbcType=VARCHAR},
      granulation_ability = #{granulation_ability,jdbcType=VARCHAR},
      granulation_num = #{granulation_num,jdbcType=VARCHAR},
      haveDevice = #{haveDevice,jdbcType=VARCHAR},
      hdvst = #{hdvst,jdbcType=VARCHAR},
      hz_truck = #{hz_truck,jdbcType=VARCHAR},
      hz_truck_ability = #{hz_truck_ability,jdbcType=VARCHAR},
      hz_truck_ability1 = #{hz_truck_ability1,jdbcType=VARCHAR},
      hz_truck_ability_weight = #{hz_truck_ability_weight,jdbcType=VARCHAR},
      hz_truck_ability_weight1 = #{hz_truck_ability_weight1,jdbcType=VARCHAR},
      hz_truck_lxr = #{hz_truck_lxr,jdbcType=VARCHAR},
      hz_truck_lxr1 = #{hz_truck_lxr1,jdbcType=VARCHAR},
      hz_truck_tel = #{hz_truck_tel,jdbcType=VARCHAR},
      hz_truck_tel1 = #{hz_truck_tel1,jdbcType=VARCHAR},
      importDate = #{importDate,jdbcType=TIMESTAMP},
      itester = #{itester,jdbcType=VARCHAR},
      loadometer = #{loadometer,jdbcType=VARCHAR},
      maFulu = #{maFulu,jdbcType=VARCHAR},
      mainDody = #{mainDody,jdbcType=INTEGER},
      mcutm = #{mcutm,jdbcType=VARCHAR},
      meltIndexer = #{meltIndexer,jdbcType=VARCHAR},
      meltedFinger = #{meltedFinger,jdbcType=VARCHAR},
      mianIndustry = #{mianIndustry,jdbcType=VARCHAR},
      mold = #{mold,jdbcType=VARCHAR},
      mold_ability = #{mold_ability,jdbcType=VARCHAR},
      mold_num = #{mold_num,jdbcType=VARCHAR},
      monthlyTurnover = #{monthlyTurnover,jdbcType=VARCHAR},
      oven = #{oven,jdbcType=VARCHAR},
      point = #{point,jdbcType=DOUBLE},
      rocHardo = #{rocHardo,jdbcType=VARCHAR},
      role = #{role,jdbcType=VARCHAR},
      sewage = #{sewage,jdbcType=VARCHAR},
      sewage_ability = #{sewage_ability,jdbcType=VARCHAR},
      shoreDurometer = #{shoreDurometer,jdbcType=VARCHAR},
      site = #{site,jdbcType=VARCHAR},
      stretcher = #{stretcher,jdbcType=VARCHAR},
      testDevice = #{testDevice,jdbcType=VARCHAR},
      tga = #{tga,jdbcType=VARCHAR},
      truck = #{truck,jdbcType=VARCHAR},
      truck_load = #{truck_load,jdbcType=VARCHAR},
      truck_num = #{truck_num,jdbcType=VARCHAR},
      truck_uninstall = #{truck_uninstall,jdbcType=VARCHAR},
      worker_num = #{worker_num,jdbcType=VARCHAR},
      xRayFluSpe = #{xRayFluSpe,jdbcType=VARCHAR},
      year = #{year,jdbcType=VARCHAR},
      area_id = #{area_id,jdbcType=BIGINT},
      communicate_id = #{communicate_id,jdbcType=BIGINT},
      group_id = #{group_id,jdbcType=BIGINT},
      level_id = #{level_id,jdbcType=BIGINT},
      paper_id = #{paper_id,jdbcType=BIGINT},
      source_id = #{source_id,jdbcType=BIGINT},
      store_id = #{store_id,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="selectByAreaHot" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ezs_customer GROUP BY area_id ORDER BY COUNT(area_id) DESC
  </select>
  
  
  
  
</mapper>