<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanbang.dao.ezs_customizedMapper" >
  <resultMap id="BaseResultMap" type="com.sanbang.bean.ezs_customized" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="addTime" property="addTime" jdbcType="TIMESTAMP" />
    <result column="deleteStatus" property="deleteStatus" jdbcType="BIT" />
    <result column="ash_content" property="ash_content" jdbcType="DOUBLE" />
    <result column="bend_strength" property="bend_strength" jdbcType="DOUBLE" />
    <result column="budget" property="budget" jdbcType="DOUBLE" />
    <result column="colour" property="colour" jdbcType="VARCHAR" />
    <result column="combustion_grade" property="combustion_grade" jdbcType="DOUBLE" />
    <result column="density" property="density" jdbcType="DOUBLE" />
    <result column="elong_break" property="elong_break" jdbcType="DOUBLE" />
    <result column="flexural_modulus" property="flexural_modulus" jdbcType="DOUBLE" />
    <result column="is_ep" property="is_ep" jdbcType="VARCHAR" />
    <result column="jzforce" property="jzforce" jdbcType="DOUBLE" />
    <result column="melt_index" property="melt_index" jdbcType="DOUBLE" />
    <result column="pre_num" property="pre_num" jdbcType="DOUBLE" />
    <result column="pre_time" property="pre_time" jdbcType="TIMESTAMP" />
    <result column="purpose" property="purpose" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="shape" property="shape" jdbcType="VARCHAR" />
    <result column="source_type" property="source_type" jdbcType="VARCHAR" />
    <result column="sourcefrom" property="sourcefrom" jdbcType="VARCHAR" />
    <result column="tensile" property="tensile" jdbcType="DOUBLE" />
    <result column="water_content" property="water_content" jdbcType="DOUBLE" />
    <result column="xbforce" property="xbforce" jdbcType="DOUBLE" />
    <result column="category_id" property="category_id" jdbcType="BIGINT" />
    <result column="purchaser_id" property="purchaser_id" jdbcType="BIGINT" />
    <result column="address" property="address" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, addTime, deleteStatus, ash_content, bend_strength, budget, colour, combustion_grade, 
    density, elong_break, flexural_modulus, is_ep, jzforce, melt_index, pre_num, pre_time, 
    purpose, remark, shape, source_type, sourcefrom, tensile, water_content, xbforce, 
    category_id, purchaser_id, address
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ezs_customized
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ezs_customized
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sanbang.bean.ezs_customized"  useGeneratedKeys="true" keyProperty="id">
    insert into ezs_customized (id, addTime, deleteStatus, 
      ash_content, bend_strength, budget, 
      colour, combustion_grade, density, 
      elong_break, flexural_modulus, is_ep, 
      jzforce, melt_index, pre_num, 
      pre_time, purpose, remark, 
      shape, source_type, sourcefrom, 
      tensile, water_content, xbforce, 
      category_id, purchaser_id, address
      )
    values (#{id,jdbcType=BIGINT}, #{addTime,jdbcType=TIMESTAMP}, #{deleteStatus,jdbcType=BIT}, 
      #{ash_content,jdbcType=DOUBLE}, #{bend_strength,jdbcType=DOUBLE}, #{budget,jdbcType=DOUBLE}, 
      #{colour,jdbcType=VARCHAR}, #{combustion_grade,jdbcType=DOUBLE}, #{density,jdbcType=DOUBLE}, 
      #{elong_break,jdbcType=DOUBLE}, #{flexural_modulus,jdbcType=DOUBLE}, #{is_ep,jdbcType=VARCHAR}, 
      #{jzforce,jdbcType=DOUBLE}, #{melt_index,jdbcType=DOUBLE}, #{pre_num,jdbcType=DOUBLE}, 
      #{pre_time,jdbcType=TIMESTAMP}, #{purpose,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{shape,jdbcType=VARCHAR}, #{source_type,jdbcType=VARCHAR}, #{sourcefrom,jdbcType=VARCHAR}, 
      #{tensile,jdbcType=DOUBLE}, #{water_content,jdbcType=DOUBLE}, #{xbforce,jdbcType=DOUBLE}, 
      #{category_id,jdbcType=BIGINT}, #{purchaser_id,jdbcType=BIGINT}, #{address,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sanbang.bean.ezs_customized"  useGeneratedKeys="true" keyProperty="id">
    insert into ezs_customized
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="addTime != null" >
        addTime,
      </if>
      <if test="deleteStatus != null" >
        deleteStatus,
      </if>
      <if test="ash_content != null" >
        ash_content,
      </if>
      <if test="bend_strength != null" >
        bend_strength,
      </if>
      <if test="budget != null" >
        budget,
      </if>
      <if test="colour != null" >
        colour,
      </if>
      <if test="combustion_grade != null" >
        combustion_grade,
      </if>
      <if test="density != null" >
        density,
      </if>
      <if test="elong_break != null" >
        elong_break,
      </if>
      <if test="flexural_modulus != null" >
        flexural_modulus,
      </if>
      <if test="is_ep != null" >
        is_ep,
      </if>
      <if test="jzforce != null" >
        jzforce,
      </if>
      <if test="melt_index != null" >
        melt_index,
      </if>
      <if test="pre_num != null" >
        pre_num,
      </if>
      <if test="pre_time != null" >
        pre_time,
      </if>
      <if test="purpose != null" >
        purpose,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="shape != null" >
        shape,
      </if>
      <if test="source_type != null" >
        source_type,
      </if>
      <if test="sourcefrom != null" >
        sourcefrom,
      </if>
      <if test="tensile != null" >
        tensile,
      </if>
      <if test="water_content != null" >
        water_content,
      </if>
      <if test="xbforce != null" >
        xbforce,
      </if>
      <if test="category_id != null" >
        category_id,
      </if>
      <if test="purchaser_id != null" >
        purchaser_id,
      </if>
      <if test="address != null" >
        address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null" >
        #{deleteStatus,jdbcType=BIT},
      </if>
      <if test="ash_content != null" >
        #{ash_content,jdbcType=DOUBLE},
      </if>
      <if test="bend_strength != null" >
        #{bend_strength,jdbcType=DOUBLE},
      </if>
      <if test="budget != null" >
        #{budget,jdbcType=DOUBLE},
      </if>
      <if test="colour != null" >
        #{colour,jdbcType=VARCHAR},
      </if>
      <if test="combustion_grade != null" >
        #{combustion_grade,jdbcType=DOUBLE},
      </if>
      <if test="density != null" >
        #{density,jdbcType=DOUBLE},
      </if>
      <if test="elong_break != null" >
        #{elong_break,jdbcType=DOUBLE},
      </if>
      <if test="flexural_modulus != null" >
        #{flexural_modulus,jdbcType=DOUBLE},
      </if>
      <if test="is_ep != null" >
        #{is_ep,jdbcType=VARCHAR},
      </if>
      <if test="jzforce != null" >
        #{jzforce,jdbcType=DOUBLE},
      </if>
      <if test="melt_index != null" >
        #{melt_index,jdbcType=DOUBLE},
      </if>
      <if test="pre_num != null" >
        #{pre_num,jdbcType=DOUBLE},
      </if>
      <if test="pre_time != null" >
        #{pre_time,jdbcType=TIMESTAMP},
      </if>
      <if test="purpose != null" >
        #{purpose,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="shape != null" >
        #{shape,jdbcType=VARCHAR},
      </if>
      <if test="source_type != null" >
        #{source_type,jdbcType=VARCHAR},
      </if>
      <if test="sourcefrom != null" >
        #{sourcefrom,jdbcType=VARCHAR},
      </if>
      <if test="tensile != null" >
        #{tensile,jdbcType=DOUBLE},
      </if>
      <if test="water_content != null" >
        #{water_content,jdbcType=DOUBLE},
      </if>
      <if test="xbforce != null" >
        #{xbforce,jdbcType=DOUBLE},
      </if>
      <if test="category_id != null" >
        #{category_id,jdbcType=BIGINT},
      </if>
      <if test="purchaser_id != null" >
        #{purchaser_id,jdbcType=BIGINT},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sanbang.bean.ezs_customized" >
    update ezs_customized
    <set >
      <if test="addTime != null" >
        addTime = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null" >
        deleteStatus = #{deleteStatus,jdbcType=BIT},
      </if>
      <if test="ash_content != null" >
        ash_content = #{ash_content,jdbcType=DOUBLE},
      </if>
      <if test="bend_strength != null" >
        bend_strength = #{bend_strength,jdbcType=DOUBLE},
      </if>
      <if test="budget != null" >
        budget = #{budget,jdbcType=DOUBLE},
      </if>
      <if test="colour != null" >
        colour = #{colour,jdbcType=VARCHAR},
      </if>
      <if test="combustion_grade != null" >
        combustion_grade = #{combustion_grade,jdbcType=DOUBLE},
      </if>
      <if test="density != null" >
        density = #{density,jdbcType=DOUBLE},
      </if>
      <if test="elong_break != null" >
        elong_break = #{elong_break,jdbcType=DOUBLE},
      </if>
      <if test="flexural_modulus != null" >
        flexural_modulus = #{flexural_modulus,jdbcType=DOUBLE},
      </if>
      <if test="is_ep != null" >
        is_ep = #{is_ep,jdbcType=VARCHAR},
      </if>
      <if test="jzforce != null" >
        jzforce = #{jzforce,jdbcType=DOUBLE},
      </if>
      <if test="melt_index != null" >
        melt_index = #{melt_index,jdbcType=DOUBLE},
      </if>
      <if test="pre_num != null" >
        pre_num = #{pre_num,jdbcType=DOUBLE},
      </if>
      <if test="pre_time != null" >
        pre_time = #{pre_time,jdbcType=TIMESTAMP},
      </if>
      <if test="purpose != null" >
        purpose = #{purpose,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="shape != null" >
        shape = #{shape,jdbcType=VARCHAR},
      </if>
      <if test="source_type != null" >
        source_type = #{source_type,jdbcType=VARCHAR},
      </if>
      <if test="sourcefrom != null" >
        sourcefrom = #{sourcefrom,jdbcType=VARCHAR},
      </if>
      <if test="tensile != null" >
        tensile = #{tensile,jdbcType=DOUBLE},
      </if>
      <if test="water_content != null" >
        water_content = #{water_content,jdbcType=DOUBLE},
      </if>
      <if test="xbforce != null" >
        xbforce = #{xbforce,jdbcType=DOUBLE},
      </if>
      <if test="category_id != null" >
        category_id = #{category_id,jdbcType=BIGINT},
      </if>
      <if test="purchaser_id != null" >
        purchaser_id = #{purchaser_id,jdbcType=BIGINT},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanbang.bean.ezs_customized" >
    update ezs_customized
    set addTime = #{addTime,jdbcType=TIMESTAMP},
      deleteStatus = #{deleteStatus,jdbcType=BIT},
      ash_content = #{ash_content,jdbcType=DOUBLE},
      bend_strength = #{bend_strength,jdbcType=DOUBLE},
      budget = #{budget,jdbcType=DOUBLE},
      colour = #{colour,jdbcType=VARCHAR},
      combustion_grade = #{combustion_grade,jdbcType=DOUBLE},
      density = #{density,jdbcType=DOUBLE},
      elong_break = #{elong_break,jdbcType=DOUBLE},
      flexural_modulus = #{flexural_modulus,jdbcType=DOUBLE},
      is_ep = #{is_ep,jdbcType=VARCHAR},
      jzforce = #{jzforce,jdbcType=DOUBLE},
      melt_index = #{melt_index,jdbcType=DOUBLE},
      pre_num = #{pre_num,jdbcType=DOUBLE},
      pre_time = #{pre_time,jdbcType=TIMESTAMP},
      purpose = #{purpose,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      shape = #{shape,jdbcType=VARCHAR},
      source_type = #{source_type,jdbcType=VARCHAR},
      sourcefrom = #{sourcefrom,jdbcType=VARCHAR},
      tensile = #{tensile,jdbcType=DOUBLE},
      water_content = #{water_content,jdbcType=DOUBLE},
      xbforce = #{xbforce,jdbcType=DOUBLE},
      category_id = #{category_id,jdbcType=BIGINT},
      purchaser_id = #{purchaser_id,jdbcType=BIGINT},
      address = #{address,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <!-- 新增 -->
  <select id="customizedList" resultType="ezs_customized" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ezs_customized
    where purchaser_id = #{purchaser_id,jdbcType=BIGINT}
  </select>
  <select id="getPurchaseByUserId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
  	select 
  	ec.* 
  	from ezs_customized_record ecr LEFT JOIN ezs_customized ec on ecr.customized_id = ec.id where ecr.purchaser_id = #{userId} 
  </select>
  
</mapper>