<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanbang.dao.ezs_orderformMapper" >
<resultMap id="BaseResultMap" type="com.sanbang.bean.ezs_orderform" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="addTime" property="addTime" jdbcType="TIMESTAMP" />
    <result column="deleteStatus" property="deleteStatus" jdbcType="BIT" />
    <result column="adjust_price" property="adjust_price" jdbcType="INTEGER" />
    <result column="all_price" property="all_price" jdbcType="DECIMAL" />
    <result column="cart_session_id" property="cart_session_id" jdbcType="VARCHAR" />
    <result column="end_price" property="end_price" jdbcType="DECIMAL" />
    <result column="estimateTime" property="estimateTime" jdbcType="TIMESTAMP" />
    <result column="finishtime" property="finishtime" jdbcType="TIMESTAMP" />
    <result column="first_price" property="first_price" jdbcType="DECIMAL" />
    <result column="goods_amount" property="goods_amount" jdbcType="DECIMAL" />
    <result column="order_no" property="order_no" jdbcType="VARCHAR" />
    <result column="order_status" property="order_status" jdbcType="INTEGER" />
    <result column="order_type" property="order_type" jdbcType="VARCHAR" />
    <result column="pact_status" property="pact_status" jdbcType="INTEGER" />
    <result column="pay_mode" property="pay_mode" jdbcType="INTEGER" />
    <result column="pay_mode01" property="pay_mode01" jdbcType="INTEGER" />
    <result column="pay_mode02" property="pay_mode02" jdbcType="INTEGER" />
    <result column="sc_status" property="sc_status" jdbcType="INTEGER" />
    <result column="total_price" property="total_price" jdbcType="DECIMAL" />
    <result column="address_id" property="address_id" jdbcType="BIGINT" />
    <result column="user_id" property="user_id" jdbcType="BIGINT" />
    <result column="weAddress_id" property="weAddress_id" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.sanbang.bean.ezs_orderform" extends="BaseResultMap" >
    <result column="msg" property="msg" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, addTime, deleteStatus, adjust_price, all_price, cart_session_id, end_price, estimateTime, 
    finishtime, first_price, goods_amount, order_no, order_status, order_type, pact_status, 
    pay_mode, pay_mode01, pay_mode02, sc_status, total_price, address_id, user_id, weAddress_id
  </sql>
  <sql id="Blob_Column_List" >
    msg
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ezs_orderform
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ezs_orderform
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sanbang.bean.ezs_orderform" useGeneratedKeys="true" keyProperty="id">
    insert into ezs_orderform (id, addTime, deleteStatus, 
      adjust_price, all_price, cart_session_id, 
      end_price, estimateTime, finishtime, 
      first_price, goods_amount, order_no, 
      order_status, order_type, pact_status, 
      pay_mode, pay_mode01, pay_mode02, 
      sc_status, total_price, address_id, 
      user_id, weAddress_id, msg
      )
    values (#{id,jdbcType=BIGINT}, #{addTime,jdbcType=TIMESTAMP}, #{deleteStatus,jdbcType=BIT}, 
      #{adjust_price,jdbcType=INTEGER}, #{all_price,jdbcType=DECIMAL}, #{cart_session_id,jdbcType=VARCHAR}, 
      #{end_price,jdbcType=DECIMAL}, #{estimateTime,jdbcType=TIMESTAMP}, #{finishtime,jdbcType=TIMESTAMP}, 
      #{first_price,jdbcType=DECIMAL}, #{goods_amount,jdbcType=DECIMAL}, #{order_no,jdbcType=VARCHAR}, 
      #{order_status,jdbcType=INTEGER}, #{order_type,jdbcType=VARCHAR}, #{pact_status,jdbcType=INTEGER}, 
      #{pay_mode,jdbcType=INTEGER}, #{pay_mode01,jdbcType=INTEGER}, #{pay_mode02,jdbcType=INTEGER}, 
      #{sc_status,jdbcType=INTEGER}, #{total_price,jdbcType=DECIMAL}, #{address_id,jdbcType=BIGINT}, 
      #{user_id,jdbcType=BIGINT}, #{weAddress_id,jdbcType=BIGINT}, #{msg,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sanbang.bean.ezs_orderform" useGeneratedKeys="true" keyProperty="id">
    insert into ezs_orderform
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="addTime != null" >
        addTime,
      </if>
      <if test="deleteStatus != null" >
        deleteStatus,
      </if>
      <if test="adjust_price != null" >
        adjust_price,
      </if>
      <if test="all_price != null" >
        all_price,
      </if>
      <if test="cart_session_id != null" >
        cart_session_id,
      </if>
      <if test="end_price != null" >
        end_price,
      </if>
      <if test="estimateTime != null" >
        estimateTime,
      </if>
      <if test="finishtime != null" >
        finishtime,
      </if>
      <if test="first_price != null" >
        first_price,
      </if>
      <if test="goods_amount != null" >
        goods_amount,
      </if>
      <if test="order_no != null" >
        order_no,
      </if>
      <if test="order_status != null" >
        order_status,
      </if>
      <if test="order_type != null" >
        order_type,
      </if>
      <if test="pact_status != null" >
        pact_status,
      </if>
      <if test="pay_mode != null" >
        pay_mode,
      </if>
      <if test="pay_mode01 != null" >
        pay_mode01,
      </if>
      <if test="pay_mode02 != null" >
        pay_mode02,
      </if>
      <if test="sc_status != null" >
        sc_status,
      </if>
      <if test="total_price != null" >
        total_price,
      </if>
      <if test="address_id != null" >
        address_id,
      </if>
      <if test="user_id != null" >
        user_id,
      </if>
      <if test="weAddress_id != null" >
        weAddress_id,
      </if>
      <if test="msg != null" >
        msg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null" >
        #{deleteStatus,jdbcType=BIT},
      </if>
      <if test="adjust_price != null" >
        #{adjust_price,jdbcType=INTEGER},
      </if>
      <if test="all_price != null" >
        #{all_price,jdbcType=DECIMAL},
      </if>
      <if test="cart_session_id != null" >
        #{cart_session_id,jdbcType=VARCHAR},
      </if>
      <if test="end_price != null" >
        #{end_price,jdbcType=DECIMAL},
      </if>
      <if test="estimateTime != null" >
        #{estimateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishtime != null" >
        #{finishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="first_price != null" >
        #{first_price,jdbcType=DECIMAL},
      </if>
      <if test="goods_amount != null" >
        #{goods_amount,jdbcType=DECIMAL},
      </if>
      <if test="order_no != null" >
        #{order_no,jdbcType=VARCHAR},
      </if>
      <if test="order_status != null" >
        #{order_status,jdbcType=INTEGER},
      </if>
      <if test="order_type != null" >
        #{order_type,jdbcType=VARCHAR},
      </if>
      <if test="pact_status != null" >
        #{pact_status,jdbcType=INTEGER},
      </if>
      <if test="pay_mode != null" >
        #{pay_mode,jdbcType=INTEGER},
      </if>
      <if test="pay_mode01 != null" >
        #{pay_mode01,jdbcType=INTEGER},
      </if>
      <if test="pay_mode02 != null" >
        #{pay_mode02,jdbcType=INTEGER},
      </if>
      <if test="sc_status != null" >
        #{sc_status,jdbcType=INTEGER},
      </if>
      <if test="total_price != null" >
        #{total_price,jdbcType=DECIMAL},
      </if>
      <if test="address_id != null" >
        #{address_id,jdbcType=BIGINT},
      </if>
      <if test="user_id != null" >
        #{user_id,jdbcType=BIGINT},
      </if>
      <if test="weAddress_id != null" >
        #{weAddress_id,jdbcType=BIGINT},
      </if>
      <if test="msg != null" >
        #{msg,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sanbang.bean.ezs_orderform" >
    update ezs_orderform
    <set >
      <if test="addTime != null" >
        addTime = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null" >
        deleteStatus = #{deleteStatus,jdbcType=BIT},
      </if>
      <if test="adjust_price != null" >
        adjust_price = #{adjust_price,jdbcType=INTEGER},
      </if>
      <if test="all_price != null" >
        all_price = #{all_price,jdbcType=DECIMAL},
      </if>
      <if test="cart_session_id != null" >
        cart_session_id = #{cart_session_id,jdbcType=VARCHAR},
      </if>
      <if test="end_price != null" >
        end_price = #{end_price,jdbcType=DECIMAL},
      </if>
      <if test="estimateTime != null" >
        estimateTime = #{estimateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishtime != null" >
        finishtime = #{finishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="first_price != null" >
        first_price = #{first_price,jdbcType=DECIMAL},
      </if>
      <if test="goods_amount != null" >
        goods_amount = #{goods_amount,jdbcType=DECIMAL},
      </if>
      <if test="order_no != null" >
        order_no = #{order_no,jdbcType=VARCHAR},
      </if>
      <if test="order_status != null" >
        order_status = #{order_status,jdbcType=INTEGER},
      </if>
      <if test="order_type != null" >
        order_type = #{order_type,jdbcType=VARCHAR},
      </if>
      <if test="pact_status != null" >
        pact_status = #{pact_status,jdbcType=INTEGER},
      </if>
      <if test="pay_mode != null" >
        pay_mode = #{pay_mode,jdbcType=INTEGER},
      </if>
      <if test="pay_mode01 != null" >
        pay_mode01 = #{pay_mode01,jdbcType=INTEGER},
      </if>
      <if test="pay_mode02 != null" >
        pay_mode02 = #{pay_mode02,jdbcType=INTEGER},
      </if>
      <if test="sc_status != null" >
        sc_status = #{sc_status,jdbcType=INTEGER},
      </if>
      <if test="total_price != null" >
        total_price = #{total_price,jdbcType=DECIMAL},
      </if>
      <if test="address_id != null" >
        address_id = #{address_id,jdbcType=BIGINT},
      </if>
      <if test="user_id != null" >
        user_id = #{user_id,jdbcType=BIGINT},
      </if>
      <if test="weAddress_id != null" >
        weAddress_id = #{weAddress_id,jdbcType=BIGINT},
      </if>
      <if test="msg != null" >
        msg = #{msg,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.sanbang.bean.ezs_orderform" >
    update ezs_orderform
    set addTime = #{addTime,jdbcType=TIMESTAMP},
      deleteStatus = #{deleteStatus,jdbcType=BIT},
      adjust_price = #{adjust_price,jdbcType=INTEGER},
      all_price = #{all_price,jdbcType=DECIMAL},
      cart_session_id = #{cart_session_id,jdbcType=VARCHAR},
      end_price = #{end_price,jdbcType=DECIMAL},
      estimateTime = #{estimateTime,jdbcType=TIMESTAMP},
      finishtime = #{finishtime,jdbcType=TIMESTAMP},
      first_price = #{first_price,jdbcType=DECIMAL},
      goods_amount = #{goods_amount,jdbcType=DECIMAL},
      order_no = #{order_no,jdbcType=VARCHAR},
      order_status = #{order_status,jdbcType=INTEGER},
      order_type = #{order_type,jdbcType=VARCHAR},
      pact_status = #{pact_status,jdbcType=INTEGER},
      pay_mode = #{pay_mode,jdbcType=INTEGER},
      pay_mode01 = #{pay_mode01,jdbcType=INTEGER},
      pay_mode02 = #{pay_mode02,jdbcType=INTEGER},
      sc_status = #{sc_status,jdbcType=INTEGER},
      total_price = #{total_price,jdbcType=DECIMAL},
      address_id = #{address_id,jdbcType=BIGINT},
      user_id = #{user_id,jdbcType=BIGINT},
      weAddress_id = #{weAddress_id,jdbcType=BIGINT},
      msg = #{msg,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanbang.bean.ezs_orderform" >
    update ezs_orderform
    set addTime = #{addTime,jdbcType=TIMESTAMP},
      deleteStatus = #{deleteStatus,jdbcType=BIT},
      adjust_price = #{adjust_price,jdbcType=INTEGER},
      all_price = #{all_price,jdbcType=DECIMAL},
      cart_session_id = #{cart_session_id,jdbcType=VARCHAR},
      end_price = #{end_price,jdbcType=DECIMAL},
      estimateTime = #{estimateTime,jdbcType=TIMESTAMP},
      finishtime = #{finishtime,jdbcType=TIMESTAMP},
      first_price = #{first_price,jdbcType=DECIMAL},
      goods_amount = #{goods_amount,jdbcType=DECIMAL},
      order_no = #{order_no,jdbcType=VARCHAR},
      order_status = #{order_status,jdbcType=INTEGER},
      order_type = #{order_type,jdbcType=VARCHAR},
      pact_status = #{pact_status,jdbcType=INTEGER},
      pay_mode = #{pay_mode,jdbcType=INTEGER},
      pay_mode01 = #{pay_mode01,jdbcType=INTEGER},
      pay_mode02 = #{pay_mode02,jdbcType=INTEGER},
      sc_status = #{sc_status,jdbcType=INTEGER},
      total_price = #{total_price,jdbcType=DECIMAL},
      address_id = #{address_id,jdbcType=BIGINT},
      user_id = #{user_id,jdbcType=BIGINT},
      weAddress_id = #{weAddress_id,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
	<!--订单列表-->
	<resultMap id="orderMap" type="com.sanbang.bean.ezs_order_info" >
		<id column="good_no" jdbcType="VARCHAR" property="good_no" />
		<result column="addTime" property="addTime" jdbcType="VARCHAR" />
		<result column="count" property="count" jdbcType="DOUBLE" />
		<result column="order_no" property="order_no" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="addess" jdbcType="VARCHAR" property="addess" />
		<result column="deleteStatus" property="deleteStatus" jdbcType="BIT" />
		<result column="area_id" property="area_id" jdbcType="BIGINT" />
		<result column="total_price" property="total_price" jdbcType="DECIMAL" />
		<result column="goods_amount" property="goods_amount" jdbcType="DECIMAL" />
		<result column="order_status" property="order_status" jdbcType="INTEGER" />
		<result column="first_price" property="first_price" jdbcType="DECIMAL" />
		<result column="all_price" property="all_price" jdbcType="DECIMAL" />
		<result column="end_price" property="end_price" jdbcType="DECIMAL" />
		<result column="finishtime" property="finishtime" jdbcType="VARCHAR" />
		<result column="pact_status" property="pact_status" jdbcType="INTEGER" />
		<result column="address_id" property="address_id" jdbcType="BIGINT" />
		<result column="order_type" property="order_type" jdbcType="VARCHAR" />
		<result column="areaName" property="areaName" jdbcType="VARCHAR" />
		<result column="price" property="price" jdbcType="DECIMAL" />
		<result column="buyerid" property="buyerid" jdbcType="BIGINT" />
		<result column="sellerid" property="sellerid" jdbcType="BIGINT" />
		<result column="path" property="path" jdbcType="VARCHAR" />
		<result column="photoName" property="photoName" jdbcType="VARCHAR" />
		<result column="weAddress_id" property="weAddress_id" jdbcType="BIGINT" />
		<result column="ispg" property="ispg" jdbcType="BIGINT" />
		<result column="ist" property="ist" jdbcType="BIGINT" />
		<result column="orderid" property="orderid" jdbcType="BIGINT" />
		<result column="goodsid" property="goodsid" jdbcType="BIGINT" />
		
		 <!--物流信息-->
         <association property="ezs_logistics" column="order_no" select="com.sanbang.dao.ezs_logisticsMapper.selectByOrderNo">
         </association>
	</resultMap>
  
  
	<!--订单列表-->
	<select id="getOrderListByValue" resultMap="orderMap">
	 SELECT
	 		B.pay_mode pay_mode,
			B.pay_mode01 pay_mode01,
			B.pay_mode02 pay_mode02,
	 		B.id orderid,
	 		C.id goodsid,
			C.price,
			C.good_no,
			date_format(B.addTime, '%Y-%m-%d') addTime,
			A.count,
			C.`name`,
			C.area_id,
			C.addess,
			B.total_price,
			B.goods_amount,
			IF(B.order_status=1,10,B.order_status) order_status,
			B.first_price,
			B.end_price,
			B.all_price,
			B.pact_status,
			B.address_id,
			date_format(
				B.finishtime,
				'%Y-%m-%d %H:%i:%S'
			) finishtime,
			B.order_no,
			B.order_type,
			B.deleteStatus,
			D.areaName,
			B.user_id buyerid,
			C.user_id sellerid,
			CONCAT("http://www.ezaisheng.com/",F.path,"/",F.name)  as path
			,
			F. NAME photoName,
			IF(ISNULL(G.id), 0, 1) ispg,
			IF (datediff( NOW(),B.addTime)>15, 1, 0) ist,
			B.weAddress_id
		FROM
			ezs_orderform B
		LEFT JOIN ezs_goodscart A ON A.of_id = B.id
		LEFT JOIN ezs_goods C ON C.id = A.goods_id
		LEFT JOIN ezs_area D ON D.id = B.address_id
		LEFT JOIN ezs_storecart E ON E.id = A.sc_id
		LEFT JOIN ezs_accessory F ON C.goods_main_photo_id = F.id
		LEFT JOIN (SELECT L.id,L.order_no FROM ezs_dvaluate L WHERE L.user_id=346 ) G ON G.order_no = B.order_no
		WHERE
			1 = 1
		AND A.deleteStatus = 0

		<if test="pager.order_status!=null and pager.order_status!='-1' and pager.order_status!='200' and pager.order_status!='110'">
		 and  B.order_status in (#{pager.order_status})	
		</if>
		<if test="pager.order_status!=null and pager.order_status=='-1'">
	    and	B.order_status in (1,10,20,30,40,50,60,70,80,90,110)	
		</if>
		<if test="pager.order_type!=null and pager.order_type!=''">
		and B.order_type in (${pager.order_type})	
		</if>
		<if test="pager.order_status!=null and pager.order_status!='-1' and pager.order_status=='200'">
		and	B.order_status in (90,110)	
		and IF(ISNULL(G.id), 0, 1) =0
		</if>
		<if test="pager.order_status!=null and pager.order_status!='-1' and pager.order_status=='110'">
		and	B.order_status in (90,110)	
		</if>
		AND B.user_id=${pager.userid}
		limit #{pager.secount},#{pager.pageSize}
 	</select>
	
	
	
	<select id="getOrderListByValueCount" resultType="int">
	  SELECT
		count(*)
	FROM
		ezs_orderform B
		LEFT JOIN ezs_goodscart A ON A.of_id = B.id
		LEFT JOIN ezs_goods C ON C.id = A.goods_id
		LEFT JOIN ezs_area D ON D.id = B.address_id
		LEFT JOIN ezs_storecart E ON E.id = A.sc_id
		LEFT JOIN ezs_accessory F ON C.goods_main_photo_id = F.id
		LEFT JOIN ezs_dvaluate G ON G.order_no = B.order_no
		WHERE
			1 = 1
		AND A.deleteStatus = 0

		<if test="pager.order_status!=null and pager.order_status!='-1' and pager.order_status!='200' and pager.order_status!='110'">
		 and  B.order_status in (#{pager.order_status})
		</if>
		<if test="pager.order_status!=null and pager.order_status=='-1'">
	    and	B.order_status in (1,10,20,30,40,50,60,70,80,90,110)	
		</if>
		<if test="pager.order_type!=null and pager.order_type!=''">
		and B.order_type in (${pager.order_type})	
		</if>
		<if test="pager.order_status!=null and pager.order_status!='-1' and pager.order_status=='200'">
		and	B.order_status in (90,110)	
		and IF(ISNULL(G.id), 0, 1) =0
		</if>
		<if test="pager.order_status!=null and pager.order_status!='-1' and pager.order_status=='110'">
		and	B.order_status in (90,110)	
		</if>
		AND B.user_id=${pager.userid}
	</select>
	
	
	<!--订单详情-->
	<!-- <select id="getOrderListByOrderno" resultMap="BaseResultMap"> -->
	<select id="getOrderListByOrderno" resultMap="orderMap">
	  SELECT
	  		B.pay_mode pay_mode,
			B.pay_mode01 pay_mode01,
			B.pay_mode02 pay_mode02,
		 	B.id orderid,
			C.id goodsid,
	   		C.price,
			C.good_no,
			date_format(B.addTime, '%Y-%m-%d %H:%i:%S') addTime,
			A.count,
			C.`name`,
			C.area_id,
			C.addess,
			B.total_price,
			B.goods_amount,
			B.order_status,
			B.first_price,
			B.end_price,
			B.all_price,
			B.pact_status,
			B.address_id,
			date_format(B.finishtime, '%Y-%m-%d %H:%i:%S') finishtime,
			B.order_no,
			B.order_type,
			B.deleteStatus,
			D.areaName,
			B.user_id  buyerid,
      		C.user_id  sellerid,
			IF(ISNULL(G.id), 0, 1) ispg,
			IF (datediff( NOW(),B.addTime)>15, 1, 0) ist,
			B.weAddress_id,
			CONCAT("http://www.ezaisheng.com/",F.path,"/",F.name)  as path
			FROM
				ezs_orderform B
			LEFT JOIN ezs_goodscart A ON A.of_id = B.id
			LEFT JOIN ezs_goods C ON C.id = A.goods_id
			LEFT JOIN ezs_area D ON D.id = B.address_id
			LEFT JOIN ezs_storecart E ON E.id = A.sc_id
			LEFT JOIN ezs_accessory F ON C.goods_main_photo_id = F.id
			LEFT JOIN (SELECT L.id,L.order_no FROM ezs_dvaluate L WHERE L.user_id=346 ) G ON G.order_no = B.order_no
			WHERE
				1 = 1
			AND A.deleteStatus = 0
		and
	 B.order_no=#{order_no}	
	</select>
	
	<!--订单详细信息-->
	<select id="selectByorderno" resultMap="BaseResultMap" >
    select * from ezs_orderform 
    where order_no = #{order_no}
	</select>
	
	<select id="selectOrderNumByDate" resultType="java.lang.Integer">
		select count(1) as num from ezs_orderform where to_days(addTime) = to_days(now())	
	</select>
	
</mapper>