<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanbang.dao.ezs_set_return_orderMapper" >
  <resultMap id="BaseResultMap" type="ezs_set_return_order" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="addTime" property="addTime" jdbcType="TIMESTAMP" />
    <result column="deleteStatus" property="deleteStatus" jdbcType="BIT" />
    <result column="account_receivable" property="account_receivable" jdbcType="DECIMAL" />
    <result column="applyReturn_reason" property="applyReturn_reason" jdbcType="VARCHAR" />
    <result column="paid_time" property="paid_time" jdbcType="TIMESTAMP" />
    <result column="real_received" property="real_received" jdbcType="DECIMAL" />
    <result column="real_refund_account" property="real_refund_account" jdbcType="DECIMAL" />
    <result column="set_return_no" property="set_return_no" jdbcType="VARCHAR" />
    <result column="state1" property="state1" jdbcType="VARCHAR" />
    <result column="state2" property="state2" jdbcType="VARCHAR" />
    <result column="tmoney" property="tmoney" jdbcType="DECIMAL" />
    <result column="tnum" property="tnum" jdbcType="DECIMAL" />
    <result column="logistics_id" property="logistics_id" jdbcType="BIGINT" />
    <result column="orderForm_id" property="orderForm_id" jdbcType="BIGINT" />
    <result column="bank" property="bank" jdbcType="VARCHAR" />
    <result column="bankCode" property="bankCode" jdbcType="VARCHAR" />
    <result column="msg" property="msg" jdbcType="VARCHAR" />
    <result column="bill_id" property="bill_id" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, addTime, deleteStatus, account_receivable, applyReturn_reason, paid_time, real_received, 
    real_refund_account, set_return_no, state1, state2, tmoney, tnum, logistics_id, orderForm_id, 
    bank, bankCode, msg, bill_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ezs_set_return_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ezs_set_return_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="ezs_set_return_order" >
    insert into ezs_set_return_order (id, addTime, deleteStatus, 
      account_receivable, applyReturn_reason, 
      paid_time, real_received, real_refund_account, 
      set_return_no, state1, state2, 
      tmoney, tnum, logistics_id, 
      orderForm_id, bank, bankCode, 
      msg, bill_id)
    values (#{id,jdbcType=BIGINT}, #{addTime,jdbcType=TIMESTAMP}, #{deleteStatus,jdbcType=BIT}, 
      #{account_receivable,jdbcType=DECIMAL}, #{applyReturn_reason,jdbcType=VARCHAR}, 
      #{paid_time,jdbcType=TIMESTAMP}, #{real_received,jdbcType=DECIMAL}, #{real_refund_account,jdbcType=DECIMAL}, 
      #{set_return_no,jdbcType=VARCHAR}, #{state1,jdbcType=VARCHAR}, #{state2,jdbcType=VARCHAR}, 
      #{tmoney,jdbcType=DECIMAL}, #{tnum,jdbcType=DECIMAL}, #{logistics_id,jdbcType=BIGINT}, 
      #{orderForm_id,jdbcType=BIGINT}, #{bank,jdbcType=VARCHAR}, #{bankCode,jdbcType=VARCHAR}, 
      #{msg,jdbcType=VARCHAR}, #{bill_id,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="ezs_set_return_order" >
    insert into ezs_set_return_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="addTime != null" >
        addTime,
      </if>
      <if test="deleteStatus != null" >
        deleteStatus,
      </if>
      <if test="account_receivable != null" >
        account_receivable,
      </if>
      <if test="applyReturn_reason != null" >
        applyReturn_reason,
      </if>
      <if test="paid_time != null" >
        paid_time,
      </if>
      <if test="real_received != null" >
        real_received,
      </if>
      <if test="real_refund_account != null" >
        real_refund_account,
      </if>
      <if test="set_return_no != null" >
        set_return_no,
      </if>
      <if test="state1 != null" >
        state1,
      </if>
      <if test="state2 != null" >
        state2,
      </if>
      <if test="tmoney != null" >
        tmoney,
      </if>
      <if test="tnum != null" >
        tnum,
      </if>
      <if test="logistics_id != null" >
        logistics_id,
      </if>
      <if test="orderForm_id != null" >
        orderForm_id,
      </if>
      <if test="bank != null" >
        bank,
      </if>
      <if test="bankCode != null" >
        bankCode,
      </if>
      <if test="msg != null" >
        msg,
      </if>
      <if test="bill_id != null" >
        bill_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null" >
        #{deleteStatus,jdbcType=BIT},
      </if>
      <if test="account_receivable != null" >
        #{account_receivable,jdbcType=DECIMAL},
      </if>
      <if test="applyReturn_reason != null" >
        #{applyReturn_reason,jdbcType=VARCHAR},
      </if>
      <if test="paid_time != null" >
        #{paid_time,jdbcType=TIMESTAMP},
      </if>
      <if test="real_received != null" >
        #{real_received,jdbcType=DECIMAL},
      </if>
      <if test="real_refund_account != null" >
        #{real_refund_account,jdbcType=DECIMAL},
      </if>
      <if test="set_return_no != null" >
        #{set_return_no,jdbcType=VARCHAR},
      </if>
      <if test="state1 != null" >
        #{state1,jdbcType=VARCHAR},
      </if>
      <if test="state2 != null" >
        #{state2,jdbcType=VARCHAR},
      </if>
      <if test="tmoney != null" >
        #{tmoney,jdbcType=DECIMAL},
      </if>
      <if test="tnum != null" >
        #{tnum,jdbcType=DECIMAL},
      </if>
      <if test="logistics_id != null" >
        #{logistics_id,jdbcType=BIGINT},
      </if>
      <if test="orderForm_id != null" >
        #{orderForm_id,jdbcType=BIGINT},
      </if>
      <if test="bank != null" >
        #{bank,jdbcType=VARCHAR},
      </if>
      <if test="bankCode != null" >
        #{bankCode,jdbcType=VARCHAR},
      </if>
      <if test="msg != null" >
        #{msg,jdbcType=VARCHAR},
      </if>
      <if test="bill_id != null" >
        #{bill_id,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ezs_set_return_order" >
    update ezs_set_return_order
    <set >
      <if test="addTime != null" >
        addTime = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null" >
        deleteStatus = #{deleteStatus,jdbcType=BIT},
      </if>
      <if test="account_receivable != null" >
        account_receivable = #{account_receivable,jdbcType=DECIMAL},
      </if>
      <if test="applyReturn_reason != null" >
        applyReturn_reason = #{applyReturn_reason,jdbcType=VARCHAR},
      </if>
      <if test="paid_time != null" >
        paid_time = #{paid_time,jdbcType=TIMESTAMP},
      </if>
      <if test="real_received != null" >
        real_received = #{real_received,jdbcType=DECIMAL},
      </if>
      <if test="real_refund_account != null" >
        real_refund_account = #{real_refund_account,jdbcType=DECIMAL},
      </if>
      <if test="set_return_no != null" >
        set_return_no = #{set_return_no,jdbcType=VARCHAR},
      </if>
      <if test="state1 != null" >
        state1 = #{state1,jdbcType=VARCHAR},
      </if>
      <if test="state2 != null" >
        state2 = #{state2,jdbcType=VARCHAR},
      </if>
      <if test="tmoney != null" >
        tmoney = #{tmoney,jdbcType=DECIMAL},
      </if>
      <if test="tnum != null" >
        tnum = #{tnum,jdbcType=DECIMAL},
      </if>
      <if test="logistics_id != null" >
        logistics_id = #{logistics_id,jdbcType=BIGINT},
      </if>
      <if test="orderForm_id != null" >
        orderForm_id = #{orderForm_id,jdbcType=BIGINT},
      </if>
      <if test="bank != null" >
        bank = #{bank,jdbcType=VARCHAR},
      </if>
      <if test="bankCode != null" >
        bankCode = #{bankCode,jdbcType=VARCHAR},
      </if>
      <if test="msg != null" >
        msg = #{msg,jdbcType=VARCHAR},
      </if>
      <if test="bill_id != null" >
        bill_id = #{bill_id,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="ezs_set_return_order" >
    update ezs_set_return_order
    set addTime = #{addTime,jdbcType=TIMESTAMP},
      deleteStatus = #{deleteStatus,jdbcType=BIT},
      account_receivable = #{account_receivable,jdbcType=DECIMAL},
      applyReturn_reason = #{applyReturn_reason,jdbcType=VARCHAR},
      paid_time = #{paid_time,jdbcType=TIMESTAMP},
      real_received = #{real_received,jdbcType=DECIMAL},
      real_refund_account = #{real_refund_account,jdbcType=DECIMAL},
      set_return_no = #{set_return_no,jdbcType=VARCHAR},
      state1 = #{state1,jdbcType=VARCHAR},
      state2 = #{state2,jdbcType=VARCHAR},
      tmoney = #{tmoney,jdbcType=DECIMAL},
      tnum = #{tnum,jdbcType=DECIMAL},
      logistics_id = #{logistics_id,jdbcType=BIGINT},
      orderForm_id = #{orderForm_id,jdbcType=BIGINT},
      bank = #{bank,jdbcType=VARCHAR},
      bankCode = #{bankCode,jdbcType=VARCHAR},
      msg = #{msg,jdbcType=VARCHAR},
      bill_id = #{bill_id,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>