<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanbang.dao.ezs_cataMapper" >
  <resultMap id="BaseResultMap" type="com.sanbang.vo.GoodsClass" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="secondName" property="secondName" jdbcType="VARCHAR" />
    <result column="secondId" property="secondId" jdbcType="BIGINT" />
    <result column="thirdName" property="thirdName" jdbcType="VARCHAR" />
    <result column="thirdId" property="thirdId" jdbcType="BIGINT" />
  </resultMap>
  <!-- 查询一级分类 -->
  <select id="getFirstList" resultType="ezs_goods_class" >
    select * from ezs_goods_class gc where gc.parent_id is null
  </select>
  
  <!-- 查询二级三级分类 -->
  <select id="getChildList" resultMap="BaseResultMap" >
  select gc1.name secondName,gc1.id secondId,gc2.name thirdName,gc2.id thirdId from ezs_goods_class gc1 ,
  ezs_goods_class gc2 where gc2.parent_id = gc1.id and EXISTS 
  (select 1 from ezs_goods_class g where g.parent_id is null and g.id = gc1.parent_id)
  </select>
  
</mapper>