<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanbang.dao.ezs_payinfoMapper" >
  <resultMap id="BaseResultMap" type="ezs_payinfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="addTime" property="addTime" jdbcType="VARCHAR" />
    <result column="deleteStatus" property="deleteStatus" jdbcType="BIT" />
    <result column="order_no" property="order_no" jdbcType="VARCHAR" />
    <result column="order_type" property="order_type" jdbcType="INTEGER" />
    <result column="pay_mode" property="pay_mode" jdbcType="INTEGER" />
    <result column="pay_no" property="pay_no" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="bill_id" property="bill_id" jdbcType="BIGINT" />
    <result column="paymentUser_id" property="paymentUser_id" jdbcType="BIGINT" />
    <result column="receUser_id" property="receUser_id" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, addTime, deleteStatus, order_no, order_type, pay_mode, pay_no, price, bill_id, 
    paymentUser_id, receUser_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ezs_payinfo
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ezs_payinfo
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="ezs_payinfo" useGeneratedKeys="true" keyProperty="id">
    insert into ezs_payinfo (id, addTime, deleteStatus, 
      order_no, order_type, pay_mode, 
      pay_no, price, bill_id, 
      paymentUser_id, receUser_id)
    values (#{id,jdbcType=BIGINT}, #{addTime,jdbcType=TIMESTAMP}, #{deleteStatus,jdbcType=BIT}, 
      #{order_no,jdbcType=VARCHAR}, #{order_type,jdbcType=INTEGER}, #{pay_mode,jdbcType=INTEGER}, 
      #{pay_no,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{bill_id,jdbcType=BIGINT}, 
      #{paymentUser_id,jdbcType=BIGINT}, #{receUser_id,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="ezs_payinfo" >
    insert into ezs_payinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="addTime != null" >
        addTime,
      </if>
      <if test="deleteStatus != null" >
        deleteStatus,
      </if>
      <if test="order_no != null" >
        order_no,
      </if>
      <if test="order_type != null" >
        order_type,
      </if>
      <if test="pay_mode != null" >
        pay_mode,
      </if>
      <if test="pay_no != null" >
        pay_no,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="bill_id != null" >
        bill_id,
      </if>
      <if test="paymentUser_id != null" >
        paymentUser_id,
      </if>
      <if test="receUser_id != null" >
        receUser_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null" >
        #{deleteStatus,jdbcType=BIT},
      </if>
      <if test="order_no != null" >
        #{order_no,jdbcType=VARCHAR},
      </if>
      <if test="order_type != null" >
        #{order_type,jdbcType=INTEGER},
      </if>
      <if test="pay_mode != null" >
        #{pay_mode,jdbcType=INTEGER},
      </if>
      <if test="pay_no != null" >
        #{pay_no,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="bill_id != null" >
        #{bill_id,jdbcType=BIGINT},
      </if>
      <if test="paymentUser_id != null" >
        #{paymentUser_id,jdbcType=BIGINT},
      </if>
      <if test="receUser_id != null" >
        #{receUser_id,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ezs_payinfo" >
    update ezs_payinfo
    <set >
      <if test="addTime != null" >
        addTime = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null" >
        deleteStatus = #{deleteStatus,jdbcType=BIT},
      </if>
      <if test="order_no != null" >
        order_no = #{order_no,jdbcType=VARCHAR},
      </if>
      <if test="order_type != null" >
        order_type = #{order_type,jdbcType=INTEGER},
      </if>
      <if test="pay_mode != null" >
        pay_mode = #{pay_mode,jdbcType=INTEGER},
      </if>
      <if test="pay_no != null" >
        pay_no = #{pay_no,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="bill_id != null" >
        bill_id = #{bill_id,jdbcType=BIGINT},
      </if>
      <if test="paymentUser_id != null" >
        paymentUser_id = #{paymentUser_id,jdbcType=BIGINT},
      </if>
      <if test="receUser_id != null" >
        receUser_id = #{receUser_id,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="ezs_payinfo" >
    update ezs_payinfo
    set addTime = #{addTime,jdbcType=TIMESTAMP},
      deleteStatus = #{deleteStatus,jdbcType=BIT},
      order_no = #{order_no,jdbcType=VARCHAR},
      order_type = #{order_type,jdbcType=INTEGER},
      pay_mode = #{pay_mode,jdbcType=INTEGER},
      pay_no = #{pay_no,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      bill_id = #{bill_id,jdbcType=BIGINT},
      paymentUser_id = #{paymentUser_id,jdbcType=BIGINT},
      receUser_id = #{receUser_id,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
	<!--根据billId  查询seller信息 -->  
  <select id="selectByBillId" resultMap="BaseResultMap">
  	select * from ezs_payinfo where bill_id = #{billId}
  </select>
  <!--交易记录查询  -->
  <select id="selectPayRecordTotal" resultType="com.sanbang.bean.ezs_payinfo">
  	select count(*) acount,sum(price) aprice,order_type from ezs_payinfo 
  	where  deleteStatus = #{deleteStatus}
  		<if test="starttime!=null and starttime!=''">
  			and addTime &gt;=#{starttime,jdbcType=VARCHAR}
  		</if>
  		<if test="endtime!=null and endtime!=''">
  			 and addTime &lt;=#{endtime,jdbcType=VARCHAR}
  		</if>
  		<if test="order_type!=null and order_type!=''">
  			 and order_type = #{order_type,jdbcType=INTEGER}
  		</if>
  		<if test="pay_mode!=null and pay_mode!=''">
  			 and pay_mode = #{pay_mode,jdbcType=INTEGER}
  		</if>
  		group by order_type
  </select>
  <select id="selectPayRecord" resultType="com.sanbang.bean.ezs_payinfo">
  	select a.addTime,a.pay_mode,a.order_type,a.price,c.name from ezs_payinfo a 
  	left join ezs_dvaluate b on a.order_no = b.id 
  	left join ezs_goods c on b.goods_id = c.id 
  	where a.deleteStatus = #{deleteStatus}
  		<if test="starttime!=null and starttime!=''">
  			and a.addTime &gt;=#{starttime,jdbcType=VARCHAR}
  		</if>
  		<if test="endtime!=null and endtime!=''">
  			and a.addTime &lt;=#{endtime,jdbcType=VARCHAR}
  		</if>
  		<if test="order_type!=null and order_type!=''">
  			and a.order_type = #{order_type,jdbcType=INTEGER}
  		</if>
  		<if test="pay_mode!=null and pay_mode!=''">
  			and a.pay_mode = #{pay_mode,jdbcType=INTEGER}
  		</if> 	
  		order by a.addTime desc
  </select>
  
</mapper>