<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanbang.dao.ezs_storeMapper" >
  <resultMap id="BaseResultMap" type="ezs_store" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="addTime" property="addTime" jdbcType="TIMESTAMP" />
    <result column="deleteStatus" property="deleteStatus" jdbcType="BIT" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="accountType" property="accountType" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="admin_status" property="admin_status" jdbcType="INTEGER" />
    <result column="assets" property="assets" jdbcType="DOUBLE" />
    <result column="capitalPrice" property="capitalPrice" jdbcType="DOUBLE" />
    <result column="companyName" property="companyName" jdbcType="VARCHAR" />
    <result column="covered" property="covered" jdbcType="DOUBLE" />
    <result column="creditScore" property="creditScore" jdbcType="INTEGER" />
    <result column="device_num" property="device_num" jdbcType="INTEGER" />
    <result column="employee_num" property="employee_num" jdbcType="INTEGER" />
    <result column="fixed_assets" property="fixed_assets" jdbcType="DOUBLE" />
    <result column="location_detail" property="location_detail" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="snumber" property="snumber" jdbcType="VARCHAR" />
    <result column="obtainYear" property="obtainYear" jdbcType="INTEGER" />
    <result column="openBankNo" property="openBankNo" jdbcType="VARCHAR" />
    <result column="open_bank_name" property="open_bank_name" jdbcType="VARCHAR" />
    <result column="open_branch_name" property="open_branch_name" jdbcType="VARCHAR" />
    <result column="open_branch_no" property="open_branch_no" jdbcType="VARCHAR" />
    <result column="person" property="person" jdbcType="VARCHAR" />
    <result column="registerDate" property="registerDate" jdbcType="TIMESTAMP" />
    <result column="rent" property="rent" jdbcType="BIT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="userType" property="userType" jdbcType="VARCHAR" />
    <result column="yTurnover" property="yTurnover" jdbcType="DOUBLE" />
    <result column="area_id" property="area_id" jdbcType="BIGINT" />
    <result column="auditingusertype_id" property="auditingusertype_id" jdbcType="BIGINT" />
    <result column="cardType_id" property="cardType_id" jdbcType="BIGINT" />
    <result column="customerAudit_id" property="customerAudit_id" jdbcType="BIGINT" />
    <result column="unifyCode" property="unifyCode" jdbcType="VARCHAR" />
    <result column="creditLevel" property="creditLevel" jdbcType="VARCHAR" />
    <result column="location_id" property="location_id" jdbcType="BIGINT" />
    <result column="regArea_id" property="regArea_id" jdbcType="BIGINT" />
    <result column="regAddress" property="regAddress" jdbcType="VARCHAR" />
    <result column="idCardNum" property="idCardNum" jdbcType="VARCHAR" />
    <result column="name_status" property="name_status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, addTime, deleteStatus, account, accountType, address, admin_status, assets, capitalPrice, 
    companyName, covered, creditScore, device_num, employee_num, fixed_assets, location_detail, 
    number, obtainYear, openBankNo, open_bank_name, open_branch_name, open_branch_no, 
    person, registerDate, rent, status, userType, yTurnover, area_id, auditingusertype_id, 
    cardType_id, customerAudit_id, unifyCode, creditLevel, location_id, regArea_id, regAddress, 
    idCardNum,snumber
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ezs_store
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ezs_store
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sanbang.bean.ezs_store"   useGeneratedKeys="true" keyProperty="id">
    insert into ezs_store (id, addTime, deleteStatus, 
      account, accountType, address, 
      admin_status, assets, capitalPrice, 
      companyName, covered, creditScore, 
      device_num, employee_num, fixed_assets, 
      location_detail, number, obtainYear, 
      openBankNo, open_bank_name, open_branch_name, 
      open_branch_no, person, registerDate, 
      rent, status, userType, 
      yTurnover, area_id, auditingusertype_id, 
      cardType_id, customerAudit_id, unifyCode, 
      creditLevel, location_id, regArea_id, 
      regAddress, idCardNum
      )
    values (#{id,jdbcType=BIGINT}, #{addTime,jdbcType=TIMESTAMP}, #{deleteStatus,jdbcType=BIT}, 
      #{account,jdbcType=VARCHAR}, #{accountType,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, 
      #{admin_status,jdbcType=INTEGER}, #{assets,jdbcType=DOUBLE}, #{capitalPrice,jdbcType=DOUBLE}, 
      #{companyName,jdbcType=VARCHAR}, #{covered,jdbcType=DOUBLE}, #{creditScore,jdbcType=INTEGER}, 
      #{device_num,jdbcType=INTEGER}, #{employee_num,jdbcType=INTEGER}, #{fixed_assets,jdbcType=DOUBLE}, 
      #{location_detail,jdbcType=VARCHAR}, #{number,jdbcType=VARCHAR}, #{obtainYear,jdbcType=INTEGER}, 
      #{openBankNo,jdbcType=VARCHAR}, #{open_bank_name,jdbcType=VARCHAR}, #{open_branch_name,jdbcType=VARCHAR}, 
      #{open_branch_no,jdbcType=VARCHAR}, #{person,jdbcType=VARCHAR}, #{registerDate,jdbcType=TIMESTAMP}, 
      #{rent,jdbcType=BIT}, #{status,jdbcType=INTEGER}, #{userType,jdbcType=VARCHAR}, 
      #{yTurnover,jdbcType=DOUBLE}, #{area_id,jdbcType=BIGINT}, #{auditingusertype_id,jdbcType=BIGINT}, 
      #{cardType_id,jdbcType=BIGINT}, #{customerAudit_id,jdbcType=BIGINT}, #{unifyCode,jdbcType=VARCHAR}, 
      #{creditLevel,jdbcType=VARCHAR}, #{location_id,jdbcType=BIGINT}, #{regArea_id,jdbcType=BIGINT}, 
      #{regAddress,jdbcType=VARCHAR}, #{idCardNum,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sanbang.bean.ezs_store" >
    insert into ezs_store
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="addTime != null" >
        addTime,
      </if>
      <if test="deleteStatus != null" >
        deleteStatus,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="accountType != null" >
        accountType,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="admin_status != null" >
        admin_status,
      </if>
      <if test="assets != null" >
        assets,
      </if>
      <if test="capitalPrice != null" >
        capitalPrice,
      </if>
      <if test="companyName != null" >
        companyName,
      </if>
      <if test="covered != null" >
        covered,
      </if>
      <if test="creditScore != null" >
        creditScore,
      </if>
      <if test="device_num != null" >
        device_num,
      </if>
      <if test="employee_num != null" >
        employee_num,
      </if>
      <if test="fixed_assets != null" >
        fixed_assets,
      </if>
      <if test="location_detail != null" >
        location_detail,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="obtainYear != null" >
        obtainYear,
      </if>
      <if test="openBankNo != null" >
        openBankNo,
      </if>
      <if test="open_bank_name != null" >
        open_bank_name,
      </if>
      <if test="open_branch_name != null" >
        open_branch_name,
      </if>
      <if test="open_branch_no != null" >
        open_branch_no,
      </if>
      <if test="person != null" >
        person,
      </if>
      <if test="registerDate != null" >
        registerDate,
      </if>
      <if test="rent != null" >
        rent,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="userType != null" >
        userType,
      </if>
      <if test="yTurnover != null" >
        yTurnover,
      </if>
      <if test="area_id != null" >
        area_id,
      </if>
      <if test="auditingusertype_id != null" >
        auditingusertype_id,
      </if>
      <if test="cardType_id != null" >
        cardType_id,
      </if>
      <if test="customerAudit_id != null" >
        customerAudit_id,
      </if>
      <if test="unifyCode != null" >
        unifyCode,
      </if>
      <if test="creditLevel != null" >
        creditLevel,
      </if>
      <if test="location_id != null" >
        location_id,
      </if>
      <if test="regArea_id != null" >
        regArea_id,
      </if>
      <if test="regAddress != null" >
        regAddress,
      </if>
      <if test="idCardNum != null" >
        idCardNum,
      </if>
      <if test="location != null" >
        location,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null" >
        #{deleteStatus,jdbcType=BIT},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="accountType != null" >
        #{accountType,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="admin_status != null" >
        #{admin_status,jdbcType=INTEGER},
      </if>
      <if test="assets != null" >
        #{assets,jdbcType=DOUBLE},
      </if>
      <if test="capitalPrice != null" >
        #{capitalPrice,jdbcType=DOUBLE},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="covered != null" >
        #{covered,jdbcType=DOUBLE},
      </if>
      <if test="creditScore != null" >
        #{creditScore,jdbcType=INTEGER},
      </if>
      <if test="device_num != null" >
        #{device_num,jdbcType=INTEGER},
      </if>
      <if test="employee_num != null" >
        #{employee_num,jdbcType=INTEGER},
      </if>
      <if test="fixed_assets != null" >
        #{fixed_assets,jdbcType=DOUBLE},
      </if>
      <if test="location_detail != null" >
        #{location_detail,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="obtainYear != null" >
        #{obtainYear,jdbcType=INTEGER},
      </if>
      <if test="openBankNo != null" >
        #{openBankNo,jdbcType=VARCHAR},
      </if>
      <if test="open_bank_name != null" >
        #{open_bank_name,jdbcType=VARCHAR},
      </if>
      <if test="open_branch_name != null" >
        #{open_branch_name,jdbcType=VARCHAR},
      </if>
      <if test="open_branch_no != null" >
        #{open_branch_no,jdbcType=VARCHAR},
      </if>
      <if test="person != null" >
        #{person,jdbcType=VARCHAR},
      </if>
      <if test="registerDate != null" >
        #{registerDate,jdbcType=TIMESTAMP},
      </if>
      <if test="rent != null" >
        #{rent,jdbcType=BIT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=VARCHAR},
      </if>
      <if test="yTurnover != null" >
        #{yTurnover,jdbcType=DOUBLE},
      </if>
      <if test="area_id != null" >
        #{area_id,jdbcType=BIGINT},
      </if>
      <if test="auditingusertype_id != null" >
        #{auditingusertype_id,jdbcType=BIGINT},
      </if>
      <if test="cardType_id != null" >
        #{cardType_id,jdbcType=BIGINT},
      </if>
      <if test="customerAudit_id != null" >
        #{customerAudit_id,jdbcType=BIGINT},
      </if>
      <if test="unifyCode != null" >
        #{unifyCode,jdbcType=VARCHAR},
      </if>
      <if test="creditLevel != null" >
        #{creditLevel,jdbcType=VARCHAR},
      </if>
      <if test="location_id != null" >
        #{location_id,jdbcType=BIGINT},
      </if>
      <if test="regArea_id != null" >
        #{regArea_id,jdbcType=BIGINT},
      </if>
      <if test="regAddress != null" >
        #{regAddress,jdbcType=VARCHAR},
      </if>
      <if test="idCardNum != null" >
        #{idCardNum,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        #{location,jdbcType=BINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sanbang.bean.ezs_store" >
    update ezs_store
    <set >
      <if test="addTime != null" >
        addTime = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null" >
        deleteStatus = #{deleteStatus,jdbcType=BIT},
      </if>
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="accountType != null" >
        accountType = #{accountType,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="admin_status != null" >
        admin_status = #{admin_status,jdbcType=INTEGER},
      </if>
      <if test="assets != null" >
        assets = #{assets,jdbcType=DOUBLE},
      </if>
      <if test="capitalPrice != null" >
        capitalPrice = #{capitalPrice,jdbcType=DOUBLE},
      </if>
      <if test="companyName != null" >
        companyName = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="covered != null" >
        covered = #{covered,jdbcType=DOUBLE},
      </if>
      <if test="creditScore != null" >
        creditScore = #{creditScore,jdbcType=INTEGER},
      </if>
      <if test="device_num != null" >
        device_num = #{device_num,jdbcType=INTEGER},
      </if>
      <if test="employee_num != null" >
        employee_num = #{employee_num,jdbcType=INTEGER},
      </if>
      <if test="fixed_assets != null" >
        fixed_assets = #{fixed_assets,jdbcType=DOUBLE},
      </if>
      <if test="location_detail != null" >
        location_detail = #{location_detail,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="obtainYear != null" >
        obtainYear = #{obtainYear,jdbcType=INTEGER},
      </if>
      <if test="openBankNo != null" >
        openBankNo = #{openBankNo,jdbcType=VARCHAR},
      </if>
      <if test="open_bank_name != null" >
        open_bank_name = #{open_bank_name,jdbcType=VARCHAR},
      </if>
      <if test="open_branch_name != null" >
        open_branch_name = #{open_branch_name,jdbcType=VARCHAR},
      </if>
      <if test="open_branch_no != null" >
        open_branch_no = #{open_branch_no,jdbcType=VARCHAR},
      </if>
      <if test="person != null" >
        person = #{person,jdbcType=VARCHAR},
      </if>
      <if test="registerDate != null" >
        registerDate = #{registerDate,jdbcType=TIMESTAMP},
      </if>
      <if test="rent != null" >
        rent = #{rent,jdbcType=BIT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="userType != null" >
        userType = #{userType,jdbcType=VARCHAR},
      </if>
      <if test="yTurnover != null" >
        yTurnover = #{yTurnover,jdbcType=DOUBLE},
      </if>
      <if test="area_id != null" >
        area_id = #{area_id,jdbcType=BIGINT},
      </if>
      <if test="auditingusertype_id != null" >
        auditingusertype_id = #{auditingusertype_id,jdbcType=BIGINT},
      </if>
      <if test="cardType_id != null" >
        cardType_id = #{cardType_id,jdbcType=BIGINT},
      </if>
      <if test="customerAudit_id != null" >
        customerAudit_id = #{customerAudit_id,jdbcType=BIGINT},
      </if>
      <if test="unifyCode != null" >
        unifyCode = #{unifyCode,jdbcType=VARCHAR},
      </if>
      <if test="creditLevel != null" >
        creditLevel = #{creditLevel,jdbcType=VARCHAR},
      </if>
      <if test="location_id != null" >
        location_id = #{location_id,jdbcType=BIGINT},
      </if>
      <if test="regArea_id != null" >
        regArea_id = #{regArea_id,jdbcType=BIGINT},
      </if>
      <if test="regAddress != null" >
        regAddress = #{regAddress,jdbcType=VARCHAR},
      </if>
      <if test="idCardNum != null" >
        idCardNum = #{idCardNum,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.sanbang.bean.ezs_store" >
    update ezs_store
    set addTime = #{addTime,jdbcType=TIMESTAMP},
      deleteStatus = #{deleteStatus,jdbcType=BIT},
      account = #{account,jdbcType=VARCHAR},
      accountType = #{accountType,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      admin_status = #{admin_status,jdbcType=INTEGER},
      assets = #{assets,jdbcType=DOUBLE},
      capitalPrice = #{capitalPrice,jdbcType=DOUBLE},
      companyName = #{companyName,jdbcType=VARCHAR},
      covered = #{covered,jdbcType=DOUBLE},
      creditScore = #{creditScore,jdbcType=INTEGER},
      device_num = #{device_num,jdbcType=INTEGER},
      employee_num = #{employee_num,jdbcType=INTEGER},
      fixed_assets = #{fixed_assets,jdbcType=DOUBLE},
      location_detail = #{location_detail,jdbcType=VARCHAR},
      number = #{number,jdbcType=VARCHAR},
      obtainYear = #{obtainYear,jdbcType=INTEGER},
      openBankNo = #{openBankNo,jdbcType=VARCHAR},
      open_bank_name = #{open_bank_name,jdbcType=VARCHAR},
      open_branch_name = #{open_branch_name,jdbcType=VARCHAR},
      open_branch_no = #{open_branch_no,jdbcType=VARCHAR},
      person = #{person,jdbcType=VARCHAR},
      registerDate = #{registerDate,jdbcType=TIMESTAMP},
      rent = #{rent,jdbcType=BIT},
      status = #{status,jdbcType=INTEGER},
      userType = #{userType,jdbcType=VARCHAR},
      yTurnover = #{yTurnover,jdbcType=DOUBLE},
      area_id = #{area_id,jdbcType=BIGINT},
      auditingusertype_id = #{auditingusertype_id,jdbcType=BIGINT},
      cardType_id = #{cardType_id,jdbcType=BIGINT},
      customerAudit_id = #{customerAudit_id,jdbcType=BIGINT},
      unifyCode = #{unifyCode,jdbcType=VARCHAR},
      creditLevel = #{creditLevel,jdbcType=VARCHAR},
      location_id = #{location_id,jdbcType=BIGINT},
      regArea_id = #{regArea_id,jdbcType=BIGINT},
      regAddress = #{regAddress,jdbcType=VARCHAR},
      idCardNum = #{idCardNum,jdbcType=VARCHAR},
      location = #{location,jdbcType=BINARY}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanbang.bean.ezs_store" >
    update ezs_store
    set addTime = #{addTime,jdbcType=TIMESTAMP},
      deleteStatus = #{deleteStatus,jdbcType=BIT},
      account = #{account,jdbcType=VARCHAR},
      accountType = #{accountType,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      admin_status = #{admin_status,jdbcType=INTEGER},
      assets = #{assets,jdbcType=DOUBLE},
      capitalPrice = #{capitalPrice,jdbcType=DOUBLE},
      companyName = #{companyName,jdbcType=VARCHAR},
      covered = #{covered,jdbcType=DOUBLE},
      creditScore = #{creditScore,jdbcType=INTEGER},
      device_num = #{device_num,jdbcType=INTEGER},
      employee_num = #{employee_num,jdbcType=INTEGER},
      fixed_assets = #{fixed_assets,jdbcType=DOUBLE},
      location_detail = #{location_detail,jdbcType=VARCHAR},
      number = #{number,jdbcType=VARCHAR},
      obtainYear = #{obtainYear,jdbcType=INTEGER},
      openBankNo = #{openBankNo,jdbcType=VARCHAR},
      open_bank_name = #{open_bank_name,jdbcType=VARCHAR},
      open_branch_name = #{open_branch_name,jdbcType=VARCHAR},
      open_branch_no = #{open_branch_no,jdbcType=VARCHAR},
      person = #{person,jdbcType=VARCHAR},
      registerDate = #{registerDate,jdbcType=TIMESTAMP},
      rent = #{rent,jdbcType=BIT},
      status = #{status,jdbcType=INTEGER},
      userType = #{userType,jdbcType=VARCHAR},
      yTurnover = #{yTurnover,jdbcType=DOUBLE},
      area_id = #{area_id,jdbcType=BIGINT},
      auditingusertype_id = #{auditingusertype_id,jdbcType=BIGINT},
      cardType_id = #{cardType_id,jdbcType=BIGINT},
      customerAudit_id = #{customerAudit_id,jdbcType=BIGINT},
      unifyCode = #{unifyCode,jdbcType=VARCHAR},
      creditLevel = #{creditLevel,jdbcType=VARCHAR},
      location_id = #{location_id,jdbcType=BIGINT},
      regArea_id = #{regArea_id,jdbcType=BIGINT},
      regAddress = #{regAddress,jdbcType=VARCHAR},
      idCardNum = #{idCardNum,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <!--得到公司名称-->
   <select id="getstoreInfoByName" resultMap="BaseResultMap">
   	select 
    <include refid="Base_Column_List" />
    from ezs_store
    where companyName = #{companyName}
   	
   </select>
   
   <!--通过id获取store  -->
   <select id="selectById" resultMap="BaseResultMap">
  		 select * from ezs_store where id = #{store_id}
   </select>
   
</mapper>