<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanbang.dao.ezs_purchase_orderformMapper" >
  <resultMap id="BaseResultMap" type="com.sanbang.bean.ezs_purchase_orderform" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="addTime" property="addTime" jdbcType="TIMESTAMP" />
    <result column="deleteStatus" property="deleteStatus" jdbcType="BIT" />
    <result column="all_price" property="all_price" jdbcType="DECIMAL" />
    <result column="cart_session_id" property="cart_session_id" jdbcType="VARCHAR" />
    <result column="end_price" property="end_price" jdbcType="DECIMAL" />
    <result column="end_time" property="end_time" jdbcType="TIMESTAMP" />
    <result column="estimateTime" property="estimateTime" jdbcType="TIMESTAMP" />
    <result column="finishtime" property="finishtime" jdbcType="TIMESTAMP" />
    <result column="firest_time" property="firest_time" jdbcType="TIMESTAMP" />
    <result column="first_price" property="first_price" jdbcType="DECIMAL" />
    <result column="goodsId" property="goodsId" jdbcType="BIGINT" />
    <result column="goods_amount" property="goods_amount" jdbcType="DECIMAL" />
    <result column="order_no" property="order_no" jdbcType="VARCHAR" />
    <result column="order_status" property="order_status" jdbcType="INTEGER" />
    <result column="order_type" property="order_type" jdbcType="VARCHAR" />
    <result column="pact_no" property="pact_no" jdbcType="VARCHAR" />
    <result column="pact_status" property="pact_status" jdbcType="INTEGER" />
    <result column="pay_mode" property="pay_mode" jdbcType="INTEGER" />
    <result column="sc_status" property="sc_status" jdbcType="INTEGER" />
    <result column="total_price" property="total_price" jdbcType="DECIMAL" />
    <result column="address_id" property="address_id" jdbcType="BIGINT" />
    <result column="bill_id" property="bill_id" jdbcType="BIGINT" />
    <result column="buyBiil_id" property="buyBiil_id" jdbcType="BIGINT" />
    <result column="buyUser_id" property="buyUser_id" jdbcType="BIGINT" />
    <result column="invoice_id" property="invoice_id" jdbcType="BIGINT" />
    <result column="logistics_id" property="logistics_id" jdbcType="BIGINT" />
    <result column="sellerUser_id" property="sellerUser_id" jdbcType="BIGINT" />
    <result column="backMoneyStatus" property="backMoneyStatus" jdbcType="INTEGER" />
    <result column="iAmount" property="iAmount" jdbcType="DOUBLE" />
    <result column="ifStore" property="ifStore" jdbcType="INTEGER" />
    <result column="deliverTime" property="deliverTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="ezs_purchase_orderform" extends="BaseResultMap" >
    <result column="msg" property="msg" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, addTime, deleteStatus, all_price, cart_session_id, end_price, end_time, finishtime, 
    firest_time, first_price, goodsId, goods_amount, order_no, order_status, order_type, 
    pact_no, pact_status, pay_mode, sc_status, total_price, address_id, bill_id, buyBiil_id, 
    invoice_id, logistics_id, user_id
  </sql>
  <sql id="Blob_Column_List" >
    msg
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ezs_purchase_orderform
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ezs_purchase_orderform
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="ezs_purchase_orderform" useGeneratedKeys="true" keyProperty="id">
    insert into ezs_purchase_orderform (id, addTime, deleteStatus, 
      all_price, cart_session_id, end_price, 
      end_time, estimateTime, finishtime, 
      firest_time, first_price, goodsId, 
      goods_amount, order_no, order_status, 
      order_type, pact_no, pact_status, 
      pay_mode, sc_status, total_price, 
      address_id, bill_id, buyBiil_id, 
      buyUser_id, invoice_id, logistics_id, 
      sellerUser_id, backMoneyStatus, iAmount, 
      ifStore, deliverTime, msg
      )
    values (#{id,jdbcType=BIGINT}, #{addTime,jdbcType=TIMESTAMP}, #{deleteStatus,jdbcType=BIT}, 
      #{all_price,jdbcType=DECIMAL}, #{cart_session_id,jdbcType=VARCHAR}, #{end_price,jdbcType=DECIMAL}, 
      #{end_time,jdbcType=TIMESTAMP}, #{estimateTime,jdbcType=TIMESTAMP}, #{finishtime,jdbcType=TIMESTAMP}, 
      #{firest_time,jdbcType=TIMESTAMP}, #{first_price,jdbcType=DECIMAL}, #{goodsId,jdbcType=BIGINT}, 
      #{goods_amount,jdbcType=DECIMAL}, #{order_no,jdbcType=VARCHAR}, #{order_status,jdbcType=INTEGER}, 
      #{order_type,jdbcType=VARCHAR}, #{pact_no,jdbcType=VARCHAR}, #{pact_status,jdbcType=INTEGER}, 
      #{pay_mode,jdbcType=INTEGER}, #{sc_status,jdbcType=INTEGER}, #{total_price,jdbcType=DECIMAL}, 
      #{address_id,jdbcType=BIGINT}, #{bill_id,jdbcType=BIGINT}, #{buyBiil_id,jdbcType=BIGINT}, 
      #{buyUser_id,jdbcType=BIGINT}, #{invoice_id,jdbcType=BIGINT}, #{logistics_id,jdbcType=BIGINT}, 
      #{sellerUser_id,jdbcType=BIGINT}, #{backMoneyStatus,jdbcType=INTEGER}, #{iAmount,jdbcType=DOUBLE}, 
      #{ifStore,jdbcType=INTEGER}, #{deliverTime,jdbcType=TIMESTAMP}, #{msg,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sanbang.bean.ezs_purchase_orderform" useGeneratedKeys="true" keyProperty="id">
    insert into ezs_purchase_orderform
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="addTime != null" >
        addTime,
      </if>
      <if test="deleteStatus != null" >
        deleteStatus,
      </if>
      <if test="all_price != null" >
        all_price,
      </if>
      <if test="cart_session_id != null" >
        cart_session_id,
      </if>
      <if test="end_price != null" >
        end_price,
      </if>
      <if test="end_time != null" >
        end_time,
      </if>
      <if test="estimateTime != null" >
        estimateTime,
      </if>
      <if test="finishtime != null" >
        finishtime,
      </if>
      <if test="firest_time != null" >
        firest_time,
      </if>
      <if test="first_price != null" >
        first_price,
      </if>
      <if test="goodsId != null" >
        goodsId,
      </if>
      <if test="goods_amount != null" >
        goods_amount,
      </if>
      <if test="order_no != null" >
        order_no,
      </if>
      <if test="order_status != null" >
        order_status,
      </if>
      <if test="order_type != null" >
        order_type,
      </if>
      <if test="pact_no != null" >
        pact_no,
      </if>
      <if test="pact_status != null" >
        pact_status,
      </if>
      <if test="pay_mode != null" >
        pay_mode,
      </if>
      <if test="sc_status != null" >
        sc_status,
      </if>
      <if test="total_price != null" >
        total_price,
      </if>
      <if test="address_id != null" >
        address_id,
      </if>
      <if test="bill_id != null" >
        bill_id,
      </if>
      <if test="buyBiil_id != null" >
        buyBiil_id,
      </if>
      <if test="buyUser_id != null" >
        buyUser_id,
      </if>
      <if test="invoice_id != null" >
        invoice_id,
      </if>
      <if test="logistics_id != null" >
        logistics_id,
      </if>
      <if test="sellerUser_id != null" >
        sellerUser_id,
      </if>
      <if test="backMoneyStatus != null" >
        backMoneyStatus,
      </if>
      <if test="iAmount != null" >
        iAmount,
      </if>
      <if test="ifStore != null" >
        ifStore,
      </if>
      <if test="deliverTime != null" >
        deliverTime,
      </if>
      <if test="msg != null" >
        msg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null" >
        #{deleteStatus,jdbcType=BIT},
      </if>
      <if test="all_price != null" >
        #{all_price,jdbcType=DECIMAL},
      </if>
      <if test="cart_session_id != null" >
        #{cart_session_id,jdbcType=VARCHAR},
      </if>
      <if test="end_price != null" >
        #{end_price,jdbcType=DECIMAL},
      </if>
      <if test="end_time != null" >
        #{end_time,jdbcType=TIMESTAMP},
      </if>
      <if test="estimateTime != null" >
        #{estimateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishtime != null" >
        #{finishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="firest_time != null" >
        #{firest_time,jdbcType=TIMESTAMP},
      </if>
      <if test="first_price != null" >
        #{first_price,jdbcType=DECIMAL},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="goods_amount != null" >
        #{goods_amount,jdbcType=DECIMAL},
      </if>
      <if test="order_no != null" >
        #{order_no,jdbcType=VARCHAR},
      </if>
      <if test="order_status != null" >
        #{order_status,jdbcType=INTEGER},
      </if>
      <if test="order_type != null" >
        #{order_type,jdbcType=VARCHAR},
      </if>
      <if test="pact_no != null" >
        #{pact_no,jdbcType=VARCHAR},
      </if>
      <if test="pact_status != null" >
        #{pact_status,jdbcType=INTEGER},
      </if>
      <if test="pay_mode != null" >
        #{pay_mode,jdbcType=INTEGER},
      </if>
      <if test="sc_status != null" >
        #{sc_status,jdbcType=INTEGER},
      </if>
      <if test="total_price != null" >
        #{total_price,jdbcType=DECIMAL},
      </if>
      <if test="address_id != null" >
        #{address_id,jdbcType=BIGINT},
      </if>
      <if test="bill_id != null" >
        #{bill_id,jdbcType=BIGINT},
      </if>
      <if test="buyBiil_id != null" >
        #{buyBiil_id,jdbcType=BIGINT},
      </if>
      <if test="buyUser_id != null" >
        #{buyUser_id,jdbcType=BIGINT},
      </if>
      <if test="invoice_id != null" >
        #{invoice_id,jdbcType=BIGINT},
      </if>
      <if test="logistics_id != null" >
        #{logistics_id,jdbcType=BIGINT},
      </if>
      <if test="sellerUser_id != null" >
        #{sellerUser_id,jdbcType=BIGINT},
      </if>
      <if test="backMoneyStatus != null" >
        #{backMoneyStatus,jdbcType=INTEGER},
      </if>
      <if test="iAmount != null" >
        #{iAmount,jdbcType=DOUBLE},
      </if>
      <if test="ifStore != null" >
        #{ifStore,jdbcType=INTEGER},
      </if>
      <if test="deliverTime != null" >
        #{deliverTime,jdbcType=TIMESTAMP},
      </if>
      <if test="msg != null" >
        #{msg,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ezs_purchase_orderform" >
    update ezs_purchase_orderform
    <set >
      <if test="addTime != null" >
        addTime = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null" >
        deleteStatus = #{deleteStatus,jdbcType=BIT},
      </if>
      <if test="all_price != null" >
        all_price = #{all_price,jdbcType=DECIMAL},
      </if>
      <if test="cart_session_id != null" >
        cart_session_id = #{cart_session_id,jdbcType=VARCHAR},
      </if>
      <if test="end_price != null" >
        end_price = #{end_price,jdbcType=DECIMAL},
      </if>
      <if test="end_time != null" >
        end_time = #{end_time,jdbcType=TIMESTAMP},
      </if>
      <if test="finishtime != null" >
        finishtime = #{finishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="firest_time != null" >
        firest_time = #{firest_time,jdbcType=TIMESTAMP},
      </if>
      <if test="first_price != null" >
        first_price = #{first_price,jdbcType=DECIMAL},
      </if>
      <if test="goodsId != null" >
        goodsId = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="goods_amount != null" >
        goods_amount = #{goods_amount,jdbcType=DECIMAL},
      </if>
      <if test="order_no != null" >
        order_no = #{order_no,jdbcType=VARCHAR},
      </if>
      <if test="order_status != null" >
        order_status = #{order_status,jdbcType=INTEGER},
      </if>
      <if test="order_type != null" >
        order_type = #{order_type,jdbcType=VARCHAR},
      </if>
      <if test="pact_no != null" >
        pact_no = #{pact_no,jdbcType=VARCHAR},
      </if>
      <if test="pact_status != null" >
        pact_status = #{pact_status,jdbcType=INTEGER},
      </if>
      <if test="pay_mode != null" >
        pay_mode = #{pay_mode,jdbcType=INTEGER},
      </if>
      <if test="sc_status != null" >
        sc_status = #{sc_status,jdbcType=INTEGER},
      </if>
      <if test="total_price != null" >
        total_price = #{total_price,jdbcType=DECIMAL},
      </if>
      <if test="address_id != null" >
        address_id = #{address_id,jdbcType=BIGINT},
      </if>
      <if test="bill_id != null" >
        bill_id = #{bill_id,jdbcType=BIGINT},
      </if>
      <if test="buyBiil_id != null" >
        buyBiil_id = #{buyBiil_id,jdbcType=BIGINT},
      </if>
      <if test="invoice_id != null" >
        invoice_id = #{invoice_id,jdbcType=BIGINT},
      </if>
      <if test="logistics_id != null" >
        logistics_id = #{logistics_id,jdbcType=BIGINT},
      </if>
      <if test="user_id != null" >
        user_id = #{user_id,jdbcType=BIGINT},
      </if>
      <if test="msg != null" >
        msg = #{msg,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="ezs_purchase_orderform" >
    update ezs_purchase_orderform
    set addTime = #{addTime,jdbcType=TIMESTAMP},
      deleteStatus = #{deleteStatus,jdbcType=BIT},
      all_price = #{all_price,jdbcType=DECIMAL},
      cart_session_id = #{cart_session_id,jdbcType=VARCHAR},
      end_price = #{end_price,jdbcType=DECIMAL},
      end_time = #{end_time,jdbcType=TIMESTAMP},
      finishtime = #{finishtime,jdbcType=TIMESTAMP},
      firest_time = #{firest_time,jdbcType=TIMESTAMP},
      first_price = #{first_price,jdbcType=DECIMAL},
      goodsId = #{goodsId,jdbcType=BIGINT},
      goods_amount = #{goods_amount,jdbcType=DECIMAL},
      order_no = #{order_no,jdbcType=VARCHAR},
      order_status = #{order_status,jdbcType=INTEGER},
      order_type = #{order_type,jdbcType=VARCHAR},
      pact_no = #{pact_no,jdbcType=VARCHAR},
      pact_status = #{pact_status,jdbcType=INTEGER},
      pay_mode = #{pay_mode,jdbcType=INTEGER},
      sc_status = #{sc_status,jdbcType=INTEGER},
      total_price = #{total_price,jdbcType=DECIMAL},
      address_id = #{address_id,jdbcType=BIGINT},
      bill_id = #{bill_id,jdbcType=BIGINT},
      buyBiil_id = #{buyBiil_id,jdbcType=BIGINT},
      invoice_id = #{invoice_id,jdbcType=BIGINT},
      logistics_id = #{logistics_id,jdbcType=BIGINT},
      user_id = #{user_id,jdbcType=BIGINT},
      msg = #{msg,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="ezs_purchase_orderform" >
    update ezs_purchase_orderform
    set addTime = #{addTime,jdbcType=TIMESTAMP},
      deleteStatus = #{deleteStatus,jdbcType=BIT},
      all_price = #{all_price,jdbcType=DECIMAL},
      cart_session_id = #{cart_session_id,jdbcType=VARCHAR},
      end_price = #{end_price,jdbcType=DECIMAL},
      end_time = #{end_time,jdbcType=TIMESTAMP},
      finishtime = #{finishtime,jdbcType=TIMESTAMP},
      firest_time = #{firest_time,jdbcType=TIMESTAMP},
      first_price = #{first_price,jdbcType=DECIMAL},
      goodsId = #{goodsId,jdbcType=BIGINT},
      goods_amount = #{goods_amount,jdbcType=DECIMAL},
      order_no = #{order_no,jdbcType=VARCHAR},
      order_status = #{order_status,jdbcType=INTEGER},
      order_type = #{order_type,jdbcType=VARCHAR},
      pact_no = #{pact_no,jdbcType=VARCHAR},
      pact_status = #{pact_status,jdbcType=INTEGER},
      pay_mode = #{pay_mode,jdbcType=INTEGER},
      sc_status = #{sc_status,jdbcType=INTEGER},
      total_price = #{total_price,jdbcType=DECIMAL},
      address_id = #{address_id,jdbcType=BIGINT},
      bill_id = #{bill_id,jdbcType=BIGINT},
      buyBiil_id = #{buyBiil_id,jdbcType=BIGINT},
      invoice_id = #{invoice_id,jdbcType=BIGINT},
      logistics_id = #{logistics_id,jdbcType=BIGINT},
      user_id = #{user_id,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <!-- 总页数  -->  
  <select id="selectCount">
  	select count(*) from ezs_purchase_orderform where user_id = #{userId,jdbcType=BIGINT}
  </select>

   <!-- 订单分页查询  -->  
  <select id="queryOrders" resultType="java.lang.Integer" parameterType="com.sanbang.utils.Page">
  	select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ezs_purchase_orderform 
    where
    user_id = #{userId,jdbcType=BIGINT} 
    and
    order_type = #{orderType,jdbcType=VARCHAR}
	and
	order_status = #{orderStatus,jdbcType=BIGINT}
  	order by 
  	addTime  desc 
  	LIMIT #{startPos},#{pageSize}
  </select>
	
	

	<select id="getOrderListByValueCount" parameterType="com.sanbang.vo.PagerOrder" resultType="Integer">
	  SELECT
		count(*)
				FROM
			ezs_purchase_orderform B
		LEFT JOIN ezs_goods C ON C.id = B.goodsId
		LEFT JOIN ezs_area D ON D.id = B.address_id
		LEFT JOIN ezs_accessory F ON C.goods_main_photo_id = F.id
		LEFT JOIN ezs_dvaluate G ON G.order_no = B.order_no
		WHERE
		1 = 1
		<if test="pager.order_status!=null and pager.order_status=='-1'">
	   and	B.order_status in (20,30,40,50,60,65,70,80,90,110)	
		</if>
		<if test="pager.order_type!=null and pager.order_type!=''">
		and B.order_type in (${pager.order_type})	
		</if>
	
		<if test="pager.order_status!=null and pager.order_status!='-1' ">
		and	B.order_status in (${pager.order_status})	
		</if>
		AND B.sellerUser_id=${pager.userid}
	</select>
	
	<!-- 订单列表 -->
	<select id="getOrderListByValue" parameterType="com.sanbang.vo.PagerOrder" resultMap="orderMap">
	 	 SELECT
	 	 	B.id orderid,
			C.id goodsid,
     		B.order_no,
			(C.price*1000) price,
			C.good_no,
			date_format(B.addTime, '%Y-%m-%d') addTime,
			(B.goods_amount / 1000) count,
			C.`name`,
			C.area_id,
			C.addess,
			B.total_price,
			B.goods_amount,
			IF(B.order_status=20,30,IF(B.order_status=1,10,B.order_status)) order_status,
			B.first_price,
			B.end_price,
			B.all_price,
			B.pact_status,
			B.address_id,
			date_format(
				B.finishtime,
				'%Y-%m-%d %H:%i:%S'
			) finishtime,		
			B.order_type,
			B.deleteStatus,
			D.areaName,
			B.sellerUser_id,	
  			 CONCAT("https://m.ezaisheng.com/",REPLACE(F.path,'\\','/'),"/",F.name) as path,
			F. NAME photoName		
				FROM
			ezs_purchase_orderform B
			LEFT JOIN ezs_goods C ON C.id = B.goodsId
			LEFT JOIN ezs_area D ON D.id = B.address_id
			LEFT JOIN ezs_accessory F ON C.goods_main_photo_id = F.id
			LEFT JOIN ezs_dvaluate G ON G.order_no = B.order_no
			WHERE
		1 = 1

	
		<if test="pager.order_status!=null and pager.order_status=='-1'">
	    and	B.order_status in (20,30,40,50,60,65,70,80,90,110)	
		</if>
		<if test="pager.order_type!=null and pager.order_type!=''">
		and B.order_type in (${pager.order_type})	
		</if>
	
		<if test="pager.order_status!=null and pager.order_status!='-1' ">
		and	B.order_status in (${pager.order_status})	
		</if>
		AND B.sellerUser_id=${pager.userid}
		ORDER BY B.addTime DESC
		limit #{pager.secount},#{pager.pageSize}
	</select>
	
	<!-- 订单详情 -->
	<select id="getOrderListByOrderno" resultMap="orderMap">
	  SELECT
			B.id orderid,
			C.id goodsid,
     		B.order_no,
			(C.price*1000) price,
			C.good_no,
			date_format(B.addTime, '%Y-%m-%d') addTime,
			(B.goods_amount / 1000) goods_amount,
			C.`name`,
			C.area_id,
			C.addess,
			B.total_price,
			IF(B.order_status=20,30,IF(B.order_status=1,10,B.order_status)) order_status,
			B.pay_mode,
			B.first_price,
			B.end_price,
			B.all_price,
			B.pact_status,
			B.address_id,
			date_format(
				B.finishtime,
				'%Y-%m-%d %H:%i:%S'
			) finishtime,		
			B.order_type,
			B.deleteStatus,
			D.areaName,
			B.sellerUser_id,	
  			CONCAT("https://m.ezaisheng.com/",REPLACE(F.path,'\\','/'),"/",F.name) as path,
			F. NAME photoName		
				FROM
			ezs_purchase_orderform B
		LEFT JOIN ezs_goods C ON C.id = B.goodsId
		LEFT JOIN ezs_area D ON D.id = B.address_id
		LEFT JOIN ezs_accessory F ON C.goods_main_photo_id = F.id
		LEFT JOIN ezs_dvaluate G ON G.order_no = B.order_no
		WHERE
		1 = 1
		AND B.deleteStatus = 0
	and 
	B.order_no=#{order_no}	
	</select>
	
	<!-- 订单详细信息 -->
	<select id="selectByorderno" resultMap="BaseResultMap">
    select 
		*
    from ezs_purchase_orderform
    where id = #{id,jdbcType=BIGINT}
	</select>
	
	<!--订单列表-->
	<resultMap id="orderMap" type="com.sanbang.bean.ezs_order_info" >
		<id column="good_no" jdbcType="VARCHAR" property="good_no" />
		<result column="addTime" property="addTime" jdbcType="VARCHAR" />
		<result column="count" property="count" jdbcType="DOUBLE" />
		<result column="order_no" property="order_no" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="addess" jdbcType="VARCHAR" property="addess" />
		<result column="deleteStatus" property="deleteStatus" jdbcType="BIT" />
		<result column="area_id" property="area_id" jdbcType="BIGINT" />
		<result column="total_price" property="total_price" jdbcType="DECIMAL" />
		<result column="goods_amount" property="goods_amount" jdbcType="DECIMAL" />
		<result column="order_status" property="order_status" jdbcType="INTEGER" />
		<result column="first_price" property="first_price" jdbcType="DECIMAL" />
		<result column="all_price" property="all_price" jdbcType="DECIMAL" />
		<result column="end_price" property="end_price" jdbcType="DECIMAL" />
		<result column="finishtime" property="finishtime" jdbcType="VARCHAR" />
		<result column="pact_status" property="pact_status" jdbcType="INTEGER" />
		<result column="address_id" property="address_id" jdbcType="BIGINT" />
		<result column="order_type" property="order_type" jdbcType="VARCHAR" />
		<result column="areaName" property="areaName" jdbcType="VARCHAR" />
		<result column="price" property="price" jdbcType="DECIMAL" />
		<result column="buyerid" property="buyerid" jdbcType="BIGINT" />
		<result column="sellerid" property="sellerid" jdbcType="BIGINT" />
		<result column="path" property="path" jdbcType="VARCHAR" />
		<result column="photoName" property="photoName" jdbcType="VARCHAR" />
		<result column="orderid" property="orderid" jdbcType="BIGINT" />
		<result column="goodsid" property="goodsid" jdbcType="BIGINT" />
	</resultMap>
	
	<select id="selectByOrderNo" resultMap="BaseResultMap">
		select 
	    <include refid="Base_Column_List" />
	    ,
	    <include refid="Blob_Column_List" />
	    from ezs_purchase_orderform
	    where order_no = #{order_no}
	</select>
	
	<select id="getFlowNum" resultType="java.lang.Integer">
		select count(id) as num from ezs_purchase_orderform where to_days(addTime) = to_days(now())
	</select>	
	
</mapper>