body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:809px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:803px;
}
#u1314 {
  position:absolute;
  left:100px;
  top:0px;
  width:388px;
  height:803px;
}
#u1315 {
  position:absolute;
  left:2px;
  top:394px;
  width:384px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:570px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1316 {
  position:absolute;
  left:135px;
  top:118px;
  width:321px;
  height:570px;
}
#u1317 {
  position:absolute;
  left:2px;
  top:277px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:11px;
}
#u1318 {
  position:absolute;
  left:414px;
  top:124px;
  width:33px;
  height:11px;
}
#u1319 {
  position:absolute;
  left:2px;
  top:-2px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1320 {
  position:absolute;
  left:143px;
  top:124px;
  width:55px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1321 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u1322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:47px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1322 {
  position:absolute;
  left:134px;
  top:146px;
  width:322px;
  height:47px;
}
#u1323 {
  position:absolute;
  left:2px;
  top:16px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:23px;
}
#u1324 {
  position:absolute;
  left:156px;
  top:158px;
  width:12px;
  height:23px;
}
#u1325 {
  position:absolute;
  left:2px;
  top:4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1326 {
  position:absolute;
  left:178px;
  top:160px;
  width:203px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1327 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
#u1328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
}
#u1328 {
  position:absolute;
  left:162px;
  top:206px;
  width:205px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
}
#u1329 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
#u1330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:2px;
}
#u1330 {
  position:absolute;
  left:156px;
  top:232px;
  width:276px;
  height:1px;
}
#u1331 {
  position:absolute;
  left:2px;
  top:-8px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1332 {
  position:absolute;
  left:381px;
  top:155px;
  width:66px;
  height:26px;
}
#u1333 {
  position:absolute;
  left:2px;
  top:5px;
  width:62px;
  word-wrap:break-word;
}
#u1334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:151px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1334 {
  position:absolute;
  left:515px;
  top:164px;
  width:294px;
  height:151px;
}
#u1335 {
  position:absolute;
  left:2px;
  top:68px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1336 {
  position:absolute;
  left:573px;
  top:206px;
  width:205px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1337 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
#u1338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1338 {
  position:absolute;
  left:691px;
  top:267px;
  width:68px;
  height:24px;
}
#u1339 {
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
