<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/aop       
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
    http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.0.xsd"
	default-autowire="no" default-lazy-init="false">

	<!-- 配置Mapper工厂 -->
	<bean id="baseMapper" class="org.mybatis.spring.mapper.MapperFactoryBean"
		abstract="true" lazy-init="true">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

	<!--用户登陆信息-->
	<bean id="ezs_userMapper" parent="baseMapper">
		<property name="mapperInterface"
			value="com.sanbang.dao.ezs_userMapper" />
	</bean>
	
	<!--用户明细-->
	<bean id="ezs_userinfoMapper" parent="baseMapper">
		<property name="mapperInterface"
			value="com.sanbang.dao.ezs_userinfoMapper" />
	</bean>
	
	<!--查询一级分类-->
	<bean id="ezs_cataMapper" parent="baseMapper">
		<property name="mapperInterface"
			value="com.sanbang.dao.ezs_cataMapper" />
	</bean>
	
	<!--商铺-->
	<bean id="ezs_storeMapper" parent="baseMapper">
		<property name="mapperInterface"
			value="com.sanbang.dao.ezs_storeMapper" />
	</bean>
	
	<!--地址接口-->
	<bean id="ezs_areaMapper" parent="baseMapper">
		<property name="mapperInterface"
			value="com.sanbang.dao.ezs_areaMapper" />
	</bean>
	<!-- 商品信息 -->
	<bean id="ezs_goodsMapper" parent="baseMapper">
		<property name="mapperInterface"
			value="com.sanbang.dao.ezs_goodsMapper" />
	</bean>
	<!-- 商品种类信息 -->
	<bean id="ezs_goods_classMapper" parent="baseMapper">
		<property name="mapperInterface"
			value="com.sanbang.dao.ezs_goods_classMapper" />
	</bean>
	<!-- 用户信息 -->
	<bean id="ezs_customerMapper" parent="baseMapper">
		<property name="mapperInterface"
			value="com.sanbang.dao.ezs_customerMapper" />
	</bean>
	<!-- 票据信息 -->
	<bean id="ezs_invoiceMapper" parent="baseMapper">
		<property name="mapperInterface"
			value="com.sanbang.dao.ezs_invoiceMapper" />
	</bean>
	
	<!-- 发票信息 -->
	<bean id="ezs_billMapper" parent="baseMapper">
		<property name="mapperInterface"
			value="com.sanbang.dao.ezs_billMapper" />
	</bean>
	<!-- 合同信息 -->
	<bean id="ezs_pactMapper" parent="baseMapper">
		<property name="mapperInterface"
			value="com.sanbang.dao.ezs_pactMapper" />
	</bean>
	<!-- 购买详情信息 -->
	<bean id="ezs_payinfoMapper" parent="baseMapper">
		<property name="mapperInterface"
			value="com.sanbang.dao.ezs_payinfoMapper" />
	</bean>
	<!-- 附件表详情信息 -->
	<bean id="ezs_accessoryMapper" parent="baseMapper">
		<property name="mapperInterface"
			value="com.sanbang.dao.ezs_accessoryMapper" />
	</bean>
	
	<!--字典接口-->
	<bean id="ezs_dictMapper" parent="baseMapper">
		<property name="mapperInterface"
			value="com.sanbang.dao.ezs_dictMapper" />
	</bean>
	
	<!--企业类型接口-->
	<bean id="ezs_companyType_dictMapper" parent="baseMapper">
		<property name="mapperInterface"
			value="com.sanbang.dao.ezs_companyType_dictMapper" />
	</bean>
	<!--主营行业接口-->
	<bean id="ezs_industry_dictMapper" parent="baseMapper">
		<property name="mapperInterface"
			value="com.sanbang.dao.ezs_industry_dictMapper" />
	</bean>
	<!--职位接口-->
	<bean id="ezs_positionMapper" parent="baseMapper">
		<property name="mapperInterface"
			value="com.sanbang.dao.ezs_positionMapper" />
	</bean>
	 <bean id="ezs_dvaluateMapper" parent="baseMapper">
		<property name="mapperInterface"
			value="com.sanbang.dao.ezs_dvaluateMapper" />
	</bean>
	
	<bean id="ezs_goodscartMapper" parent="baseMapper">
		<property name="mapperInterface"
			value="com.sanbang.dao.ezs_goodscartMapper" />
	</bean>
	
	<bean id="ezs_orderformMapper" parent="baseMapper">
		<property name="mapperInterface"
			value="com.sanbang.dao.ezs_orderformMapper" />
	</bean>
	
	<bean id="ezs_documentshareMapper" parent="baseMapper">
		<property name="mapperInterface"
			value="com.sanbang.dao.ezs_documentshareMapper" />
	</bean>
	<bean id="ezs_goods_audit_processMapper" parent="baseMapper">
		<property name="mapperInterface"
			value="com.sanbang.dao.ezs_goods_audit_processMapper" />
	</bean>
	<bean id="ezs_goods_logMapper" parent="baseMapper">
		<property name="mapperInterface"
			value="com.sanbang.dao.ezs_goods_logMapper" />
	</bean>
	<bean id="ezs_purchase_orderformMapper" parent="baseMapper">
		<property name="mapperInterface"
			value="com.sanbang.dao.ezs_purchase_orderformMapper" />
	</bean>
	<bean id="ezs_logisticsMapper" parent="baseMapper">
		<property name="mapperInterface"
			value="com.sanbang.dao.ezs_logisticsMapper" />
	</bean>
	<!-- 定制采购-订购商 -->
	<bean id="ezs_customized_recordMapper" parent="baseMapper">
		<property name="mapperInterface"
			value="com.sanbang.dao.ezs_customized_recordMapper" />
	</bean>
	<!-- 定制采购-定制单 -->
	<bean id="ezs_customizedMapper" parent="baseMapper">
		<property name="mapperInterface"
			value="com.sanbang.dao.ezs_customizedMapper" />
	</bean>
	<!-- 地址 -->
 	<bean id="ezs_addressMapper" parent="baseMapper">
		<property name="mapperInterface"
			value="com.sanbang.dao.ezs_addressMapper" />
	</bean>
	<!-- 栏目 -->
	<bean id="ezs_columnMapper" parent="baseMapper">
		<property name="mapperInterface"
			value="com.sanbang.dao.ezs_columnMapper"/>
	</bean>
	<!-- 文章 -->
	<bean id="ezs_ezssubstanceMapper" parent="baseMapper">
		<property name="mapperInterface"
			value="com.sanbang.dao.ezs_ezssubstanceMapper"/>
	</bean>
	<!-- 实时报价 -->
	<bean id="ezs_price_trendMapper" parent="baseMapper">
		<property name="mapperInterface"
			value="com.sanbang.dao.ezs_price_trendMapper"/>
	</bean>
	<!--图片-->
	<bean id="ezs_paperMapper" parent="baseMapper">
		<property name="mapperInterface"
			value="com.sanbang.dao.ezs_paperMapper"/>
	</bean>
	<bean id="ezs_card_dictMapper" parent="baseMapper">
		<property name="mapperInterface"
			value="com.sanbang.dao.ezs_card_dictMapper"/>
	</bean>
	
	<!-- 卖家退货订单 -->
	<bean id="returnOrderMapper" parent="baseMapper">
		<property name="mapperInterface"
			value="com.sanbang.dao.ReturnOrderMapper"/>
	</bean>
	
	
	
	
</beans>
