<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/aop       
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
    http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.0.xsd"
	default-autowire="no" default-lazy-init="false">

	<!-- 配置Mapper工厂 -->
	<bean id="baseMapper" class="org.mybatis.spring.mapper.MapperFactoryBean"
		abstract="true" lazy-init="true">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

	<!--用户登陆信息-->
	<bean id="ezs_userMapper" parent="baseMapper">
		<property name="mapperInterface"
			value="com.sanbang.dao.ezs_userMapper" />
	</bean>
	
	<!--用户明细-->
	<bean id="ezs_userinfoMapper" parent="baseMapper">
		<property name="mapperInterface"
			value="com.sanbang.dao.ezs_userinfoMapper" />
	</bean>
	
	<!--查询一级分类-->
	<bean id="ezs_cataMapper" parent="baseMapper">
		<property name="mapperInterface"
			value="com.sanbang.dao.ezs_cataMapper" />
	</bean>
	
	<!--商铺-->
	<bean id="ezs_storeMapper" parent="baseMapper">
		<property name="mapperInterface"
			value="com.sanbang.dao.ezs_storeMapper" />
	</bean>
	<!--地址接口-->
	<bean id="ezs_areaMapper" parent="baseMapper">
		<property name="mapperInterface"
			value="com.sanbang.dao.ezs_areaMapper" />
	</bean>
	
</beans>
















