body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2579px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:220px;
  top:20px;
  width:1610px;
  height:70px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1611px;
  height:71px;
}
#u1 {
  position:absolute;
  left:2px;
  top:27px;
  width:1606px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:20px;
  top:20px;
  width:200px;
  height:1070px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:1071px;
}
#u4 {
  position:absolute;
  left:2px;
  top:527px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:40px;
  top:44px;
  width:80px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:40px;
  top:76px;
  width:90px;
  height:19px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:40px;
  top:165px;
  width:60px;
  height:19px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:40px;
  top:105px;
  width:90px;
  height:19px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:40px;
  top:200px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:40px;
  top:230px;
  width:90px;
  height:19px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:40px;
  top:261px;
  width:90px;
  height:19px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:40px;
  top:337px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:40px;
  top:367px;
  width:140px;
  height:19px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:40px;
  top:403px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:40px;
  top:433px;
  width:90px;
  height:19px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:40px;
  top:474px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:40px;
  top:504px;
  width:90px;
  height:19px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:40px;
  top:533px;
  width:90px;
  height:19px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:40px;
  top:598px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:40px;
  top:628px;
  width:90px;
  height:19px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:40px;
  top:657px;
  width:90px;
  height:19px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:40px;
  top:951px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:40px;
  top:981px;
  width:130px;
  height:19px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:20px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:40px;
  top:134px;
  width:90px;
  height:19px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:40px;
  top:562px;
  width:90px;
  height:19px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:40px;
  top:697px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:40px;
  top:727px;
  width:90px;
  height:19px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:40px;
  top:766px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:40px;
  top:796px;
  width:90px;
  height:19px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:40px;
  top:858px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:40px;
  top:888px;
  width:90px;
  height:19px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:40px;
  top:821px;
  width:90px;
  height:19px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:40px;
  top:912px;
  width:90px;
  height:19px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:40px;
  top:292px;
  width:90px;
  height:19px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:220px;
  top:82px;
  width:1610px;
  height:108px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1611px;
  height:109px;
}
#u66 {
  position:absolute;
  left:2px;
  top:46px;
  width:1606px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:220px;
  top:190px;
  width:1610px;
  height:900px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1611px;
  height:901px;
}
#u68 {
  position:absolute;
  left:2px;
  top:442px;
  width:1606px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:290px;
  top:223px;
  width:50px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:471px;
  top:223px;
  width:50px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:759px;
  top:223px;
  width:50px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:1003px;
  top:223px;
  width:50px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:362px;
  top:41px;
  width:120px;
  height:40px;
  color:#FFFFFF;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u78 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:1213px;
  top:223px;
  width:66px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:1681px;
  top:223px;
  width:50px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:260px;
  top:298px;
  width:90px;
  height:19px;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:390px;
  top:272px;
  width:80px;
  height:70px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:71px;
}
#u86 {
  position:absolute;
  left:2px;
  top:27px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:490px;
  top:290px;
  width:140px;
  height:57px;
  color:#0000FF;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:58px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:708px;
  top:270px;
  width:180px;
  height:44px;
  color:#0000FF;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:45px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:693px;
  top:295px;
  width:172px;
  height:19px;
  color:#0000FF;
  text-align:center;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:20px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:974px;
  top:286px;
  width:89px;
  height:19px;
  text-align:center;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:1193px;
  top:286px;
  width:89px;
  height:19px;
  text-decoration:underline;
  color:#0000FF;
  text-align:center;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:1641px;
  top:286px;
  width:27px;
  height:19px;
  color:#FF8500;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:1740px;
  top:286px;
  width:27px;
  height:19px;
  color:#FF8500;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:1689px;
  top:286px;
  width:27px;
  height:19px;
  color:#FF8500;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:260px;
  top:418px;
  width:90px;
  height:19px;
  text-align:center;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:390px;
  top:392px;
  width:80px;
  height:70px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:71px;
}
#u106 {
  position:absolute;
  left:2px;
  top:27px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:490px;
  top:406px;
  width:140px;
  height:57px;
  color:#0000FF;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:58px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:708px;
  top:390px;
  width:180px;
  height:44px;
  color:#0000FF;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:45px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:693px;
  top:415px;
  width:172px;
  height:19px;
  color:#0000FF;
  text-align:center;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:20px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:974px;
  top:406px;
  width:89px;
  height:19px;
  text-align:center;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:1193px;
  top:406px;
  width:89px;
  height:19px;
  text-decoration:underline;
  color:#0000FF;
  text-align:center;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:1641px;
  top:408px;
  width:27px;
  height:19px;
  color:#FF8500;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:1740px;
  top:408px;
  width:27px;
  height:19px;
  color:#FF8500;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:1689px;
  top:408px;
  width:27px;
  height:19px;
  color:#FF8500;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u123 {
  position:absolute;
  left:343px;
  top:105px;
  width:270px;
  height:25px;
}
#u123_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u124 {
  position:absolute;
  left:1380px;
  top:284px;
  width:200px;
  height:19px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:20px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:1440px;
  top:223px;
  width:50px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:1380px;
  top:407px;
  width:200px;
  height:19px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:20px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:343px;
  top:145px;
  width:116px;
  height:25px;
}
#u130_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u131 {
  position:absolute;
  left:249px;
  top:145px;
  width:81px;
  height:22px;
}
#u131_input {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u131_input:disabled {
  color:grayText;
}
#u132 {
  position:absolute;
  left:497px;
  top:145px;
  width:116px;
  height:25px;
}
#u132_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u133 {
  position:absolute;
  left:473px;
  top:145px;
  width:24px;
  height:19px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:640px;
  top:106px;
  width:177px;
  height:22px;
}
#u135_input {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u135_input:disabled {
  color:grayText;
}
#u136 {
  position:absolute;
  left:240px;
  top:300px;
  width:100px;
  height:16px;
}
#u137 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u138 {
  position:absolute;
  left:240px;
  top:420px;
  width:40px;
  height:16px;
}
#u139 {
  position:absolute;
  left:16px;
  top:0px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u140 {
  position:absolute;
  left:240px;
  top:224px;
  width:100px;
  height:16px;
}
#u141 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u142 {
  position:absolute;
  left:680px;
  top:145px;
  width:59px;
  height:25px;
}
#u142_input {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u143 {
  position:absolute;
  left:758px;
  top:145px;
  width:59px;
  height:25px;
}
#u143_input {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u144 {
  position:absolute;
  left:746px;
  top:145px;
  width:12px;
  height:19px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:20px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:640px;
  top:150px;
  width:27px;
  height:19px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u148 {
  position:absolute;
  left:923px;
  top:100px;
  width:59px;
  height:25px;
}
#u148_input {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u149 {
  position:absolute;
  left:1001px;
  top:100px;
  width:59px;
  height:25px;
}
#u149_input {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u150 {
  position:absolute;
  left:989px;
  top:100px;
  width:12px;
  height:19px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:20px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:850px;
  top:106px;
  width:27px;
  height:19px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u154 {
  position:absolute;
  left:1260px;
  top:120px;
  width:80px;
  height:40px;
  color:#FFFFFF;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:41px;
}
#u155 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:1350px;
  top:120px;
  width:80px;
  height:40px;
  color:#FFFFFF;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:41px;
}
#u157 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:1560px;
  top:1015px;
  width:30px;
  height:30px;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u159 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:1600px;
  top:1015px;
  width:30px;
  height:30px;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u161 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:1640px;
  top:1015px;
  width:30px;
  height:30px;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u163 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:1680px;
  top:1015px;
  width:30px;
  height:30px;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u165 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:1490px;
  top:1015px;
  width:60px;
  height:30px;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u167 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:1720px;
  top:1015px;
  width:59px;
  height:30px;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:31px;
}
#u169 {
  position:absolute;
  left:2px;
  top:6px;
  width:55px;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:770px;
  top:41px;
  width:120px;
  height:40px;
  color:#FFFFFF;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u171 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:235px;
  top:41px;
  width:115px;
  height:40px;
  color:#FFFFFF;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:41px;
}
#u173 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:1942px;
  top:12px;
  width:470px;
  height:408px;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:409px;
}
#u175 {
  position:absolute;
  left:2px;
  top:196px;
  width:466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:1998px;
  top:70px;
  width:340px;
  height:19px;
  color:#000000;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:20px;
}
#u177 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:1999px;
  top:113px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u179 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u180 {
  position:absolute;
  left:1999px;
  top:146px;
  width:100px;
  height:19px;
}
#u181 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u180_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u182 {
  position:absolute;
  left:1999px;
  top:182px;
  width:100px;
  height:19px;
}
#u183 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u182_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u184 {
  position:absolute;
  left:1999px;
  top:252px;
  width:373px;
  height:88px;
}
#u184_input {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:88px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u185 {
  position:absolute;
  left:1999px;
  top:223px;
  width:27px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u186 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u187 {
  position:absolute;
  left:1998px;
  top:37px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u189 {
  position:absolute;
  left:2092px;
  top:364px;
  width:80px;
  height:30px;
  color:#FFFFFF;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
}
#u190 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u191 {
  position:absolute;
  left:2182px;
  top:364px;
  width:80px;
  height:30px;
  color:#FFFFFF;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
}
#u192 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u193 {
  position:absolute;
  left:1710px;
  top:291px;
  width:264px;
  height:10px;
}
#u193_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u193_end {
  position:absolute;
  left:255px;
  top:-5px;
  width:14px;
  height:20px;
}
#u193_line {
  position:absolute;
  left:0px;
  top:5px;
  width:264px;
  height:1px;
}
#u194 {
  position:absolute;
  left:1949px;
  top:503px;
  width:630px;
  height:398px;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:399px;
}
#u195 {
  position:absolute;
  left:2px;
  top:191px;
  width:626px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196 {
  position:absolute;
  left:1989px;
  top:572px;
  width:164px;
  height:19px;
  color:#000000;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:20px;
}
#u197 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u198 {
  position:absolute;
  left:2199px;
  top:528px;
  width:40px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
}
#u199 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u200 {
  position:absolute;
  left:2026px;
  top:528px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u201 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u202 {
  position:absolute;
  left:2189px;
  top:841px;
  width:80px;
  height:30px;
  color:#FFFFFF;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
}
#u203 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u204 {
  position:absolute;
  left:2279px;
  top:841px;
  width:80px;
  height:30px;
  color:#FFFFFF;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
}
#u205 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u206 {
  position:absolute;
  left:2399px;
  top:528px;
  width:113px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:20px;
}
#u207 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u208 {
  position:absolute;
  left:2199px;
  top:572px;
  width:90px;
  height:19px;
  color:#000000;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u209 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u210 {
  position:absolute;
  left:2309px;
  top:562px;
  width:200px;
  height:38px;
  color:#000000;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:39px;
}
#u211 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u212 {
  position:absolute;
  left:1989px;
  top:625px;
  width:164px;
  height:19px;
  color:#000000;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:20px;
}
#u213 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u214 {
  position:absolute;
  left:2199px;
  top:625px;
  width:90px;
  height:19px;
  color:#000000;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u215 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u216 {
  position:absolute;
  left:2309px;
  top:615px;
  width:200px;
  height:38px;
  color:#000000;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:39px;
}
#u217 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u218 {
  position:absolute;
  left:1989px;
  top:723px;
  width:550px;
  height:88px;
}
#u218_input {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:88px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u219 {
  position:absolute;
  left:1989px;
  top:695px;
  width:27px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u220 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u221 {
  position:absolute;
  left:1747px;
  top:474px;
  width:244px;
  height:10px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
}
#u221_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u221_end {
  position:absolute;
  left:235px;
  top:-5px;
  width:14px;
  height:20px;
}
#u221_line {
  position:absolute;
  left:0px;
  top:5px;
  width:244px;
  height:1px;
}
#u222 {
  position:absolute;
  left:2552px;
  top:503px;
  width:27px;
  height:180px;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:181px;
}
#u223 {
  position:absolute;
  left:2px;
  top:82px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224 {
  position:absolute;
  left:2552px;
  top:503px;
  width:27px;
  height:21px;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:22px;
}
#u225 {
  position:absolute;
  left:2px;
  top:2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226 {
  position:absolute;
  left:390px;
  top:510px;
  width:80px;
  height:70px;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:71px;
}
#u227 {
  position:absolute;
  left:2px;
  top:27px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228 {
  position:absolute;
  left:490px;
  top:524px;
  width:140px;
  height:57px;
  color:#0000FF;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:58px;
}
#u229 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u230 {
  position:absolute;
  left:708px;
  top:508px;
  width:180px;
  height:44px;
  color:#0000FF;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:45px;
}
#u231 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u232 {
  position:absolute;
  left:693px;
  top:533px;
  width:172px;
  height:19px;
  color:#0000FF;
  text-align:center;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:20px;
}
#u233 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u234 {
  position:absolute;
  left:974px;
  top:524px;
  width:89px;
  height:19px;
  text-align:center;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u235 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u236 {
  position:absolute;
  left:1193px;
  top:524px;
  width:89px;
  height:19px;
  text-decoration:underline;
  color:#0000FF;
  text-align:center;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u237 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u238 {
  position:absolute;
  left:1641px;
  top:527px;
  width:27px;
  height:19px;
  color:#FF8500;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u239 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u240 {
  position:absolute;
  left:1740px;
  top:527px;
  width:27px;
  height:19px;
  color:#FF8500;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u241 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u242 {
  position:absolute;
  left:1689px;
  top:527px;
  width:27px;
  height:19px;
  color:#FF8500;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u243 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u244 {
  position:absolute;
  left:1380px;
  top:526px;
  width:200px;
  height:19px;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:20px;
}
#u245 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u246 {
  position:absolute;
  left:240px;
  top:536px;
  width:30px;
  height:16px;
}
#u247 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u246_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u248 {
  position:absolute;
  left:260px;
  top:534px;
  width:90px;
  height:19px;
  text-align:center;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u249 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u250 {
  position:absolute;
  left:497px;
  top:41px;
  width:120px;
  height:40px;
  color:#FFFFFF;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u251 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u252 {
  position:absolute;
  left:1851px;
  top:1028px;
  width:402px;
  height:42px;
  font-size:16px;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:43px;
}
#u253 {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  word-wrap:break-word;
}
#u254 {
  position:absolute;
  left:633px;
  top:41px;
  width:120px;
  height:40px;
  color:#FFFFFF;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u255 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u256 {
  position:absolute;
  left:725px;
  top:323px;
  width:110px;
  height:19px;
  text-align:center;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
}
#u257 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u258 {
  position:absolute;
  left:724px;
  top:444px;
  width:110px;
  height:19px;
  text-align:center;
}
#u258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
}
#u259 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u260 {
  position:absolute;
  left:724px;
  top:562px;
  width:110px;
  height:19px;
  text-align:center;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
}
#u261 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u262 {
  position:absolute;
  left:489px;
  top:268px;
  width:57px;
  height:19px;
  color:#0000FF;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u263 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u264 {
  position:absolute;
  left:490px;
  top:387px;
  width:57px;
  height:19px;
  color:#0000FF;
}
#u264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u265 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u266 {
  position:absolute;
  left:490px;
  top:505px;
  width:57px;
  height:19px;
  color:#0000FF;
}
#u266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u267 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u268 {
  position:absolute;
  left:249px;
  top:105px;
  width:81px;
  height:22px;
}
#u268_input {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u268_input:disabled {
  color:grayText;
}
