body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2240px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:20px;
  top:20px;
  width:200px;
  height:1070px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:1071px;
}
#u2 {
  position:absolute;
  left:2px;
  top:527px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:40px;
  top:44px;
  width:80px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:40px;
  top:76px;
  width:90px;
  height:19px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:40px;
  top:165px;
  width:60px;
  height:19px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:40px;
  top:105px;
  width:90px;
  height:19px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:40px;
  top:200px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:40px;
  top:230px;
  width:90px;
  height:19px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:40px;
  top:261px;
  width:90px;
  height:19px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:40px;
  top:337px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:40px;
  top:367px;
  width:140px;
  height:19px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:40px;
  top:403px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:40px;
  top:433px;
  width:90px;
  height:19px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:40px;
  top:474px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:40px;
  top:504px;
  width:90px;
  height:19px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:40px;
  top:533px;
  width:90px;
  height:19px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:40px;
  top:598px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:40px;
  top:628px;
  width:90px;
  height:19px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:40px;
  top:657px;
  width:90px;
  height:19px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:40px;
  top:951px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:40px;
  top:981px;
  width:130px;
  height:19px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:20px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:40px;
  top:134px;
  width:90px;
  height:19px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:40px;
  top:562px;
  width:90px;
  height:19px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:40px;
  top:697px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:40px;
  top:727px;
  width:90px;
  height:19px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:40px;
  top:766px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:40px;
  top:796px;
  width:90px;
  height:19px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:40px;
  top:858px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:40px;
  top:888px;
  width:90px;
  height:19px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:40px;
  top:821px;
  width:90px;
  height:19px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:40px;
  top:912px;
  width:90px;
  height:19px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:40px;
  top:292px;
  width:90px;
  height:19px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:220px;
  top:20px;
  width:2020px;
  height:136px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2021px;
  height:137px;
}
#u64 {
  position:absolute;
  left:2px;
  top:60px;
  width:2016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:343px;
  top:59px;
  width:270px;
  height:25px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u66 {
  position:absolute;
  left:249px;
  top:59px;
  width:81px;
  height:22px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u66_input:disabled {
  color:grayText;
}
#u67 {
  position:absolute;
  left:343px;
  top:99px;
  width:116px;
  height:25px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u68 {
  position:absolute;
  left:249px;
  top:99px;
  width:81px;
  height:22px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u68_input:disabled {
  color:grayText;
}
#u69 {
  position:absolute;
  left:497px;
  top:99px;
  width:116px;
  height:25px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u70 {
  position:absolute;
  left:473px;
  top:99px;
  width:24px;
  height:19px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:739px;
  top:57px;
  width:59px;
  height:25px;
}
#u72_input {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u73 {
  position:absolute;
  left:817px;
  top:57px;
  width:59px;
  height:25px;
}
#u73_input {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u74 {
  position:absolute;
  left:805px;
  top:57px;
  width:12px;
  height:19px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:20px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:948px;
  top:70px;
  width:80px;
  height:40px;
  color:#FFFFFF;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:41px;
}
#u77 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:1038px;
  top:70px;
  width:80px;
  height:40px;
  color:#FFFFFF;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:41px;
}
#u79 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:640px;
  top:102px;
  width:53px;
  height:19px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:739px;
  top:101px;
  width:81px;
  height:22px;
}
#u82_input {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u82_input:disabled {
  color:grayText;
}
#u83 {
  position:absolute;
  left:1128px;
  top:70px;
  width:80px;
  height:40px;
  color:#FFFFFF;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:41px;
}
#u84 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:220px;
  top:156px;
  width:2020px;
  height:934px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2021px;
  height:935px;
}
#u86 {
  position:absolute;
  left:2px;
  top:459px;
  width:2016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:358px;
  top:196px;
  width:50px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:614px;
  top:196px;
  width:93px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:1483px;
  top:196px;
  width:101px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:1303px;
  top:196px;
  width:91px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:2091px;
  top:196px;
  width:50px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:277px;
  top:276px;
  width:80px;
  height:70px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:71px;
}
#u98 {
  position:absolute;
  left:2px;
  top:27px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:377px;
  top:282px;
  width:140px;
  height:57px;
  color:#0000FF;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:58px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:613px;
  top:286px;
  width:89px;
  height:38px;
  text-align:center;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:39px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:2130px;
  top:278px;
  width:27px;
  height:19px;
  color:#FF8500;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:1489px;
  top:290px;
  width:89px;
  height:19px;
  text-align:center;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:1303px;
  top:325px;
  width:89px;
  height:19px;
  text-align:center;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:1636px;
  top:289px;
  width:200px;
  height:19px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:20px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:1696px;
  top:196px;
  width:80px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:277px;
  top:238px;
  width:43px;
  height:19px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:330px;
  top:238px;
  width:200px;
  height:19px;
  color:#0000FF;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:20px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:1258px;
  top:270px;
  width:180px;
  height:25px;
  color:#0000FF;
  text-align:center;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:26px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:1262px;
  top:296px;
  width:172px;
  height:19px;
  color:#0000FF;
  text-align:center;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:20px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:2061px;
  top:278px;
  width:61px;
  height:19px;
  color:#FF8500;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:908px;
  top:196px;
  width:93px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:910px;
  top:296px;
  width:89px;
  height:19px;
  text-align:center;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:1027px;
  top:196px;
  width:93px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:1029px;
  top:296px;
  width:89px;
  height:19px;
  text-align:center;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:1146px;
  top:196px;
  width:93px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:1148px;
  top:296px;
  width:89px;
  height:19px;
  text-align:center;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:277px;
  top:460px;
  width:80px;
  height:70px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:71px;
}
#u136 {
  position:absolute;
  left:2px;
  top:27px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:377px;
  top:466px;
  width:140px;
  height:57px;
  color:#0000FF;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:58px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:613px;
  top:470px;
  width:89px;
  height:38px;
  text-align:center;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:39px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:2140px;
  top:476px;
  width:27px;
  height:19px;
  color:#FF8500;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u143 {
  position:absolute;
  left:1489px;
  top:474px;
  width:89px;
  height:19px;
  text-align:center;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:1303px;
  top:509px;
  width:89px;
  height:19px;
  text-align:center;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:1636px;
  top:473px;
  width:200px;
  height:19px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:20px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:277px;
  top:422px;
  width:43px;
  height:19px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u151 {
  position:absolute;
  left:330px;
  top:422px;
  width:200px;
  height:19px;
  color:#0000FF;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:20px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:1258px;
  top:454px;
  width:180px;
  height:25px;
  color:#0000FF;
  text-align:center;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:26px;
}
#u154 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:1262px;
  top:480px;
  width:172px;
  height:19px;
  color:#0000FF;
  text-align:center;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:20px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:2071px;
  top:476px;
  width:61px;
  height:19px;
  color:#FF8500;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:910px;
  top:480px;
  width:89px;
  height:19px;
  text-align:center;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:1029px;
  top:480px;
  width:89px;
  height:19px;
  text-align:center;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:1148px;
  top:480px;
  width:89px;
  height:19px;
  text-align:center;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:259px;
  top:380px;
  width:1961px;
  height:10px;
}
#u165_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u165_end {
  position:absolute;
  left:1952px;
  top:-5px;
  width:14px;
  height:20px;
}
#u165_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1961px;
  height:1px;
}
#u166 {
  position:absolute;
  left:277px;
  top:650px;
  width:80px;
  height:70px;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:71px;
}
#u167 {
  position:absolute;
  left:2px;
  top:27px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:377px;
  top:656px;
  width:140px;
  height:57px;
  color:#0000FF;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:58px;
}
#u169 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:613px;
  top:660px;
  width:89px;
  height:38px;
  text-align:center;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:39px;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:2140px;
  top:666px;
  width:27px;
  height:19px;
  color:#FF8500;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u173 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u174 {
  position:absolute;
  left:1489px;
  top:664px;
  width:89px;
  height:19px;
  text-align:center;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u175 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:1303px;
  top:699px;
  width:89px;
  height:19px;
  text-align:center;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u177 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:1636px;
  top:663px;
  width:200px;
  height:19px;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:20px;
}
#u179 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u180 {
  position:absolute;
  left:277px;
  top:612px;
  width:43px;
  height:19px;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
}
#u181 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u182 {
  position:absolute;
  left:330px;
  top:612px;
  width:200px;
  height:19px;
  color:#0000FF;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:20px;
}
#u183 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:1258px;
  top:644px;
  width:180px;
  height:25px;
  color:#0000FF;
  text-align:center;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:26px;
}
#u185 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:1262px;
  top:670px;
  width:172px;
  height:19px;
  color:#0000FF;
  text-align:center;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:20px;
}
#u187 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:2071px;
  top:666px;
  width:61px;
  height:19px;
  color:#FF8500;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u189 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u190 {
  position:absolute;
  left:910px;
  top:670px;
  width:89px;
  height:19px;
  text-align:center;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u191 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:1029px;
  top:670px;
  width:89px;
  height:19px;
  text-align:center;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u194 {
  position:absolute;
  left:1148px;
  top:670px;
  width:89px;
  height:19px;
  text-align:center;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u195 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u196 {
  position:absolute;
  left:259px;
  top:570px;
  width:1961px;
  height:10px;
}
#u196_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u196_end {
  position:absolute;
  left:1952px;
  top:-5px;
  width:14px;
  height:20px;
}
#u196_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1961px;
  height:1px;
}
#u197 {
  position:absolute;
  left:259px;
  top:770px;
  width:1961px;
  height:10px;
}
#u197_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u197_end {
  position:absolute;
  left:1952px;
  top:-5px;
  width:14px;
  height:20px;
}
#u197_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1961px;
  height:1px;
}
#u198 {
  position:absolute;
  left:766px;
  top:196px;
  width:93px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u199 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u200 {
  position:absolute;
  left:768px;
  top:296px;
  width:89px;
  height:19px;
  text-align:center;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u201 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u202 {
  position:absolute;
  left:768px;
  top:480px;
  width:89px;
  height:19px;
  text-align:center;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u203 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u204 {
  position:absolute;
  left:768px;
  top:670px;
  width:89px;
  height:19px;
  text-align:center;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u205 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u206 {
  position:absolute;
  left:277px;
  top:868px;
  width:80px;
  height:70px;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:71px;
}
#u207 {
  position:absolute;
  left:2px;
  top:27px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208 {
  position:absolute;
  left:377px;
  top:874px;
  width:140px;
  height:57px;
  color:#0000FF;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:58px;
}
#u209 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u210 {
  position:absolute;
  left:613px;
  top:878px;
  width:89px;
  height:38px;
  text-align:center;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:39px;
}
#u211 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u212 {
  position:absolute;
  left:2139px;
  top:884px;
  width:27px;
  height:19px;
  color:#FF8500;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u213 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u214 {
  position:absolute;
  left:1488px;
  top:882px;
  width:89px;
  height:19px;
  text-align:center;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u215 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u216 {
  position:absolute;
  left:1303px;
  top:917px;
  width:89px;
  height:19px;
  text-align:center;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u217 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u218 {
  position:absolute;
  left:1635px;
  top:881px;
  width:200px;
  height:19px;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:20px;
}
#u219 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u220 {
  position:absolute;
  left:277px;
  top:830px;
  width:43px;
  height:19px;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
}
#u221 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u222 {
  position:absolute;
  left:329px;
  top:830px;
  width:200px;
  height:19px;
  color:#0000FF;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:20px;
}
#u223 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u224 {
  position:absolute;
  left:1257px;
  top:862px;
  width:180px;
  height:25px;
  color:#0000FF;
  text-align:center;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:26px;
}
#u225 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u226 {
  position:absolute;
  left:1261px;
  top:888px;
  width:172px;
  height:19px;
  color:#0000FF;
  text-align:center;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:20px;
}
#u227 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u228 {
  position:absolute;
  left:2071px;
  top:884px;
  width:61px;
  height:19px;
  color:#FF8500;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u229 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u230 {
  position:absolute;
  left:909px;
  top:888px;
  width:89px;
  height:19px;
  text-align:center;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u231 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u232 {
  position:absolute;
  left:1029px;
  top:888px;
  width:89px;
  height:19px;
  text-align:center;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u233 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u234 {
  position:absolute;
  left:1147px;
  top:888px;
  width:89px;
  height:19px;
  text-align:center;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u235 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u236 {
  position:absolute;
  left:767px;
  top:888px;
  width:89px;
  height:19px;
  text-align:center;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u237 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u238 {
  position:absolute;
  left:641px;
  top:60px;
  width:81px;
  height:22px;
}
#u238_input {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u238_input:disabled {
  color:grayText;
}
#u239 {
  position:absolute;
  left:1889px;
  top:196px;
  width:80px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
}
#u240 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u241 {
  position:absolute;
  left:2056px;
  top:313px;
  width:60px;
  height:30px;
  color:#FFFFFF;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u242 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u243 {
  position:absolute;
  left:2121px;
  top:313px;
  width:60px;
  height:30px;
  color:#FFFFFF;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u244 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u245 {
  position:absolute;
  left:1844px;
  top:462px;
  width:168px;
  height:38px;
  text-align:center;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:39px;
}
#u246 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u247 {
  position:absolute;
  left:2071px;
  top:505px;
  width:60px;
  height:30px;
  color:#FFFFFF;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u248 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u249 {
  position:absolute;
  left:1846px;
  top:656px;
  width:168px;
  height:38px;
  text-align:center;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:39px;
}
#u250 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u251 {
  position:absolute;
  left:1845px;
  top:869px;
  width:168px;
  height:38px;
  text-align:center;
}
#u251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:39px;
}
#u252 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u253 {
  position:absolute;
  left:2071px;
  top:699px;
  width:60px;
  height:30px;
  color:#FFFFFF;
}
#u253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u254 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u255 {
  position:absolute;
  left:1980px;
  top:81px;
  width:73px;
  height:19px;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
}
#u256 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u257 {
  position:absolute;
  left:2062px;
  top:75px;
  width:60px;
  height:30px;
  color:#FFFFFF;
}
#u257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u258 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u259 {
  position:absolute;
  left:2132px;
  top:75px;
  width:60px;
  height:30px;
  color:#FFFFFF;
}
#u259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u260 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u261 {
  position:absolute;
  left:1924px;
  top:20px;
  width:10px;
  height:136px;
}
#u261_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u261_end {
  position:absolute;
  left:-5px;
  top:127px;
  width:20px;
  height:14px;
}
#u261_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:136px;
}
