body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:486px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:803px;
}
#u7346 {
  position:absolute;
  left:98px;
  top:0px;
  width:388px;
  height:803px;
}
#u7347 {
  position:absolute;
  left:2px;
  top:394px;
  width:384px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:570px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7348 {
  position:absolute;
  left:133px;
  top:118px;
  width:321px;
  height:570px;
}
#u7349 {
  position:absolute;
  left:2px;
  top:277px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7350 {
  position:absolute;
  left:132px;
  top:151px;
  width:322px;
  height:40px;
}
#u7351 {
  position:absolute;
  left:2px;
  top:12px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:11px;
}
#u7352 {
  position:absolute;
  left:412px;
  top:124px;
  width:33px;
  height:11px;
}
#u7353 {
  position:absolute;
  left:2px;
  top:-2px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u7354 {
  position:absolute;
  left:141px;
  top:124px;
  width:55px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u7355 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u7356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u7356 {
  position:absolute;
  left:143px;
  top:161px;
  width:203px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u7357 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
#u7358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7358 {
  position:absolute;
  left:148px;
  top:242px;
  width:141px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7359 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u7360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:343px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7360 {
  position:absolute;
  left:148px;
  top:299px;
  width:295px;
  height:343px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7361 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  word-wrap:break-word;
}
#u7362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7362 {
  position:absolute;
  left:232px;
  top:203px;
  width:168px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7363 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u7364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7364 {
  position:absolute;
  left:148px;
  top:268px;
  width:155px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7365 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u7366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:49px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7366 {
  position:absolute;
  left:132px;
  top:639px;
  width:322px;
  height:49px;
}
#u7367 {
  position:absolute;
  left:2px;
  top:16px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:33px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7368 {
  position:absolute;
  left:168px;
  top:648px;
  width:259px;
  height:33px;
}
#u7369 {
  position:absolute;
  left:2px;
  top:8px;
  width:255px;
  word-wrap:break-word;
}
