body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:609px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:479px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:479px;
}
#u1 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:35px;
  width:320px;
  height:31px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:31px;
}
#u3 {
  position:absolute;
  left:2px;
  top:8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:26px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:26px;
}
#u5 {
  position:absolute;
  left:2px;
  top:5px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:276px;
  top:13px;
  width:18px;
  height:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:304px;
  top:13px;
  width:12px;
  height:18px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:18px;
}
#u9 {
  position:absolute;
  left:2px;
  top:1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:23px;
  top:13px;
  width:18px;
  height:18px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u11 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:47px;
  top:13px;
  width:18px;
  height:18px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u13 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:248px;
  top:13px;
  width:18px;
  height:18px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u15 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:23px;
  top:42px;
  width:39px;
  height:16px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:130px;
  top:42px;
  width:90px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:20px;
  top:76px;
  width:300px;
  height:404px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:404px;
}
#u21 {
  position:absolute;
  left:2px;
  top:194px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:105px;
  top:384px;
  width:126px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:350px;
  top:60px;
  width:259px;
  height:350px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:350px;
}
#u25 {
  position:absolute;
  left:2px;
  top:167px;
  width:255px;
  visibility:hidden;
  word-wrap:break-word;
}
