body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:630px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:520px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:520px;
}
#u1 {
  position:absolute;
  left:2px;
  top:252px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:26px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:26px;
}
#u3 {
  position:absolute;
  left:2px;
  top:5px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:276px;
  top:13px;
  width:18px;
  height:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u5 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:304px;
  top:13px;
  width:12px;
  height:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:18px;
}
#u7 {
  position:absolute;
  left:2px;
  top:1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:23px;
  top:13px;
  width:18px;
  height:18px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u9 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:47px;
  top:13px;
  width:18px;
  height:18px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u11 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:248px;
  top:13px;
  width:18px;
  height:18px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u13 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:10px;
  top:43px;
  width:320px;
  height:29px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:29px;
}
#u15 {
  position:absolute;
  left:2px;
  top:6px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:23px;
  top:48px;
  width:19px;
  height:19px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_ann {
  position:absolute;
  left:35px;
  top:44px;
  width:1px;
  height:1px;
}
#u19 {
  position:absolute;
  left:10px;
  top:71px;
  width:320px;
  height:33px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:33px;
}
#u20 {
  position:absolute;
  left:2px;
  top:8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:42px;
  top:80px;
  width:25px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:96px;
  top:80px;
  width:25px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:152px;
  top:80px;
  width:25px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:210px;
  top:80px;
  width:25px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:80px;
  top:79px;
  width:18px;
  height:16px;
  color:#CCCCCC;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:136px;
  top:79px;
  width:18px;
  height:16px;
  color:#CCCCCC;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:190px;
  top:79px;
  width:18px;
  height:16px;
  color:#CCCCCC;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:70px;
  top:82px;
  width:12px;
  height:10px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u36 {
  position:absolute;
  left:2px;
  top:-3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:124px;
  top:83px;
  width:12px;
  height:10px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u38 {
  position:absolute;
  left:2px;
  top:-3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:289px;
  top:49px;
  width:20px;
  height:18px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u41 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:299px;
  top:41px;
  width:15px;
  height:15px;
  font-size:8px;
  color:#FFFFFF;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u43 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:246px;
  top:79px;
  width:18px;
  height:16px;
  color:#CCCCCC;
  text-align:center;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:274px;
  top:80px;
  width:25px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:178px;
  top:82px;
  width:12px;
  height:10px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u49 {
  position:absolute;
  left:2px;
  top:-3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:239px;
  top:82px;
  width:12px;
  height:10px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u51 {
  position:absolute;
  left:2px;
  top:-3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:143px;
  top:48px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:10px;
  top:114px;
  width:320px;
  height:536px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:536px;
}
#u55 {
  position:absolute;
  left:2px;
  top:260px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:18px;
  top:130px;
  width:307px;
  height:145px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:145px;
}
#u57 {
  position:absolute;
  left:2px;
  top:64px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:24px;
  top:303px;
  width:295px;
  height:335px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u60 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:90px;
  top:0px;
  width:63px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u62 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:153px;
  top:0px;
  width:64px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u64 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:217px;
  top:0px;
  width:73px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u66 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u65_ann {
  position:absolute;
  left:276px;
  top:0px;
  width:1px;
  height:1px;
}
#u67 {
  position:absolute;
  left:0px;
  top:30px;
  width:90px;
  height:30px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u68 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:90px;
  top:30px;
  width:63px;
  height:30px;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u70 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:153px;
  top:30px;
  width:64px;
  height:30px;
  font-size:16px;
  color:#009900;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u72 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:217px;
  top:30px;
  width:73px;
  height:30px;
  color:#009900;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u74 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:0px;
  top:60px;
  width:90px;
  height:30px;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u76 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:90px;
  top:60px;
  width:63px;
  height:30px;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u78 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:153px;
  top:60px;
  width:64px;
  height:30px;
  font-size:16px;
  color:#FF0000;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u80 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:217px;
  top:60px;
  width:73px;
  height:30px;
  color:#FF0000;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u82 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:0px;
  top:90px;
  width:90px;
  height:30px;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u84 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:90px;
  top:90px;
  width:63px;
  height:30px;
  text-align:center;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u86 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:153px;
  top:90px;
  width:64px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u88 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:217px;
  top:90px;
  width:73px;
  height:30px;
  text-align:center;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u90 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:0px;
  top:120px;
  width:90px;
  height:30px;
  text-align:center;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u92 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:90px;
  top:120px;
  width:63px;
  height:30px;
  text-align:center;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u94 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:153px;
  top:120px;
  width:64px;
  height:30px;
  font-size:16px;
  color:#FF0000;
  text-align:center;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u96 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:217px;
  top:120px;
  width:73px;
  height:30px;
  color:#FF0000;
  text-align:center;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u98 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:0px;
  top:150px;
  width:90px;
  height:30px;
  text-align:center;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u100 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:90px;
  top:150px;
  width:63px;
  height:30px;
  text-align:center;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u102 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:153px;
  top:150px;
  width:64px;
  height:30px;
  font-size:16px;
  color:#009900;
  text-align:center;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u104 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:217px;
  top:150px;
  width:73px;
  height:30px;
  color:#009900;
  text-align:center;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u106 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:0px;
  top:180px;
  width:90px;
  height:30px;
  text-align:center;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u108 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:90px;
  top:180px;
  width:63px;
  height:30px;
  text-align:center;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u110 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:153px;
  top:180px;
  width:64px;
  height:30px;
  font-size:16px;
  color:#FF0000;
  text-align:center;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u112 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:217px;
  top:180px;
  width:73px;
  height:30px;
  color:#FF0000;
  text-align:center;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u114 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:0px;
  top:210px;
  width:90px;
  height:30px;
  text-align:center;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u116 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:90px;
  top:210px;
  width:63px;
  height:30px;
  text-align:center;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u118 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:153px;
  top:210px;
  width:64px;
  height:30px;
  font-size:16px;
  color:#FF0000;
  text-align:center;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u120 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:217px;
  top:210px;
  width:73px;
  height:30px;
  color:#FF0000;
  text-align:center;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u122 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:0px;
  top:240px;
  width:90px;
  height:30px;
  text-align:center;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u124 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:90px;
  top:240px;
  width:63px;
  height:30px;
  text-align:center;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u126 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:153px;
  top:240px;
  width:64px;
  height:30px;
  font-size:16px;
  color:#009900;
  text-align:center;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u128 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:217px;
  top:240px;
  width:73px;
  height:30px;
  color:#009900;
  text-align:center;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u130 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:0px;
  top:270px;
  width:90px;
  height:30px;
  text-align:center;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u132 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:90px;
  top:270px;
  width:63px;
  height:30px;
  text-align:center;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u134 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:153px;
  top:270px;
  width:64px;
  height:30px;
  font-size:16px;
  color:#FF0000;
  text-align:center;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u136 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:217px;
  top:270px;
  width:73px;
  height:30px;
  color:#FF0000;
  text-align:center;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u138 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:0px;
  top:300px;
  width:90px;
  height:30px;
  text-align:center;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u140 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:90px;
  top:300px;
  width:63px;
  height:30px;
  text-align:center;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u142 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:153px;
  top:300px;
  width:64px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u144 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:217px;
  top:300px;
  width:73px;
  height:30px;
  text-align:center;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u146 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:10px;
  top:500px;
  width:160px;
  height:30px;
  color:#000000;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u148 {
  position:absolute;
  left:2px;
  top:7px;
  width:156px;
  word-wrap:break-word;
}
#u147_ann {
  position:absolute;
  left:163px;
  top:496px;
  width:1px;
  height:1px;
}
#u149 {
  position:absolute;
  left:170px;
  top:500px;
  width:160px;
  height:30px;
  color:#FFFFFF;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u150 {
  position:absolute;
  left:2px;
  top:7px;
  width:156px;
  word-wrap:break-word;
}
#u149_ann {
  position:absolute;
  left:323px;
  top:496px;
  width:1px;
  height:1px;
}
#u151 {
  position:absolute;
  left:370px;
  top:363px;
  width:260px;
  height:167px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:167px;
}
#u152 {
  position:absolute;
  left:2px;
  top:76px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:480px;
  top:380px;
  width:41px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u154 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u155 {
  position:absolute;
  left:395px;
  top:420px;
  width:210px;
  height:32px;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:32px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:395px;
  top:480px;
  width:100px;
  height:30px;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u158 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:505px;
  top:480px;
  width:100px;
  height:30px;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u160 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
