body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:890px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:880px;
  height:921px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:921px;
}
#u1 {
  position:absolute;
  left:2px;
  top:452px;
  width:876px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:21px;
  width:110px;
  height:35px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
}
#u3 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:50px;
  width:860px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:843px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:4px;
  width:860px;
  height:2px;
}
#u5 {
  position:absolute;
  left:140px;
  top:22px;
  width:110px;
  height:35px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
}
#u6 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:20px;
  top:143px;
  width:860px;
  height:104px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:104px;
}
#u8 {
  position:absolute;
  left:2px;
  top:44px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:50px;
  top:185px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:50px;
  top:200px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:116px;
  top:200px;
  width:85px;
  height:15px;
  font-size:12px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:52px;
  top:169px;
  width:793px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:776px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:793px;
  height:1px;
}
#u16 {
  position:absolute;
  left:55px;
  top:153px;
  width:183px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:108px;
  top:153px;
  width:40px;
  height:16px;
  color:#CCCCCC;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:117px;
  top:186px;
  width:12px;
  height:12px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u21 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:133px;
  top:186px;
  width:12px;
  height:12px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u23 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:149px;
  top:186px;
  width:12px;
  height:12px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u25 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:165px;
  top:186px;
  width:12px;
  height:12px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u27 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:181px;
  top:186px;
  width:12px;
  height:12px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u29 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:780px;
  top:156px;
  width:65px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:20px;
  top:246px;
  width:860px;
  height:104px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:104px;
}
#u33 {
  position:absolute;
  left:2px;
  top:44px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:50px;
  top:288px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:50px;
  top:303px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:116px;
  top:302px;
  width:85px;
  height:15px;
  font-size:12px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:52px;
  top:272px;
  width:793px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:776px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:5px;
  width:793px;
  height:1px;
}
#u41 {
  position:absolute;
  left:55px;
  top:256px;
  width:468px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:120px;
  top:256px;
  width:40px;
  height:16px;
  color:#CCCCCC;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:117px;
  top:290px;
  width:12px;
  height:12px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u46 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:133px;
  top:290px;
  width:12px;
  height:12px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u48 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:149px;
  top:290px;
  width:12px;
  height:12px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u50 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:165px;
  top:290px;
  width:12px;
  height:12px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u52 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:181px;
  top:290px;
  width:12px;
  height:12px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u54 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:779px;
  top:259px;
  width:65px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:20px;
  top:70px;
  width:860px;
  height:61px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:61px;
}
#u58 {
  position:absolute;
  left:2px;
  top:22px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:30px;
  top:77px;
  width:302px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:91px;
  top:108px;
  width:44px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:32px;
  top:109px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:31px;
  top:96px;
  width:829px;
  height:10px;
}
#u65_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_end {
  position:absolute;
  left:812px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_line {
  position:absolute;
  left:0px;
  top:5px;
  width:829px;
  height:1px;
}
#u66 {
  position:absolute;
  left:790px;
  top:108px;
  width:68px;
  height:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:220px;
  top:108px;
  width:35px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:161px;
  top:109px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
