body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:559px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:549px;
  height:350px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  height:350px;
}
#u1 {
  position:absolute;
  left:2px;
  top:167px;
  width:545px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_ann {
  position:absolute;
  left:552px;
  top:6px;
  width:1px;
  height:1px;
}
#u2 {
  position:absolute;
  left:43px;
  top:36px;
  width:68px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:129px;
  top:36px;
  width:100px;
  height:16px;
}
#u5 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u4_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6 {
  position:absolute;
  left:43px;
  top:69px;
  width:68px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:129px;
  top:70px;
  width:397px;
  height:100px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:100px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9 {
  position:absolute;
  left:129px;
  top:301px;
  width:85px;
  height:30px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:502px;
  top:18px;
  width:24px;
  height:24px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u12 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:224px;
  top:301px;
  width:85px;
  height:30px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:43px;
  top:187px;
  width:68px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:43px;
  top:223px;
  width:68px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:129px;
  top:185px;
  width:20px;
  height:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:159px;
  top:183px;
  width:107px;
  height:25px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:25px;
}
#u22 {
  position:absolute;
  left:2px;
  top:4px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_ann {
  position:absolute;
  left:259px;
  top:179px;
  width:1px;
  height:1px;
}
#u23 {
  position:absolute;
  left:276px;
  top:185px;
  width:20px;
  height:20px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u24 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:129px;
  top:218px;
  width:167px;
  height:25px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:25px;
}
#u26 {
  position:absolute;
  left:2px;
  top:4px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:276px;
  top:225px;
  width:15px;
  height:13px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:13px;
}
#u28 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:306px;
  top:223px;
  width:100px;
  height:16px;
}
#u30 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u29_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u31 {
  position:absolute;
  left:376px;
  top:222px;
  width:100px;
  height:16px;
}
#u32 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u31_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u33 {
  position:absolute;
  left:456px;
  top:222px;
  width:100px;
  height:16px;
}
#u34 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u33_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u35 {
  position:absolute;
  left:306px;
  top:187px;
  width:14px;
  height:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:43px;
  top:257px;
  width:68px;
  height:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:129px;
  top:254px;
  width:167px;
  height:25px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:25px;
}
#u40 {
  position:absolute;
  left:2px;
  top:4px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:306px;
  top:258px;
  width:52px;
  height:16px;
  text-align:right;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:239px;
  top:36px;
  width:100px;
  height:16px;
}
#u44 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u43_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u43_ann {
  position:absolute;
  left:332px;
  top:32px;
  width:1px;
  height:1px;
}
