body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:10px;
  top:10px;
  width:1090px;
  height:76px;
  color:#CCCCCC;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1090px;
  height:76px;
}
#u2 {
  position:absolute;
  left:2px;
  top:30px;
  width:1086px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:17px;
  top:14px;
  width:182px;
  height:66px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:66px;
}
#u4 {
  position:absolute;
  left:2px;
  top:25px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:938px;
  top:56px;
  width:60px;
  height:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:1008px;
  top:56px;
  width:53px;
  height:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:10px;
  top:95px;
  width:200px;
  height:450px;
  color:#CCCCCC;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:450px;
}
#u11 {
  position:absolute;
  left:2px;
  top:217px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:45px;
  top:115px;
  width:131px;
  height:105px;
}
#u12_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u14 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u14_img.selected {
}
#u14.selected {
}
#u15 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u17 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u13_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
}
#u19 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u20 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:20px;
  top:40px;
  width:106px;
  height:20px;
}
#u22 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u23 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u25 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u26 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:20px;
  top:80px;
  width:80px;
  height:20px;
}
#u28 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u29 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:46px;
  top:235px;
  width:137px;
  height:165px;
}
#u30_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:20px;
}
#u32 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u32_img.selected {
}
#u32.selected {
}
#u33 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:22px;
  top:0px;
  width:110px;
  height:20px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:20px;
}
#u35 {
  position:absolute;
  left:3px;
  top:2px;
  width:105px;
  white-space:nowrap;
}
#u31_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u36 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u37 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u38 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:20px;
  top:40px;
  width:93px;
  height:20px;
}
#u40 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u41 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u43 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u44 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:20px;
  top:80px;
  width:80px;
  height:20px;
}
#u46 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u47 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:20px;
  top:100px;
  width:80px;
  height:20px;
}
#u49 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u50 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:20px;
  top:120px;
  width:106px;
  height:20px;
}
#u52 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u53 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:20px;
  top:140px;
  width:93px;
  height:20px;
}
#u55 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u56 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:42px;
  top:414px;
  width:137px;
  height:105px;
}
#u57_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:20px;
}
#u59 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u59_img.selected {
}
#u59.selected {
}
#u60 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:22px;
  top:0px;
  width:110px;
  height:20px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:20px;
}
#u62 {
  position:absolute;
  left:3px;
  top:2px;
  width:105px;
  white-space:nowrap;
}
#u58_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u63 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
}
#u64 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u65 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:20px;
  top:40px;
  width:106px;
  height:20px;
}
#u67 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u68 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u70 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u71 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:20px;
  top:80px;
  width:80px;
  height:20px;
}
#u73 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u74 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:220px;
  top:96px;
  width:880px;
  height:1284px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:1284px;
}
#u76 {
  position:absolute;
  left:2px;
  top:634px;
  width:876px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:250px;
  top:136px;
  width:830px;
  height:10px;
}
#u77_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_end {
  position:absolute;
  left:813px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_line {
  position:absolute;
  left:0px;
  top:5px;
  width:830px;
  height:1px;
}
#u78 {
  position:absolute;
  left:256px;
  top:113px;
  width:144px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u79 {
  position:absolute;
  left:2px;
  top:7px;
  width:140px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:250px;
  top:164px;
  width:66px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:250px;
  top:1039px;
  width:66px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:250px;
  top:1081px;
  width:66px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:250px;
  top:1120px;
  width:66px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:328px;
  top:1077px;
  width:200px;
  height:25px;
}
#u88_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u89 {
  position:absolute;
  left:328px;
  top:1120px;
  width:636px;
  height:100px;
}
#u89_input {
  position:absolute;
  left:0px;
  top:0px;
  width:636px;
  height:100px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u90 {
  position:absolute;
  left:250px;
  top:740px;
  width:66px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:250px;
  top:350px;
  width:66px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:250px;
  top:994px;
  width:66px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:250px;
  top:1254px;
  width:92px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:804px;
  top:1250px;
  width:200px;
  height:25px;
}
#u98_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u99 {
  position:absolute;
  left:328px;
  top:994px;
  width:100px;
  height:16px;
}
#u100 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u99_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u101 {
  position:absolute;
  left:616px;
  top:994px;
  width:100px;
  height:16px;
}
#u102 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u101_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u103 {
  position:absolute;
  left:404px;
  top:991px;
  width:166px;
  height:25px;
}
#u103_input {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u104 {
  position:absolute;
  left:354px;
  top:1254px;
  width:276px;
  height:16px;
}
#u105 {
  position:absolute;
  left:16px;
  top:0px;
  width:258px;
  word-wrap:break-word;
}
#u104_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u106 {
  position:absolute;
  left:587px;
  top:1254px;
  width:252px;
  height:16px;
}
#u107 {
  position:absolute;
  left:16px;
  top:0px;
  width:234px;
  word-wrap:break-word;
}
#u106_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u108 {
  position:absolute;
  left:346px;
  top:164px;
  width:150px;
  height:170px;
  text-align:left;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:170px;
}
#u109 {
  position:absolute;
  left:2px;
  top:13px;
  width:146px;
  word-wrap:break-word;
}
#u108_ann {
  position:absolute;
  left:489px;
  top:160px;
  width:1px;
  height:1px;
}
#u110 {
  position:absolute;
  left:513px;
  top:164px;
  width:150px;
  height:170px;
  text-align:left;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:170px;
}
#u111 {
  position:absolute;
  left:2px;
  top:29px;
  width:146px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:346px;
  top:350px;
  width:150px;
  height:290px;
  text-align:left;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:290px;
}
#u113 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:346px;
  top:205px;
  width:150px;
  height:24px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:24px;
}
#u115 {
  position:absolute;
  left:2px;
  top:4px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:513px;
  top:284px;
  width:150px;
  height:24px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:24px;
}
#u117 {
  position:absolute;
  left:2px;
  top:4px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:493px;
  top:166px;
  width:24px;
  height:24px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u119 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:513px;
  top:350px;
  width:150px;
  height:210px;
  text-align:left;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:210px;
}
#u121 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:493px;
  top:350px;
  width:24px;
  height:24px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u123 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:346px;
  top:388px;
  width:150px;
  height:24px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:24px;
}
#u125 {
  position:absolute;
  left:2px;
  top:4px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:663px;
  top:350px;
  width:24px;
  height:24px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u127 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:687px;
  top:350px;
  width:150px;
  height:380px;
  text-align:left;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:380px;
}
#u129 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:513px;
  top:425px;
  width:150px;
  height:24px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:24px;
}
#u131 {
  position:absolute;
  left:2px;
  top:4px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:687px;
  top:448px;
  width:150px;
  height:24px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:24px;
}
#u133 {
  position:absolute;
  left:2px;
  top:4px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:346px;
  top:740px;
  width:150px;
  height:130px;
  text-align:left;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:130px;
}
#u135 {
  position:absolute;
  left:2px;
  top:25px;
  width:146px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:513px;
  top:740px;
  width:150px;
  height:150px;
  text-align:left;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u137 {
  position:absolute;
  left:2px;
  top:11px;
  width:146px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:493px;
  top:740px;
  width:24px;
  height:24px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u139 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:663px;
  top:740px;
  width:24px;
  height:24px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u141 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:687px;
  top:740px;
  width:150px;
  height:230px;
  text-align:left;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:230px;
}
#u143 {
  position:absolute;
  left:2px;
  top:11px;
  width:146px;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:531px;
  top:1320px;
  width:270px;
  height:30px;
  color:#FFFFFF;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:30px;
}
#u145 {
  position:absolute;
  left:2px;
  top:7px;
  width:266px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:700px;
  top:994px;
  width:36px;
  height:16px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u146_ann {
  position:absolute;
  left:729px;
  top:990px;
  width:1px;
  height:1px;
}
#u148 {
  position:absolute;
  left:328px;
  top:1036px;
  width:200px;
  height:22px;
}
#u148_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u148_input:disabled {
  color:grayText;
}
#u149 {
  position:absolute;
  left:250px;
  top:1294px;
  width:40px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u151 {
  position:absolute;
  left:310px;
  top:1294px;
  width:100px;
  height:16px;
}
#u152 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u151_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u151_ann {
  position:absolute;
  left:403px;
  top:1290px;
  width:1px;
  height:1px;
}
#u153 {
  position:absolute;
  left:396px;
  top:1294px;
  width:100px;
  height:16px;
}
#u154 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u153_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
