body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:480px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u2 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:26px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:26px;
}
#u4 {
  position:absolute;
  left:2px;
  top:5px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:276px;
  top:13px;
  width:18px;
  height:18px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u6 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:304px;
  top:13px;
  width:12px;
  height:18px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:18px;
}
#u8 {
  position:absolute;
  left:2px;
  top:1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:23px;
  top:13px;
  width:18px;
  height:18px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u10 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:47px;
  top:13px;
  width:18px;
  height:18px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u12 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:248px;
  top:13px;
  width:18px;
  height:18px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u14 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:10px;
  top:43px;
  width:320px;
  height:29px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:29px;
}
#u16 {
  position:absolute;
  left:2px;
  top:6px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:47px;
  top:45px;
  width:232px;
  height:24px;
  color:#999999;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:24px;
}
#u18 {
  position:absolute;
  left:2px;
  top:4px;
  width:228px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:60px;
  top:49px;
  width:18px;
  height:17px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:17px;
}
#u20 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:23px;
  top:48px;
  width:19px;
  height:19px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u23 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_ann {
  position:absolute;
  left:35px;
  top:44px;
  width:1px;
  height:1px;
}
#u24 {
  position:absolute;
  left:10px;
  top:71px;
  width:320px;
  height:33px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:33px;
}
#u25 {
  position:absolute;
  left:2px;
  top:8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:126px;
  top:84px;
  width:13px;
  height:11px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:11px;
}
#u27 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:289px;
  top:49px;
  width:20px;
  height:18px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u30 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:299px;
  top:41px;
  width:15px;
  height:15px;
  font-size:8px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u32 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:42px;
  top:80px;
  width:25px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:96px;
  top:80px;
  width:25px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF9900;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:152px;
  top:80px;
  width:25px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:210px;
  top:80px;
  width:25px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:80px;
  top:79px;
  width:18px;
  height:16px;
  color:#CCCCCC;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:136px;
  top:79px;
  width:18px;
  height:16px;
  color:#CCCCCC;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:190px;
  top:79px;
  width:18px;
  height:16px;
  color:#CCCCCC;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:71px;
  top:83px;
  width:12px;
  height:10px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u48 {
  position:absolute;
  left:2px;
  top:-3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:180px;
  top:81px;
  width:12px;
  height:15px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:15px;
}
#u50 {
  position:absolute;
  left:2px;
  top:0px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:238px;
  top:80px;
  width:12px;
  height:15px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:15px;
}
#u52 {
  position:absolute;
  left:2px;
  top:0px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:246px;
  top:79px;
  width:18px;
  height:16px;
  color:#CCCCCC;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:274px;
  top:80px;
  width:25px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:25px;
  top:106px;
  width:91px;
  height:26px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:26px;
}
#u58 {
  position:absolute;
  left:2px;
  top:5px;
  width:87px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:25px;
  top:229px;
  width:91px;
  height:18px;
  color:#FFFFFF;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:18px;
}
#u60 {
  position:absolute;
  left:2px;
  top:1px;
  width:87px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:25px;
  top:257px;
  width:91px;
  height:26px;
  font-size:12px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:26px;
}
#u62 {
  position:absolute;
  left:2px;
  top:5px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:227px;
  top:257px;
  width:91px;
  height:26px;
  font-size:12px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:26px;
}
#u64 {
  position:absolute;
  left:2px;
  top:5px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:126px;
  top:257px;
  width:91px;
  height:26px;
  font-size:12px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:26px;
}
#u66 {
  position:absolute;
  left:2px;
  top:5px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:25px;
  top:288px;
  width:91px;
  height:26px;
  font-size:12px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:26px;
}
#u68 {
  position:absolute;
  left:2px;
  top:5px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:227px;
  top:288px;
  width:91px;
  height:26px;
  font-size:12px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:26px;
}
#u70 {
  position:absolute;
  left:2px;
  top:5px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:126px;
  top:288px;
  width:91px;
  height:26px;
  font-size:12px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:26px;
}
#u72 {
  position:absolute;
  left:2px;
  top:5px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:25px;
  top:319px;
  width:91px;
  height:26px;
  font-size:12px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:26px;
}
#u74 {
  position:absolute;
  left:2px;
  top:5px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:227px;
  top:319px;
  width:91px;
  height:26px;
  font-size:12px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:26px;
}
#u76 {
  position:absolute;
  left:2px;
  top:5px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:126px;
  top:319px;
  width:91px;
  height:26px;
  font-size:12px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:26px;
}
#u78 {
  position:absolute;
  left:2px;
  top:5px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:25px;
  top:355px;
  width:96px;
  height:18px;
  color:#FFFFFF;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:18px;
}
#u80 {
  position:absolute;
  left:2px;
  top:1px;
  width:92px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:25px;
  top:383px;
  width:91px;
  height:26px;
  font-size:12px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:26px;
}
#u82 {
  position:absolute;
  left:2px;
  top:5px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:227px;
  top:383px;
  width:91px;
  height:26px;
  font-size:12px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:26px;
}
#u84 {
  position:absolute;
  left:2px;
  top:5px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:126px;
  top:383px;
  width:91px;
  height:26px;
  font-size:12px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:26px;
}
#u86 {
  position:absolute;
  left:2px;
  top:5px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:25px;
  top:414px;
  width:91px;
  height:26px;
  font-size:12px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:26px;
}
#u88 {
  position:absolute;
  left:2px;
  top:5px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:227px;
  top:414px;
  width:91px;
  height:26px;
  font-size:12px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:26px;
}
#u90 {
  position:absolute;
  left:2px;
  top:5px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:126px;
  top:414px;
  width:91px;
  height:26px;
  font-size:12px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:26px;
}
#u92 {
  position:absolute;
  left:2px;
  top:5px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:25px;
  top:445px;
  width:91px;
  height:26px;
  font-size:12px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:26px;
}
#u94 {
  position:absolute;
  left:2px;
  top:5px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:227px;
  top:445px;
  width:91px;
  height:26px;
  font-size:12px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:26px;
}
#u96 {
  position:absolute;
  left:2px;
  top:5px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:126px;
  top:445px;
  width:91px;
  height:26px;
  font-size:12px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:26px;
}
#u98 {
  position:absolute;
  left:2px;
  top:5px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:25px;
  top:176px;
  width:137px;
  height:26px;
  font-size:12px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:26px;
}
#u100 {
  position:absolute;
  left:2px;
  top:6px;
  width:133px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:177px;
  top:176px;
  width:137px;
  height:26px;
  font-size:12px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:26px;
}
#u102 {
  position:absolute;
  left:2px;
  top:6px;
  width:133px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:27px;
  top:154px;
  width:73px;
  height:18px;
  color:#FFFFFF;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
}
#u104 {
  position:absolute;
  left:2px;
  top:1px;
  width:69px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:86px;
  top:271px;
  width:30px;
  height:11px;
  font-size:10px;
  color:#FFFFFF;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:11px;
}
#u106 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:187px;
  top:271px;
  width:30px;
  height:11px;
  font-size:10px;
  color:#FFFFFF;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:11px;
}
#u108 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:10px;
  top:460px;
  width:161px;
  height:30px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u110 {
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:169px;
  top:460px;
  width:161px;
  height:30px;
  color:#FFFFFF;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u112 {
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  word-wrap:break-word;
}
