body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1850px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:250px;
  top:293px;
  width:1600px;
  height:947px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1601px;
  height:948px;
}
#u1 {
  position:absolute;
  left:2px;
  top:466px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:50px;
  top:46px;
  width:200px;
  height:1070px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:1071px;
}
#u4 {
  position:absolute;
  left:2px;
  top:527px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:70px;
  top:70px;
  width:80px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:70px;
  top:102px;
  width:90px;
  height:19px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:70px;
  top:191px;
  width:60px;
  height:19px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:70px;
  top:131px;
  width:90px;
  height:19px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:70px;
  top:226px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:70px;
  top:256px;
  width:90px;
  height:19px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:70px;
  top:287px;
  width:90px;
  height:19px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:70px;
  top:363px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:70px;
  top:393px;
  width:140px;
  height:19px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:70px;
  top:429px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:70px;
  top:459px;
  width:90px;
  height:19px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:70px;
  top:500px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:70px;
  top:530px;
  width:90px;
  height:19px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:70px;
  top:559px;
  width:90px;
  height:19px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:70px;
  top:624px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:70px;
  top:654px;
  width:90px;
  height:19px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:70px;
  top:683px;
  width:90px;
  height:19px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:70px;
  top:977px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:70px;
  top:1007px;
  width:130px;
  height:19px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:20px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:70px;
  top:160px;
  width:90px;
  height:19px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:70px;
  top:588px;
  width:90px;
  height:19px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:70px;
  top:723px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:70px;
  top:753px;
  width:90px;
  height:19px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:70px;
  top:792px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:70px;
  top:822px;
  width:90px;
  height:19px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:70px;
  top:884px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:70px;
  top:914px;
  width:90px;
  height:19px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:70px;
  top:847px;
  width:90px;
  height:19px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:70px;
  top:938px;
  width:90px;
  height:19px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:70px;
  top:318px;
  width:90px;
  height:19px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:250px;
  top:46px;
  width:1600px;
  height:136px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1601px;
  height:137px;
}
#u66 {
  position:absolute;
  left:2px;
  top:60px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:373px;
  top:85px;
  width:270px;
  height:25px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u68 {
  position:absolute;
  left:279px;
  top:85px;
  width:81px;
  height:22px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u68_input:disabled {
  color:grayText;
}
#u69 {
  position:absolute;
  left:373px;
  top:125px;
  width:116px;
  height:25px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u70 {
  position:absolute;
  left:279px;
  top:125px;
  width:81px;
  height:22px;
}
#u70_input {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u70_input:disabled {
  color:grayText;
}
#u71 {
  position:absolute;
  left:527px;
  top:125px;
  width:116px;
  height:25px;
}
#u71_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u72 {
  position:absolute;
  left:503px;
  top:125px;
  width:24px;
  height:19px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:768px;
  top:83px;
  width:59px;
  height:25px;
}
#u74_input {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u75 {
  position:absolute;
  left:846px;
  top:83px;
  width:59px;
  height:25px;
}
#u75_input {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u76 {
  position:absolute;
  left:834px;
  top:83px;
  width:12px;
  height:19px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:20px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:1200px;
  top:96px;
  width:80px;
  height:40px;
  color:#FFFFFF;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:41px;
}
#u79 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:1290px;
  top:96px;
  width:80px;
  height:40px;
  color:#FFFFFF;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:41px;
}
#u81 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:670px;
  top:125px;
  width:79px;
  height:19px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:768px;
  top:125px;
  width:81px;
  height:22px;
}
#u84_input {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u84_input:disabled {
  color:grayText;
}
#u85 {
  position:absolute;
  left:1380px;
  top:96px;
  width:80px;
  height:40px;
  color:#FFFFFF;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:41px;
}
#u86 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:250px;
  top:181px;
  width:1600px;
  height:319px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1601px;
  height:320px;
}
#u88 {
  position:absolute;
  left:2px;
  top:152px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:289px;
  top:320px;
  width:80px;
  height:70px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:71px;
}
#u90 {
  position:absolute;
  left:2px;
  top:27px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:389px;
  top:326px;
  width:140px;
  height:57px;
  color:#0000FF;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:58px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:603px;
  top:291px;
  width:93px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:605px;
  top:344px;
  width:89px;
  height:38px;
  text-align:center;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:39px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:743px;
  top:291px;
  width:93px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:745px;
  top:354px;
  width:89px;
  height:19px;
  text-align:center;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:289px;
  top:245px;
  width:50px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:350px;
  top:241px;
  width:165px;
  height:26px;
  color:#0000FF;
  text-align:center;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:27px;
}
#u104 {
  position:absolute;
  left:0px;
  top:4px;
  width:165px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:1173px;
  top:354px;
  width:81px;
  height:19px;
  text-align:center;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:1303px;
  top:291px;
  width:93px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:289px;
  top:212px;
  width:44px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:353px;
  top:212px;
  width:200px;
  height:19px;
  color:#0000FF;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:20px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:362px;
  top:291px;
  width:93px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:1288px;
  top:345px;
  width:122px;
  height:38px;
  text-align:center;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:39px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:889px;
  top:291px;
  width:93px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:891px;
  top:354px;
  width:89px;
  height:19px;
  text-align:center;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:1705px;
  top:291px;
  width:71px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:1033px;
  top:291px;
  width:93px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:1035px;
  top:354px;
  width:89px;
  height:19px;
  text-align:center;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:1169px;
  top:291px;
  width:93px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:1753px;
  top:340px;
  width:27px;
  height:19px;
  color:#FF8500;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u131 {
  position:absolute;
  left:1684px;
  top:340px;
  width:61px;
  height:19px;
  color:#FF8500;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:250px;
  top:520px;
  width:1600px;
  height:330px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1601px;
  height:331px;
}
#u134 {
  position:absolute;
  left:2px;
  top:157px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:289px;
  top:668px;
  width:80px;
  height:70px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:71px;
}
#u136 {
  position:absolute;
  left:2px;
  top:27px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:389px;
  top:674px;
  width:140px;
  height:57px;
  color:#0000FF;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:58px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:603px;
  top:630px;
  width:93px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:605px;
  top:683px;
  width:89px;
  height:38px;
  text-align:center;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:39px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:743px;
  top:630px;
  width:93px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:745px;
  top:693px;
  width:89px;
  height:19px;
  text-align:center;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:289px;
  top:584px;
  width:50px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:350px;
  top:580px;
  width:165px;
  height:26px;
  color:#0000FF;
  text-align:center;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:27px;
}
#u150 {
  position:absolute;
  left:0px;
  top:4px;
  width:165px;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:1173px;
  top:693px;
  width:81px;
  height:19px;
  text-align:center;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:1303px;
  top:630px;
  width:93px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u154 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:289px;
  top:551px;
  width:44px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u157 {
  position:absolute;
  left:353px;
  top:551px;
  width:200px;
  height:19px;
  color:#0000FF;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:20px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:362px;
  top:630px;
  width:93px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:1288px;
  top:684px;
  width:122px;
  height:38px;
  text-align:center;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:39px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:889px;
  top:630px;
  width:93px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:891px;
  top:693px;
  width:89px;
  height:19px;
  text-align:center;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:1705px;
  top:630px;
  width:71px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
}
#u168 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:1033px;
  top:630px;
  width:93px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u170 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:1035px;
  top:693px;
  width:89px;
  height:19px;
  text-align:center;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u172 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:1169px;
  top:630px;
  width:93px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u174 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:633px;
  top:800px;
  width:89px;
  height:19px;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u176 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:1729px;
  top:679px;
  width:27px;
  height:19px;
  color:#FF8500;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u178 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u179 {
  position:absolute;
  left:1660px;
  top:679px;
  width:61px;
  height:19px;
  color:#FF8500;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u180 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:1768px;
  top:679px;
  width:53px;
  height:19px;
  color:#FF8500;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u182 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u183 {
  position:absolute;
  left:1660px;
  top:708px;
  width:61px;
  height:19px;
  color:#FF8500;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u184 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u185 {
  position:absolute;
  left:250px;
  top:870px;
  width:1600px;
  height:350px;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1601px;
  height:351px;
}
#u186 {
  position:absolute;
  left:2px;
  top:167px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187 {
  position:absolute;
  left:289px;
  top:1018px;
  width:80px;
  height:70px;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:71px;
}
#u188 {
  position:absolute;
  left:2px;
  top:27px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:389px;
  top:1024px;
  width:140px;
  height:57px;
  color:#0000FF;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:58px;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u191 {
  position:absolute;
  left:603px;
  top:980px;
  width:93px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u192 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u193 {
  position:absolute;
  left:605px;
  top:1033px;
  width:89px;
  height:38px;
  text-align:center;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:39px;
}
#u194 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u195 {
  position:absolute;
  left:743px;
  top:980px;
  width:93px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u196 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:745px;
  top:1043px;
  width:89px;
  height:19px;
  text-align:center;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u198 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u199 {
  position:absolute;
  left:289px;
  top:934px;
  width:50px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
}
#u200 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u201 {
  position:absolute;
  left:350px;
  top:930px;
  width:165px;
  height:26px;
  color:#0000FF;
  text-align:center;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:27px;
}
#u202 {
  position:absolute;
  left:0px;
  top:4px;
  width:165px;
  word-wrap:break-word;
}
#u203 {
  position:absolute;
  left:1173px;
  top:1043px;
  width:81px;
  height:19px;
  text-align:center;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u204 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u205 {
  position:absolute;
  left:1303px;
  top:980px;
  width:93px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u206 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u207 {
  position:absolute;
  left:289px;
  top:901px;
  width:44px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u208 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u209 {
  position:absolute;
  left:353px;
  top:901px;
  width:200px;
  height:19px;
  color:#0000FF;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:20px;
}
#u210 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u211 {
  position:absolute;
  left:362px;
  top:980px;
  width:93px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u212 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u213 {
  position:absolute;
  left:1288px;
  top:1034px;
  width:122px;
  height:38px;
  text-align:center;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:39px;
}
#u214 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u215 {
  position:absolute;
  left:889px;
  top:980px;
  width:93px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u216 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u217 {
  position:absolute;
  left:891px;
  top:1043px;
  width:89px;
  height:19px;
  text-align:center;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u218 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u219 {
  position:absolute;
  left:1705px;
  top:980px;
  width:71px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
}
#u220 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u221 {
  position:absolute;
  left:1033px;
  top:980px;
  width:93px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u222 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u223 {
  position:absolute;
  left:1035px;
  top:1043px;
  width:89px;
  height:19px;
  text-align:center;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u224 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u225 {
  position:absolute;
  left:1169px;
  top:980px;
  width:93px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u226 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u227 {
  position:absolute;
  left:1729px;
  top:1029px;
  width:27px;
  height:19px;
  color:#FF8500;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u228 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u229 {
  position:absolute;
  left:1660px;
  top:1029px;
  width:61px;
  height:19px;
  color:#FF8500;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u230 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u231 {
  position:absolute;
  left:1035px;
  top:1072px;
  width:89px;
  height:19px;
  color:#0000FF;
  text-align:center;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u232 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u233 {
  position:absolute;
  left:1169px;
  top:1072px;
  width:89px;
  height:19px;
  color:#0000FF;
  text-align:center;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u234 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u235 {
  position:absolute;
  left:884px;
  top:125px;
  width:79px;
  height:19px;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u236 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u237 {
  position:absolute;
  left:982px;
  top:125px;
  width:81px;
  height:22px;
}
#u237_input {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u237_input:disabled {
  color:grayText;
}
#u238 {
  position:absolute;
  left:294px;
  top:454px;
  width:50px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
}
#u239 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u240 {
  position:absolute;
  left:355px;
  top:450px;
  width:216px;
  height:26px;
  color:#0000FF;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:27px;
}
#u241 {
  position:absolute;
  left:0px;
  top:4px;
  width:216px;
  word-wrap:break-word;
}
#u242 {
  position:absolute;
  left:671px;
  top:85px;
  width:81px;
  height:22px;
}
#u242_input {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u242_input:disabled {
  color:grayText;
}
#u243 {
  position:absolute;
  left:266px;
  top:420px;
  width:1564px;
  height:10px;
}
#u243_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u243_end {
  position:absolute;
  left:1555px;
  top:-5px;
  width:14px;
  height:20px;
}
#u243_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1564px;
  height:1px;
}
#u244 {
  position:absolute;
  left:289px;
  top:800px;
  width:50px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
}
#u245 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u246 {
  position:absolute;
  left:350px;
  top:796px;
  width:216px;
  height:26px;
  color:#0000FF;
}
#u246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:27px;
}
#u247 {
  position:absolute;
  left:0px;
  top:4px;
  width:216px;
  word-wrap:break-word;
}
#u248 {
  position:absolute;
  left:260px;
  top:766px;
  width:1564px;
  height:10px;
}
#u248_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u248_end {
  position:absolute;
  left:1555px;
  top:-5px;
  width:14px;
  height:20px;
}
#u248_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1564px;
  height:1px;
}
#u249 {
  position:absolute;
  left:540px;
  top:800px;
  width:93px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u250 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u251 {
  position:absolute;
  left:266px;
  top:1134px;
  width:1564px;
  height:10px;
}
#u251_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u251_end {
  position:absolute;
  left:1555px;
  top:-5px;
  width:14px;
  height:20px;
}
#u251_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1564px;
  height:1px;
}
#u252 {
  position:absolute;
  left:528px;
  top:206px;
  width:50px;
  height:25px;
  font-size:12px;
  color:#FFFFFF;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:26px;
}
#u253 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u254 {
  position:absolute;
  left:528px;
  top:548px;
  width:50px;
  height:25px;
  font-size:12px;
  color:#FFFFFF;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:26px;
}
#u255 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u256 {
  position:absolute;
  left:528px;
  top:895px;
  width:50px;
  height:25px;
  font-size:12px;
  color:#FFFFFF;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:26px;
}
#u257 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u258 {
  position:absolute;
  left:931px;
  top:86px;
  width:56px;
  height:19px;
}
#u258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u259 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u260 {
  position:absolute;
  left:1013px;
  top:86px;
  width:81px;
  height:22px;
}
#u260_input {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u260_input:disabled {
  color:grayText;
}
#u261 {
  position:absolute;
  left:1667px;
  top:369px;
  width:60px;
  height:30px;
  color:#FFFFFF;
}
#u261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u262 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u263 {
  position:absolute;
  left:1732px;
  top:369px;
  width:60px;
  height:30px;
  color:#FFFFFF;
}
#u263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u264 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u265 {
  position:absolute;
  left:1476px;
  top:291px;
  width:93px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u266 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u267 {
  position:absolute;
  left:1450px;
  top:684px;
  width:168px;
  height:38px;
  text-align:center;
}
#u267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:39px;
}
#u268 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u269 {
  position:absolute;
  left:1488px;
  top:630px;
  width:93px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u270 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u271 {
  position:absolute;
  left:1450px;
  top:1034px;
  width:168px;
  height:38px;
  text-align:center;
}
#u271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:39px;
}
#u272 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u273 {
  position:absolute;
  left:1488px;
  top:980px;
  width:93px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u274 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u275 {
  position:absolute;
  left:1078px;
  top:1310px;
  width:412px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:15px;
}
#u276 {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  word-wrap:break-word;
}
#u277 {
  position:absolute;
  left:1579px;
  top:103px;
  width:73px;
  height:19px;
}
#u277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
}
#u278 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u279 {
  position:absolute;
  left:1662px;
  top:97px;
  width:60px;
  height:30px;
  color:#FFFFFF;
}
#u279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u280 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u281 {
  position:absolute;
  left:1732px;
  top:97px;
  width:60px;
  height:30px;
  color:#FFFFFF;
}
#u281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u282 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u283 {
  position:absolute;
  left:1520px;
  top:46px;
  width:10px;
  height:135px;
}
#u283_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u283_end {
  position:absolute;
  left:-5px;
  top:126px;
  width:20px;
  height:14px;
}
#u283_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:135px;
}
#u284 {
  position:absolute;
  left:289px;
  top:1105px;
  width:122px;
  height:19px;
  color:#0000FF;
}
#u284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
}
#u285 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u286 {
  position:absolute;
  left:633px;
  top:1168px;
  width:89px;
  height:19px;
}
#u286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u287 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u288 {
  position:absolute;
  left:289px;
  top:1168px;
  width:50px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
}
#u289 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u290 {
  position:absolute;
  left:350px;
  top:1164px;
  width:216px;
  height:26px;
  color:#0000FF;
}
#u290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:27px;
}
#u291 {
  position:absolute;
  left:0px;
  top:4px;
  width:216px;
  word-wrap:break-word;
}
#u292 {
  position:absolute;
  left:540px;
  top:1168px;
  width:93px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u293 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u294 {
  position:absolute;
  left:289px;
  top:748px;
  width:122px;
  height:19px;
  color:#0000FF;
}
#u294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
}
#u295 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u296 {
  position:absolute;
  left:289px;
  top:399px;
  width:122px;
  height:19px;
  color:#0000FF;
}
#u296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
}
#u297 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
