body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:530px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:530px;
}
#u1 {
  position:absolute;
  left:2px;
  top:257px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:26px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:26px;
}
#u3 {
  position:absolute;
  left:2px;
  top:5px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:276px;
  top:13px;
  width:18px;
  height:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u5 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:304px;
  top:13px;
  width:12px;
  height:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:18px;
}
#u7 {
  position:absolute;
  left:2px;
  top:1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:23px;
  top:13px;
  width:18px;
  height:18px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u9 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:47px;
  top:13px;
  width:18px;
  height:18px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u11 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:248px;
  top:13px;
  width:18px;
  height:18px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u13 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:10px;
  top:43px;
  width:320px;
  height:29px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:29px;
}
#u15 {
  position:absolute;
  left:2px;
  top:6px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:10px;
  top:49px;
  width:320px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:10px;
  top:78px;
  width:320px;
  height:482px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:482px;
}
#u19 {
  position:absolute;
  left:2px;
  top:233px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:23px;
  top:48px;
  width:19px;
  height:19px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u22 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_ann {
  position:absolute;
  left:35px;
  top:44px;
  width:1px;
  height:1px;
}
#u23 {
  position:absolute;
  left:73px;
  top:120px;
  width:200px;
  height:230px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:230px;
}
#u24 {
  position:absolute;
  left:2px;
  top:107px;
  width:196px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:53px;
  top:360px;
  width:241px;
  height:28px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:28px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:71px;
  top:425px;
  width:205px;
  height:25px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:25px;
}
#u28 {
  position:absolute;
  left:2px;
  top:4px;
  width:201px;
  word-wrap:break-word;
}
#u27_ann {
  position:absolute;
  left:269px;
  top:421px;
  width:1px;
  height:1px;
}
