body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:488px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:803px;
}
#u5621 {
  position:absolute;
  left:100px;
  top:0px;
  width:388px;
  height:803px;
}
#u5622 {
  position:absolute;
  left:2px;
  top:394px;
  width:384px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:570px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5623 {
  position:absolute;
  left:135px;
  top:118px;
  width:321px;
  height:570px;
}
#u5624 {
  position:absolute;
  left:2px;
  top:277px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:11px;
}
#u5625 {
  position:absolute;
  left:414px;
  top:124px;
  width:33px;
  height:11px;
}
#u5626 {
  position:absolute;
  left:2px;
  top:-2px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u5627 {
  position:absolute;
  left:143px;
  top:124px;
  width:55px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u5628 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u5629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:47px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5629 {
  position:absolute;
  left:134px;
  top:146px;
  width:322px;
  height:47px;
}
#u5630 {
  position:absolute;
  left:2px;
  top:16px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u5631 {
  position:absolute;
  left:423px;
  top:153px;
  width:23px;
  height:18px;
}
#u5632 {
  position:absolute;
  left:2px;
  top:1px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:23px;
}
#u5633 {
  position:absolute;
  left:156px;
  top:158px;
  width:12px;
  height:23px;
}
#u5634 {
  position:absolute;
  left:2px;
  top:4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5635 {
  position:absolute;
  left:422px;
  top:171px;
  width:25px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5636 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:124px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5637 {
  position:absolute;
  left:134px;
  top:259px;
  width:322px;
  height:124px;
}
#u5638 {
  position:absolute;
  left:2px;
  top:54px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5639 {
  position:absolute;
  left:178px;
  top:160px;
  width:203px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5640 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
#u5641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#993333;
}
#u5641 {
  position:absolute;
  left:150px;
  top:232px;
  width:92px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#993333;
}
#u5642 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u5643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:40px;
}
#u5643 {
  position:absolute;
  left:147px;
  top:297px;
  width:45px;
  height:40px;
}
#u5644 {
  position:absolute;
  left:2px;
  top:12px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5645 {
  position:absolute;
  left:221px;
  top:271px;
  width:99px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5646 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u5647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5647 {
  position:absolute;
  left:199px;
  top:297px;
  width:91px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5648 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u5649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#993333;
}
#u5649 {
  position:absolute;
  left:391px;
  top:275px;
  width:43px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#993333;
}
#u5650 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5651 {
  position:absolute;
  left:199px;
  top:317px;
  width:109px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5652 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u5653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5653 {
  position:absolute;
  left:150px;
  top:271px;
  width:59px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5654 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u5655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u5655 {
  position:absolute;
  left:150px;
  top:356px;
  width:57px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u5656 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:124px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5657 {
  position:absolute;
  left:134px;
  top:396px;
  width:322px;
  height:124px;
}
#u5658 {
  position:absolute;
  left:2px;
  top:54px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:40px;
}
#u5659 {
  position:absolute;
  left:147px;
  top:440px;
  width:45px;
  height:40px;
}
#u5660 {
  position:absolute;
  left:2px;
  top:12px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5661 {
  position:absolute;
  left:221px;
  top:414px;
  width:99px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5662 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u5663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5663 {
  position:absolute;
  left:199px;
  top:440px;
  width:91px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5664 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u5665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#993333;
}
#u5665 {
  position:absolute;
  left:389px;
  top:418px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#993333;
}
#u5666 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5667 {
  position:absolute;
  left:199px;
  top:460px;
  width:109px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5668 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u5669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5669 {
  position:absolute;
  left:150px;
  top:414px;
  width:59px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5670 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u5671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:2px;
}
#u5671 {
  position:absolute;
  left:147px;
  top:486px;
  width:291px;
  height:1px;
  color:#CCCCCC;
}
#u5672 {
  position:absolute;
  left:2px;
  top:-8px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u5673 {
  position:absolute;
  left:151px;
  top:496px;
  width:57px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u5674 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5675 {
  position:absolute;
  left:148px;
  top:199px;
  width:109px;
  height:22px;
}
#u5675_input {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5675_input:disabled {
  color:grayText;
}
#u5676 {
  position:absolute;
  left:267px;
  top:199px;
  width:103px;
  height:22px;
}
#u5676_input {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5676_input:disabled {
  color:grayText;
}
#u5677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:2px;
}
#u5677 {
  position:absolute;
  left:134px;
  top:192px;
  width:322px;
  height:1px;
}
#u5678 {
  position:absolute;
  left:2px;
  top:-8px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
  background:inherit;
  background-color:rgba(153, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5679 {
  position:absolute;
  left:364px;
  top:489px;
  width:74px;
  height:22px;
  color:#FFFFFF;
}
#u5680 {
  position:absolute;
  left:2px;
  top:3px;
  width:70px;
  word-wrap:break-word;
}
#u5681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:2px;
}
#u5681 {
  position:absolute;
  left:150px;
  top:347px;
  width:291px;
  height:1px;
  color:#CCCCCC;
}
#u5682 {
  position:absolute;
  left:2px;
  top:-8px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:124px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5683 {
  position:absolute;
  left:134px;
  top:533px;
  width:322px;
  height:124px;
}
#u5684 {
  position:absolute;
  left:2px;
  top:54px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:40px;
}
#u5685 {
  position:absolute;
  left:147px;
  top:577px;
  width:45px;
  height:40px;
}
#u5686 {
  position:absolute;
  left:2px;
  top:12px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5687 {
  position:absolute;
  left:221px;
  top:551px;
  width:99px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5688 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u5689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5689 {
  position:absolute;
  left:199px;
  top:577px;
  width:91px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5690 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u5691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5691 {
  position:absolute;
  left:199px;
  top:597px;
  width:109px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5692 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u5693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5693 {
  position:absolute;
  left:150px;
  top:551px;
  width:59px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5694 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u5695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:2px;
}
#u5695 {
  position:absolute;
  left:147px;
  top:623px;
  width:291px;
  height:1px;
  color:#CCCCCC;
}
#u5696 {
  position:absolute;
  left:2px;
  top:-8px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u5697 {
  position:absolute;
  left:151px;
  top:633px;
  width:57px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u5698 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
  background:inherit;
  background-color:rgba(153, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5699 {
  position:absolute;
  left:364px;
  top:626px;
  width:74px;
  height:22px;
  color:#FFFFFF;
}
#u5700 {
  position:absolute;
  left:2px;
  top:3px;
  width:70px;
  word-wrap:break-word;
}
#u5701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#993333;
}
#u5701 {
  position:absolute;
  left:391px;
  top:545px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#993333;
}
#u5702 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
  background:inherit;
  background-color:rgba(153, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5703 {
  position:absolute;
  left:367px;
  top:356px;
  width:74px;
  height:22px;
  color:#FFFFFF;
}
#u5704 {
  position:absolute;
  left:2px;
  top:3px;
  width:70px;
  word-wrap:break-word;
}
